
.main {
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.gameboard {
  background-image: url("/scotland/img/gameboard-large.jpg");
  width: 5135px;
  height: 3829px;
}

.hud-header{
  margin: 0;
}

.hud {
  background-color: #444A;
}

.status{
  min-width: 300px;
  min-height: 50px;
  /*background-color: whitesmoke;*/
}

.pawn {
  position: relative;
  width: 130px;
  top: -122px;
  transform: translateX(-18%);
}

.pawn0{
  background-color: red;
}
.pawn1{
  background-color: yellow;
}
.pawn2{
  background-color: blue;
}
.pawn3{
  background-color: cyan;
}
.pawn4{
  background-color: black;
}

/*.location {
 position: absolute;
 height: 81px;
 width: 81px;
 border: transparent 18px solid;
 border-radius: 100%;
 transform: translate(-18px, -18px);
 box-sizing: content-box;
}
*/

/*locations x,y set to center of space*/
.location {
 position: absolute;
 height: 75px;
 width: 75px;
 border: transparent 18px solid;
 border-radius: 100%;
 transform: translate(-50%, -50%);
 box-sizing: content-box;
 cursor: pointer;
}

.myhelper{
  position: absolute;
  right: 0px;
  top: 50%;
  font-size: 2em;
  width: 350px;
  color: whitesmoke;
}

.highlight-available-move{
  box-shadow: 0 0 16px 10px whitesmoke;
}

.zoom-window{
  cursor: zoom-in;
}

.zoom-container{
  position: absolute;
  right: 0;
  top: 0;
  width: 400px;
  height: 400px;
  border: 3px solid black;
  border-radius: 100%;
  overflow: hidden;
  /*transform: translate(-125px,-125px);*/
}

.status-icon-menu{
  width: 100%;
}
