
body {
  color: #202020;
  font-size: 12px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif
}

.popup-container {
  position: relative;
  top: var(--saito-header-height);
  padding-top: 0.5rem;
  width: 1000px;
  max-width: 1000px;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.user {
  color: #9C1010;
  font-weight: bold;
}

.level {
  color: #9C1010;
  font-weight: bold;
}

.title {
}

.red {
  color: #9C1010;
}

.odd {
  background-color: #F7F7F7;
}



