
.saito-main .vocabulary table tr {

}
.saito-main .vocabulary table tr th {
  padding: 0.25rem;
  text-align: left;
}
.saito-main .vocabulary table tr td {
  padding: 0.25rem;
  text-align: left;
}

