/* Flashcards */
.flashcards_top_padding {
	height: 10px;
}
.flashcards_active_field {
	width: 100%;
	text-align: center;
	color: #9c1010;
	font-size: 3em;
	line-height: 1em;
	margin-top: 12px;
	margin-bottom: 9px;
}
.flashcards_inactive_field {
	width: 100%;
	text-align: center;
	color: #000000;
	font-style: bold;
	font-size: 2.2em;
	line-height: 1em;
	font-style: bold;
	margin-top: 5px;
	margin-bottom: 3px;
}
.flashcards_center_center {
	background: #ffffff url(/img/flashcards/center.jpg);
	height: 227px;
	width: 384px;
	margin-top: 97px;
}
