.popup-menu {
	margin-top: 2rem;
	margi-bottom: 1rem;
}

.popup-menu .header {
	display: flex;
	font-size: 2rem;
	clear: both;
	border-bottom: 1px solid #dddddd;
	height: max-content;
	width: 100%;
	text-decoration: none;
}

.popup-menu .subheader {
	display: flex;
	justify-content: left;
	color: #666666;
	font-weight: bold;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
}

.popup-menu .header .option {
	height: 100%;
	border-top: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	background: #eeeeee;
	padding: 0.4rem 2rem 0.4rem 2rem;
	min-width: max-content;
	list-style: none;
	white-space: nowrap;
	cursor: pointer;
}

.popup-menu .subheader .option {
	white-space: nowrap;
	min-width: max-content;
	padding-left: 1rem;
	padding-right: 4rem;
	cursor: pointer;
}

.popup-menu .subheader .option:hover {
	background: url(/popup/img/buttons/red_arrow.png) no-repeat left center;
	color: #9c1010;
}

.popup-menu .subheader .option {
	list-style: none;
	padding-left: 1rem;
}

.popup-menu .header .option.active {
	background: #f7f7f7;
	background: -moz-linear-gradient(
		center bottom,
		rgb(255, 255, 255),
		rgb(247, 247, 247)
	);
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		from(rgb(255, 255, 255)),
		to(rgb(247, 247, 247))
	);
}
