audio {
	margin-top: 0.5rem;
	width: 100%;
}

.lesson-container {
	display: block;
	margin-top: 1.5rem;
	width: 100%;
}

.lesson-header {
	margin-left: 2rem;
	font-size: 2.4rem;
	cursor: pointer;
}

.lesson-header .user {
	display: inline;
}

.lesson-header .title {
	display: inline;
}

.lesson-section.header {
	margin-top:2rem;
	margin-bottom:1rem;
	font-size: 2rem;
	text-decoration: underline;
}

.lesson-section {
	margin-left: 2rem;
	font-size:2.5rem;
}

.lesson-section.vocabulary table {
	margin-left: 3.5rem;
}

.lesson-section.questions table {
	margin-left: 3.5rem;
}

.lesson-container .discussion {
	padding: 1.5rem 0rem;
	font-size: 2rem;
	line-height: 2.6rem;
	margin-left: 2rem;
	margin-right: 2rem;
}

.lesson-container .discussion p {
	margin-top: 2rem;
}

.lesson-container .transcript {
	font-size: 2.5rem;
	line-height: 3rem;
	margin-left: 2rem;
	width: 100%;
}

.lesson-container .transcript table {
	width: 100%;
}

.lesson-container .transcript table tr td {
	padding-bottom: 2rem;
}

.sentence-player {
	vertical-align: top;
	padding-right: 2rem;
}

.sentence-speaker {
	vertical-align: top;
	padding-right: 2rem;
}

.sentence-data * {
	padding-bottom: 1rem;
}

.word {
	width: 100%;
	font-size: 2rem;
	line-height: 3rem;
	margin-left: 2rem;
}

.word .player {
	padding-right: 1.5rem;
}


