.lastmove {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 1px 0;
	margin-top: 1rem;
	color: white;
}

.game-playerbox-head .saito-user .saito-address {
	color: white;
}

.game-playerbox-head .saito-user > .saito-address,
.game-playerbox-head .saito-user > .saito-userline {
	color: white;
}

.status-header,
.status-message,
.textchoice {
	background: unset;
}

.textchoice:hover {
	color: black;
}

.game-playerbox-manager {
	position: absolute;
	right: 40px;
	top: 50px;
	gap: 1rem;
	cursor: default;
}

.game-playerbox {
	position: unset;
	height: fit-content;
	background-color: rgba(43, 29, 14, 0.75);
	border: 2px solid transparent;
	border-radius: 1rem;
	box-shadow: 5px 3px 4px black;
	max-width: 27.5rem;
}

.game-playerbox.active {
	border: 2px solid silver;
	background-color: rgba(13, 79, 14, 0.8);
}

.game-scoreboard .active {
	background-color: rgba(13, 79, 14, 0.8);	
}

.game-playerbox-body {
	display: flex;
}

@media (orientation: portrait) {
	.game-playerbox-manager {
		top: 45px;
		left: 0;
		margin: 1rem;
		width: calc(100% - 2rem);
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
		justify-items: center;
	}

	.game-playerbox {
		min-height: unset;
		width: 20rem;
		max-width: 100%;
		padding: 0.25rem;
		margin: 0;
		border-radius: 12px;
		box-shadow: -4px 2px 3px black;
		font-size: 15px;
	}

}

@media only screen and (max-width: 600px) {
	.game-playerbox-manager {
		display: none;
	}

	.game-playerbox {
		border-radius: 8px;
	}

	.game-playerbox-manager.visible {
		display: grid;
	}

}
