.welcome {
	min-width: 80vw;
	min-height: 80vh;
  border-radius: var(--border-radius-modal-menu);
	overflow: hidden;
	background-size: cover;
	background-position: center;
  -webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Standard syntax */
}

.welcome-card {
    	position: relative;
    	display: block;
    	right: 2rem;
    	width: 30vw;
    	transform: rotate(5deg);
    	top: 0px;
    	float: right;
    	margin-top: 8vh;
}

.welcome-title {
	top: 0px;
        max-width:50%;
	color: white;
	line-height: 5rem;
	font-size: 3.5rem;
	position: absolute;
	background: #0009;
	margin-top: 5rem;
	margin-left: 5rem;
	padding: 1rem;
	letter-spacing: 0.2rem;
	font-weight: bold;
}

.welcome-text {
	bottom: 0px;
	color: white;
        max-width:50%;
	line-height: 5rem;
	font-size: 2.7rem;
	position: absolute;
	margin-left: 5rem;
	margin-bottom: 5rem;
	padding: 1rem;
	background: #0009;
}


@media screen and (max-width: 900px) {
  .welcome-card { 
    display:none;
  }
}

