.scoring-overlay {
    display: flex;
    justify-content: space-around;
    margin: 3em 1em;
    width: min(750px, 90vw);
    min-height: 50vh;
    padding: 1rem 0;
    border: 0.5rem solid blue;
    border-right: 0.5rem solid red;
    border-bottom: 0.5rem solid red;
    border-radius: 0.5rem;
    column-gap: 2rem;
    padding: 2rem;
}
.asia-scoring {
    background-size: cover;
    background-position-y: bottom;
    background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url(/twilight/img/backgrounds/asia-scoring-bg.jpg);
}
.europe-scoring {
    background-size: cover;
    background-position-y: bottom;
    background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url(/twilight/img/backgrounds/europe-scoring-bg.jpg);
}
.mideast-scoring {
    background-size: cover;
    background-position-y: bottom;
    background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url(/twilight/img/backgrounds/mideast-scoring-bg.jpg);
}
.seasia-scoring {
    background-size: cover;
    background-position-y: bottom;
    background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url(/twilight/img/backgrounds/seasia-scoring-bg.jpg);
}
.africa-scoring {
    background-size: cover;
    background-position-y: bottom;
    background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url(/twilight/img/backgrounds/africa-scoring-bg.jpg);
}
.southamerica-scoring {
    background-size: cover;
    background-position-y: bottom;
    background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url(/twilight/img/backgrounds/southamerica-scoring-bg.jpg);
}
.centralamerica-scoring {
    background-size: cover;
    background-position-y: bottom;
    background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url(/twilight/img/backgrounds/centralamerica-scoring-bg.jpg);
}
.scoring-overlay-body {
}
.scoring-cardlist-container {
    max-height: 60vh;
    max-width: 30vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.4);
}
.scoring-cardlist-container .card {
    height: 76vh;
    max-height: 1040px;
    width: calc(76vh * 0.72110);
    max-width: 750px;
    background-image: url("/twilight/img/Base.svg");
    z-index: 2;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
}
.scoring-box {
    background-color: #0009;
    justify-items: center;
    width: 54rem;
    border-radius: 0.5rem;
    height: 76vh;
}
.scoring-result-title {
    text-align: center;
    color: #fff;
    padding: 1rem 0rem;
    font-size: 5rem;
    background-color: #0009;
    width: 100%;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    text-shadow: 0.125rem 0.125rem 1rem red;
}
.scoring-text {
    text-align: center;
    padding: 3rem 0rem 0rem 0rem;
    font-size: 2.5rem;
    color: #ffffff;
}
.scoring-bonus-title {
    text-align: center;
    color: #ffffff;
    padding: 3em 0rem 0rem 0rem;
    font-size: 2.5rem;
}
.scoring-event-grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 4rem;
}  
.scoring-event-container {
    grid-row: 1;
    padding: 0rem 3rem;
}
.img.scoring-event-icon {
    width: 10rem;
    padding: 1rem;
}
.scoring-event-desc {
    text-align: center;
    color: #ffffff;
    padding: 1rem 0rem;
    font-size: 1.5rem;
    grid-row: 2;
}

