.war-overlay {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-around;
	width: min(750px, 90vw);
	min-height: 50vh;
	padding: 1rem 0;
    border-radius: var(--border-radius-modal-menu);
	column-gap: 2rem;
	padding: 2rem;
	align-items: center;
	width: 90vw;
	height: 80vh;
	justify-content: space-evenly;
	justify-items: center;
}

.war-overlay .card {
	display: block;
	height: 45rem;
	width: calc(45rem * 0.7211);
	justify-content: space-around;
	padding: 2rem;
	z-index: 2;
	background-image: url(/twilight/img/Base.svg);
	background-size: contain;
	background-repeat: no-repeat;
}

.indopaki-war {
	background-size: cover;
	background-position-y: top;
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url(/twilight/img/backgrounds/indopaki-bg.jpg);
}
.koreanwar-war {
	background-size: cover;
	background-position-y: top;
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url(/twilight/img/backgrounds/koreanwar-bg.jpg);
}
.arabisraeli-war {
	background-size: cover;
	background-position-y: top;
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url(/twilight/img/backgrounds/arabisraeli-bg.jpg);
}
.sudan-war {
	background-size: cover;
	background-position-y: top;
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url(/twilight/img/backgrounds/sudan-bg.jpg);
}
.brushwar-war {
	background-size: cover;
	background-position-y: top;
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url(/twilight/img/backgrounds/brushwar-alternate.jpg);
}
.iraniraq-war {
	background-size: cover;
	background-position-y: top;
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url(/twilight/img/backgrounds/iraniraq-bg.jpg);
}
