.statistics-overlay {
	min-width: 80vw;
	min-height: auto;
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url(https://cdn.discordapp.com/attachments/515671512209031192/1108345749378449418/hist_211-post_war.jpg);
	background-position: center;
	background-size: cover;
    border-radius: var(--border-radius-modal-menu);
	font-size: 2.2rem;
	padding: 2rem;
}
.statistics-overlay .title {
	color: white;
	font-size: 3.5rem;
	padding: 1rem;
	text-transform: capitalize;
	background: #0009;
	text-align: center;
	font-weight: bolder;
}
.gobal-stats-grid {
	display: grid;
	color: #fff;
	padding: 1rem 1rem 3rem 1rem;
}
.us-global-title {
	background: #0009;
	border: 0.1rem solid black;
	height: 4.5rem;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 2.4rem;
	text-align: center;
	grid-column: 1;
	grid-row: 2;
	padding-top: 0.8rem;
}
.ussr-global-title {
	background: #0009;
	border: 0.1rem solid black;
	height: 4.5rem;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 2.4rem;
	text-align: center;
	grid-column: 1;
	grid-row: 3;
	padding-top: 0.8rem;
}
.us-global-stats {
	grid-row: 2;
	text-align: center;
	background: #0006;
	padding-top: 1rem;
}
.ussr-global-stats {
	grid-row: 3;
	text-align: center;
	background: #0004;
	padding-top: 1rem;
}
.global-desc {
	background: #0009;
	border: 0.1rem solid black;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.5rem;
	text-align: center;
	height: 4.5rem;
	padding: 1.5rem 1rem;
}
.global-desc-ops {
	grid-column: 2;
}
.global-desc-ops-modified {
	grid-column: 3;
}
.global-desc-evented-ops {
	grid-column: 4;
}
.global-desc-space {
	grid-column: 5;
}
.global-desc-scoring {
	grid-column: 6;
}
.global-desc-bg {
	grid-column: 7;
}
.global-desc-roll {
	grid-column: 8;
}

.round-stats-grid {
	display: grid;
	color: #fff;
	padding: 1rem;
	grid-template-columns: max-content 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	text-align: center;
}

.round-stats-grid .title {
	grid-row: 2 / span 2;
	grid-column: 1;
	padding-left: 1rem;
	padding-right: 1rem;
}
.round-stats-grid .us {
	grid-row: 2;
	grid-column: 2;
	padding-left: 1rem;
	padding-right: 1rem;
}
.round-stats-grid .ussr {
	grid-row: 3;
	grid-column: 2;
	padding-left: 1rem;
	padding-right: 1rem;
}

.round1 {
	grid-column: 3;
	background-color: #0009;
}
.round2 {
	grid-column: 4;
	background-color: #0009;
}
.round3 {
	grid-column: 5;
	background-color: #0009;
}
.round4 {
	grid-column: 6;
	background-color: #0009;
}
.round5 {
	grid-column: 7;
	background-color: #0009;
}
.round6 {
	grid-column: 8;
	background-color: #0009;
}
.round7 {
	grid-column: 9;
	background-color: #0009;
}
.round8 {
	grid-column: 10;
	background-color: #0009;
}
.round9 {
	grid-column: 11;
	background-color: #0009;
}
.round10 {
	grid-column: 12;
	background-color: #0009;
}
.round_us {
	grid-row: 2;
}
.round_ussr {
	grid-row: 3;
}

.hdr {
	background-color: #0009;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.nhdr {
	background-color: #0006;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
