
.hud-header {
  opacity: 0.5;
  background-color: #0005;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.cardimg {
  width: 100%;
}

.faction_sheet {
  width: 1240px;
  height: 800px;
  background-size: cover;
}

.faction_sheet_keytile {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: green;
}
.faction_sheet_england_keytile1 {
  top: 568px;
  left: 42px;
}
.faction_sheet_england_keytile2 {
  top: 568px;
  left: 155px;
}
.faction_sheet_england_keytile3 {
  top: 568px;
  left: 269px;
}
.faction_sheet_england_keytile4 {
  top: 568px;
  left: 383px;
}
.faction_sheet_england_keytile5 {
  top: 568px;
  left: 496px;
}
.faction_sheet_england_keytile6 {
  top: 681px;
  left: 42px;
}
.faction_sheet_england_keytile7 {
  top: 681px;
  left: 155px;
}
.faction_sheet_england_keytile8 {
  top: 681px;
  left: 269px;
}
.faction_sheet_england_keytile9 {
  top: 681px;
  left: 383px;
}

.faction_sheet_france_keytile1 {
  top: 572px;
  left: 49px;
}
.faction_sheet_france_keytile2 {
  top: 572px;
  left: 156px;
}
.faction_sheet_france_keytile3 {
  top: 572px;
  left: 262px;
}
.faction_sheet_france_keytile4 {
  top: 572px;
  left: 370px;
}
.faction_sheet_france_keytile5 {
  top: 678px;
  left: 49px;
}
.faction_sheet_france_keytile6 {
  top: 678px;
  left: 156px;
}
.faction_sheet_france_keytile7 {
  top: 678px;
  left: 262px;
}
.faction_sheet_france_keytile8 {
  top: 678px;
  left: 370px;
}
.faction_sheet_france_keytile9 {
  top: 678px;
  left: 476px;
}
.faction_sheet_france_keytile10 {
  top: 678px;
  left: 580px;
}
.faction_sheet_france_keytile11 {
  top: 678px;
  left: 688px;
}

.faction_sheet_ottoman_keytile1 {
  top: 572px;
  left: 45px;
}
.faction_sheet_ottoman_keytile2 {
  top: 572px;
  left: 160px;
}
.faction_sheet_ottoman_keytile3 {
  top: 572px;
  left: 274px;
}
.faction_sheet_ottoman_keytile4 {
  top: 572px;
  left: 388px;
}
.faction_sheet_ottoman_keytile5 {
  top: 572px;
  left: 500px;
}
.faction_sheet_ottoman_keytile6 {
  top: 572px;
  left: 613px;
}
.faction_sheet_ottoman_keytile7 {
  top: 680px;
  left: 45px;
}
.faction_sheet_ottoman_keytile8 {
  top: 680px;
  left: 160px;
}
.faction_sheet_ottoman_keytile9 {
  top: 680px;
  left: 274px;
}
.faction_sheet_ottoman_keytile10 {
  top: 680px;
  left: 388px;
}
.faction_sheet_ottoman_keytile11 {
  top: 680px;
  left: 500px;
}

.faction_sheet_papacy_keytile1 {
  top: 678px;
  left: 47px;
}
.faction_sheet_papacy_keytile2 {
  top: 678px;
  left: 160px;
}
.faction_sheet_papacy_keytile3 {
  top: 678px;
  left: 273px;
}
.faction_sheet_papacy_keytile4 {
  top: 678px;
  left: 387px;
}
.faction_sheet_papacy_keytile5 {
  top: 678px;
  left: 500px;
}
.faction_sheet_papacy_keytile6 {
  top: 678px;
  left: 613px;
}
.faction_sheet_papacy_keytile7 {
  top: 678px;
  left: 727px;
}

.faction_sheet_hapsburg_keytile1 {
  top: 454px;
  left: 43px;
}
.faction_sheet_hapsburg_keytile2 {
  top: 454px;
  left: 156px;
}
.faction_sheet_hapsburg_keytile3 {
  top: 454px;
  left: 270px;
}
.faction_sheet_hapsburg_keytile4 {
  top: 454px;
  left: 383px;
}
.faction_sheet_hapsburg_keytile5 {
  top: 454px;
  left: 497px;
}
.faction_sheet_hapsburg_keytile6 {
  top: 567px;
  left: 43px;
}
.faction_sheet_hapsburg_keytile7 {
  top: 567px;
  left: 156px;
}
.faction_sheet_hapsburg_keytile8 {
  top: 567px;
  left: 270px;
}
.faction_sheet_hapsburg_keytile9 {
  top: 567px;
  left: 383px;
}
.faction_sheet_hapsburg_keytile10 {
  top: 567px;
  left: 497px;
}
.faction_sheet_hapsburg_keytile11 {
  top: 680px;
  left: 43px;
}
.faction_sheet_hapsburg_keytile12 {
  top: 680px;
  left: 156px;
}
.faction_sheet_hapsburg_keytile13 {
  top: 680px;
  left: 270px;
}
.faction_sheet_hapsburg_keytile14 {
  top: 680px;
  left: 383px;
}

.faction_sheet_protestant_keytile1 {
  top: 600px;
  left: 40px;
  height: 85px;
  width: 85px;
}
.faction_sheet_protestant_keytile2 {
  top: 600px;
  left: 133px;
  height: 85px;
  width: 85px;
}
.faction_sheet_protestant_keytile3 {
  top: 600px;
  left: 226px;
  height: 85px;
  width: 85px;
}
.faction_sheet_protestant_keytile4 {
  top: 600px;
  left: 320px;
  height: 85px;
  width: 85px;
}
.faction_sheet_protestant_keytile5 {
  top: 600px;
  left: 416px;
  height: 85px;
  width: 85px;
}
.faction_sheet_protestant_keytile6 {
  top: 600px;
  left: 510px;
  height: 85px;
  width: 85px;
}
.faction_sheet_protestant_keytile7 {
  top: 694px;
  left: 40px;
  height: 85px;
  width: 85px;
}
.faction_sheet_protestant_keytile8 {
  top: 694px;
  left: 133px;
  height: 85px;
  width: 85px;
}
.faction_sheet_protestant_keytile9 {
  top: 694px;
  left: 226px;
  height: 85px;
  width: 85px;
}
.faction_sheet_protestant_keytile10 {
  top: 694px;
  left: 320px;
  height: 85px;
  width: 85px;
}
.faction_sheet_protestant_keytile11 {
  top: 694px;
  left: 416px;
  height: 85px;
  width: 85px;
}

.england_marital_status1 {
  top: 420px;
  left: 42px;
}
.england_marital_status2 {
  top: 420px;
  left: 148px;
}
.england_marital_status3 {
  top: 420px;
  left: 255px;
}
.england_marital_status4 {
  top: 420px;
  left: 360px;
}
.england_marital_status5 {
  top: 420px;
  left: 467px;
}
.england_marital_status6 {
  top: 420px;
  left: 573px;
}
.england_marital_status7 {
  top: 420px;
  left: 680px;
}

.france_chateaux_status1 {
  top: 472px;
  left: 434px;
  height: 84px;
  width: 84px;
}
.france_chateaux_status2 {
  top: 472px;
  left: 524px;
  height: 84px;
  width: 84px;
}
.france_chateaux_status3 {
  top: 472px;
  left: 614px;
  height: 84px;
  width: 84px;
}
.france_chateaux_status4 {
  top: 472px;
  left: 702px;
  height: 84px;
  width: 84px;
}
.france_chateaux_status5 {
  top: 560px;
  left: 524px;
  height: 84px;
  width: 84px;
}
.france_chateaux_status6 {
  top: 560px;
  left: 614px;
  height: 84px;
  width: 84px;
}
.france_chateaux_status7 {
  top: 560px;
  left: 702px;
  height: 84px;
  width: 84px;
}

.ottoman_piracy_status_keytile1 {
  height: 85px;
  width: 85px;
  top: 350px;
  left: 141px;
}
.ottoman_piracy_status_keytile2 {
  height: 85px;
  width: 85px;
  top: 350px;
  left: 235px;
}
.ottoman_piracy_status_keytile3 {
  height: 85px;
  width: 85px;
  top: 350px;
  left: 329px;
}
.ottoman_piracy_status_keytile4 {
  height: 85px;
  width: 85px;
  top: 350px;
  left: 424px;
}
.ottoman_piracy_status_keytile5 {
  height: 85px;
  width: 85px;
  top: 350px;
  left: 518px;
}
.ottoman_piracy_status_keytile6 {
  height: 85px;
  width: 85px;
  top: 440px;
  left: 46px;
}
.ottoman_piracy_status_keytile7 {
  height: 85px;
  width: 85px;
  top: 440px;
  left: 141px;
}
.ottoman_piracy_status_keytile8 {
  height: 85px;
  width: 85px;
  top: 440px;
  left: 235px;
}
.ottoman_piracy_status_keytile9 {
  height: 85px;
  width: 85px;
  top: 440px;
  left: 329px;
}
.ottoman_piracy_status_keytile10 {
  height: 85px;
  width: 85px;
  top: 440px;
  left: 424px;
}
.ottoman_piracy_status_keytile11 {
  height: 85px;
  width: 85px;
  top: 518px;
  left: 141px;
}

.protestant_translation_status0 {
  height: 85px;
  width: 85px;
  top: 465px;
  left: 40px;
}
.protestant_translation_status1 {
  height: 85px;
  width: 85px;
  top: 465px;
  left: 133px;
}
.protestant_translation_status2 {
  height: 85px;
  width: 85px;
  top: 465px;
  left: 226px;
}
.protestant_translation_status3 {
  height: 85px;
  width: 85px;
  top: 465px;
  left: 320px;
}
.protestant_translation_status4 {
  height: 85px;
  width: 85px;
  top: 465px;
  left: 416px;
}
.protestant_translation_status5 {
  height: 85px;
  width: 85px;
  top: 465px;
  left: 510px;
}
.protestant_translation_status6 {
  height: 85px;
  width: 85px;
  top: 465px;
  left: 607px;
}

.papacy_construction_status1 {
  height: 85px;
  width: 85px;
  top: 450px;
  left: 47px;
}
.papacy_construction_status2 {
  height: 85px;
  width: 85px;
  top: 450px;
  left: 142px;
}
.papacy_construction_status3 {
  height: 85px;
  width: 85px;
  top: 450px;
  left: 234px;
}
.papacy_construction_status4 {
  height: 85px;
  width: 85px;
  top: 450px;
  left: 330px;
}
.papacy_construction_status5 {
  height: 85px;
  width: 85px;
  top: 450px;
  left: 425px;
}
.papacy_construction_status6 {
  height: 85px;
  width: 85px;
  top: 450px;
  left: 520px;
}
.papacy_construction_status7 {
  height: 85px;
  width: 85px;
  top: 544px;
  left: 47px;
}
.papacy_construction_status8 {
  height: 85px;
  width: 85px;
  top: 544px;
  left: 142px;
}
.papacy_construction_status9 {
  height: 85px;
  width: 85px;
  top: 544px;
  left: 234px;
}
.papacy_construction_status10 {
  height: 85px;
  width: 85px;
  top: 544px;
  left: 330px;
}
.papacy_construction_status11 {
  height: 85px;
  width: 85px;
  top: 544px;
  left: 425px;
}
.papacy_construction_status12 {
  height: 85px;
  width: 85px;
  top: 544px;
  left: 520px;
}


.gameboard {
  background-image: url("/his/img/gameboard-large.png");
  background-size: cover;
  width: 4950px;
  height: 3164px;
}

.electorate_display {
  position: absolute;
  z-index: 10;
  height: 100px;
  width: 100px;
}
.space {
  position: absolute;
  z-index: 10;
  height: 100px;
  width: 100px;
}

.figures_tile {
  z-index: 15;
  display: block;
  position: absolute;
  left: 20px;
  top: 20px;
}
.navy_tile {
  z-index: 10;
  display: block;
  position: absolute;
}
.army_tile {
  z-index: 20;
  position: absolute;
  top: 0px;
  left: -10px;
}
.mercenary_tile {
  z-index: 25;
  position: absolute;
  top: 10px;
  left: 0px;
}
.debater_tile {
  z-index: 30;
  position: absolute;
  top: 15px;
  left: 20px;
}

.hextile {
  position: absolute;
  z-index: 10;
  top: -10px;
  height: 120px;
  width: 100px;
}
.keytile {
  position: absolute;
  top: -7px;
  left: -7px;
  height: 122px;
  width: 122px;
}

.space_view {
  height: 60vh;
  width: calc(60vh * 0.74);
  background-color: whitesmoke;
  border-radius: 10px;
  font-size: 2em;
}


