

.gameboard {
  background-image: url("/his/img/gameboard-large.png");
  background-size: cover;
  width: 4950px;
  height: 3164px;
}

.space {
  position: absolute;
  background-color: green;
  z-index: 10;
  height: 100px;
  width: 100px;
}


