.saito-gif-container {
    padding: 2rem;
    padding-bottom: 0.5rem;
    border-radius: 0.5rem;
    background-color: white;
    position: relative;
    max-width: 100vw;
    max-height: 95vh;
    overflow-y: auto;
}

.saito-gif {
    position: absolute;
    right: 3rem;
    bottom: 0.5rem;
    font-size: 2rem;
    color: var(--saito-primary);
    cursor: pointer;
}

.saito-gif-content {
    display: flex;
    justify-content: center;
    padding: 1rem;
    align-items: center;
}

.saito-gif-search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.saito-gif-search input {
    margin-right: .5rem;
}

.saito-gif-search i {
    color: var(--saito-primary);
    font-size: 2.2rem;
    cursor: pointer;
}