

.tip .tiptext {
    visibility: hidden;
    color: #444 !important;
    position: absolute;
    z-index: 1;
}

.tiptext {
    width: 90%;
    min-width: 400px;
    max-width: 750px;
    padding: 1em;
    background-color: #fefefebb;
    border: 1px solid var(--saito-red);
    line-height: 1.5em;
    font-size: 1em;
    font-style: italic;
}

.game-overlay {
  min-width: 320px;
  padding: 1rem;
}
.game-overlay .long-scroll {
  padding: 40px;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 200px auto;
}
.game-overlay .overlay-title {
  text-align: center;
}
.game-overlay .overlay-input {
  margin-bottom: 1rem;
}
.game-overlay select {
  text-transform: capitalize;
}
.game-overlay .options_notice{
  margin-bottom: 1.2rem;
  color: var(--saito-white);
  font-style: italic;
  text-align: center;
}

.invite-tile-button-join {
  height: 5em;
}


.game-wizard {
  color:  rgb(234, 234, 239);;
  padding: 1em;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-size: 1.75rem;
  background-color: #0009;
  width: 60vw;
  max-height: 50vh;
  /*overflow-y: scroll;*/
}
.game-wizard-post-description {
  font-size: 0.9em;
  margin-left: 10px;
  display: inline-block;
}
.game-home-link {
  border-bottom: 1px dashed whitesmoke;
  cursor: pointer;
}

.game-wizard-advanced-box {
  display: block;
  text-align: left;
}
.game-wizard-advanced-box .list-header:nth-of-type(n + 2) {
  margin-top: 1.2rem;
}
.game-wizard-main {
  padding: 50px;
}
.game-wizard-header {
  display: grid;
  grid-template-columns: 3fr 7fr;
}
.game-wizard-intro {
  padding: 10px;
}
.game-wizard-title {
  font-size: 1.6em;
  font-weight: bold;
  position: relative;
}
.game-wizard-description {
  font-size: 1.2em;
  line-height: 1.5em;
}
.game-wizard-status {
  display: inline-block;
  position: absolute;
  right: 0;
  font-size: 0.8em;
  font-style: italic;
  font-weight: normal;
}

.game-wizard-image {
  padding: 10px;
}
.game-image {
  width: 100%;
}
.game-wizard-controls {
  display: grid;
  grid-template-columns: 3fr 7fr;
}
.game-wizard-players {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.game-wizard-players-no-select {
  width: 20em;
  height: 3em;
  line-height: 3;
  width: 100%;
  font-size: 1.2em;
  padding: 0 1em;
}

.game-wizard-options-toggle {
  padding-top: 10px;
}
.game-wizard-options-toggle-text {
  border-bottom: 1px dashed;
  cursor: pointer;
}
.game-wizard-invite {
  padding: 10px;
  width: 100%;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.game-wizard-other-btns {
  display: none;
  /* display: flex; */
  flex-direction: row;
  justify-content: space-between;
}

.dynamic_button {
  overflow: hidden;
}

.dynamic_button.saito-select {
  border-bottom: unset;
  height: 60px;
  width: unset;
    position: relative;
    display: flex;
    line-height: 3;
    background: #55555555;
}

.dynamic_button_options {
  width: calc(100% - 60px);
}

.dynamic_button_options button{
  border-radius: 5px 0px 0px 5px;
}

.dynamic_button.showAll {
  overflow: visible;
}

.saito-select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #55555533;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
  visibility: hidden;
}
.dynamic_button.saito-select::after {
  box-sizing: border-box;
  border: 1px solid var(--saito-red);
  background-color: #324;
  border-radius: 0 5px 5px 0;
  height: 60px;
  line-height: 60px;
  width: 60px;
  text-align: center;
}

/* Transition */
.saito-select:hover::after {
  color: var(--saito-red);
}
option {
  background: var(--saito-cyber-black);
}


.game-invite-btn {
  width: 100%;
  min-height: 60px;
  font-weight: bold;
  margin: 0px;
  background: linear-gradient(-45deg, #426 50%, #213 100%);
  border: 1px solid #639;;
}
.game-wizard-publisher-message {
  padding: 10px;
  margin-top: 10px;
  font-size: 0.9em;
}
.game-wizard-advanced-options {
  display: none;
}
.game-wizard-basic-options {
  display: none;
}
.game-buttons {
  padding-top: 20px;
  margin-left: 10%;
}
.game-wizard-form {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
}
.game-wizard-content::-webkit-scrollbar {
  /* WebKit */
  width: 3;
}
.game-info-container {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr;
}
.game-start-controls {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 4fr;
}
.return-to-arcade {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  right: -16px;
  top: -16px;
}


.arcade-games {
  font-size: 1.4em;
  min-width: 400px;
}

.start-game-btn {
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
}


.scheduler-overlay-container {
  background-color: #fff;
  width: 58vh;
  height: 70vh;
  border-radius: 15px;
  padding: 20px;
}


.overlay-content-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 0px;
  margin-bottom: 4rem;
}

.overlay-content-item {
  //padding: 15px;
}

.scheduled-icon {
  width: 30%;
}

.scheduled-icon i {
  font-size: 7rem;
  transform: rotate(19deg);
}

.scheduled-item {
  width: 70%;
}

.scheduler-overlay-control-btn {
  display: inline-block;
  width: 47%;
}

.hide {
  display: none;
}

.schedule-game-img {
  height: 4.7rem;
}

.scheduled-game-box-container{
  position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1.6rem;
}

.scheduled-game-box-item {
  margin-right: 1.3rem;
}

.scheduled-game-box-item. {
  width: 28rem; 
}

.scheduler-controls-container {
  position: absolute;
  bottom: 15px;
  width: 95%;
}

.schedule-input-container {
  margin-bottom: 20px;
  float: none;
}

.saito-select {
  display: inline-block;
}

.saito-select, .saito-select-wrapper {
  width: min-content;
  min-width: 15rem;
}

.event-type-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.saito-select-btn {
  height: 3.9rem;
  min-width: 15rem;
  width: min-content;
  margin-right: 2rem;
}

.event-type-container {
  margin-top: -2rem;
}

.event-type-container.datetime {
  margin-top: 0px;

}

.event-type-container.datetime .saito-select-btn{
  min-width: 20rem;
  margin-top: -2rem;
  margin-left: 20px; 
}

.input-title {
  margin-bottom: 5px;
}

.scheduler-datetime-input {
  height: 3.8rem;
  border: 1px solid var(--saito-border);
  padding: 0px 1rem;
  border-radius: 0.4rem;
}

.schedule-input-container.contact-list {
  max-height: 13rem;
  overflow-y: scroll;
}

.schedule-input-container.contact-list .saito-user {
  max-height: 7rem;
}

.schedule-input-container.contact-list .saito-username{
  max-width: 100%;
}

.schedule-input-container.contact-list .invite-btn {
  margin-left: 2.5rem; 
  display: inline-block;
}