

.tip .tiptext {
    visibility: hidden;
    color: #444 !important;
    position: absolute;
    z-index: 1;
}

.tiptext {
    width: 90%;
    min-width: 400px;
    max-width: 750px;
    padding: 1em;
    background-color: #fefefebb;
    border: 1px solid var(--saito-red);
    line-height: 1.5em;
    font-size: 1em;
    font-style: italic;
}

/* Overlay */

.saito-overlay-backdrop,
.game-overlay-backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #444;
  opacity: 0.4;
  z-index: 100;
}

.saito-overlay,
.game-overlay {
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  z-index: 1000;
  min-width: 10%;
  min-height: 10%;

}

.saito-overlay {
  position: fixed;
}

.saito-overlay-closebox {
  position: absolute;
  width: 30px;
  height: 30px;
  right: -13px;
  border-radius: 50%;
  top: -15px;
  background-color: white;
  z-index: 100;
}

.saito-overlay-closebox-btn {
  display: block;
  height: 32px;
  width: 32px;
  color: red;
  font-size: 31px;
}

.saito-overlay-closebox-btn:hover {
  transform: scale(1);
}

/* Make sure game overlay can cover saito-overlay */
.game-overlay {
  z-index: 2010;
}

.game-overlay-backdrop {
  z-index: 2000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.saito-overlay-menu {
  padding: 10px;
  background-color: whitesmoke;
  opacity: 0.8;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.saito-overlay-menu ul li {
  width: 100%;
  line-height: 3.5em;
  border-top: 1px solid var(--saito-skyline-grey);
  cursor: pointer;
  text-align: -webkit-match-parent;
  display: list-item;
  list-style: none;
  padding: 0 1em;
}

.saito-overlay-menu ul li:hover {
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75), -2px -2px 5px #eee;
  background: #0001;
}

.rules-overlay{
  background: var(--saito-nightscape);
  padding: 1em;
  font-size: 20px;
  border: 2px white solid;
  border-radius: 10px;
  max-width: 80vw;
  min-width: 600px;
  max-height: 80vh;
  overflow-y: auto;
}

.rules-overlay p{
  margin-top: 0.5em;
}
.game-overlay {
  min-width: 320px;
  padding: 1rem;
  position: fixed;
  background-color: var(--saito-white);
}
.game-overlay .long-scroll {
  padding: 40px;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 200px auto;
}
.game-overlay .overlay-title {
  text-align: center;
}
.game-overlay .overlay-input {
  margin-bottom: 1rem;
}
.game-overlay select {
  text-transform: capitalize;
}
.game-overlay .options_notice{
  margin-bottom: 1.2rem;
  color: var(--saito-white);
  font-style: italic;
  text-align: center;
}

.invite-tile-button-join {
  height: 5em;
}


.game-wizard {
  color:  rgb(234, 234, 239);;
  padding: 1em;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-size: 1.75rem;
  background-color: #0009;
  width: 60vw;
  max-height: 50vh;
  /*overflow-y: scroll;*/
}
.game-wizard-post-description {
  font-size: 0.9em;
  margin-left: 10px;
  display: inline-block;
}
.game-home-link {
  border-bottom: 1px dashed whitesmoke;
  cursor: pointer;
}

.game-wizard-advanced-box {
  display: block;
  text-align: left;
}
.game-wizard-advanced-box .list-header:nth-of-type(n + 2) {
  margin-top: 1.2rem;
}
.game-wizard-main {
  padding: 50px;
}
.game-wizard-header {
  display: grid;
  grid-template-columns: 3fr 7fr;
}
.game-wizard-intro {
  padding: 10px;
}
.game-wizard-title {
  font-size: 1.6em;
  font-weight: bold;
  position: relative;
}
.game-wizard-description {
  font-size: 1.2em;
  line-height: 1.5em;
}
.game-wizard-status {
  display: inline-block;
  position: absolute;
  right: 0;
  font-size: 0.8em;
  font-style: italic;
  font-weight: normal;
}

.game-wizard-image {
  padding: 10px;
}
.game-image {
  width: 100%;
}
.game-wizard-controls {
  display: grid;
  grid-template-columns: 3fr 7fr;
}
.game-wizard-players {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.game-wizard-players-no-select {
  width: 20em;
  height: 3em;
  line-height: 3;
  width: 100%;
  font-size: 1.2em;
  padding: 0 1em;
}

.game-wizard-options-toggle {
  padding-top: 10px;
}
.game-wizard-options-toggle-text {
  border-bottom: 1px dashed;
  cursor: pointer;
}
.game-wizard-invite {
  padding: 10px;
  width: 100%;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.game-wizard-other-btns {
  display: none;
  /* display: flex; */
  flex-direction: row;
  justify-content: space-between;
}

.dynamic_button {
  overflow: hidden;
}

.dynamic_button.saito-select {
  border-bottom: unset;
  height: 60px;
  width: unset;
  position: relative;
  display: flex;
  line-height: 3;
  background: #fff;
  color: var(--saito-primary);
  margin-top: 2rem;
}

.dynamic_button_options {
  width: calc(100% - 60px);
}

.dynamic_button_options button{
  border-radius: 5px 0px 0px 5px;
}

.dynamic_button.showAll {
  overflow: visible;
}

.saito-select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #55555533;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
.dynamic_button.saito-select::after {
  box-sizing: border-box;
  border: 1px solid var(--saito-primary);
  background-color: #fff;
  border-radius: 0 5px 5px 0;
  height: 60px;
  line-height: 60px;
  width: 60px;
  text-align: center;
}

/* Transition */
.saito-select:hover::after {
  color: var(--saito-red);
}
option {
  background: var(--saito-cyber-black);
}


.game-invite-btn {
  width: 100%;
  min-height: 60px;
  font-weight: bold;
  margin: 0.1rem;
  background: var(--saito-primary);
  border: 1px solid var(--saito-primary);
  color: #fff;
}
.game-wizard-publisher-message {
  padding: 10px;
  margin-top: 10px;
  font-size: 0.9em;
}
.game-wizard-advanced-options {
  display: none;
}
.game-wizard-basic-options {
  display: none;
}
.game-buttons {
  padding-top: 20px;
  margin-left: 10%;
}
.game-wizard-form {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
}
.game-wizard-content::-webkit-scrollbar {
  /* WebKit */
  width: 3;
}
.game-info-container {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr;
}
.game-start-controls {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 4fr;
}
.return-to-arcade {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  right: -16px;
  top: -16px;
}


.arcade-games {
  font-size: 1.4em;
  min-width: 400px;
}

.start-game-btn {
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
}



/* Invitation Link Popup overlay */
.invite-link {
  max-width: 90vw;
  min-width: 25vw;
  width: fit-content;

  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  background-color: rgb(102, 51, 153);
  color: white;
  overflow-y: scroll;
}

.invite-link-actions {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.invite-link-actions i {
  cursor: pointer;
  transition: all 0.2s;
}

.invite-link-actions i:hover {
  transform: scale(1.05);
  position: relative;
}

.invite-link>p {
  margin-top: 1rem;
  inline-size: 35rem;
  overflow-wrap: break-word;
}

.invite-link button {
  margin-top: 1rem;
  padding: 0.5rem;
  /* color: rgb(14, 6, 22); */
  /* border: 1px solid rgb(14, 6, 22); */
  border-radius: 8px;
  cursor: pointer;
}

.invite-link>p:hover::before {
  /* transform: scale(1.05);
  top: -2rem;
  position: absolute;
  cursor: pointer;
  content: "Copy Link";
  display: block;
  width: 1rem;
  height: 1rem; */
}

.invite-link .social-links {
  margin-left: auto;
  display: flex;

  /* justify-content: space-between; */
  /* width: 50%; */
}

.invite-link-text {
  color: var(--saito-white);
  width: 100%;
}


.game-create-new-overlay {
  display: grid;
  max-height: 80vh;
  height: min-content;
  width: 80vw;
  overflow-y: scroll;
  grid-template-rows: min-content auto;
  background-color: white;
  padding: 2rem;
}