.background-shim {
  background-image: url('/chess/img/arcade/arcade.jpg');
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-size: cover;
  z-index: 10;
}

.saito-menu i::before {
  -webkit-text-stroke: var(--saito-default-font-color) 1px;
  color: transparent;
  font-size: smaller;
}

.saito-menu li:hover i::before {
  -webkit-text-stroke: #fff 1px;
}

.saito-menu li i {
  margin-bottom: 4px;
}

.redsquare-home-red-square {
  font-size: 2.6rem;
  width: 2rem;
  padding-left: 1.2rem
}

span.redsquare-home-red-square+span {
  margin-left: 3.8rem;
}

.tweet {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.7rem;
  line-height: 2.2rem;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.tweet a {
  color: var(--saito-primary);
}

.redsquare-item {
  cursor: pointer;
}

.redsquare-item-children>.redsquare-item {
  border-bottom: 0px;
  margin-left: 0rem;
  padding-left: 0rem;
  padding-top: 3rem;
}



.post-tweet-preview {
  padding: 0rem;
  padding-bottom: 2rem;
}

.post-tweet-preview .redsquare-item {
  padding-left: 0rem;
  padding-top: 0rem;
  padding-bottom: 1rem;
}

.post-tweet-preview .redsquare-item .redsquare-item-contents .redsquare-tweet-tools {
  display: none;
}

.post-tweet-textarea {
  width: auto;
  margin-top: 1rem;
}

.post-tweet-button {
  margin-left: 0rem;
  margin-right: 0rem;
  margin-top: 1rem;
  width: 20rem;
  text-align: center;
  float: right;
}

.redsquare-tweet-overlay {
  padding: 2rem;
  padding-bottom: 1rem;
  border-radius: 2rem;
  background-color: white;
  position: relative;
}

.saito-sidebar.right {
  width: 51rem;
}

.saito-main.appspace {
  min-width: 50rem;
  height: 100vh;
}

.redsquare-appspace-contacts-list {
  padding-left: 2rem;
  padding-top: 2rem;
}

.redsquare-appspace-contacts-list>h6 {
  padding-bottom: 1rem;
}


.redsquare-item {
  padding: 2rem 3rem 2rem 1rem;
  border-bottom: 1px solid #a5a5a533;
}

.link-preview>.redsquare-item { 
  border-bottom: none;
}

.redsquare-item-contents {
  display: grid;
  grid-template-columns: 4.5rem 1fr;
}


.redsquare-invite-participants {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  column-gap: 2rem;
}

.redsquare-invite-participants>.saito-user {
  max-width: 20rem;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.redsquare-invite-title {
  color: var(--saito-default-font-color);
  background-color: white;
  font-weight: bold;
  font-size: 2.2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}



.redsquare-game-creator {
  padding: 3rem;
  border-radius: 2rem;
  background-color: #0009;
  color: white;
  max-height: 90vh;
  max-width: 114rem;
  overflow-y: scroll;
}

.redsquare-create-game-list {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  column-gap: 2rem;
}

.redsquare-create-game-header {
  font-size: 3rem;
  margin-bottom: 1rem;
  background-color: #0008;
  padding: 1rem;
}

.redsquare-game-container {
  display: grid;
  grid-template-columns: 10vw auto;
  grid-template-rows: min-content 1fr;
  max-width: 80vw;
  column-gap: 2rem;
  min-height: 10rem;
  max-height: 10rem;
  min-width: 51rem;
  padding: 0.5rem
}

.redsquare-game-container:hover {
  cursor: pointer;
  background-color: #0009;
}

.redsquare-game-image {
  grid-row: span 2;
  width: 10vw;
  height: auto;
  max-height: 10rem;
}

.redsquare-game-image>img {
  width: 100%;
  height: 100%;
  border-radius: 1rem
}

.redsquare-game-title {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 3rem;
  font-weight: bolder;
}

.redsquare-game-description {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  overflow-y: hidden;
  text-overflow: clip;
  font-size: 1.5rem;
  line-height: 1.9rem;
}

.redsquare-tweet-tools {
  display: flex;
  justify-content: initial;
  font-size: 1.5rem;
  width: 100%;
  margin: 2rem 0 0rem 0;
}


.redsquare-tweet-tools>div {
  position: relative;
  margin: 0 0;
  min-width: 8%;
  margin-right: 15%;
}

.redsquare-tweet-tools>div:hover {
  transform: scale(1);
}


.redsquare-tweet-tools span {
  display: inline-block;
  font-weight: bold;
  z-index: 1;
  float: left;
  margin-right: 1rem;
  color: rgba(83, 100, 113, 0.8);
  font-size: 1.5rem;
}

.redsquare-tweet-tools i {
  font-size: 1.7rem;
  text-align: center;
  color: rgba(83, 100, 113, 0.8);
}

.redsquare-tweet-tools i:hover {
  color: var(--saito-primary);
}

.tweet-tool-retweet i {
  font-size: 1.7rem;
}

.tweet-tool-flag i {
  font-weight: normal;
}


.saito-tweet-activity i {
  color: var(--saito-primary);
}

.link-preview {
  margin: 15px 0px;
}

.preview-img {
  width: 100%;
  height: 250px;
  background-size: cover !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.preview-info {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  border-top: none;
  border-top-right-radius: unset;
  border-top-left-radius: unset;
}

.preview-title {
  color: #000;
  margin: 3px 0px;
}

.preview-url {
  font-size: 1.4rem;
  color: #444;
}

.preview-description {
  font-size: 1.6rem;
  color: #444;
}

.youtube-embed-container {
  width: 100%;
  margin: 15px 0px;
}

.youtube-embed {
  width: 100%;
  height: 300px;
}

.tweet-tool-like {
  cursor: pointer;
}

.tweet-tool-comment-count {
  width: 1rem;
  text-align: center;
}


#redsquare-reply-tweet-overlay {
  background-color: #fff;
  width: 60vh;
}

#redsquare-reply-tweet-overlay .redsquare-item-contents {
  border-left: 1px solid #b1b0b0;
  margin: 30px 10px;
}

#redsquare-new-tweets-banner {
  display: none;
  color: #fff;
  position: sticky;
  top: 13rem;
  z-index: 2;
  cursor: pointer;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  width: 34%;
  margin: 0 33%;
  background: #0004;
  border-radius: 0.5rem;
}

.redsquare-ellipsis::after {
  border-left: 5px dotted var(--saito-border);
  height: 200px;
  position: relative;
  top: -2rem;
  content: " ";
  margin-left: 2.5rem;
}

.redsquare-ellipsis {
  height: 0;
}

.before-ellipsis {
  border-bottom: none;
}

.after-ellipsis {
  border-top: none;
  padding-top: none;
}

.redsquare-image-container {
  margin-top: 2rem;
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-grow: revert;
  width: 100%;
}

.redsquare-image-container div {
  width: 100%;
  border-radius: 1rem;
  border: 1px solid #d7d3d3;
  height: 40rem;
  background-size: cover !important;
}

.redsquare-image-container div.tweet-multiple-img {
  width: 48%;
  margin-right: 1.5%;
  height: 20rem;
  margin-bottom: 1rem;
}

.post-tweet-img-preview {
  position: relative;
  margin-right: 2rem;
  display: block;
  height: auto;
  display: inline-block;
  float: left;
}

.post-tweet-img-preview i {
  position: absolute;
  z-index: 2;
  width: 0.5rem;
  height: 0.5rem;
  right: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
  top: 0.5rem;
  background: #fff;
}

.post-tweet-img-preview img {
  top: 0px;
  position: relative;
  float: left;
  height: 5rem;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  margin-top: 1rem;
  margin-right: rem;
  box-shadow: 1px 1px 1px 2px #ccc;
}


.post-tweet-loader {
  width: 100%;
  line-height: 1.4;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0px;
  top: 0px;
  border-radius: 2rem;
  height: 100%;
  display: none;
}


.loading__anim {
  width: 5rem;
  height: 5rem;
  border: 6px solid #f71f3d;
  border-left-color: #f71f3d;
  border-top-color: #fff;
  border-radius: 50%;
  display: inline-block;
  animation: rotate 600ms infinite linear;
  position: absolute;
  top: 40%;
  left: 46%;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}


#tweet-overlay-img-cont img {
  height: 70vh;
}

/* Hacks to stop old arcade and chat content from ruining display */

.chat-box, .saito-arcade-invite {
  display: none;
}

.saito-arcade-invite-list .saito-arcade-invite {
  display: grid;
}

.saito-back-button {
  cursor: pointer;
}