#redsquare-input-container {
    display: grid;
    grid-template-columns: 9rem 1fr;
    /* background-color: green; */

    height: 15rem;
    position: relative;
    border: 1px solid var(--saito-border);
    border-radius: .5rem;
    margin-bottom: 1rem;
}

#redsquare-input-container button {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

.redsquare-input-profile img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-top: 3rem;
    margin-left: 3rem;
}

#redsquare-input-container textarea {
    margin-top: 3rem;
    padding-left: 1rem;

    padding-top: 1.5rem;
    height: calc(100% - 9rem);
    width: 100%;
    border: none;
}


#redsquare-list {
    border: 1px solid var(--saito-border);
    border-radius: .5rem;
    padding-bottom: 1rem;
}

.redsquare-item {
    display: grid;
    grid-template-columns: 9rem 1fr;

}

.redsquare-item:not(:last-child) {
    margin-bottom: 2rem;
}

.redsquare-item-profile img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-top: 2rem;
    margin-left: 3rem;
}



.redsquare-item-contents {
    padding-left: 1rem;
    margin-top: 2rem;
}


.redsquare-user {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.redsquare-user-details {
    margin-right: 5rem;
    display: flex;
    align-items: center;
}

.redsquare-user-details p {
    font-weight: bold;
    font-size: 1.9rem;
    margin-right: .5rem;
    word-wrap: break-word;
}

.redsquare-user-details i {
    color: var(--saito-primary)
}

.redsquare-user-actions {
    display: grid;
    align-items: center;
    grid-gap: 2rem;
    grid-template-columns: min-content min-content;
}

.redsquare-user-actions i {
    cursor: pointer;
}

.redsquare-text-container {
    margin-bottom: 1rem;
}

.redsquare-image-container img {
    width: 80%;
    height: 30rem;
    border-radius: .5rem;
    object-fit: cover;
}




/*  Trends */

#redsquare-trends-container {
    background-color: var(--saito-gray);
    padding: 1rem;
    border-radius: .5rem;

}

#redsquare-trends-container>div:not(:last-child) {
    margin-bottom: 1.5rem;

}

#redsquare-trends-container>h5 {
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 2.3rem;
}

#redsquare-trends-container>div>p {
    font-size: 1.3rem;
    color: var(--saito-default-font-color);

}

#redsquare-trends-container>div>p:not(:last-child) {
    margin-bottom: .5rem;
}

#redsquare-trends-container>div>h6 {
    font-size: 1.8rem;
    color: var(--saito-black);
    margin-bottom: .5rem;
}


/* Follow */

#redsquare-follow-container {
    background-color: var(--saito-gray);
    padding-top: 1rem;

}


#redsquare-follow-container>h5 {
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 2.3rem;
    margin-left: 1rem;
}