


.treated {
  display: block;
}

.background-shim {
  background-image: url('/chess/img/arcade/arcade.jpg');
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-size: cover;
  z-index: 10;
}

.saito-arcade-invite-list .saito-module-x:hover {
  cursor: pointer;
  background-color: #4442;
}

.redsquare-item-notice {
    box-sizing: border-box;
    color: rgba(0,0,0,1.00);
    font-family: var(--saito-font);
    white-space: pre-wrap;
    word-wrap: break-word;
    padding-bottom: 1.5rem;
    position: relative;
}
.redsquare-item-notice .saito-address {
    display: inline;
    margin-left: 0.25rem;
    font-weight: bold;
}


.saito-menu i::before {
  -webkit-text-stroke: var(--saito-default-font-color) 1px;
  color: transparent;
  font-size: smaller;
}

.saito-menu li:hover i::before {
  -webkit-text-stroke: #fff 1px;
}

.saito-menu li i {
  margin-bottom: 4px;
}

/* Chat / Manager */

.chat-manager-list > .saito-user > .saito-identicon-box {
    padding-left: 0.7rem;
    padding-right: 0.4rem;
}



.redsquare-home-red-square {
  font-size: 2.6rem;
  width: 2rem;
  padding-left: 1.2rem
}

span.redsquare-home-red-square+span {
  margin-left: 3.8rem;
}

.tweet {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.7rem;
  line-height: 2.2rem;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  max-height: 30rem;
  overflow: auto;
}

.tweet a {
  color: var(--saito-primary);
}

.redsquare-item {
  cursor: pointer;
}
.redsquare-item:hover {
  background-color: rgba(0, 0, 0, 0.03)
}

.post-tweet-img-icon {
  margin-top: 0.5rem;
  float: left;
  font-size: 5rem;
  color: #444A;
}

.post-tweet-preview {
  padding: 0rem;
  padding-bottom: 2rem;
}

#redsquare-appspace-home {
  padding-bottom: 3rem;
}

.redsquare-list-open {
  position: fixed;
  top: 14rem;
  overflow-y: scroll;
  /* bottom: 0; */
  width: 54rem


}

.redsquare-list-open::-webkit-scrollbar {
  display: none;
}

#redsquare-intersection {
  opacity: 1;
  height: 3rem;
}

.post-tweet-preview .redsquare-item {
  padding-left: 0rem;
  padding-top: 0rem;
  padding-bottom: 1rem;
}

.post-tweet-preview .redsquare-item .redsquare-item-contents .redsquare-tweet-tools {
  display: none;
}

.post-tweet-textarea {
  margin-top: 1rem;
}

.post-tweet-button {
  margin-left: 0rem;
  margin-right: 0rem;
  margin-top: 1rem;
  width: 20rem;
  text-align: center;
  float: right;
}

.redsquare-tweet-overlay {
  padding: 2rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: var(--saito-white);
  position: relative;
  width: max-content;
  max-width: 100vw;
  max-height: 95vh;
  overflow-y: auto;
}

.saito-sidebar.right {
  width: 51rem;
  position: fixed;
  width: inherit;
  height: inherit;
  overflow-y: auto;
  overflow-x: hidden;
}

.saito-sidebar-left {
  width: 250px;
}

.saito-sidebar-right {
  width: 50rem;
  overflow-y: auto;
  height: inherit;
}

.sidebar-scrollable {
  position: relative;
  left: unset;
}

.saito-main.appspace {
  margin: 0 2rem 15rem;
  position: relative;
}

.redsquare-appspace-contacts-list {
  padding-left: 2rem;
  padding-top: 2rem;
}

.redsquare-appspace-contacts-list>h6 {
  padding-bottom: 1rem;
}


.redsquare-item {
  padding: 2rem 3rem 0rem 1rem;
  border-bottom: 1px solid #a5a5a533;
}

.link-preview>.redsquare-item {
  border-bottom: none;
  padding-right: 0rem;
  padding-bottom: 0rem;
}

.redsquare-item-contents {
  display: grid;
  grid-template-columns: 4.5rem 1fr;
}


.redsquare-invite-participants {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  column-gap: 2rem;
}

.redsquare-invite-participants>.saito-user {
  max-width: 20rem;
  text-overflow: ellipsis;
  overflow-x: hidden;
  margin-top: -1.75rem;
}

.redsquare-invite-title {
  color: var(--saito-default-font-color);
  font-weight: bold;
  font-size: 2.2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}



@media only screen and (max-width: 535px) {
  
  .redsquare-create-game-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  .saito-sidebar-right {
    width: 0;
  }

  .redsquare-game-image {
    grid-row: unset;
    width: 6rem;
  }

  .redsquare-game-description {
    grid-column: span 2;
    max-height: 8rem;
  }  
  
  .redsquare-game-container {
    grid-template-columns: 6rem auto;
    min-height: unset;
    max-height: 25rem;
  }

  .redsquare-game-title {
    line-height: 4rem;
  }
}

/*--------------------*/


.redsquare-tweet-tools {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  width: 100%;
  margin-top: 1rem;
  padding-bottom: 1rem;
  cursor: default;
}


.redsquare-tweet-tools>div {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem 0;
  cursor: pointer;
  color: rgba(83, 100, 113, 0.8);
}

.redsquare-tweet-tools>div.tweet-tool-like,
.redsquare-tweet-tools>div.tweet-tool-retweet,
.redsquare-tweet-tools>div.tweet-tool-comment {
  grid-template-columns: 1fr 1fr;
}

.tweet-tool-like-count,
.tweet-tool-retweet-count,
.tweet-tool-comment-count {
  text-align: right;
}

.redsquare-tweet-tools>div:hover {
  transform: scale(1.05);
  color: var(--saito-primary);

}


.redsquare-tweet-tools span {
  display: inline-block;
  font-weight: bold;
  z-index: 1;
  
  font-size: 1.5rem;
}

.redsquare-tweet-tools i {
  font-size: 1.7rem;
  margin: 0 1rem;
  text-align: center;
}


.tweet-tool-retweet i {
  font-size: 1.7rem;
}

.tweet-tool-flag i {
  font-weight: normal;
}


.saito-tweet-activity i {
  color: var(--saito-primary);
}

.link-preview {
  margin: 15px 0px;
}

.preview-img {
  width: 100%;
  height: 250px;
  background-size: cover !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.preview-info {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  border-top: none;
  border-top-right-radius: unset;
  border-top-left-radius: unset;
}

.preview-title {
  color: #000;
  margin: 3px 0px;
}

.preview-url {
  font-size: 1.4rem;
  color: #444;
}

.preview-description {
  font-size: 1.6rem;
  color: #444;
}

.youtube-embed-container {
  width: 100%;
  margin: 15px 0px;
}

.youtube-embed {
  width: 100%;
  height: 300px;
  border: none;
}

.tweet-tool-like {
  cursor: pointer;
}

.tweet-img {
  position: relative;
}

.tweet-img-expand-container {
  z-index: 20;
  color: white;
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  width: 1rem;
  font-size: 2.5rem;
  transition: .2s;
}

.tweet-img-expand-container:hover {
  transform: scale(1.2);
}

#redsquare-reply-tweet-overlay {
  background-color: #fff;
  width: 60vh;
}

#redsquare-reply-tweet-overlay .redsquare-item-contents {
  border-left: 1px solid #b1b0b0;
  margin: 30px 10px;
}

#redsquare-new-tweets-banner {
  display: none; 
  color: #fff;
  top: 5rem;
  left: 0;
  z-index: 2;
  cursor: pointer;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  width: 34%;
  background: #0009;
  border-radius: 0.5rem;
  margin: -3rem 50% 0;
  transform: translateX(-50%);
  position: sticky;
}

.redsquare-ellipsis::after {
  border-left: 5px dotted var(--saito-border);
  height: 200px;
  position: relative;
  top: -2rem;
  content: " ";
  margin-left: 2.5rem;
}

.redsquare-ellipsis {
  height: 0;
  margin-top: -1.75rem;
}

.before-ellipsis {
  border-bottom: none;
}

.after-ellipsis {
  border-top: none;
  padding-top: none;
}

.redsquare-image-container {
  margin-top: 2rem;
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-grow: revert;
  width: 100%;
}

.redsquare-image-container div {
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #d7d3d3;
  height: 40rem;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center;
}

.redsquare-image-container div.tweet-multiple-img {
  width: 48%;
  margin-right: 1.5%;
  height: 20rem;
  margin-bottom: 1rem;
}

.post-tweet-image-upload {
  border: 1px solid var(--saito-border);
  border-radius: 0.5rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}

.post-tweet-image-upload-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
}

.post-tweet-image-upload-content i {
  font-size: 3rem;
}

.post-tweet-image-upload #post-tweet-select-image {
  cursor: pointer;
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
}

.post-tweet-image-upload>#post-tweet-supports {
  font-size: 1rem !important;
  color: var(--saito-default-font-color);
}

.post-tweet-image-upload input {
  opacity: 1;
}

#redsquare-post-tweet-image-upload .my-form {
  opacity: 0;
  position: absolute;
  z-index: -999;
}

.post-tweet-img-preview {
  position: relative;
  margin-right: 2rem;
  display: block;
  height: auto;
  display: inline-block;
  float: left;
}

.post-tweet-img-preview i {
  position: absolute;
  z-index: 2;
  width: 0.5rem;
  height: 0.5rem;
  right: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
  top: 0.5rem;
  background: #fff;
}

.post-tweet-img-preview img {
  top: 0px;
  height: 5rem;
  width: 104%;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  margin-top: 1rem;
  margin-right: rem;
  box-shadow: 1px 1px 1px 2px #ccc;
  object-fit: contain;
}


.post-tweet-loader {
  width: 100%;
  line-height: 1.4;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0px;
  top: 0px;
  border-radius: 0.5rem;
  height: 100%;
  display: none;
}


.loading__anim {
  width: 5rem;
  height: 5rem;
  border: 6px solid #f71f3d;
  border-left-color: #f71f3d;
  border-top-color: #fff;
  border-radius: 50%;
  display: inline-block;
  animation: rotate 600ms infinite linear;
  position: absolute;
  top: 40%;
  left: 46%;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}


.tweet-overlay-img-cont img {
  min-width: 50vw;
  max-height: 90vh;
  max-width: 90vw;
}

.tweet-img-icon {
  font-size: 3rem;
  color: #fff;
  background: var(--saito-black-faded);
  padding: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.tweet-img-arrow-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.tweet-overlay-img-cont > img {
  transition: all 0.2s ease-in-out;
}

.tweet-img-arrow-box.left {
  left: -10rem;
}

.tweet-img-arrow-box.right {
  right: -10rem;
}

/* Hacks to stop old arcade and chat content from ruining display */

.chat-box,
.saito-arcade-invite {
  display: none;
}

.saito-arcade-invite-list .saito-arcade-invite {
  display: grid;
}

.saito-friendlist .saito-user {
  margin-bottom: 2rem;
}

.link-preview .redsquare-item-contents {
  display: block;
}

.saito-redsquare-actions-buttons {
  position: relative;
}

.saito-arcade-new-game {
  margin-bottom: 2rem;
}

.saito-game-content .saito-leaderboard {
  margin-top: 1rem;
}

.saito-game-content .saito-leaderboard .saito-table-row {
  grid-template-columns: 50% 50%;
  width: 100%;
  padding: 0.5rem 1rem;
}

.saito-game-content .saito-leaderboard .saito-table-row > div:nth-child(2) {
  text-align: right;
}

/*  Responsive */

@media only screen and (max-width: 535px) {

  /* should this go to general theme? */
  .saito-overlay-closebox {
    top: 5px !important;
    right: 5px !important;
  }

  .saito-main.appspace {
    min-width: 35rem;

  }

  .redsquare-tweet-overlay {
    width: 100vw;
    border-radius: 0;
  }

  .redsquare-tweet-tools {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    margin: 2rem 0 0rem 0;
  }

  .redsquare-tweet-tools>div {
    position: relative;
    margin: 0 0;
    min-width: 8%;
    margin-right: 10%;
  }

  #tweet-overlay-img-cont img {
    height: 70vh;
    width: 80vw;
    object-fit: contain;
  }

  .saito-page-header .saito-button-secondary {
    font-size: 1.8rem;
  }

  .post-tweet-button {
    width: 100%;
  }

  .tweet-overlay-img-cont img {
    max-width: 100vw;
  }

  .tweet-img-icon {
    font-size: 2rem;
  }

}


@media only screen and (max-width: 515px) {

  .saito-main.appspace {
    min-width: 35rem;
    width: 94vw;
  }

  .redsquare-tweet-tools>div {
    position: relative;
    margin: 0 0;
    min-width: 8%;
    margin-right: 8%;
  }

  .saito-container {
    padding: 0 1rem;
  }

}

.notification-item .tweet {
  max-height: 8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.7rem;
  line-height: 2rem;
  white-space: pre-wrap;
  color: #5a5858;
  transition: all 0.15s ease-in-out;
}

.notification-item:hover {
  background-color: #ededed;
}

.notification-item>.redsquare-item-contents {
  display: block;
}

.fa-notification {
  color: var(--saito-primary);
  margin-right: 0.7rem;
}

.notification-type {
  color: #111;
}


/*  stunx */
/*  video chat */

/* .stunx-chatbox {
  max-width: 60vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  background-color: #ffffff;
  position: fixed;
  z-index: 100000;
}


.stunx-chatbox .heading {
  padding: 1rem;
}


.stunx-chatbox .large-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(100px, 30vh);
  grid-gap: 1rem;
  padding: 1rem;
  background: var(--saito-skyline-grey);
}

.stunx-chatbox .video-box {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid var(--saito-black-faded);
}

#localStream {
  display: block;
}

.stunx-chatbox .b-btngrid {
  border: none;
  margin-left: 1rem;
  margin-top: 250px;
  width: 160px;
  height: 38px;
  border-radius: 0.5rem;
  left: 51px;
  cursor: pointer;
}

.stunx-chatbox .heading {
  background: linear-gradient(96.79deg, #f30c4f 0%, #f8c062 91.87%);
} */


/* video chat */

/*  video box */
/* .video-box-container {
  background-color: black;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: white;
}

.video-box-container>div {
  color: white;
  width: 50%;
  line-height: 1.5;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-box-container>div>p {
  color: white;
}

.lds-dual-ring {
  display: inline-block;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@keyframes glow {
  0% {
    transform: scale(.97);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(0.97);
  }

  100% {
    transform: scale(.97);
  }
} */



/* Appspace css */


.stunx-appspace-card h2 {
  margin-bottom: 1rem;
}

.stunx-appspace-card>p {
  margin-bottom: 1rem;
}

.stunx-appspace-actions {
  margin-bottom: 1rem;
  border-top: 1px solid #ddd;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.stunx-appspace-card .saito-badge {
  color: var(--saito-white);
  background: var(--saito-primary);
  width: 2rem;
  height: 2rem;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 1.75rem;
  vertical-align: super;
}

.stunx-appspace-card .saito-info-text {
  color: #666;
  line-height: 1.2rem;
}


.stunx-appspace-actions .saito-button-secondary {
  width: 18rem;
}


.stunx-appspace-join {
  display: flex;
}

.stunx-appspace-join input {
  margin-right: 1rem;
  padding-left: 1rem;
  height: 2rem;
  width: 18rem;
}

.stunx-appspace-join p {
  font-weight: bold;

}


.stunx-appspace-create {
  margin-bottom: 1rem;
}

.stunx-appspace-create p {
  font-weight: bold;
}

.stunx-appspace-actions>div {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 20rem 1fr;
}

.stunx-appspace-join input {
  margin-right: 1rem;
  padding-left: 1rem;
  height: 50.798px;

}

.stunx-appspace-join input:focus {
  outline: none;

}

.saito-redsquare-actions-buttons-icon i {
  display: none;
}


@media screen and (max-width: 503px) {
  #tweet-overlay-img-cont img {
    width: 90vw;
    height: 50vw;
  }

  .saito-sidebar-left {
    position: relative;
  }

  .saito-sidebar-right {
    position: relative;
  }
}

