
.redsquare-tweet-icon {
	display: none;
}

.redsquare-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.redsquare-menu .saito-button-primary{
	border: unset;
	box-shadow: var(--shadow-standard);
}

@media screen and (max-width: 1200px) {
	.saito-sidebar.left .saito-menu > ul {
		padding: 2.5px 0;
	}

	.saito-sidebar.left .saito-menu > ul > li{
		padding: unset;
		width: 5rem;
		height: 5rem;
		justify-content: center;
		margin: auto;
	}

	.saito-sidebar.left .saito-menu > ul > li > i {
		padding: unset;
		margin: unset;
		width: unset;
	}

	.saito-sidebar.left .saito-menu > ul > li > i + span {
		display: none;
	}

	.redsquare-tweet-icon {
		display: block;
		font-size: 2.6rem;
	}

	.redsquare-menu .saito-button-primary{
		min-width: unset;
		height: 5.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.redsquare-menu .saito-button-primary i::before{
		-webkit-text-stroke: var(--color-white) 2px;
	}

	.redsquare-menu .saito-button-primary span {
		display: none;
	}

	.saito-sidebar.left .chat-manager {
		display: none;
	}
}