html,
body {
	overscroll-behavior: none;
}

.saito-container, .saito-sidebar.left {
	max-height: 100vh;
	top: 0;
	height: 100%;
}
#saito-header, .saito-container {
	position: relative;
}

.tweet-text a {
	display: inline;
}

.tweet-overlay-content {
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}
.post-tweet-button {
	margin-right: 1.5rem;
}

.saito-new-tweets {
	margin: 0 12.5%;
	width: 75%;
	z-index: 5;
	min-height: 4rem;
}

.liked,
.replied,
.retweeted {
	color: var(--font-color-redsquare-interaction);
}

.debug_overlay {
	width: min(800px, 90vw);
	max-height: 100vh;
	overflow: scroll;
	padding: 2rem;
}

.redsquare-home {
	margin: -2.5rem 0 0 0;
}

.redsquare-appspace-profile-follow-btn {
	position: relative;
	float: right;
	margin-top: -0.75rem;
}

.redsquare-page-header-title {
	color: var(--saito-white); /* testing */
	font-size: 2.5rem;
	padding: 1px;
	text-transform: uppercase;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 1rem 0 0 0;
}

.redsquare-redsquare::before {
	-webkit-text-stroke: var(--saito-red) 1px; /* testing */
	color: transparent;
}

.redsquare-page-header-title i::before {
	-webkit-text-stroke: unset;
	color: var(--saito-white);/* testing */
	margin: 0 0 0 2rem;
}

.redsquare-profile {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.redsquare-appspace-profile {
	display: grid;
	grid-template-columns: max-content 1fr max-content;
	gap: 1rem;
	padding: 2rem;
}

.redsquare-appspace-profile > div {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.redsquare-appspace-profile-container {
	border: 1px solid var(--saito-border-color);
	border-radius: 0.5rem;
}

.redsquare-sidebar {
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
}

.redsquare-profile .redsquare-appspace-body {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.redsquare-intersection {
	opacity: 1;
	height: 1rem;
	position: relative;
}

.intersection-observer-trigger {
	position: absolute;
	height: 10px;
	width: 100%;
	top: -50vh;
	pointer-events: none;
}

.saito-main {
	transition: opacity 0.8s;
	margin-top: 0.5rem;
	border-left: 1px solid var(--saito-border-color);
	border-right: 1px solid var(--saito-border-color);
}


.saito-profile {
	margin: unset;
	margin-bottom: 0.5rem;
}

.saito-main > .saito-loader {
	margin-top: 15vh;
}

.post-tweet {
	display: none;
	min-width: 5rem;
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
	line-height: 5rem;
	padding: 0rem;
	font-size: 4rem;
	position: fixed;
	bottom: 1.5rem;
	right: 1.5rem;
	z-index: 3;
}

.redsquare-page-active {
	font-weight: bolder;
}

.saito-menu .redsquare-page-active i::before {
	-webkit-text-stroke: var(--font-color-icons-left-sidebar) var(--border-thickness-button-sidebar-icons-active);
}

.redsquare-menu-home .fa-house::before {
	transition: all 0.15s ease-in-out;
}

.redsquare-menu-home.redsquare-page-active:hover .fa-house::before {
	content: '\f021';
}

.saito-loader.temp {
	margin-top: 3rem;
}


/*.saito-main {
	border-left: var(--border-thickness-post-divider) solid var(--border-color-post-divider);
	border-right: var(--border-thickness-post-divider) solid var(--border-color-post-divider);
}*/

@media screen and (max-width: 1200px) {

	:root {
		--saito-width: 990px;
	}

	.saito-container { 
		grid-template-columns: minmax(7rem, auto) 58rem 33rem;
	 }

	 .saito-sidebar.left{
	 	display: flex;
	 	visibility: visible;
	 	width: 7rem;
	 	margin: 0 auto;
	 }

}

@media screen and (max-width: 990px) {

	:root {
		--saito-width: 660px;
	}

	.saito-container { 
		grid-template-columns: minmax(7rem, auto) 58rem;
		padding: 0 calc((100vw - var(--saito-width)) / 2);
		column-gap: 1rem;
	 }

	 .saito-sidebar.right {
	 	visibility: hidden;
	 	display: none;
	 }

	.redsquare-page-header-title {
		font-size: 2rem;
	}
	.redsquare-page-header-title i::before {
		margin: 0;
	}
	div#redsquare-tweet {
		content: '\002B';
		border-radius: 50%;
		width: 5rem;
		height: 5rem;
		background: var(--saito-primary);
		position: fixed;
		z-index: 1;
		bottom: 2rem;
		right: 2rem;
	}
	div#redsquare-tweet:hover {
		color: transparent;
	}
	div#redsquare-tweet::after {
		content: '\002B';
		position: absolute;
		color: var(--saito-white); /* testing */
		font-size: 5rem;
		text-align: center;
		top: 0;
		left: 0;
		line-height: 5rem;
		width: 5rem;
	}
	div#redsquare-profile {
		display: none;
	}
	.post-tweet {
		display: inline-block;
	}
}

.redsquare-home .saito-user > .saito-identicon-box {
	position: relative;
	z-index: 5;
}


@media screen and (max-width: 660px) {
	:root {
		--saito-width: 580px;
	}

	.saito-main {
        	padding: 0rem 1rem 1rem 1rem;
	}

	.saito-container {
		grid-template-columns: minmax(20rem, 1fr);
		justify-content: center;
	}

	.saito-sidebar.left {
		display: none;
		visibility: hidden;
	}

	.saito-main{
		padding: 2rem 1rem 1rem 1rem;
		max-width: 58rem;	
	}
    
    .saito-floating-plus-btn {
    	display: flex;
    }
}
