.saito-main {
	display: flex;
	flex-direction: column;
}

.saito-main .tweet-manager .tweet:nth-child(1) {
	padding-top: 0px;
}

.saito-main .saito-profile {
	order: -1;
}

.saito-end-of-redsquare {
	margin: 2rem;
	text-align: center;
	width: 100%;
	font-size: 16px;
	font-style: italic;
}

.tweet-thread-holder {
	display: none;
}

.saito-main-back {
	cursor: pointer;
}

.saito-main-back:hover i {
	margin-right: 0.5rem;
}

.saito-main-back i {
	font-size: 2.2rem;
	transition: all 0.1s ease-in-out;
}

.saito-main-back span {
	color: var(--saito-font-color);
	position: relative;
	display: inline-block;
	font-size: 2.2rem;
	line-height: 2.2rem;
	margin-left: 0.5rem;
}

.redsquare-progress-banner {
	height: 0;
	position: sticky;
	z-index: 55;
	top: 1.6rem;
}


.redsquare-feed-source {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.redsquare-feed-source.hidden {
	display: none;
}

.redsquare-feed-source .saito-button-tab{
	flex: 1;
	padding: 0.75rem;
	cursor: pointer;
	text-align: center;
	color: var(--saito-font-color-light);
}

.redsquare-feed-source .saito-button-tab.active{
	color: var(--saito-font-color-heavy);
	font-weight: bold;
}

.redsquare-feed-source .saito-button-tab.active span {
	border-bottom: 2px solid var(--saito-primary);
}

.redsquare-feed-source .saito-button-tab:hover{
	background: var(--background-color-gray-transparent);
}