.email-appspace-deposit-overlay {
    padding: 2rem;
    background-image: linear-gradient(to bottom right, #EA4843, #f78754);
    color: #fff;
    background-image: url(/saito/img/dreamscape.png);
    background-position: 0em;
    background-size: 120% 100%;
    color: white;
    border-radius: 1rem;
    width: 40vw;
  }

  .email-appspace-deposit-overlay p {
    font-size: 17px;
  }

  .input-cont {
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 10px;
  }

  .input-cont p {
    color: #fff;
  }

  .input-heading{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
  }

  .input-elem {
    width: 99%;
    height: 35px;
    padding: 7px 10px;
    position:relative;
  }

  #copy-deposit-add {
    position: absolute;
    top: 54%;
    right: 4%;
    color: #444;
    cursor: pointer;
  }

  .copy-check::before {
    content:  "\f00c";
  }

  .info-cont {
    display: flex;
    justify-content: space-between;
  }

  .info-item {
  }

  .info-item-title {
    font-size: 13px;
    font-weight: 700;
  }

  .info-item-detail {
    font-size: 12px;
  }

  .note {
    margin-top: 30px;
    font-size: 13px;
  }

  .add-cont {
    display: flex;
    justify-content: space-between;
  }

  .add-item-cont {
  }

  #qrcode img {
    height: 17vh;
  }

  .add-input-box {
    width: 70%;
  }

  .email-appspace-deposit-overlay {
    max-width: 80vw;
  }
  .deposit_title {
    font-size: 2em;
  }
  .deposit_desc {
    font-size: 1.2em;
    line-height: 1.6em;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .deposit_qrcode {
    clear:both;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .deposit_address {
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 0.05em;
  }





   #withdrawl-confirm-cont, #withdrawl-sent-cont {
    display: none;
  }

  .decision-cont a {
    color: #fff;
    transition: all 0.1s ease-in-out;
  }

  .decision-cont a:hover {
    color: #333;
  }

  .saito-withdraw-overlay {
    width: 38vw;
    padding: 2rem;
    background-image: linear-gradient(to bottom right, #EA4843, #f78754);
    color: #fff;
    background-image: url(/saito/img/dreamscape.png);
    background-position: 0em;
    background-size: 120% 100%;
    color: white;
    border-radius: 1rem;
  }

  .mixin-withdraw-token-wrapper {
    margin-bottom: 2rem;
  }

  .mixin-withdraw-token-wrapper p {
    color: #fff;
  }

  .mixin-withdraw-input {
    margin-bottom: 1rem;
    position: relative;
    padding-bottom: 20px;
  }

  .no-margin {
    margin: 0px;
  }

  .max-amount-error {
    display: none;
    color: #5d1919;
  }

  .input-heading{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
  }

  .input-elem {
    width: 100% !important;
    height: 45px;
    padding: 10px 10px !important;
    font-size: 16px !important;
  }

  .info-cont {
    display: flex;
    justify-content: space-between;
  }

  .info-item {
  }

  .info-item-title {
    font-size: 13px;
    font-weight: 700;
  }

  .info-item-detail {
    font-size: 12px;
  }

  .note {
    margin-top: 30px;
    font-size: 12px;
  }

  .note.withdrawl {
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 30px;
  }

  .add-cont {
    display: flex;
    justify-content: space-between;
  } 

  .add-input-box {
  }

  .withdraw-submit {
    cursor: pointer;
    background-color: #fff;
    color: var(--saito-primary);
    font-size: 1.5rem;
  }

  .amount-cont {
    display: flex;
    justify-content: space-between;
  }

  .max-amount-btn {
    display: inline-block;
    background-color: #fff;
    color: #222;
    position: absolute;
    right: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    top: 50%;
    transform: translateY(-10%);
  }


  .mixin-overlay-history {
    max-height: 80vh;
    overflow-y: scroll;
  }