
.email-list .saito-table-row {
    grid-template-columns: 3.5rem 15rem auto 4rem;
    width: 100%;
    display: grid;
    cursor: pointer;
}

.email-header {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr auto;
  padding-bottom:0.5rem;
  border-bottom: 1px solid #555d;
}
.email-boxname {
}
.email-icons {
}
.email-delete-icon {
}




.email-compose {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    font-size: rem;
}

.email-compose > input[type="text"] {
    width: 100%;
    padding: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 0rem;
    border-bottom: 0px;
}
.email-to-address input[type="text"] {
    border-radius: 0rem;
}
.email-subject input[type="text"] {
    border-radius: 0rem;
}
.email-compose-text {
    border-radius: 0rem;
    padding: 1rem 1.5rem;
    border-top: 1px solid var(--saito-border-color);
}


.email-from-address {
}
.email-to-address {
}
.email-compose-body {

}
.email-compose-title {
}
.email-compose-text {
}
.email-compose-submit {
    width: 20rem;
    float: right;
}

