body{
    height: 100vh;
}
.disburse-header{
    border-radius: 5px;
    padding: 1rem;
    height: 100px;
}

.disburse-main{
    padding: 1rem;
}

textarea{
    padding: 5px;
    width: 100%;
    height: 50vh;
    border-radius: 4px;
    outline: 2px solid grey;
    font-size: 16px;
    overflow-y: scroll;
}

.block-table{
    padding: 1rem;
    display: grid;
    grid-template-columns: 10rem 10rem;
}

button[disabled]{
    background-color: grey;
}