.appstore-appspace {
}
.appstore-publish {
  width: 400px;
  height: 240px;
  border-style: dashed;
  border-width: 2px;
  position: relative;
  border-radius: 15px;
  text-align: center;
  line-height: 220px;
  color: #414040;
  font-family: visuelt-medium;
  letter-spacing: 0.05em;
  font-size: 20px;
  border-color: #bbb;
  margin: 20px 0 20px 0;
  display: block;
}
.appstore-publish-inner {
  background-color: transparent;
  border-radius: 15px;
  width: 404px;
  height: 224px;
  position: absolute;
  top: -2px;
  left: -2px;
}
.appstore-overlay {
  display: grid;
  max-height: 80vh;
  height: min-content;
  width: 80vw;
  overflow-y: scroll;
  grid-template-rows: min-content auto;
  background-color: white;
  padding: 2rem;
}
.appstore-overlay-header {
  display: grid;
  grid-template-columns: 1fr min-content;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.appstore-overlay-header-title {
  padding-top: 0.8rem;
}
.appstore-overlay-searchbox {
  border: 1px solid #eee;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
} 
.appstore-overlay-searchbox-input {
  min-width: 25rem;
}
.appstore-overlay-apps {
  row-gap: 1rem;
  column-gap: 1rem;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
}
.appstore-app {
  width: 200px;
  padding: 2rem;
  content: "TEXT";
}
.appstore-appbox {
  min-height: 200px;
  min-width: 300px;
  display: grid;
  position: relative;
  border: 1px solid;
  border-top: none;
  margin-bottom: 2rem;
}
.appstore-appbox-details {
  margin-bottom: 1rem;
}
.appstore-appbox-details .saito-table .saito-table-row {
  display: grid;
  grid-template-columns: minmax(10rem, min-content) 1fr;
  column-gap: 10rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.appstore-install-confirm-button {
  margin-left: 0;
  margin-right: 0;
}
.appstore-appbox-details .saito-table .saito-table-row > div:nth-child(1) {
  width: min-content;
  white-space: nowrap;
}

.saito-button-secondary.small.saito-module-install-button {
  width: min-content;
  padding-left: 2rem;
  padding-right: 2rem;
  float: right;
  background-color: white;
  margin: 0px;
}
.saito-button-secondary.small.saito-module-install-button:hover {
  background-color: var(--saito-primary);
  color: white;
  border: 1px solid white;
  margin: 0px;
}
.appstore-bundler-install-notice {
  font-size: 1.2em;
  display: block;
  border: 1px solid var(--saito-red);
  background-color: var(--saito-cyber-black);
  color: #fff;
  font-family: "visuelt-light", "Microsoft Yahei", "Hiragino Sans GB";
  padding: 2rem;
  color: black;
}

