

:root{
  --p1-color: /*#e44;*/ #fb2215;
  --p2-color: /*#049;*/ #15eefb;
  --p3-color: /*#094;*/ #7bfb15;
  --p4-color: /*#D63;*/ #9515fb;
}


.tip{
  width: unset;
}

.tip .tiptext{
  min-width: 100px;
  width: fit-content;
  padding: 0.5em 1em;
  box-sizing: content-box;
  white-space: nowrap;
  pointer-events: none;
  z-index: 300;
}

.handy-help{
  margin: 0 auto;
  cursor: help;
}

/* Building costs as cardbox overlay */
.game-cardbox{
  display: none;
  width: fit-content;
  height: 460px;
  background-color: rgba(0,0,0,0.75);
  border: 5px solid black;
  border-radius: 10px;
  color: white;
  transform: unset;
  left: 10px;
  top: 60px;

}

.construction-costs{
  font-size: 24px;
}
.construction-costs h2{
  text-align: center;
}
.construction-costs .table{
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-gap: 1em;
  margin: 0.75em;
}

.construction-costs .table .cost{
  display: flex;
}
.construction-costs .icon, .construction-costs .token, .construction-costs img{
  width: 50px;
  margin: 2.5px;
}
.construction-costs .message{
  font-size: 0.8em;
  text-align: center;
}

.cardfan{
  top: 45vh;
  left: 5vw;
}

.hexIn{
  overflow: unset;
  padding-bottom: 113%;
}
.hexLink{
  overflow: unset;
  height: 105%;
}

.hex_bg{
  margin: unset;
   left: -12.5%;
  right: -12.5%;
}

.hex_bg img{
  left: -12.5%;
  right: -12.5%;
}

dt{
  margin-top: 0.8em;
  margin-bottom: 0.5em;
}


/*My Background*/
body {
  background-color: #369 !important;
  background: radial-gradient(circle farthest-corner at 50% 0%, #369 40%, lightseagreen 45%, #369 50%);
  background-size: 25px 25px;
  position: unset; /* fixed from game.css does weird stuff*/
  z-index: 0;
  font-size: 16px;
}

/*Richard background*/
body {
  background: linear-gradient(-75deg, #369, #58b, #58b, #369);
  background-size: 100% 100%;
  /*animation: gradient 20s ease infinite;*/
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#game-hexgrid{
  z-index: 2;
  width: 1000px;
  padding: 10% 5% 15%; /*Creates space for board overflow*/
  padding:  100px 35px 150px;
  box-sizing: content-box;
  border-radius: 400px;
  cursor: grab;
  background-color: rgba(200,200,240,0.1);
}

.player-box{
  background-color: #444D;
  z-index: 3;
  border: 1px solid;
  max-width: 25vw;
}



.player-info-name {
  font-weight: lighter;
}

.game_board_sizer{
  z-index: 1000;
}


.plog .status-text-menu ul, .plog .status-text-menu ul li{
  background-color: unset;
} 

.plog .status-header{
  background-color: unset;
  box-shadow: unset;
}



.status-message ul li:hover, .status ul li:hover, .cardselector:hover{
  color: black;
  background-color: #e7e7e7;
}

/*
  Shrink Development cards
*/
.devcards > .card{
  width: 10vh;
  position: absolute;
}

.card > img{
  width: 100%;
}

.card .icon{
  position: absolute;
  width: 15%;
  left: 7%;
  top: 5%;
  pointer-events: none; 
}


/* Make room to display two hands of cards*/
.devcards{
  top: -2vh;
  position: absolute;
}

.devcards+.rescards{
  top: 2vh;
  position: absolute;
}


.card .cardtitle{
  position: absolute;
  font-family: fantasy;
  font-size: 1.2em;
  top: 9.5%;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.card .cardrules{
  position: absolute;
  font-family: fantasy;
  top: 60%;
  height: 40%;
  width: 100%;
  padding: 5% 10%;
  pointer-events: none;
}

.startmove {
  cursor: pointer;
  display: inline-block;
  text-decoration: underline;
}


.hover{
  z-index: 1000;
}

.chover:hover, .producer.chover polygon:hover, .city.chover:hover {
  /*fill: whitesmoke;
  stroke: whitesmoke;*/
  background-color: whitesmoke;
  cursor: crosshair;
  border-color: whitesmoke;
}

.city.empty.rhover{
  background-color: rgba(255,255,128,0.95);
  border: 3px dotted purple;
}


.rhover:hover, .city.empty.rhover:hover {
  border: 1px solid white;
  background-color: whitesmoke;
  cursor: crosshair;
}

.ship{
  font-size: 2em;
  overflow-x: visible;
  white-space: nowrap;
}

.ship > .icon{
  position: relative;
  top: -20%;
  width: 85%;
}

.port{
  width: 100%;
  height: 60%;
}

.port1{
  top: -40%;
  left: 40%;
  transform: rotate(27.5deg);
}
.port2{
  top: 20%;
  left: 85%;
  transform: rotate(90deg);
}

.port3{
  top: 80%;
  left: 40%;
  transform: rotate(152.5deg);
}

.port4{
  top: 80%;
  right: 40%;
  transform: rotate(-152.5deg);
}
.port5{
  right: 85%;
  top: 20%;
  transform: rotate(-90deg);
}
.port6{
  top: -40%;
  right: 40%;
  transform: rotate(-28.5deg);
}
.harbor{
  position:  absolute;
  display: block;
  width: 45px;
  height: 12px;
  background-color: brown;
  background: linear-gradient(90deg, tan 0%, brown 50%, tan 100%);
  background-size: 6px 12px;
  bottom: 15%;

}

.rharbor{
  transform: rotate(55deg);
  right: 17%;
}

.lharbor{
  transform: rotate(-55deg);
  left: 17%;
}

.road {
  position: absolute;
  display: block;
  width: 65%;
  height: 10%;
  background-color: transparent;
  z-index: 10;
  border-radius: 10px;
}


.road5{
    transform: rotate(90deg);
    left: -35%;
    top: 45%;
}
.road6{
    transform: rotate(-30deg);
    top: 9%;
    left: -9%;
}

.road1{
  transform: rotate(30deg);
  right: -8%;
  top: 8%;
}

.road2{ /* Overlaps with Road5 */ 
    transform: rotate(90deg); 
    right: -35%;
    top: 45%;
}
.road3{ /* Overlaps with Road6 */
    transform: rotate(-30deg);
    bottom: 9%;
    right: -9%;
}
.road4{ /* Overlaps with Road1 */
    transform:  rotate(30deg);
    bottom: 9%;
    left: -9%;
}

.city {
  position: absolute;
  display: block;
  width: 30%;
  height: 25%;
  background-color: transparent;
  z-index: 12;
  font-size: 2em;
  text-align: center;
  border-radius: 10px;
}

.city > svg, .city > img{
  width: 100%;
  height: 100%;
  top:  0px;
  left: 0px;
  padding: 0px;
}

/* p1-4 is legacy code for ownership of cities/roads, not playerboxes  */
.p1 {
  background-color: var(--p1-color);
}
.p2 {
  background-color: var(--p2-color);
}
.p3 {
  background-color: var(--p3-color);
}
.p4 {
  background-color: var(--p4-color);
}

.player-box.me{
  border-top: 10px solid;
  border-right: 10px solid;
}
.player-box.notme{
  border-left: 10px solid;
}

.player-box.c1 {
  border-color: var(--p1-color);
}
.player-box.c2 {
  border-color: var(--p2-color);
}
.player-box.c3 {
  border-color: var(--p3-color);
}
.player-box.c4 {
  border-color: var(--p4-color);
}


/*.producer polygon{
  fill: white;
}

.producer line{
  stroke: white;
}*/
.producer{
  box-shadow: 0 0 10px 5px whitesmoke;
}


.city1{
  top: -10%;
  left: 50%;
  transform: translate(-50%);
}

.city2{
  top: 15%;
  right: -18%;
}
.city3{
  bottom: 15%;
  right: -18%;
}
.city4{
  bottom: -10%;
  left: 50%;
  transform: translate(-50%);
}
.city5{
  bottom:  15%;
  left: -18%;
}
.city6{
  top: 15%;
  left: -18%;
}

.sector_value {
  position: absolute;
  font-size: 2.5em;
  z-index: 15;
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  background: #6664;
  color: white;
}

.bandit{
  background-color: black;
  color: darkgray;
  border-color: black;
  box-shadow: 0 0 25px 45px rgba(0,0,0,0.75);
}

.city.p1 {
  border: 10px solid var(--p1-color);
  color: var(--p1-color);
}
.city.p2 {
  border: 10px solid var(--p2-color);
  color: var(--p2-color);
}
.city.p3 {
  border: 10px solid var(--p3-color);
  color: var(--p3-color);
 
}
.city.p4 {
  border: 10px solid var(--p4-color);
  color: var(--p4-color);
}

.trade_overlay {
  background-color: whitesmoke;
  padding: 25px;
  font-size: 1.25em;
  min-width: 50vw;
  /*width: 500px;*/
  max-width: 80vw;
  max-height: 70vh;
  /*overflow-y: scroll;*/
}

.rules-overlay{
  overflow-y: scroll;
}

.trade_overlay_title{
  width: 100%;
  text-align: center;
}

.trade_overlay_offers, .trade_overlay_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1em 0px;
}
.trade_overlay_buttons{
  align-items: center;
}

.trade_overlay_buttons .notice{
  font-style: italic;
}

.trade_overlay .icon{
  width: 2em;
}

/*.trade_overlay .select{
  padding: 0.5em;
  width: 120px;
}*/

.trade_overlay .selected{
  padding: 0em;
}

.trade_overlay .noselect{
  color: lightgrey;
  /*font-style: italic;*/
}

.trade_overlay .selected{
  /*border: 1px solid black;*/
  font-weight: bold;
}

.trade_overlay .selected .icon{
  width: 3em;
}

.noselect .icon{
  filter: grayscale(100%);
}

.button.noselect:hover{
  background: rgba(247,31,61,0.2); /* based on saito-red */
}

.option.noselect{
  font-style: italic;
  color: lightgrey;
}

.trade_button {
  width: 120px;
  padding: 0.5em;
  text-transform: uppercase;
  cursor: pointer;
}

.trade_button div{
  text-align: center;
}

.button{
  min-width: 90px;
  text-align: center;
}
.highlight{
  font-size: 1.1em;
  font-weight: bold;
}

/*.tbd .icon{
  height: 1.25em;
}*/

.wishlist .icon{
  display: inline-block;
}

.horizontal_list{
  display: flex;
  flex-wrap: wrap;
  border-top:  1px solid var(--saito-skyline-grey);
}

.horizontal_list .option .icon, .bank .option .icon{
  margin: 0 0.25em;
  width: 2em;
  vertical-align: middle;
}

ul.horizontal_list li.iconoption{
  margin: 0;
  width: 20%;
  height: 3em;
  border-top: unset;
}

.status .disabled:hover{
  color: inherit;
  background-color: inherit;
}
.disabled .icon, .player-box .icon{
  width: 1.5em;
  vertical-align: middle;
}

.status-message{
  width: unset;
  background-color: unset;
}

.hexTileCenter{
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}



/*Sit graphic on top of playerbox*/
.me > .player-box-graphic{
  position: absolute;
  /*left: calc(150px + 8vw);*/
  bottom: calc(100% + 12px);
  left: 50%;
  transform: translateX(-50%);
}

.notme > .player-box-graphic{
  position: absolute;
  top: 50%;
  right: calc(100% + 12px);
  transform: translateY(-50%);
  /*position: relative;
  z-index: -1;
  top: 5vh;
  left: 1vw;*/
}


/* Dice */
.diceroll{
  width: min(12vw,110px);
  margin: 0 auto;
  /*position: absolute;
  /*top: 0px;
  left: 50%;
  transform: translateX(-5vw);*/
  border: 2px solid black;
  border-radius: 5px;
  background-color: #222B;
  padding: min(0.5vw,5px) 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  z-index: 3;
}

.die{
  width: min(4vw,40px);
}

.notme .diceroll{
  width: 50px;
  height: min(12vw, 110px);
  padding: 0 min(0.5vw,5px);
  flex-direction: column;
}

.flexline{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 0.5em;
}

.flexline2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  /*margin-bottom: 0.5em;*/ 
}

.notme .flexline2{
 margin-bottom: 0.5em; 
}

.pbtrade ul li{
  width: 100%;
  line-height: 1.5em;
  cursor: pointer;
  list-style: none;
  border-top: 1px solid var(--saito-skyline-grey);
}
.pbtrade ul li:hover{
  color: black;
  background-color: #e7e7e7;
}

.player-box .trade:hover{
  color: black;
  background-color: #a7a7a7;
}
.trade{
  cursor: pointer;
}

.cardct{
  width: fit-content;
}
.cardselector{
  border: 1px solid whitesmoke;
  cursor: pointer;
  width: 45%;
  text-align: center;
  padding: 3px;
}

/*SVG token coloring*/
.token{
  margin: min(3px,1vh);
  width: 1.2em;
  background-color: unset;
}

.token polygon{
  fill: var(--saito-white);
}

.token.p1 polygon{
  fill: var(--p1-color);
}

.token.p2 polygon{
  fill: var(--p2-color);
}

.token.p3 polygon{
  fill: var(--p3-color);
}

.token.p4 polygon{
  fill: var(--p4-color);
}

.token.p1 line{
  stroke: var(--p1-color);
}

.token.p2 line{
  stroke: var(--p2-color);
}

.token.p3 line{
  stroke: var(--p3-color);
}

.token.p4 line{
  stroke: var(--p4-color);
}

/*.c1 i {
  color: rgb(255,100,100); 
}

.c2 i{
  color: rgb(100,100,255); 
}
.c3 i{
  color: rgb(0, 192, 0); 
}
.c4 i{
  color: var(--p4-color);
}*/

.player-notice{
  margin-bottom: 0.5em;
  line-height: 1.25em;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  /*justify-content: space-between;*/

}


.player-box .player-notice .icon{
  height: 25px;
  width: 25px;
  margin: 0 4px;
  border-radius: 5px;
}

.player-box.notme, .opponents{
  position: absolute;
  height: fit-content;
  top: 50px;
  right: 40px;
}


.opponents > .player-box{
  position: relative;
  right: unset;
  top: unset;
}

.player-box.me{
  max-height: unset;
  max-width: 300px;
  min-width: 250px;
  left: 10px;
  top: unset;
  bottom: 1px;
}

/*Stats overlay table*/
.rules-overlay{
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.rules-overlay h2{
  margin-top: 1em;
  clear: both;
}
.rules-overlay img{
  max-width: 100%;
  margin: 0 auto;
  border: 2px solid black;
}

.stats-table{
  font-size: 1.25em;
  width: 100%;
  text-align: center;
  margin: 1em 0;
}

.stats-table caption{
  font-size: 1.5em;
  font-weight: bold;
}

.stats-table td, .stats-table th{
  width: 2em;
}

.stats-table th:first-child{
  width: 3em;
  text-align: left;
}

.stats-table .icon, .stats-table .token{
  width: 50px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.flash {
  animation-name: flash;
  animation-duration: 1.3s;
  animation-iteration-count: 3;
  animation-fill-mode: backwards;
}

@keyframes flash {
  0% {
    opacity: .8;
    background-color: white;
    color: black !important;
  }
  100% {
    opacity: 1;
  }
}


.flash {
  animation-name: flash;
  animation-duration: .8s;
  animation-iteration-count: 3;
  animation-fill-mode: backwards;
}

@keyframes flash {
  0% {
    opacity: .8;
    background-color: white;
    color: black !important;
  }
  100% {
    opacity: 1;
  }
}


/*
    Intermediate (roughly square screen size, technically landscape, but keep portrait layout)
*/
@media (max-aspect-ratio:  8/7) {

  .opponents{
    width: 75vw;
    top: unset;
    right: 1rem;
    bottom: 1px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
 
  .notme > .player-box-graphic{
    right: unset;
    position: absolute;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
}   

  .notme .diceroll{
    width: min(12vw, 110px);
    height: 50px;
    padding: min(0.5vw,5px) 0 ;
    flex-direction: row;
}

}

/* reposition playerbox for me on large screens top-left */
@media screen and (orientation: landscape) and (min-width: 1000px) {
  .player-box.me{
    max-height: unset;
    max-width: 300px;
    min-width: 250px;
    left: 10px;
    top: 56px;
    bottom: unset;
  }
}




/*Still need better layout for small screens*/
