saitolitedocs

*~
.vscode
.vscode/*
.idea/
.vs/*

.compile.icloud
.gen-issuance.ts.icloud
.start.ts.icloud
.wh.ts.icloud

.env

cpu-profile.cpuprofile
heap-snapshot.heapsnapshot

options

logs
logs/*
config/modules*
config/options
config/options.*
config/modules.config.js
config/runtime.config.js
config/mixin-credentials.js
config/build.json

.gitignore
compile-e

.DS_Store
node_modules
node_modules/*
tests/config/env
test/



data/*.sq3
data/*/*.blk
data/backup/*
data/blocks/*.blk
data/blocks/*.sai
data/blocks/empty
data/shashmaps/*.smap
data/backup/*
data/backup
data/issuance/issuance
data/saito.stats
data/peer_state.txt

bundler
bundler/*
built
built/*

nettest/nodes
nettest/nodes/*
nettest/nodes/nettest.log

saito-issuance
saito-issuance/*

lib/saito/*.swp
lib/saito/web/browser.js
lib/saito/web/client.options
lib/saito/0.saito.js
lib/modules/mods/*

web/client.options
web/saito/*saito.js
web/saito/saito.js
web/saito/saito.js.map
web/saito/*.wasm
web/saito/saito.js.LICENSE.txt
mods/covid/bundler/
web/saito/game-full.css
web/saito/saito-full.css
web/saito/game.css
web/saito/saito.css

# ignore all style.css files as these are not compiled
style.css

mods/popup/src/*
mods/popup/src/sql/*
mods/devtools/mods/*
mods/devtools/bundler
mods/devtools/bundler/*
mods/devtools/modules
mods/devtools/modules/*
mods/stunx-staging
mods/stunx-staging/*
#mods/stunx
#mods/stunx/*

mods/forge
mods/forge/*
mods/citysim
mods/citysim/*
mods/mastersolitrio
mods/mastersolitrio/*
mods/devtools/mods/*.zip
mods/devtools/modules/
mods/devtools/bundler/dist
mods/devtools/saitolib
mods/devtools/saitolib/*
mods/devtools/saitolib/saito/web/client.options
mods/advert/web/cache/*.png
mods/devtools/web/cache/*
mods/explorer/web/index.html
mods/fcm-notification/*.json
mods/registry/web/addresses.txt
mods/reddit/web
mods/reddit/web/*
mods/redsquare/web/tweets.js
mods/mailrelay/lib/template-credentials.js
mods/tutorial4/web/txid
mods/redsquare/web/tweets.js
mods/redsquare/web/tweets*
mods/graffiti/web/img/snapshots/*

extras/shashmap/build

# Ignore vim files:
*~
*.swp
*.swo
