{
	"useTabs": true,
	"tabWidth": 4,
	"endOfLine": "lf",
	"semi": true,
	"singleQuote": true,
	"jsxSingleQuote": false,
	"quoteProps": "as-needed",
	"trailingComma": "none",
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"arrowParens": "always",
	"insertPragma": false,
	"requirePragma": false,
	"proseWrap": "preserve",
	"htmlWhitespaceSensitivity": "css",
	"vueIndentScriptAndStyle": false,
	"embeddedLanguageFormatting": "auto"
}
