.scheduler-overlay-container {
	background-color: #fff;
    width: 85vh;
    height: 50vh;
    padding: 20px;
}


.overlay-content-container {
	position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0px;

}

.overlay-content-item {
	padding: 15px;
}

.scheduled-timestamp {
	width: 30%;
	background-color: #f5f5f5;
}

.scheduled-item {
	width: 70%;
	max-height: 32vh;
    overflow-y: scroll;
}

.scheduler-overlay-step-btn {
	display: inline-block;
}

.hide {
	display: none;
}

.schedule-game-img {
	height: 4.7rem;
}

.scheduled-game-box-container{
	position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1.6rem;
}

.scheduled-game-box-item {
	margin-right: 1.3rem;
}

.scheduled-game-box-item. {
	width: 28rem; 
}