
.hud-body {
  height: auto;
  width: auto;
  background-color: rgba(211, 195, 141, 0.96);
  border: 5px solid #424143;
  background-color: /*#edddb8;*/ #d3c38df5;
  padding: 1rem;
  border-image: url(/settlers/img/border.png);
  border-image-slice: 51;
  border-image-width: 2.1rem;
  border-image-repeat: stretch;
  border-style: solid;
  border-image-outset: 10px;
}

.hud-header {
  background: #000;
  opacity: 0.1;
}

.hud-body .status {
  height: auto;
}


.hud-body .status .tbd ul li , .hud-body .status ul li {
  min-height: 4.4rem;
  font-size: 2.3rem;
  padding: 1rem;
}

.hud-body .status .tbd ul li:nth-child(1) , .hud-body .status ul li:nth-child(1) {
  border-top: 0px;
}

.hud-body .status .tbd , .hud-body .status .player-notice {
  min-width: 80%;
  font-size: 1.8rem;
  padding: 1rem;
  justify-content: center;
}

.player-notice .tip .icon {
  height: 4rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.hud-body .mobile {
  display: none;
}

.hud-body .mobile .score {
    position: absolute;
    top: 0rem;
    font-size: 1.7rem;
    right: 0rem;
    cursor: pointer;
    border-bottom: 1px dashed #0008;
}

.hud-body .mobile .trade {
position: absolute;
    top: 0rem;
    font-size: 1.7rem;
    left: 0rem;
    cursor: pointer;
    border-bottom: 1px dashed #0008;
}


@media only screen and (max-width: 700px) and (orientation: portrait) {

  .hud-body .mobile {
    display: inline-block;
    position: relative;
    width: 100%;
    top: -0.75rem;
  }
 
  .scoreboard {
    display: none;
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
    left: 0 !important;
    top: 0 !important;
    padding-top: 10vh !important;
    background-color: black !important;
    padding-left: 5vw !important;
    padding-right: 5vw !important;
    z-index: 5;
  }

  .mobile-trading-container {
    display: none;
    /* grid-template-areas: 'areaOne areaTwo'; // set in code */ 
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    padding-top: 6vh;
    /* ensures can scroll up if too big */
    overflow-y: scroll;
    max-height: 120vh;
    padding-bottom: 40vh;
  }

  body .player-box {
    height: auto !important;
    width: 100% !important;
    display: block !important;
    top: 0px !important;
    z-index: 200 !important;
    max-width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vw;
  }

  body .player-box.notme, .opponents , body .player-box.me {
    position: unset;
    top: unset;
    bottom: unset;
    right: unset;
    height: auto;
    max-height: unset;
  }

}




