.game-playerbox-manager {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	position: absolute;
	top: 6rem;
	right: 3rem;
	align-items: end;
}

.game-playerbox {
    z-index: 3;
    max-width: 50vw;
    width: 30rem;
    position: relative;
    border-width: 0.5rem;
	border-style: solid;
    border-color: #0000;
    background-color: #d3c38d;
	border-radius: 1rem;
    background: linear-gradient(#d3c38df5, #d3c38df5); 
    border-image: url(/settlers/img/border.png) !important; 
    border-image-slice: 55 !important; 
    border-image-width: 16px !important; 
    border-image-repeat: stretch !important; 
    border-style: solid !important; 
    border-image-outset: 5px !important; 
    color: var(--text-color);
	transition: width 500ms ease-in-out;
	transition: width 500ms ease-in-out;
    /*box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5), inset -5px -5px 10px rgba(255, 255, 255, 0.7);*/
}

.game-playerbox.active {
	border-width: 0.5rem;
	border-style: solid;
	/*box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), -5px -5px 10px rgba(255, 255, 255, 0.7);*/
}

/*
.game-playerbox>div {
	background-color: #d3c38d;
	margin: 0.5rem;
}
*/
.game-playerbox-graphics {
	display: flex;
	right: 105%;
	top: 50%;
	transform: translateY(-50%);
}

.game-playerbox-graphics .trade {
	position: relative;
	width: 5rem;
	font-size: 3.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.game-playerbox-graphics .trade img {
	position: absolute;
	width: 100%;
	z-index: -1;
}

.game-playerbox-graphics .trade i {
	text-shadow: 1px 1px 1px white;
}

.game-playerbox-icons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: 0.5rem;
	height: 100%;
}

.game-playerbox-body::after {
    content: '';
    position: absolute;
    width: calc(100% - 2rem);
    height: 2px;
    border: 3px solid;
    border-radius: 10px;
    bottom: 1rem;
}


.game-playerbox.p1-lite .game-playerbox-body::after {
	border-color: var(--p1-color-lite);
}

.game-playerbox.p2-lite .game-playerbox-body::after {
	border-color: var(--p2-color-lite);
}

.game-playerbox.p3-lite .game-playerbox-body::after {
	border-color: var(--p3-color-lite);
}

.game-playerbox.p4-lite .game-playerbox-body::after {
	border-color: var(--p4-color-lite);
}

.last-roll {
	width: 4rem;
}

.cardct {
	width: 3.5rem;
	position: relative;
}

.cardct img {
	width: 100%;
	border: 1px solid var(--saito-border-color);
}

.die svg rect {
	fill: #a0522d;
}

.cardct>div {
    position: absolute;
    color: #efefef;
    font-size: 2rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    border: 1px solid var(--text-color);
    height: 2.5rem;
    width: 2.5rem;
    background: #0005;
    text-align: center;
    line-height: 2.5rem;
}

.game-playerbox-body {
	display: flex;
	gap: 1rem;
	min-height: 1.5rem;
}

.game-playerbox .token>img {
	width: 4rem;
	position: relative;
	border-radius: 50%;
	border: 2px solid #fff8;
	background-color: #456;
}

.game-playerbox .victory_point_card img {
	position: relative;
	height: 3.5rem;
	left: 1rem;
	margin: 0;
	display: block;
	transform: rotate(-5deg);
	width: auto;
}

.game-playerbox .token {
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, 3rem);
	align-items: center;
	flex-grow: 1;
}

.game-playerbox .token img {
	margin-bottom: 0.5rem;
}

.game-playerbox .token.army {
	flex-grow: 2;
}

.game-playerbox .token img, .game-playerbox .token svg {
	transition: all ease-in-out 300ms;
	cursor: pointer;
}

.game-playerbox .token img:hover {
	transform: scale(1.3);
}

.vproundel {
	position: relative;
	width: 3rem;
	line-height: 3rem;
	font-size: 1.5rem;
	color: #fff;
	text-align: center;
	margin: 0.5rem;
	background-color: #ffa400cc;
	border-radius: 50%;
	font-weight: bold;
	right: 2rem;
	top: -1rem;
	height: 3rem;
	cursor: pointer;
}

.flexline img.icon {
	height: 3.5rem;
}

.flexline span {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;
	gap: 1rem;
}

#cleartrade {
	cursor: pointer;
	font-size: 24px;
	width: 35px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all ease-in-out 250ms;
}

#cleartrade:hover {
	transform: scale(1.3);
}

@media screen and (orientation: portrait) and (max-width: 600px) {
	.game-playerbox-manager {
		display: none;
		top: 0px;
		left: 0px;
		padding: 1rem;
		padding-top: 10rem;
		width: 100%;
		height: 100%;
		background-color: #000;
		z-index: 9;
		justify-content: flex-start;
	}
	.game-playerbox {
		width: 100%;
		max-width: calc(100% - 6rem);
		border-image-width: 12px;
		border-image-outset: 2px;
		border-width: 2px;
	}
}

@media screen and (orientation: landscape) and (max-height: 600px) {
	.game-playerbox {
		min-width: unset;
		padding: 0.6rem 1.2rem;
		border-image-width: 12px;
		border-image-outset: 2px;
		border-width: 2px;
	}
	.game-playerbox-manager {
		top: 1rem;
		gap: 1rem;
		right: 2rem;
	}
}

.game-playerbox .saito-user {
	min-height: 4.5rem;
	align-items: center;
	grid-template-rows: repeat(2, 2.25rem);
	padding-left: 0.25rem;
}

.game-playerbox .saito-user>.saito-address {
	font-weight: bold;
	color: #222;
	/*
    color: white;
    text-shadow: 1px 1px 2px black, 1px 0px 2px black, 0px 1px 2px black, 0px 0px 2px black;
  */
}

/*.game-playerbox .saito-user .saito-identicon-box{
  width: 4rem;
  height: 4rem;
  
}*/

.game-playerbox .saito-user .saito-identicon-box img {
	transition: all ease-in-out 300ms;
}

.game-playerbox .saito-user .saito-identicon-box img:hover {
	transform: scale(1.2);
}