.hud, .hud-long {
	width: 55rem;
	max-width: 100vw;
	z-index: 50 !important;
	padding: 3px 0 0 0;
	height: auto;
}

/* Wrapper for settlers status messages? */

.hud-header {
	display: none;
}

.hud-body {
	min-height: 12rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 0 0 1rem;
}



/* override default #efefef background */

.hud-body .status {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    width: 100%;
    min-height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem 0.4rem 0.5rem 1.6rem;
    gap: 0.75rem;
}

.hud-status-card-list{
	display: flex;
}


/* hide scrollbars */

.hud .controls {
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow-y: auto;
	overflow-x: auto;
	/*min-height: 4.5rem;*/
	margin: 0.5rem;
}

.hud .controls ul {
	min-height: 7.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 1rem;
	width: 100%;
	align-items: center;
}


.hud .controls ul li {
	background-color: lightgray;
	padding: 0.5rem;
	border: 3px solid #424143;
	border-radius: 1.5rem;
	list-style: none;
	height: 7rem;
	width: 7rem;
	font-size: 3rem;
	color: darkgray;
	cursor: default;
}

.hud .controls ul li#rolldice {
	margin-left: 2rem;
	width: 9rem;
	overflow: hidden;
}


.hud .controls ul li i {
	z-index: 2;
}

.animated-mask {
	z-index: 1;
	background-color: chocolate;
}

.hud .controls ul > div {
	width: 7rem;
}

.hud .controls ul li.enabled {
	background-color: #b79e76;
	color: var(--text-color);
	cursor: pointer;
}

.hud .controls ul li.enabled:hover {
	background-color: #e2d26c;
	filter: drop-shadow(2px 2px 2px var(--text-color));
	transform: translate(-1px, -1px);
	/*Trying a darker shade #cbaf83*/
}

/* rp updates */

.hud {
	overflow: visible;
}

.player-notice img {
	max-width: 45px;
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
	.saitoa {
		padding: 0.5rem;
	}

	.hud{
		margin-bottom: 0;
	}

	.hud-body {
		width: calc(100% - 2rem);
	}

	body .player-box {
		height: auto !important;
		width: 100% !important;
		display: block !important;
		top: 0px !important;
		z-index: 200 !important;
		max-width: 90vw;
		margin-left: 5vw;
		margin-right: 5vw;
		margin-top: 5vw;
	}

	.hud-body .controls ul {
		gap: 0.5rem;
	}

	.hud-body .controls ul li {
		min-width: 10rem;
		border-width: 2px;
		padding: 0.25rem 0.5rem;
	}

	.controls {
		margin-top: unset;
	}

	.hud .controls ul {
		gap: 0.5rem;
	}

	.hud .controls ul li#rolldice {
		margin-left: 0.5rem;
	}

}


@media only screen and (max-height: 600px) and (orientation: landscape) {
	.hud {
		max-width: 50vw;
		max-height: 50vh;
		margin-bottom: 1rem;
	}

	.hud.hud-long {
		left: unset;
		transform: unset;
		right: 2rem;
	}
}
