.status-header, .status-message {
  box-shadow: none;
  background-color: transparent;
}

.hud-long {
  max-height: unset;
  bottom: 10px;
  z-index: 9 !important;
}

.hud-body {
  height: 12rem;
  width: auto;
  background-color: #d3c38df5;
  padding: 0.5rem 1rem;
}

.hud-header {
  background: #000;
  opacity: 0.1;
}

.hud-body .status {
  height: auto;
}

.status ul {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
}

.status ul::-webkit-scrollbar {
  display: none;
}

.hud-body .status .tbd ul li, .hud-body .status ul li {
  font-size: 1.8rem;
}

/*
.hud-body .status .tbd ul li:nth-child(1) , .hud-body .status ul li:nth-child(1) {
  border-top: 0px;
}
*/

.hud-body .status .tbd, .hud-body .status .player-notice {
  min-width: 80%;
  font-size: 1.8rem;
  padding: 0 1rem 1rem;
  justify-content: center;
}

.status-text-menu ul li, .status ul li {
  border-color: var(--text-color);
  border: 3px solid;
  min-width: 12rem;
  padding: 0;
  border-radius: 10px;
  background-color: #ab815f73;
}

.status-text-menu ul li.resolve, .status ul li.resolve {
  width: max-content;
  border: none;
  background: none; 
}

.status-text-menu ul li.steal-player-choice {
  width: max-content;
  padding: 0.2rem 0.7rem;
}


.status-text-menu ul li.disabled, .status ul li.disabled {
  cursor: not-allowed;
  background: #64625af5;
}

.status-message ul li:hover, .status ul li:hover {
  background-color: #ab815faa;
}

.iconoption {
  border: unset;
  margin: 2px;
}

.discard-select ul li {
  display: inline;
  border: 0px;
}

.discard-select ul li .icon, .player-notice .tip .icon , .permanent .tip .icon {
  height: 4rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.player-notice .tip .icon {
  height: 4rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.hud-body .mobile {
  display: none;
}

.hud-body .mobile .score {
  position: absolute;
  top: 0rem;
  font-size: 1.7rem;
  right: 0rem;
  cursor: pointer;
  border-bottom: 1px dashed #0008;
}

.hud-body .mobile .trade {
  position: absolute;
  top: 0rem;
  font-size: 1.7rem;
  left: 0rem;
  cursor: pointer;
  border-bottom: 1px dashed #0008;
}

.mobile-trading-container {
  z-index: 0;
}

.hud-body .mobile {
  display: inline-block;
  position: relative;
  width: 100%;
  top: -0.75rem;
}


.status-header > #status-content, .status-message > #status-content, .status {
  font-size: 2rem;
}

@media only screen and (max-width: 700px) and (orientation: portrait) {
  body .player-box {
    height: auto !important;
    width: 100% !important;
    display: block !important;
    top: 0px !important;
    z-index: 200 !important;
    max-width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vw;
  }
  body .player-box.notme, .opponents, body .player-box.me {
    position: unset;
    top: unset;
    bottom: unset;
    right: unset;
    height: auto;
    max-height: unset;
  }
  .scoreboard {
    display: none;
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
    left: 0 !important;
    top: 0 !important;
    padding-top: 10vh !important;
    background-color: black !important;
    padding-left: 5vw !important;
    padding-right: 5vw !important;
    z-index: 5;
  }
  .mobile-trading-container {
    display: none;
    /* grid-template-areas: 'areaOne areaTwo'; // set in code */
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    padding-top: 6vh;
    /* ensures can scroll up if too big */
    overflow-y: scroll;
    max-height: 120vh;
    padding-bottom: 40vh;
  }
}
