
.settlers-stats-overlay, .trade-overlay, .rules-overlay, .settlers-info-overlay, .build-overlay {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: min(600px, 90vw);
  max-height: 90vh;

  overflow-x: hidden;
  overflow-y: auto;
  padding: min(4rem, 3vw, 5vh);
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


.mobile-trading-container .player-box {
  max-width: 80vw;
}



.brick {
  background-image: url(/settlers/img/cards/brick.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.wool {
  background-image: url(/settlers/img/cards/wool.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.wheat {
  background-image: url(/settlers/img/cards/wheat.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.ore {
  background-image: url(/settlers/img/cards/ore.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.wood {
  background-image: url(/settlers/img/cards/wood.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/*
stats overlay
*/


.settlers-dice-histogram {
  border-bottom: 1px solid var(--saito-black);
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
  flex-wrap: wrap-reverse;
}

.settlers-dice-bar {
  border: 1px solid #000;
  width: calc(100%/14);
  height: 10rem;
  background: #ab815f73;
  border-bottom: none;
  position: relative;
}

.settlers-dice-count {
  text-align: center;
  font-size: 1.8rem;
  position: absolute;
  top: -2.3rem;
  left: 50%;
  transform: translateX(-50%);
}

.settlers-dice-number {
  width: calc(100%/14);
  text-align: center;
  font-weight: bold;
}

.settlers-dice-numbers {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}


.settlers-achievements-container {
  width: fit-content;
  margin: auto;
  flex-direction: column;
  gap: 2rem;
  display: flex;
  width: 100%;
}

.settlers-achievements-row {
  display: flex;
  gap: 5rem;
  justify-content: space-between;
}


.settlers-achievements-row  .achievements .army,
.settlers-achievements-row  .achievements .victory_point_cards {
  padding: 0 0 0 1rem;
  margin:0 -1rem 0 0;
}

.settlers-achievements-row  .achievements .victory_point_cards {
  /*min-width: 8rem;*/
}

.settlers-stats-total {
  position: relative;
  width: 4rem;
  line-height: 4rem;
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
  margin: 0.5rem;
  background-color: #ffa400cc;
  border-radius: 50%;
  font-weight: bold;
  height: 4rem;
}

.settlers-stats-resource-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.settlers-stats-card {
  position: relative;
  filter: grayscale(0.1); /* Make a little less bright */
}

.settlers-stats-card img {
  /*width: 5.3rem;*/
  width: auto;
  height: min(6.5rem, 13vw);
}

.settlers-stats-resource-count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--saito-white);
  text-shadow: 1px 1px 3px var(--saito-black);
  background: rgba(0,0,0,0.4);

  font-size: 3rem;
  width: 75%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settlers-stats-caption {
  text-align: left;
  font-size: 3rem;
}

.settlers-state-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.settlers-stats-player {
  font-size: 1.9rem;
  line-height: 3rem;
  color: whitesmoke;
  text-shadow: 1px 1px 1px black;
  padding-left: 0.5rem;
  opacity: 0.85;
}

.no-vp {
  filter: brightness(65%) grayscale(50%);
}

.settlers-achievements-row .victory_point_cards img {
  height: 6.5rem;  
  width: auto !important;
}





/*********
 * 
 * Trading overlays
 * 
 * ********/

.trade-overlay {
  width: min(1000px, 90vw);
}

.trade_overlay_title {
  text-align: center;
}

.trade_overlay_offers {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin: auto;
}

.trade_overlay_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 1em 0px;
  font-size: 18px;
}


.trade_area {
    position: relative;
    height: min(22vh, 20vw);
    width: calc(min(22vh, 20vw) * 0.72);
    color: white;
    font-size: bold;
    font-size: 9rem;
    -webkit-text-stroke: 2px black;

}



.trade_count_number {
  position: absolute;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in-out;
  z-index: 2;
}

.trade_count_arrow {
  content: "";
  width: 100%;
  height: min(5rem,50%);
  position: absolute;
  left: 0px;
  z-index: 3;
  background: #331800;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  
}

.trade_area:hover .trade_count_arrow.can_select {
  opacity: 0.7;
  pointer-events: unset;
}


.trade_count_up {
  top: 0px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.trade_count_up::before  {
  content: "⌃";
  font-size: 5rem;
  color: #fff !important;
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  z-index: 3;
  -webkit-text-stroke: #fff;
}

.trade_count_down::after {
  content: "⌄";
  font-size: 5rem;
  color: #fff !important;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  z-index: 3;
  -webkit-text-stroke: #fff;
}

.trade_count_down {
  bottom: 0;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/* Disable trade submit button in overlays */
.trade_overlay_button.noselect {
  opacity: 50%;
  pointer-events: none;
}

.trade_overlay_button {
  padding: 0.5rem 1rem;
  line-height: 4rem;
  border: 4px solid #424143;
  border-radius: 1.5rem;
  min-width: 16rem;
  max-width: 250px;
  text-align: center;
}

.trade_overlay_button.valid_trade:hover {
  background-color: #b79e76; 
  font-size: 18px;
  cursor: pointer;
}






.rules-overlay {
  width: min(800px, 95vw);
}

/* Hide scrollbar for IE, Edge and Firefox */
/* Hide scrollbar for Chrome, Safari and Opera */
.rules-overlay::-webkit-scrollbar {
  display: none;
}



.rules-overlay h2 {
  margin-top: 1em;
  clear: both;
}

.rules-overlay img {
  margin: 0 auto;
}

.vp-table img {
  max-height: 4rem;
}

.welcome_overlay {
  padding: 0 !important;
}

.stats-table {
  font-size: 1.25em;
  width: 100%;
  text-align: center;
  margin: 1em 0;
}

.stats-table caption {
  font-size: 1.5em;
}

.stats-table td, .stats-table th {
  width: 2em;
  padding: 3px;
}

.stats-table th:first-child {
  width: 3em;
  text-align: left;
}

.stats-table .icon, .stats-table .token {
  width: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.settlers-state-container .settlers-achievements-row .achievements  {  
  margin: 0rem;
  padding: 0rem;
  gap: 0rem;
}

.settlers-state-container > * ,
.settlers-achievements-row > *,
.settlers-achievements-row .achievements > * {
 
}

.settlers-state-container .settlers-achievements-row .achievements .army, 
.settlers-state-container .settlers-achievements-row .achievements .victory_point_cards,
.settlers-state-container .settlers-achievements-row  .army, 
.settlers-state-container .settlers-achievements-row .victory_point_cards {  margin: 0rem;
  padding: 0rem;
}

.settlers-state-container .achievements .army {
  padding: 0rem;
  margin-right: -4rem;
}

.settlers-state-container .achievements .army img {
  margin: 0rem;
  min-width: 6.5rem;
}

.settlers-state-container .achievements .army img:not(:last-child) {
  margin-right: -3rem;
}

.settlers-state-container .achievements .token.army.largest {
  margin-right:  3rem; 
}

.settlers-state-container .achievements .longest-road img {
  min-width: 6.5rem;
}


.settlers-state-container .vproundel {
  position: absolute;
  width: 3rem;
  line-height: 3rem;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  margin: 0.5rem;
  background-color: #ffa400cc;
  border-radius: 50%;
  font-weight: bold;
  right: -2rem;
  top: -1rem;
  height: 3rem;
}

.settlers-stats-vp-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.settlers-stats-vp-row img {
  height: min(6.5rem, 13vw);
  width: auto;
}

.settlers-stats-vp {
  position: relative;
}


.settlers-stats-vp-count {
  position: absolute;
  top: 0rem;
  right: -1rem;
  background: #72634bed;
  color: var(--saito-profile-background);
  width: 2.7rem;
  height: 2.7rem;
  text-align: center;
  border-radius: 50%;
  line-height: 2.7rem;
  text-shadow: 1px 1px 1px var(--saito-font-color-heavy);
  font-size: 2.4rem;
}

.settlers-stats-multiplier {
  position: absolute;
  bottom: 0.25rem;
  left: 50%;
  transform: translateX(-50%);
  color: var(--saito-profile-background);
  width: 2.7rem;
  height: 2.7rem;
  text-align: center;
  text-shadow: 1px 1px 1px var(--saito-font-color-heavy), -1px -1px 1px var(--saito-font-color-heavy), -1px 1px 1px var(--saito-font-color-heavy), 1px -1px 1px var(--saito-font-color-heavy);
  font-size: 2.8rem;
}

.settlers-stats-largest-road .settlers-stats-vp-count,
.settlers-stats-largest-army .settlers-stats-vp-count {
  right: -0.5rem;
}


.settlers-state-container.combined-player-stats {
  flex-direction: row;
  gap: 6rem;
}

.settlers-state-container.vp-3p {
  gap: 2.2rem;
}

.settlers-stats-vp-row.vp-3p {
    gap: 3rem;
}

.settlers-stats-resource-container.vp-3p {
  gap: 2rem;
}

.settlers-stats-resource-container.vp-3p .settlers-stats-card img {
  width: 6.5rem;
}

.settlers-stats-resource-container.vp-3p .settlers-stats-card .settlers-stats-resource-count {
  font-size: 3rem;
  width: 82%;
  height: 58%;
  line-height: 5.3rem;
}

@media screen and (orientation: landscape) and (max-height: 600px) {
  .settlers-stats-overlay, .trade-overlay, .rules-overlay, .settlers-info-overlay, .build-overlay {
    max-height: 98vh;
  }
}