

.cardnotice-wrapper {
    background-size: 111%;
    background-position: center;
	padding: 1rem;
	background-color: #0002;
	background-blend-mode: darken;
	height: 100%;
	display: flex;
	align-items: center;
}

.cardnotice-card {
	position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: rotate(5deg) scale(0.2) translateY(-50%);
    transform-origin: top right;
}

.cardnotice div {
    width: fit-content;
    margin: 0.7rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #b79e76cc;
}

.cardnotice-title {
    font-size: 2.2rem;
}

.cardnotice-text {
    font-size: 1.8rem;
}

.cardnotice-card .settlers-dev-card-title {
	font-size: 45px;
	bottom: 11.5%;
}
