.card, .cardfan .card {
	width: min(15vh, 15vw);
	height: auto;
}

.card.tiny {
	height: calc(4rem * 1.4);
	width: 4rem;
}


.player-notice .card.tiny {
	width: 3rem;
	height: calc(3rem * 1.4);
	margin-left: 1rem;
	transform: rotate(5deg) translateX(-0.5rem);
}

.player-notice .hud-status-card-list .card.tiny {
	margin: unset;
	position: absolute;
    top: -4px;
}

.log .card.tiny {
	width: 2.5rem;
	height: calc(2.5rem * 1.4);
	margin: 0 0.2rem;
	transform: rotate(5deg);
	text-indent: 0;
	padding-left: unset;
}

/*
  unsure if still used
*/

.devcards > .card {
	width: 10vh;
	position: absolute;
}

.card > img {
	width: 100%;
	position: relative;
	pointer-events: none;
	width: inherit;
	height: inherit;
}

.card .icon {
	position: absolute;
	width: 15%;
	left: 7%;
	top: 5%;
	pointer-events: none;
}

.card_holder img {
	width: 100%;
}
