.game-playerbox-manager {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	position: absolute;
	top: 6rem;
	right: 3rem;
}

.game-playerbox {
	z-index: 3;
	max-width: 50vw;
	width: 30rem;
	position: relative;
	/* Manually add saito properties */
	border: 3px solid #424143;
	background-color: #d3c38d;
	/*background: linear-gradient(#d3c38df5, #d3c38df5);*/
	border-image: url(/settlers/img/border.png);
	border-image-slice: 55;
	border-image-width: 16px;
	border-image-repeat: stretch;
	border-style: solid;
	border-image-outset: 5px;
	color: var(--text-color);
	padding: 0.5rem;
}

.game-playerbox>div {
	/*background-color: #d3c38d;*/
	margin: 0.5rem;
}

.game-playerbox-graphics {
	display: flex;
	right: 105%;
	top: 50%;
	transform: translateY(-50%);
}

.game-playerbox-graphics .trade {
	position: relative;
	width: 5rem;
	font-size: 3.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.game-playerbox-graphics .trade img {
	position: absolute;
	width: 100%;
	z-index: -1;
}

.game-playerbox-graphics .trade i {
	text-shadow: 1px 1px 1px white;
}

.game-playerbox-icons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: 0.5rem;
	height: 100%;
}

.cardct {
	width: 3rem;
	position: relative;
}

.cardct img {
	width: 100%;
	border: 1px solid var(--saito-border-color);
	border-radius: 0.5rem;
}

.cardct>div {
	position: absolute;
	color: whitesmoke;
	font-size: 3rem;
	text-shadow: 1px 1px 1px black;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.game-playerbox-body {
	display: flex;
	gap: 1rem;
}

.game-playerbox .token>img {
	width: 4rem;
	position: relative;
	border-radius: 50%;
	border: 2px solid #fff8;
	background-color: #456;
}

.game-playerbox .victory_point_card img {
	position: relative;
	height: 3.5rem;
	left: 1rem;
	margin: 0;
	display: block;
	transform: rotate(-5deg);
	width: auto;
}

.game-playerbox .token {
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, 3rem);
	align-items: center;
	margin-top: 1rem;
	flex-grow: 1;
}

.game-playerbox .token.army {
	flex-grow: 2;
}

.game-playerbox .token img, .game-playerbox .token svg {
	transition: all ease-in-out 300ms;
	cursor: pointer;
}

.game-playerbox .token img:hover {
	transform: scale(1.3);
}

.vproundel {
	position: relative;
	width: 3rem;
	line-height: 3rem;
	font-size: 1.5rem;
	color: #fff;
	text-align: center;
	margin: 0.5rem;
	background-color: #ffa400cc;
	border-radius: 50%;
	font-weight: bold;
	right: 2rem;
	top: -1rem;
	height: 3rem;
	cursor: pointer;
}

.flexline img.icon {
	height: 3.5rem;
}

.flexline span {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;
	gap: 1rem;
}

#cleartrade {
	cursor: pointer;
	font-size: 24px;
	width: 35px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all ease-in-out 250ms;
}

#cleartrade:hover {
	transform: scale(1.3);
}

/******************************/

/*** Poker / Cardgame Boxes ***/

/******************************/

.game-playerbox-seat-8 {
	bottom: 1vh;
	left: 1em;
}

.game-playerbox-seat-7 {
	bottom: 1vh;
	right: 1em;
}

.game-playerbox-seat-6 {
	left: 1em;
	top: 45vh;
	transform: translateY(-50%);
}

.game-playerbox-seat-5 {
	left: 1em;
	top: 20vh;
	transform: translateY(-50%);
}

.game-playerbox-seat-4 {
	left: 50vw;
	top: 30px;
	transform: translateX(-50%);
}

.game-playerbox-seat-3 {
	right: 1em;
	top: 20vh;
	transform: translateY(-50%);
}

.game-playerbox-seat-2 {
	right: 1em;
	top: 45vh;
	transform: translateY(-50%);
}

/*** special rules for P1 ***/

.game-playerbox-seat-1 {
	min-width: 30vh;
	max-height: 32vh;
	bottom: 1vh;
	left: 50vw;
	transform: translateX(-50%);
	width: 16vw;
}

@media screen and (orientation: portrait) and (max-width: 600px) {
	.game-playerbox-manager {
		display: none;
		top: 0px;
		left: 0px;
		padding: 2rem;
		padding-top: 10rem;
		width: 100%;
		height: 100%;
		background-color: #000;
		z-index: 9;
		justify-content: flex-start;
	}
	.game-playerbox {
		width: 100%;
		max-width: 100%;
		border-image-width: 12px;
		border-image-outset: 2px;
		border-width: 2px;
	}
}

@media screen and (orientation: landscape) and (max-height: 600px) {
	.game-playerbox {
		min-width: unset;
		padding: 0.6rem 1.2rem;
		border-image-width: 12px;
		border-image-outset: 2px;
		border-width: 2px;
	}
	.game-playerbox-manager {
		top: 1rem;
		gap: 1rem;
		right: 2rem;
	}
}

.game-playerbox .saito-user {
	min-height: 4.5rem;
	align-items: center;
	grid-template-rows: repeat(2, 2.25rem);
	padding-left: 0.25rem;
	column-gap: 0.5rem;
}

.game-playerbox .saito-user, .game-playerbox .saito-user>.saito-address {
	/*
    color: white;
    text-shadow: 1px 1px 2px black, 1px 0px 2px black, 0px 1px 2px black, 0px 0px 2px black;
  */
}

/*.game-playerbox .saito-user .saito-identicon-box{
  width: 4rem;
  height: 4rem;
  
}*/

.game-playerbox .saito-user .saito-identicon-box img {
	transition: all ease-in-out 300ms;
}

.game-playerbox .saito-user .saito-identicon-box img:hover {
	transform: scale(1.2);
}