
.mobile-trading-container .player-box {
  max-width: 80vw;
}

.trade_area {
    position: relative;
    height: 22vh;
    width: calc(22vh * 0.72);
    padding-left: 3vh;
    padding-top: 1vh;
    color: white;
    font-size: bold;
    font-size: 17vh;
    -webkit-text-stroke: 2px black;
    margin-left: 1rem;
    margin-right: 1rem;
}

.brick {
  background-image: url(/settlers/img/cards/brick.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.wool {
  background-image: url(/settlers/img/cards/wool.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.wheat {
  background-image: url(/settlers/img/cards/wheat.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.ore {
  background-image: url(/settlers/img/cards/ore.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.wood {
  background-image: url(/settlers/img/cards/wood.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/*
stats overlay
*/


.settlers-dice-histogram {
  border-bottom: 1px solid var(--saito-black);
  display: flex;
  gap: 1rem;
  align-content: flex-end;
  flex-wrap: wrap-reverse;
  border-left: 1px solid var(--saito-black);
}

.settlers-dice-bar {
  border: 1px solid #000;
  width: calc(100%/14);
  height: 10rem;
  background: #ab815f73;
  border-bottom: none;
  position: relative;
}

.settlers-dice-count {
  text-align: center;
  font-size: 1.5rem;
  position: absolute;
  top: -2rem;
  left: 1.25rem;
}

.settlers-dice-number {
  position: absolute;
  bottom: -1rem;
  left: 0rem;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.settlers-dice-numbers {
  display: flex;
  gap: 1rem; 
  margin-top: -1rem;
}

.settlers-dice-number {
  width: calc(100%/14);
  position: relative;
}

.settlers-achievements-container {
  width: fit-content;
  margin: auto;
  flex-direction: column;
  gap: 2rem;
  display: flex;
  width: 100%;
}

.settlers-achievements-row {
  display: flex;
  gap: 5rem;
}

.settlers-stats-player {
  font-weight: bold;
  line-height: 3rem;
}

.settlers-achievements-row  .achievements .army,
.settlers-achievements-row  .achievements .victory_point_cards {
  padding: 0 0 0 1rem;
  margin:0 -1rem 0 0;
}

.settlers-achievements-row  .achievements .victory_point_cards {
  /*min-width: 8rem;*/
}

.settlers-stats-total {
  position: relative;
  width: 4rem;
  line-height: 4rem;
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
  margin: 0.5rem;
  background-color: #ffa400cc;
  border-radius: 50%;
  font-weight: bold;
  height: 4rem;
}

.settlers-stats-resource-container {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.settlers-stats-card {
  position: relative;
  filter: grayscale(0.2);
}

.settlers-stats-resource-count {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--saito-white);
  text-shadow: 1px 1px 3px var(--saito-black);
  transform: translate(-50%, -50%);
  font-size: 4rem;  
}

.settlers-stats-caption {
  text-align: left;
  font-size: 3rem;
}

.settlers-state-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.settlers-stats-player {
  font-size: 2rem;
  font-weight: normal;
}

.settlers-achievements-row .victory_point_cards img {
  height: 4rem;
}

.settlers-stats-overlay {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.rules-overlay {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}


.settlers-state-container .settlers-achievements-row .achievements .army, 
.settlers-state-container .settlers-achievements-row .achievements .victory_point_cards {
  margin: 0rem;
  padding: 0rem;
}

.settlers-state-container .achievements .army {
  padding: 0rem;
}

.settlers-state-container .achievements .army img {
  margin: 0rem;
}

.settlers-state-container .achievements .army img:not(:first-child) {
  margin: 0 0 0 -2rem;
}