.hud {
  width: 60rem;
  max-width: 98vw;
  z-index: 50 !important;
  padding-top: 3px !important;
  margin-bottom: 2rem;
  height: auto;
}

/* Wrapper for settlers status messages? */

.hud-header {
  display: none;
}

.hud-body {
  min-height: 17rem;
  width: calc(100% - 5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0 1rem;
}


/* override default #efefef background */

.hud-body .status {
  background-color: transparent;
  box-shadow: none;
  padding: 0;
  width: 100%;
  min-height: 4.5rem;
}

/* hide scrollbars */

.hud-body .controls {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: auto;
  overflow-x: auto;
  /*min-height: 4.5rem;*/
}

.hud-body .controls ul {
  min-height: 4.5rem;
}

.hud-body .status ul li, .hud-body .controls ul li, .options {
  background-color: transparent;
  box-shadow: none;
  min-height: 4.5rem;

  padding: 0.5rem 1rem;
  line-height: 4rem;
  border: 4px solid #424143;
  border-radius: 1.5rem;
  min-width: 12rem;
  max-width: 250px;
  list-style: none;
  margin: 1rem 0 0;
  height: unset;
}

.hud-body .status ul li:hover, .hud-body .controls ul li:hover, .options:hover {
  background-color: #b79e76; 
  font-size: 1.2em;
  /*Trying a darker shade #cbaf83*/
}

.hud-body .mobile {
  display: flex;
  position: relative;
  width: 100%;
  top: 6px;
  z-index: 5;
  justify-content: space-between;
}

.hud-body .mobile > div {
  font-size: 1.7rem;
  cursor: pointer;
  border-bottom: 1px dashed #0008;
  width: fit-content;
}

.hud-body .mobile > div:hover {
  font-weight: bold;
}


.mobile-trading-container {
  z-index: 0;
}


/* ul to buttons in settlers hud */

.hud .status ul, .hud .controls ul  {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
  width: 100%;
}



@media only screen and (max-width: 600px) and (orientation: portrait) {
  .saitoa {
    padding: 0.5rem;
  }

  .hud-body{
    width: calc(100% - 2rem);
  }

  body .player-box {
    height: auto !important;
    width: 100% !important;
    display: block !important;
    top: 0px !important;
    z-index: 200 !important;
    max-width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vw;
  }

  .mobile-trading-container {
    display: none;
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    padding-top: 6vh;
    overflow-y: scroll;
    max-height: 120vh;
    padding-bottom: 40vh;
  }

  .hud-body .controls ul {
    gap: 0.5rem;
  }

  .hud-body .controls ul li, .options {
    min-width: 10rem;
    border-width: 2px;
    padding: 0.25rem 0.5rem;
  }
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
  .hud-body .mobile {
    height: 3rem;
  }
}

@media only screen and (max-height: 600px) and (orientation: landscape) {
  .hud{
    max-width: 50vw;
    max-height: 50vh;
    margin-bottom: 1rem;
  }

  .hud.hud-long {
    left: unset;
    transform: unset;
    right: 2rem;
  }
}