.modtools-main-container {
	width: 65vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 8rem;
}

.modtools-main-container .saito-module {
	background-color: #4444440f;
}

.modtools-main-container .saito-module-title {
	font-size: 1.8rem;
    font-weight: bold;
}

.modtools-container {
	display: flex;
    flex-direction: column;
    gap: 2rem;
}

.modtools-container-title {
	font-size: 1.8rem;
    font-weight: bold;
}

.modtools-container {
	display: flex;
    flex-direction: column;
    gap: 2rem;
}

.modtools-contact {
	align-items: center;
	display: grid;
	grid-template-columns: 0.7fr 0.5fr 2fr 0.1fr;
	text-align: left;
}

.modtools-contact-daetails {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.modtools-contact-details {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.modtools-contact-details i {
	cursor: pointer;
}

.app-permission-option {
	display: flex;
    justify-content: space-between;
    width: 50%;
}