
#newdesign-container {
    padding: 1rem 2rem;
    margin-top: var(--saito-header-height);
    display: flex;
    position: relative;
}

.newdesign-page {
    display: none;
    position: relative;
}

.saito-main {
    background-color: transparent;
}

.newdesign-page>h4 {
    position: absolute;
}

.saito-tab-content>*.newdesign-page {
    display: flex;
}

@media screen and (min-width: 1600px) {

    #newdesign-container {
        padding: 1rem calc((100vw - var(--saito-width)) / 2);
    }


}

@media screen and (max-width: 1200px) {

    #newdesign-container {
        padding: 1rem 2rem;
    }

}

@media screen and (max-width: 768px) {


    #newdesign-container {
        padding: 1rem 1.5rem;
    }


}