.agenda-card {
	background-image: url(/imperium/img/cards/agenda.png);
	background-size: cover;
	height: 40vh;
	width: calc(40vh * 0.7211);
	color: white;
	padding: 1.5vw;
	background-size: cover;
	margin: 5px 10px;
	font-size: 1rem;
}

.agenda-card-title {
	font-weight: bold;
	text-align: center;
	font-size: 2rem;
	margin-bottom: 1rem;
}

.agenda-card-content {
	font-size: 1.5rem;
	line-height: 2.1rem;
}


.saito-overlay:has(> .agenda-overlay) {
    z-index: 103;
    display: flex;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    height: 85vh; 
    justify-content: space-between;
}   


.agenda-overlay {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}
