
.tech-overlay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    height: min-content;
    row-gap: 2rem;
    column-gap: 2rem;
    justify-content: space-evenly;
}

.tech-card {
    background-image: url(/imperium/img/tech_card_template.jpg);
    background-size: cover;
    position: relative;
    width: 20vw;
    height: 14vw;
    font-family: 'orbitron-medium', 'arial';
    font-size: 1.2vw;
    line-height: 1.7vw;
    color: whitesmoke;
    border: 1px solid #fff6;
    padding: 1vw;
}

.tech-card::before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 5vw solid;
  border-left: 15vw solid transparent !important;
  position: absolute;
  bottom: 0;
  right: 0;
}

.tech-card .name {
  margin: 0 0 0.3rem 0;
  text-align: center;
  font-size: 1.4em;
  margin-bottom: 0.5vw;
}

.tech-card .content {
  text-align: left;
  padding: 0.75rem;
}

.tech-card .prereqs {
    font-size: 3em;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0.25rem;
    right: 0rem;
    -webkit-text-stroke: 1px #000
}











