.strategy-card-leadership .text {
	color: #13b708bb;
}
.strategy-card-diplomacy .text {
	color: #ffc45ebb;
}
.strategy-card-politics .text {
	color: #7a8de5bb;
}
.strategy-card-construction .text {
	color: #feacacbb;
}
.strategy-card-trade .text {
	color: #acfef8bb;
}
.strategy-card-warfare .text {
	color: #fef9acbb;
}
.strategy-card-technology .text {
	color: #d8acfebb;
}
.strategy-card-imperial .text {
	color: #ff7272bb;
}

.strategy-card-overlay {
	display: flex;
	flex-wrap: wrap;
	width: 80vw;
	height: min-content;
	max-height: 90vh;
	justify-content: space-around;
	overflow-y: auto;
}

.strategy-card-overlay .strategy-card {
	width: 18vw;
	height: calc(18vw * 1.42);
	font-size: 1vw;
	line-height: 1.8vw;
}

.strategy-card {
	width: 25vw;
	height: calc(25vw * 1.42);
	font-size: 1.6vw;
	line-height: 3vw;
	padding: 0vw;
	position: absolute;
	font-family: 'orbitron-medium', helvetica, sans-serif;
	display: block;
	position: relative;
	color: whitesmoke;
	cursor: pointer;
}

.strategy-card img {
	position: absolute;
	height: inherit;
	width: inherit;
}

.strategy-card .text {
	font-family: helvetica;
    	font-size: 1.8rem;
	position: absolute;
	z-index: 101;
	padding-left: 1.5vw;
	padding-right: 3vw;
	padding-top: 20%;
	height: inherit;
	width: inherit;
	font-size: 1.3vw;
	line-height: 2vw;
	padding-top: 4vw;
	color: #fffb;
	font-family: helvetica;
}

.strategy-card .text br {
	margin: 1.5rem;
}

.strategy-card .picked {
	position: relative;
	padding: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	width: min-content;
	z-index: 9000;
	color: white;
	border-bottom-right-radius: 0.5rem;
}

.strategy-card .bonus {
	position: relative;
	bottom: 0px;
	left: 75%;
	font-size: 3em;
	color: gold;
	float: right;
	width: 100%;
}
