
.objectives-overlay {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-evenly;
    width: 100%;
    max-width: 80vw;
    max-height: 85vh;
    background-image: url(imperium/img/backgrounds/objectives-background.jpg);
    height: min-content;
    width: min-content;
    background-size: cover;
    padding: 2rem;
}

.objectives_card_content {
    color: white;
    background: #0006;
    position: relative;
    color: white;
    margin-top: 0px;
    padding: 1.4rem;
    padding-top: 1rem;
    line-height: 2.4rem;
    height: calc(42vh - 5em);
    text-align: center;
    font-size: 1.7rem;
}

.objectives_card_name {
    color: white;
    background: #0008;
    position: relative;
    min-height: min-content;
    text-align: center;
    width: 100%;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.objectives_overlay_objectives_card {
  position: relative;
  width: calc(42vh * 0.72110);
  height: 42vh;
  margin: 10px;
  background-size: cover;
  max-width: 300px;
  max-height: 450px;
  float: left;
  font-size: 0.8em;
  z-index: 5;
  border: 1px solid #FFF8;
}

.objectives_overlay_objectives_card:hover {
  z-index: 10;
  border: 1px solid whitesmoke;
}

