
.strategy-card-selection-overlay.hide-scrollbar {
    overflow: visible !important;
}

.strategy-card-selection-controls {
    display: flex;
    flex-direction: row;
    row-gap: 1rem;
    overflow: visible;
    width: 80vw;
}

.strategy-card-selection-controls .strategy-card {
    width: 25vw;
    height: calc(25vw * 1.42);
    font-size: 0.7vw;
    line-height: 1vw;
}

.strategy-card-selection-controls .strategy-card img {
    width: auto;
}

.strat_slot_1 {
    transform: rotate(-49deg);
    overflow: visible;
    top: 15vw;
    right: -10rem;
}
.strat_slot_2 {
    transform: rotate(-35deg);
    overflow: visible;
    top: 5vw;
    right: -5rem;
}
.strat_slot_3 {
    transform: rotate(-21deg);
    overflow: visible;
    top: -2vw;
    right: 2rem;
}
.strat_slot_4 {
    transform: rotate(-7deg);
    overflow: visible;
    top: -6vw;
}
.strat_slot_5 {
    transform: rotate(7deg);
    overflow: visible;
    top: -7vw;
}
.strat_slot_6 {
    transform: rotate(21deg);
    overflow: visible;
    top: -5vw;
    right: 2rem;
}
.strat_slot_7 {
    transform: rotate(35deg);
    overflow: visible;
    top: 0rem;
    right: 5rem;
}
.strat_slot_8 {
    transform: rotate(49deg);
    overflow: visible;
    top: 6vw;
    right: 12rem;
}

