.factionbar {
	display: flex;
	flex-direction: rows;
	margin-top: -0.5rem;
}

.factionbar .sf-readable {
	font-size: 1.9rem;
}

.hud-header {
	display: flex;
	flex-direction: rows;
	justify-content: space-between;
	padding-top: 0.75rem;
}
