.tokenbar {
	display: block;
	position: relative;
	margin-right: 1rem;
	min-width: 12rem;
}

.tokenbar > div {
	float: right;
	color: white;
	font-size: 3rem;
	padding-left: 0.75rem;
	-webkit-text-stroke: 2px #000;
	stroke: 2px #000;
}

.hud-header > .tokenbar > div {
	font-size: 2rem;
	color: #000;
	-webkit-text-stroke: 1px #fff;
	stroke: 1px #fff;
}
