
.objectives-overlay {
    width: 100%;
    height: min-content;
    width: min-content;
    max-width: 1000px;
    max-height: 85vh;
    padding: 4rem;
    min-width: 80vw;
}

.objectives-overlay-title {
    color: white;
    font-family: 'bank-gothic';
    letter-spacing: 0.75rem;
    font-size: 5rem;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: min-content;
}

.objectives-overlay-content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-evenly;
    width: 100%;
    max-width: 80vw;
    max-height: 85vh;
    height: min-content;
    width: 100%;
    padding: 2rem;
}

.objectives_card_content {
    color: white;
    background: #0006;
    position: relative;
    color: white;
    margin-top: 0px;
    padding: 1.4rem;
    padding-top: 1rem;
    line-height: 2.4rem;
    height: calc(42vh - 5em);
    text-align: center;
    font-size: 2rem;
}

.objectives_card_name {
    color: white;
    background: #0008;
    position: relative;
    min-height: min-content;
    text-align: center;
    width: 100%;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
}

.objectives_overlay_objectives_card {
  position: relative;
  width: calc(42vh * 0.72110);
  height: 42vh;
  margin: 10px;
  background-size: cover;
  max-width: 300px;
  max-height: 450px;
  float: left;
  font-size: 0.8em;
  z-index: 5;
  border: 1px solid #FFF;
}


