.how-to-move-overlay {
	display: grid;
	color: white;
	width: 80vw;
	min-width: 75rem;
	max-width: 1200px;
	height: max-content;
	column-gap: 2rem;
	row-gap: 2rem;
	padding: 4rem;
	background-color: #0007;
	border-radius: 1rem;
	grid-template-columns: 1fr 1fr;
	width: min-content;
	justify-items: center;
	align-items: baseline;
	scale: 1.2;
}

.how-to-move-overlay > .title {
	margin-left: auto;
	margin-right: auto;
	font-family: 'bank-gothic';
	letter-spacing: 0.75rem;
	font-size: 5rem;
	width: max-content;
	grid-column-start: 1;
	grid-column-end: span 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

.how-to-move-tutorial {
	grid-column-start: 2;
	grid-column-end: span 1;
	grid-row-start: 2;
	grid-row-end: span 1;
}

.how-to-move-tutorial li {
	margin-bottom: 2rem;
	margin-left: 2rem;
	padding-left: 1rem;
	font-size: 1.8rem;
}

.how-to-move-tutorial li:nth-child(3) {
	margin-bottom: 0px;
}

.how-to-move-tutorial .title {
	font-family: unset;
	font-weight: bold;
	margin-bottom: 0.5rem;
	font-size: 1.8rem;
	font-family: 'orbitron-light', helvetica, arial;
	text-transform: uppercase;
	width: auto;
	letter-spacing: 0.1rem;
}

.how-to-move-tutorial .desc {
	font-family: unset;
	font-weight: bold;
	font-size: 1.8rem;
}

.how-to-move-example {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 2;
	grid-row-end: span 1;
	width: 26rem;
	min-width: 26rem;
	max-width: 26rem;
	line-height: 2.2rem;
	font-size: 1.6rem;
}

.how-to-move-example-desc {
	font-size: 1.6rem;
	text-align: center;
	grid-column-start: 1;
	grid-column-end: span 2;
	grid-row-start: 3;
	grid-row-end: 3;
}

.how-to-move-example .unit .unit-description {
	visibility: hidden;
}

.how-to-move-example .unit {
	margin-top: 0rem;
	padding-top: 0rem;
}

.how-to-move-example .unit.square div:nth-child(3) {
    	background-color: transparent;
    	color: white;
}
.how-to-move-example .unit.square div:nth-child(4) {
	background-color: goldenrod;
   	color: black;
}


