
.production-overlay {
  height: 90vh;
  width: 109rem;
  max-height: 90vh;
  max-width: 90vw;
  display: block;
  background-image: url(/imperium/img/backgrounds/starscape-background4.jpg);
  background-size: cover;
  color: white;
  padding: 2rem;
}
.production-header {
  display: grid;
  grid-template-columns: auto min-content;
  border-bottom: 1px solid #ddd5;
  column-gap: 2rem;
  padding: 1rem;
}
.production-description {
  font-size: 2rem;
  line-height: 3rem;
  min-height: 12rem;
}
.production-button {
  width: 12rem;
  height: 7rem;
  text-align: center;
  margin-right: auto;
  font-size: 1.8rem;
  line-height: 4.75rem;
}

.production-table .unit-table.small {
  display: grid;
  grid-template-columns: 24rem 24rem 24rem 24rem;
  column-gap: 3rem;
  row-gap: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.production-table .unit-table.small .unit-element {
  width: 24rem;
}

.unit-description.highlight {
  color: black;
  background-color: yellow;
}

.production-table .unit-table.small .unit-element:hover {
  background-color: #0009;
}

.production-table .unit-table.small .unit-element .unit-description {
  clear: both;
  padding-left: 1rem;
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 3rem;
  line-height: 1.7em;
  letter-spacing: 0.1em;
  font-weight: bolder;
  font-family: 'bank-gothic';
  font-size: 1.7rem;
}

.production-table .unit-table.small .unit-element div:nth-child(3) {
  color: black;
  background-color: goldenrod;
}






.unit-box-ship-fighter, .unit-box-ship-fighter-ii {
  background-image: url("/imperium/img/ships/fighter_100x200.png");
  background-size: cover;
}
.unit-box-ship-destroyer, .unit-box-ship-destroyer-ii {
  background-image: url("/imperium/img/ships/destroyer_100x200.png");
  background-size: cover;
}
.unit-box-ship-carrier, .unit-box-ship-carrier-ii {
  background-image: url("/imperium/img/ships/carrier_100x200.png");
  background-size: cover;
}
.unit-box-ship-cruiser, .unit-box-ship-cruiser-ii {
  background-image: url("/imperium/img/ships/cruiser_100x200.png");
  background-size: cover;
}
.unit-box-ship-dreadnaught, .unit-box-ship-dreadnaught-ii {
  background-image: url("/imperium/img/ships/dreadnaught_100x200.png");
  background-size: cover;
}
.unit-box-ship-flagship {
  background-image: url("/imperium/img/ships/flagship_100x200.png");
  background-size: cover;
}
.unit-box-ship-warsun, .unit-box-ship-warsun-ii {
  background-image: url("/imperium/img/ships/warsun_100x200.png");
  background-size: cover;
}
.unit-box-ship-infantry, .unit-box-ship-infantry-ii {
  background-image: url("/imperium/img/ships/infantry_100x200.png");
  background-size: cover;
}
.unit-box-ship-pds, .unit-box-ship-pds-ii {
  background-image: url("/imperium/img/ships/pds_100x200.png");
  background-size: cover;
}
.unit-box-ship-spacedock, .unit-box-ship-spacedock-ii {
  background-image: url("/imperium/img/ships/spacedock_100x200.png");
  background-size: cover;
}

.unit-table {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.unit-table.small .unit-box {
  width: 8rem;
  height: 8rem;
}
.unit-table.small .unit-element {
  width: 50rem;
  max-width: 50rem;
}
.unit-table.small .unit-box-ship {
  width: 16rem;
  height: 8rem;
}
.unit-table.small .unit-box-num {
  font-size: 2.6rem;
}
.unit-table.small .unit-box-desc {
  font-size: 1.5rem;
  opacity: 0.8;
}



.unit-element {
  margin-top:2rem;
  color: white;
  font-family: 'orbitron-light', helvetica, arial;
}

.unit-box {
  float: left;
  width: 12rem;
  height: 12rem;
  border: 1px solid green;
  text-align: center;
}
.unit-box-ship {
  float: left;
  color: black;
  width: 20rem;
  text-align: center;
  height: 10rem;
  vertical-align: middle;
  padding-top: 4rem;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'bank-gothic', 'orbitron-medium', helvetica;
}
.unit-box-num {
  font-size: 6rem;
  padding-top: 1.7rem;
}
.unit-box-desc {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.8rem;
  clear:both;
}
.unit-description {
  clear: both;
  padding: 1rem;
  font-weight: bold;
  min-height: 5rem;
  line-height: 1.7em;
  letter-spacing: 0.1em;
}








.unit-display-tile {
  height: 8vw;
  width: 16vw;
  position: relative;
  margin: 1em;
}

.unit-display {
  position: absolute;
  display: grid;
  grid-template-columns: auto auto;
  height: 100%;
  width: 100%;
}

.unit-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

.unit-display div {
  text-align: center;
  line-height: 4vw;
  z-index: 1;
}

.unit-name {
  text-align: center;
  font-size: 1.5em;
  line-height: 8vw;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(150deg, #000B, #0004);
}


#close-units-btn {
  width: 12rem;
  text-align: center;
  margin-right: auto;
  font-size: 2rem;
  float: left;
  margin-left: 2rem;
  height: 7rem;
  font-size: 2rem;
  padding: 2.4rem !important;
  min-width: 30rem;
}

.units-overlay-container {
  background-image: url("/imperium/img/starscape_background1.jpg");
  background-size: cover;
  min-width: 80vw;
  min-height: 80vh;
  overflow-y: scroll;
  max-height: 80vh;
}
.units-overlay-container {
  background-colour: whitesmoke;
  width: 80rem;
}
.units-overlay-title {
  padding-top:3rem;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 4em;
  font-family: 'orbitron-medium';
}
.units-overlay-text {
  display: inline-block;
  color: black;
  text-align: center;
  font-size: 1.2em;
  font-family: 'orbitron-medium';
  background-color: whitesmoke;
  padding-top:0.8rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: 1.5rem;
}


