
.tech_card {
  background-image: url("/imperium/img/tech_card_template.jpg");
  position: relative;
  width: 340px;
  height: 200px;
  font-size: 2em;
  background-size: cover;
  margin: 1vw;
  text-align: center;
  font-size: 1.25vw;
  transition: all 50ms;
  border: 1px solid;
  color: white;
  z-index: 10;
}

.tech_card::before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 33px solid;
  border-left: 100px solid transparent !important;
  position: absolute;
  bottom: 0;
  right: 0;
}

.tech_card {
  background-image: url("/imperium/img/tech_card_template.jpg");
  position: relative;
  width: 16vw;
  height: 10vw;
  background-size: cover;
  margin: 1vw;
  text-align: center;
  font-size: 1vw;
  transition: all 50ms;
  border: 1px solid;
}

.tech_card::before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 33px solid;
  border-left: 100px solid transparent !important;
  position: absolute;
  bottom: 0;
  right: 0;
}

.tech_card_name {
  margin: 0 0 3px 0;
  font-family: 'bank-gothic';
  text-align: center;
  padding: 1vw;
  padding: 0.5vw;
  background: #0009;
  color: white;
}

.tech_card_content {
  text-align: left;
  padding: 1vw;
  color: white;
  padding: 0.75vw;
  color: white;
  font-family: 'orbitron-medium', 'arial';
  line-height: 1.3em;
}

.tech_card_level {
  font-size: 2em;
  letter-spacing: 5px;
  position: absolute;
  bottom: 0;
  left: 9px;
}

