.invite-manager {
    width: 100%;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.invite-manager h6 {
    padding-bottom: 1rem;
}

.saito-game-identicons {
    min-width: 25rem;
}

.game-type {
    font-size: 1.4rem;
    font-weight: 400;
}

.tiptext {
    visibility: hidden;
    position: absolute;
    box-sizing: content-box !important;
    z-index: 10;
    width: 90%;
    min-width: 300px;
    max-width: 750px;
    padding: 0.25em 0.5em;
    background-color: #fefefe;
    border-bottom: 1px solid var(--saito-primary);
    font-style: italic;
}