body {
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
  overflow: hidden; 
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.main { 
  background-image: url(/saito/img/arcade/greenfelt.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.gameboard {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 300px);
  display: grid;
  top: 45px;
  grid-template-rows: 1fr 1fr;
}

img.cardimg {
  width: 100%;
}