/*  Page Layout */
.saito-container.limbo-container {
	padding: 0 1rem;
	grid-template-columns: 1fr;
}

.saito-container.limbo-container.dreaming {
	grid-template-columns: minmax(30rem, 1fr) 33rem;	
}



.limbo-main .saito-menu {
	max-width: 50rem;
	margin: auto;
	margin-top: 8rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-gap: 2rem;
}

.dreaming .limbo-main .saito-menu {
	display: none;
}

.spaces-list{
	gap: 0.5rem;
	display: flex;
	flex-direction: column;
	min-height: 10rem;
}

.spaces-list .saito-user{
	padding: 0.5rem;
	cursor: pointer;
	border-radius: 0.5rem;
}

.spaces-list .saito-user:hover, .spaces-list .dream.active{
	background-color: var(--saito-primary);
	color: var(--saito-background-color);
}

/* Right sidebar */
.limbo-container .saito-sidebar.right {
	padding: 0;
	display: none;
	grid-column-start: unset;
	grid-row: unset;
}

.limbo-container.dreaming .saito-sidebar.right{
	display: block;
	width: 33rem;
	height: 100%;
}

.limbo-sidebar {
	width: 100%;
	background: var(--saito-background-color);
	height: calc(100vh - var(--saito-header-height));
	border-left: 1px solid var(--saito-border-color);
	display: grid;
	grid-template-rows: min-content auto;
}



.limbo-sidebar .saito-profile-icons {
	margin-right: 1rem;
}

.limbo-sidebar .saito-modal-menu-option {
    font-size: 2rem;
    height: unset;
    width: 100%;
    padding: 1rem;
    margin: 0;
}

.limbo-sidebar .saito-modal-menu-option > div {
	font-size: 1.8rem;
	margin-right: unset;
}

.limbo-sidebar .saito-modal-menu-option > i {
	margin-right: unset;
	margin: auto;
}


.limbo-sidebar .saito-user {
	font-size: 1.8rem;
	height: unset;
}

.limbo-sidebar .saito-contact {
	padding: 1rem;
}

.limbo-sidebar .saito-modal-content {
	display: flex;
	flex-direction: column;
	font-size: 1.3rem;
	height: 100%;
	overflow: auto;
}

.limbo-sidebar .saito-modal-content .saito-user .saito-identicon-box {
    width: 3.5rem;
    height: 3.5rem;
}


/*  Control Window */

.dream-controls {
	position: absolute;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 1fr 7rem;
	grid-template-columns: minmax(0px, 1fr);
	border: 2px solid silver;
	border-radius: 5px;
	background-color: var(--saito-black);
}

.dream-controls .video-box-container-large video {
	position: absolute;
	object-fit: contain;
}

.saito-container.limbo-container .dream-controls {
	position: revert;
	margin: auto;
}

.video-preview{
}


.dream-controls .control-panel{
	align-items: center;
	justify-content: space-between;
	max-width: 100%;
	padding: 0 1rem;
}



video#local.noflip{
	transform: unset;
}


/* Wizard */

.dream-wizard{
	width: min(550px, 98vw);
	padding: 3rem;
	border-radius: 0.5rem;
	border: 1px solid;
	background-color: var(--saito-black);
	color: var(--saito-white);
}

.dream-wizard h1{
	font-size: 4rem;
}

.dream-wizard .button {
	margin-top: 1rem;
}


.dream-controls .video-call-info {
	display: none;
}


/* Dynamic Page Layout */

@media screen and (max-width: 1200px){
	/* Undo base changes */

	.limbo-container .saito-sidebar.left{
		display: flex;
		visibility: unset;
	}


	/* But drop left sidebar in a dreamspace */
	.saito-container.limbo-container.dreaming{
		grid-template-columns: 1fr min-content;
	}

	.limbo-container.dreaming .saito-sidebar.left{
		display: none;
		visibility: hidden;
	}

}

@media screen and (max-width: 900px){
	.saito-container.limbo-container, .saito-container.limbo-container.dreaming{
		grid-template-columns: 1fr;
		grid-template-rows: min-content auto;
	}

	.limbo-container .saito-sidebar.left{
		margin: auto;
	}

	.dream-controls .control-panel .timer {
		margin-left: 1rem;
	}

	.dream-controls .control-list {
		gap: 1rem;
		margin-right: 1rem;
	}

	#exit_space{
		display: grid;
	}

	.limbo-container.dreaming .saito-sidebar.right {
		visibility: visible;
		grid-column-start: unset;
		grid-row: unset;
		width: 100%;
		max-width: 90vw;
		margin: auto;
	}

	.limbo-container.dreaming .saito-sidebar.right .saito-profile-menu{
		display: flex;
	}

	.limbo-sidebar .saito-modal-menu-option{
		grid-template-columns: 3rem 1fr;
	}

	.limbo-sidebar{
		border-left: unset;
	}

	.limbo-sidebar .saito-profile-cover {
		height: 6rem;
	}
	.limbo-sidebar .saito-profile-identicon {
		width: 6rem;
		height: 6rem;
	}
	.limbo-sidebar .saito-profile-options-row{
		height: 2.5rem;
	}
	.limbo-sidebar .saito-profile-info {
		margin: unset;
	}
}


@media screen and (max-width: 600px) {
	.saito-main.limbo-main {
		padding: unset;
		margin-bottom: 2rem;
	}

	
	.dream-controls{
		grid-template-rows: 1fr 6rem;
	}
}