/*  video chat */
/* 
.stunx-chatbox {
    max-width: 60vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    background-color: var(--saito-white)fff;
    position: fixed;
    z-index: 100000;
}


.stunx-chatbox .heading {
    padding: 1rem;
}





.stunx-chatbox .large-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, 30vh);
    grid-gap: 1rem;
    padding: 1rem;
    background: var(--saito-skyline-grey);
}

.stunx-chatbox .video-box {
    border-radius: 0.1rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;

}

#localStream {
    display: block;
}

.stunx-chatbox .b-btngrid {
    border: none;
    margin-left: 1rem;
    margin-top: 250px;
    width: 160px;
    height: 38px;
    border-radius: 4px;
    left: 51px;
    cursor: pointer;
}

.stunx-chatbox .heading {
    background: linear-gradient(96.79deg, #f30c4f 0%, #f8c062 91.87%);
}



  


/* video chat */



/* .video-box-container {
    background-color: black;
    display: flex;
    height: 100%;
    position: fixed;
    z-index: 100000;
    width: 40rem;
    height: 30rem;
    bottom: 40%;
    left: 50%;
    top: 50%;
    resize: both;
    overflow: auto;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    color: var(--saito-white);
    border-radius: 1rem;
  }

  .video-box-container  video {
    width: 100%;
    height: 100%;
  }
  
  .video-box-container> #connection-message {
    color: var(--saito-white);
    width: 50%;
    line-height: 1.5;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .video-box-container> #connection-message>p {
    color: var(--saito-white);
  }
  
  .lds-dual-ring {
    display: inline-block;
  }
  
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 10px;
    height: 10px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--saito-white);
    border-color: var(--saito-white) transparent var(--saito-white) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes glow {
    0% {
        transform: scale(.97);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(0.97);
    }

    100% {
        transform: scale(.97);
    }
}  */



/* Appspace css */


.stunx-appspace-card h2 {
    margin-bottom: 1rem;
}

.stunx-appspace-card>p {
    margin-bottom: 1rem;
}

.stunx-appspace-actions {
    margin-bottom: 1rem;
    border-top: 1px solid #ddd;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.stunx-appspace-card .saito-badge {
    color: var(--saito-white);
    background: var(--saito-primary);
    width: 2rem;
    height: 2rem;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 1.75rem;
    vertical-align: super;
}

.stunx-appspace-card .saito-info-text {
    color: #666;
    line-height: 1.2rem;
}


.stunx-appspace-actions .saito-button-secondary {
    width: 18rem;
}


.stunx-appspace-join {
    display: flex;
}

.stunx-appspace-join input {
    margin-right: 1rem;
    padding-left: 1rem;
    height: 2rem;
    width: 18rem;
}

.stunx-appspace-join p {
    font-weight: bold;

}


.stunx-appspace-create {
    margin-bottom: 1rem;
}

.stunx-appspace-create p {
    font-weight: bold;
}

.stunx-appspace-actions>div {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 20rem 1fr;
}

.stunx-appspace-join {}

.stunx-appspace-join input {
    margin-right: 1rem;
    padding-left: 1rem;
    height: 50.798px;

}

.stunx-appspace-join input:focus {
    outline: none;
}

/*  responsive */

@media screen and (max-width: 503px) {
   
  }
  
  
  
  @media screen and (max-width: 396px) {
    .stunx-appspace-join input {
        width: 15rem;
    }
  }