body {
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
}

.main {
  margin: 0 0 0 0 ;
  padding: 0 0 0 0 ;
}


.rules-overlay ul{
  margin-left: 25px;
}


.rules-overlay table{
  font-size: 1.5em;
  margin: 0 auto;
}

.rules-overlay th{
  text-align: right;
}

.rules-overlay td{
  text-align: center;
  width: 4em;
}


.gameboard {
  position: absolute;
  background-image: url("img/gameboard.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
}

.game-scoreboard{
  font-size: 20px;
  height: 40px;
  padding: 5px 20px;
}


/*arrange the cards in an array*/
.card-stack-array{
  width: calc(100vw - 100px);
  height: calc(100vh - 200px);
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(10, minmax(auto,130px));
  justify-content: space-evenly;
  grid-gap: 3px;
  max-width: 1600px;
}

#helper{
  position: absolute;
  cursor: grabbing;
  width: min(130px, calc(10vw - 10px));
  pointer-events: none;
}

.card-stack{
  display: grid;
  grid-template-rows: repeat(auto-fit, min(0.7vw, 9px));
  height: calc(100vh - 200px);

}

.spider-footer{
  position: absolute;
  bottom: 3px;
  width: 100%;
  height: min(15vh,140px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: whitesmoke;
  font-size: 50px;
}

.completed_stack_box{
  border-radius: 5px;
  border: 1px dashed whitesmoke;
  height: 100%;
  position: relative;
  display: flex;
  max-width: 80%;
  min-width: 50%;
  width: 600px;
  line-height: 300%;
  text-align: center;
  justify-content: flex-start;
  flex: 2;
}


.completed_stack{
  position: relative;
  width: 95px;
  height: 100%;
}


.completed_card{
  transition: left 2s, top 2s;
}

.undo{
  height: 75px;
  width: 75px;
}


.draw-pile{
  position: relative;
  width: 7vw;
  height: 100%;
  border-radius: 5px;
  border: 2px solid whitesmoke;
  font-size: min(2vw, 32px);
  line-height: 3vw;
  text-align: center;
  margin: 6px;
  margin-top: 0;
  min-width: 80px;
  max-width: 120px;
}

.draw-pile img{
  position: absolute;
  width: 100%;
}

.card{
  width: 100%;
  position: relative;
  perspective: 500px;
  transform-style: preserve-3d;
}

.card img{
  width: 100%;
  position: absolute;
  pointer-events: none;
}

.card-stack .card:last-child img{
 pointer-events: unset; 
} 

.card.selected{
  filter: brightness(0.85);
}

.card.flipped{
  grid-area: span 4;
  cursor: grab;
}

.card.empty_slot{
  grid-area: span 18;
  border: 1px var(--saito-red) dashed;
  width: 100%;
}


.cardFront, .cardBack{
  transition: transform .4s linear;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.cardFront{
  transform: rotateY(180deg);
}

.cardBack{
  transform: rotateY(0deg);
}

.flipped .cardFront, .completed_card .cardFront{
  transform: rotateY(0deg);
}


.flipped .cardBack, .completed_card .cardBack{
  transform: rotateY(-180deg);
}



@media screen and (orientation: landscape) and (max-height: 600px) {
  .draw-pile{
    min-width: unset;
  }
  .undo{
    font-size: 40px;
    height: unset;
    width: unset;
  }

 .game-scoreboard{
    font-size: 16px;
    height: 30px;
    padding: 5px 20px;
    top: unset;
    bottom: 0;
  }
  .card-stack-array{
    margin-top: 10px;
    margin-left: 70px;
  }

}

@media screen and (orientation: portrait) and (max-width: 600px) {
  .gameboard{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    
  }
  .logobox{
    order: 2;
    /*grid-row: 2 / 2;*/
    max-width: unset;
    margin: 5px auto;
    font-size: 18px;
    align-self: end;
  }
  .logobox img{
    display: none;
  }
  .hidable{
    display: none;
  }
  .logobox .status, .logobox .status-header, .logobox .status-text-menu{
    width: min(500px, 90vw);
  }
  .rowbox{
    max-width: 100vw;
    order: 1;
  }
}


