.settings-appspace .saito-grid-1-1-1 {
  margin-bottom: 2rem;
}

.settings-appspace-link {
  text-decoration: underline;
}

.settings-appspace>button {
  margin: 0px;
}

.settings-appspace-qrcode {
  display: inline-block;
}

.settings-appspace-user-details-container {
  margin-bottom: 4rem;
  margin-top: 3rem;
}

.settings-appspace-user-details {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  align-items: center;
  padding: 1rem;
  border-radius: .5rem;
  max-width: 100%;
  overflow: auto;
}

.settings-appspace-user-details-container .saito-grid-1-1-1 {
  grid-row-gap: .5rem;
}

.settings-appspace-user-actions {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr)); */
  grid-gap: .5rem;
}

.settings-appspace-modules-container>.saito-button-primary {
  width: 5rem;
}

.settings-appspace-user-details-container>h4 {
  /* margin-bottom: 1rem; */
}

.settings-appspace-modules-container>h4 {
  /* margin-bottom: 1rem; */
}

.settings-appspace-modules {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border-radius: .5rem;
  padding: 1rem;

}

.settings-appspace-modules-modal {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border-radius: .5rem;
  padding: 2rem 0 0 2rem;

}

.settings-appspace-modules-container {
  margin-bottom: 4rem;
}



.settings-appspace-privatekey {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: .4rem;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  align-items: center;
}

.settings-appspace-privatekey>div {
  font-family: p-word;
}


.settings-appspace-privatekey>i {
  cursor: pointer;
}

.settings-appspace-upload-button {
  display: none;
}


.settings-appspace-app {
  line-height: 2rem;
  display: flex;
  align-items: center;
}


.settings-appspace-app label {
  text-transform: none;
  font-size: 1.6rem;
  margin-right: .5rem;
}

.settings-appspace-installed-app {
  line-height: 2rem;
  display: flex;
  align-items: center;
}

.settings-appspace-installed-app label {
  text-transform: none;
  font-size: 1.6rem;
  margin-right: .5rem;
}


.settings-appspace-versions-container {
  margin-bottom: 4rem;
}

.settings-appspace-versions-container {}



.settings-appspace-versions {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin-bottom: 2rem;
  grid-column-gap: 1rem;
  padding: 1rem;
  grid-row-gap: 1.5rem;
}


.settings-appspace-icons {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  align-items: center;
  padding: 1rem;
  border-radius: .5rem;
  max-width: 100%;
  overflow: auto;
}

.settings-appspace-icons i {
  color: var(--saito-primary);
  font-size: 2rem;
  cursor: pointer;
}



.settings-priv-key-text {
  font-family: inherit !important;
  overflow-y: clip;
}


@media only screen and (max-width: 600px) {

  .settings-appspace-modules {
    grid-template-columns: 1fr 1fr;
  }

  .settings-appspace-user-details {
    grid-template-columns: auto 1fr;
  }

  .settings-appspace-privatekey>input {
    width: 50%;
  }

}


.welcome-modal-wrapper {
  width: 900px;
  max-width: 80vw;
  /*display: grid;
  grid-template-columns: 6fr 1fr;*/
  font-size: 1.5em;
  font-family: "visuelt-light", "Microsoft Yahei", "Hiragino Sans GB";
  background-color: #fff;
  color: #444;
}

.welcome-modal__input-container {
  display: flex;
  align-items: center;
}



.welcome-modal__input {
  background: #efefef;
  font-size: 2.5rem !important;
}



/* Exclusively for modal-add-user-confirm.template */
.confirm-modal-wrapper {
  font-size: 1.5em;
  padding: 1.5em;
  color: white;
  font-weight: bold;
}

.welcome-invite-box {
  min-width: 200px;
  min-height: 120px;
  max-width: 325px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 25px;
  border: 1px solid;
  margin: 1em;
}

.welcome-invite-box i {
  margin: 1em;
}

.welcome-modal-header {
  font-size: 3rem;
}

.welcome-modal-main p {
  font-size: 1.8rem;
}

.welcome-modal-info {
  clear: both;
}

.welcome-modal-action {
  padding: 1.5em;
  color: #444;
}

.welcome-modal-action p {
  line-height: 1.5em;
}

.welcome-modal-signup {
  margin: 1em 0;
  display: flex;
}

.welcome-modal-explanation {
  font-size: 0.8em;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1em;
  line-height: 1.3em;
}

.register-modal-controls {
  display: flex;
  flex-direction: row-reverse;
  padding: 1rem 0;
  justify-content: space-between;
  align-items: center;
}

#signup {
  margin: 0;
  width: 15px;
  height: 21px;
}

.welcome-modal-action button:hover {
  border-color: #fff;
}

/* mobile modals */

@media only screen and (max-width: 1000px) {
  .welcome-modal-wrapper {
    /*grid-template-columns: 1fr;*/
    width: 90vw;
  }

  .modal-content-blank {
    width: 100%;
  }

  .welcome-modal-action {
    padding: 0.81em;
  }

  i.fas.fa-arrow-right {
    right: -1em;
  }
}

@media only screen and (max-width: 600px) {
  .saito-overlay {
    width: 95vw;
  }

}


#alert-shim {
  z-index: 2000;
  background-color: #0008;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

#alert-box {
  width: 75vw;
  max-width: 700px;
  transition: all 333ms ease-in-out;
  background: rgb(234, 234, 239);
  margin: auto;
  position: relative;
  top: -500px;
  border: 1px solid var(--saito-red);
  border-radius: 0 0 5px 5px;
  padding: 1em 1em 3.5em 1em;
}

#alert-buttons {
  float: right;
  margin: 0 0 0 1em;
  margin-top: 0.5rem;
}

#alert-box button {
  margin: 0 0 0 1em;
}

#alert-ok {
  margin: 0 0 0 1em;
}

#alert-box p {
  font-family: "visuelt-light", "Microsoft Yahei", "Hiragino Sans GB";
  font-size: 1.4em;
  text-align: center;
  align-self: center;
  font-weight: bold;
  display: block;
  margin: 1em 0;
  overflow-wrap: break-word;
}

div#message-wrapper {
  border: 2px solid var(--saito-red);
  min-width: 500px;
  padding: 1em;
  font-size: 2em;
  background: var(--saito-red);
  position: fixed;
  bottom: 1em;
  left: 1em;
  color: #fff;
  z-index: 200;
}