.grid-1-1-1 {
    margin-bottom: 2rem;
}

.settings-appspace>button {
    margin: 0px;
}

.settings-appspace-qrcode {
    display: inline-block;
}

.settings-appspace-user-details {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    align-items: center;
    margin-bottom: 3rem;
    padding: 1rem;
    border-radius: .5rem;
    max-width: 100%;
    overflow: auto;
}

.settings-appspace-user-details-container>h4 {
    /* margin-bottom: 1rem; */
}

.settings-appspace-modules-container>h4 {
    /* margin-bottom: 1rem; */
}

.settings-appspace-modules {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-radius: .5rem;
    padding: 1rem;

}

.settings-appspace-modules-container {
    margin-bottom: 3rem;
}



.settings-appspace-privatekey {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: .4rem;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    align-items: center;
}

.settings-appspace-privatekey>div {
    font-family: p-word;
}


.settings-appspace-privatekey>i {
    cursor: pointer;
}

.settings-appspace-upload-button {
    display: none;
}


.settings-appspace-app {
    line-height: 2rem;
    display: flex;
    align-items: center;
}

.settings-appspace-app label {
    text-transform: none;
    font-size: 1.6rem;
}

.settings-appspace-versions {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin-bottom: 2rem;
    grid-gap: 1rem;
}

@media only screen and (max-width: 600px) {

    .settings-appspace-modules {
        grid-template-columns: 1fr 1fr;
    }

    .settings-appspace-user-details {
        grid-template-columns: auto 1fr;
    }

    .settings-appspace-privatekey>input {
        width: 50%;
    }

}