.settings-grid {}




#settings-qrcode {
  display: inline-block;
}

#settings-see-password {
  line-height: 40px;
}

.settings-password {
  font-family: p-word;
}



.settings-privatekey {
  display: grid;
  grid-template-columns: 1fr 1.2em;
  grid-column-gap: .4rem;
}

.settings-app-list {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border: 1px solid #8888;
  padding: 1em;
}

.settings-app-select {
  line-height: 2.4rem;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  /* .settings-buttons {
    grid-template-columns: 1fr;
    grid-gap: 3px;
  } */

  .settings-app-list {
    grid-template-columns: 1fr 1fr;
  }
}