.settings-appspace {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.settings-appspace-user-details {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  align-items: center;
  padding: 1rem;
  border-radius: .5rem;
  max-width: 100%;
  overflow: auto;
}

.settings-appspace-user-actions {
  display: grid;
  grid-gap: 0.5rem;
}

.settings-appspace-modules {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-radius: .5rem;
  padding: 1rem;
}

.settings-appspace-modules-modal {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border-radius: .5rem;
  padding: 2rem 0 0 2rem;
}

.settings-appspace-modules-container {
  margin-bottom: 4rem;
}

.settings-appspace-privatekey {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: .4rem;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  align-items: center;
}

.settings-appspace-privatekey>div {
  font-family: p-word;
}

.settings-appspace-privatekey>i {
  cursor: pointer;
}

.settings-appspace-upload-button {
  display: none;
}

.settings-appspace-app {
  line-height: 2rem;
  display: flex;
  align-items: center;
}

.settings-appspace-app label {
  text-transform: none;
  font-size: 1.6rem;
  margin-right: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 13rem;
}

.settings-appspace-installed-app {
  line-height: 2rem;
  display: flex;
  align-items: center;
}

.settings-appspace-installed-app label {
  text-transform: none;
  font-size: 1.6rem;
  margin-right: .5rem;
}

label.treated {
  display: none;
}

.settings-appspace-versions-container {
  margin-bottom: 4rem;
}

.settings-appspace-versions-container {}

.settings-appspace-versions {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin-bottom: 2rem;
  grid-column-gap: 1rem;
  padding: 1rem;
  grid-row-gap: 1.5rem;
}

.settings-appspace-icons {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  padding: 2rem 1rem;
  overflow: auto;
}

.settings-appspace-icons div, .settings-appspace-icons div a {
  display: flex;
  align-items: end;
  cursor: pointer;
}

.settings-appspace-icons i {
  color: var(--saito-primary);
  font-size: 2rem;
  margin: 0 1rem 0 0;
}

.settings-priv-key-text {
  font-family: inherit !important;
  overflow-y: clip;
}

@media only screen and (max-width: 600px) {
  .settings-appspace-modules {
    grid-template-columns: 1fr 1fr;
  }
  .settings-appspace-user-details {
    grid-template-columns: auto 1fr;
  }
  .settings-appspace-privatekey>input {
    width: 50%;
  }

}




#alert-shim {
  z-index: 2000;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

#saito-alert-box {
  width: 75vw;
  max-width: 700px;
  transition: all 333ms ease-in-out;
  margin: auto;
  position: relative;
  border: 1px solid var(--saito-primary);
  border-radius: 0 0 5px 5px;
  padding: 1em 1em 3.5em 1em;
}


#saito-alert-box button {
  margin: 0 0 0 1em;
}

#alert-buttons {
  float: right;
  margin: 0 0 0 1em;
  margin-top: 0.5rem;
}

#saito-alert-box p {
  font-family: "visuelt-light", "Microsoft Yahei", "Hiragino Sans GB";
  font-size: 1.4em;
  text-align: center;
  align-self: center;
  font-weight: bold;
  display: block;
  margin: 1em 0;
  overflow-wrap: break-word;
}

.settings-appspace-debug-content {
  margin: 1rem 0;
  padding: 1rem 0;
}

/*json tree */

.jsontree_node {
  list-style: none;
}