.hud-header {
	opacity: 0.5;
	background-color: #0005;
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
}


.hud-notice {
  border: 32x solid #424143;
  background-color: #b79e76;
  border-radius: 1rem 1rem 0 0;
}

.hud-notice .welcome {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}

.hud-notice .welcome .welcome-title {
    font-size: 2rem;
    width: max-content;
    margin-top: 2rem;
    padding:  1rem;
    line-height: 2.5rem;
    max-width: 90%;
    margin-left: 1rem;
    min-width: max-content;
}

.hud-notice .welcome .welcome-text {
    font-size: 1.8rem;
    width: max-content;
    max-width: 90%;
    line-height: 2.3rem;
    margin-left: 1rem;
    margin-bottom: 3rem;
}

.hud-body {
	overflow: auto;
	min-height: 20rem;
}
.hud-body .status .message {
	padding: 15px;
	background-color: whitesmoke;
}
.status-header .status-message {
	box-shadow: none;
}
.status-header {
	background-color: whitesmoke;
}

.hud-body .status {
	line-height: 2rem;
}

.hud-body .status ul {
	width: 100%;
	background-color: whitesmoke;
	overflow-y: auto;
}
.hud-body .status ul li,
.hud-body .status .status-text-menu li {
	cursor: pointer;
	padding: 15px;
	list-style: none;
	background-color: whitesmoke;
}
.hud-body .status ul li:hover,
.hud-body .status .status-text-menu li:hover {
	background-color: #e7e7e7;
}

.game-cardgrid {
	margin-top: 0rem;
}

.option {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

