.showcard {
	border-bottom: 2px dashed;
}

ul .option.showcard {
	border-bottom: 0px;
}

.deck-overlay .card .cancel_x {
	width: 100%;
	max-width: 100%;
}

.cardtext {
	position: relative;
	font-size: 2rem;
	z-index: 99;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: max-content;
	margin-top: 40%;
}

.pass .cardimg {
	position: absolute;
}
