.diplomacy-overlay {
	background-image: url(/his/img/backgrounds/diplomacy/ambassadors.jpeg);
	background-size: cover;
	max-height: 90vh;
	max-width: 90vw;
	width: 90vw;
	height: 90vh;
	min-height: 622px;
	display: flex;
	flex-direction: rows;
	padding: 2rem;
	flex-wrap: nowrap;
    	row-gap: 1rem;
    	column-gap: 1rem;
	align-items: flex-start;
    	justify-content: space-evenly;
    	overflow-y: auto;
}

.diplomacy-overlay .left .status2 {
        line-height: 2rem;
        font-size: 1.6rem;
        text-align: center;
}
.diplomacy-overlay .left .status2 ul {
        width: 100%;
        background-color: whitesmoke;
        overflow-y: auto;
}
.diplomacy-overlay .left .status2 ul li,
.diplomacy-overlay .left .status2 .status-text-menu li {
        cursor: pointer;
        padding: 15px;
        list-style: none;
        background-color: whitesmoke;
}
.diplomacy-overlay .left .status2 ul li:hover,
.diplomacy-overlay .left .status2 .status-text-menu li:hover {
        background-color: #e7e7e7;
}

.diplomacy-overlay .left .status2 {
    position: relative;
    height: 4rem;
    line-height: 4rem;
    min-height: 0;
    width: 30rem;
    max-width: 35rem;
    background-color: whitesmoke;
    z-index: 10;
    border-radius: 1rem;
    top: 0px;
    left: 0px;
    white-space: nowrap;
    float: left;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.diplomacy-overlay .left {
	width: 100%;
}

.diplomacy-overlay .right {
	width: 100%;
	height: 100%;
}

.diplomacy-overlay .left .controls2 {
    height: max-content;
    margin-top: 1rem;
    width: 30rem;
    max-width: 35rem;
    margin-left: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
}
.diplomacy-overlay .left .controls2 ul {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    margin-top: 1rem;
    position: relative;
}
.diplomacy-overlay .left .controls2 ul li {
    background-color: whitesmoke;
    height: 8rem;
    border-top: 1px solid var(--saito-border-color);
    width: 100%;
    font-size: 1.8rem;
    display: list-item;
    list-style: none;
    cursor: pointer;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: unset;
}


.diplomacy-overlay .right .help {
    background: #0009;
    padding: 1.2rem;
    color: white;
    font-size: 1.7rem;
    margin-top: 1rem;
    text-transform: capitalize;
}

.diplomacy-overlay .right .proposals {
    background: #0009;
    padding: 1.2rem;
    color: white;
    font-size: 1.7rem;
    margin-top: 1rem;
    height: 80%;
}

.diplomacy-overlay .right .submit {
    background-color: whitesmoke;
    height: 5rem;
    border-top: 1px solid var(--saito-border-color);
    width: 100%;
    font-size: 1.8rem;
    display: list-item;
    list-style: none;
    cursor: pointer;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    border-radius: 1rem;
    border: 1px dashed #C0C0C0;
}


.proposal-target-faction {
  margin-bottom: 1rem;
}

.proposal-group-level {
  margin-left: 2rem;
  list-style: auto;
}

.proposal-group-level div {
  margin-bottom: 1rem;
}

.proposal-term-level {
  margin-left: 1rem;
}

.proposal-add-term {
  margin-bottom: 1rem;
  cursor: pointer;
  border-bottom: 1px dashed whitesmoke;
  width: max-content;
}

.proposals ol li {
  margin-bottom: 0.25rem;
}

.diplomacy-overlay .menu-option-container {
  width: 28vw;
}

.proposal-close {
    float: right;
    display: inline;
    cursor: pointer;
    padding: 1rem;
    padding-top: 0px;
}



