
.vp-overlay {
    background-image: url(/his/img/backgrounds/new_world.jpg);
    background-size: cover;
    max-height: 90vh;
    max-width: 90vw;
    width: 90vw;
    height: auto;
    min-height: 622px;
    text-align: center;
    z-index: 110;
}

.vp-overlay .help {
    background: #0009;
    width: 100%;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.4rem;
    padding: 0.75rem;
    max-width: 100%;
    padding: 2rem;
    line-height: 3.4rem;
}

.vp-overlay .advice {
    background: #0009;
    width: 100%;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.4rem;
    padding: 0.75rem;
    max-width: 100%;
    padding: 2rem;
    line-height: 3.4rem;
    bottom: 0px;
    position: absolute;
}

.vp-overlay .factions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 7.5rem;
    margin-bottom: 5rem;
    width: 80%;
    background-color: #0009;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 2.4rem;
    padding: 0.5rem;
    row-gap: 1rem;
    column-gap: 1rem;
}

.vp-overlay .factions div {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.vp-overlay .factions .round {
    border: 1px dashed #fff;
}

.vp-overlay .factions div .title {

}
.vp-overlay .factions div .title {
    font-size: 1.5rem;
    text-align: left;
}
.vp-overlay .factions div .vp {
    font-size: 4rem;
}

