
.theses-overlay {
    height: 90vh;
    width: 90vw;
    overflow: hidden;
}

.theses-overlay .status {
    position: fixed;
    transform: translate(-50%, 20%);
    left: 22%;
    mind-width: auto;
    height: auto;
    min-height: 10.4rem;
    background-color: whitesmoke;
    z-index: 10;
    border-radius: 1rem;
}

.theses-overlay .status .status-header {
   box-shadow: none;
   margin-bottom: 0px;
}

.theses-overlay .status .message {
    padding: 1rem;
    margin-bottom: 0px;
    box-shadow: none;
}

.theses-overlay .status ul .option {
    padding: 15px;
}

.theses-overlay .gameboard {
    position: relative;
    transform: translate(-50%, -18%) scaleX(0.7) scaleY(0.7);
    left: 30%;
}

