.new-world-overlay {
	background-image: url(/his/img/backgrounds/new_world.jpg);
	background-size: cover;
	max-height: 90vh;
	max-width: 90vw;
	width: 90vw;
	height: auto;
	min-height: 622px;
	text-align: center;
}


.new-world-overlay .help {
	background: #0009;
	width: 100%;
	color: white;
	margin-left: auto;
	margin-right: auto;
	font-size: 2.4rem;
	padding: 0.75rem;
	max-width: 100%;
	padding: 2rem;
	line-height: 3.4rem;
}

.new-world-overlay .content {
	margin-top: 2.5rem;
	padding: 2rem;
	background-color: transparent;
	color: white;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	max-width: max-content;
	margin-left: auto;
	margin-right: auto;
	column-gap: 1rem;
	font-size: 2rem;
}

.new-world-row {
	display: flex;
	flex-direction: rows;
	justify-items: right;
	background: #0005;
	border: 1px solid black;
	height: 6rem;
	margin-left: unset;
	margin-right: unset;
	margin-top: unset;
	width: unset;
	color: whitesmoke;
	letter-spacing: 0.05rem;
}

.new-world-explorer {
    background-image: url(/his/img/tiles/explorers/Cabot_English.svg);
    background-size: cover;
    height: 6rem;
    min-height: 6rem;
    width: 6rem;
    min-width: 6rem;
}

.new-world-colony {
    background-image: url(/his/img/tiles/explorers/Cabot_English.svg);
    background-size: cover;
    height: 6rem;
    min-height: 6rem;
    width: 6rem;
    min-width: 6rem;
}

.new-world-conquest {
    background-image: url(/his/img/tiles/explorers/Cabot_English.svg);
    background-size: cover;
    height: 6rem;
    min-height: 6rem;
    width: 6rem;
    min-width: 6rem;
}

.new-world-row .new-world-description {
	width: 100%;
	height: 6rem;
	padding: 0.75rem;
	font-size: 2rem;
	grid-column: 1;
}

.new-world-roll {
	display: grid;
	grid-template-columns: 6rem;
	background: #0005;
	width: 6rem;
	height: 6rem;
	border: 1px solid black;
	margin-bottom: 0rem;
	min-height: 0px;
	font-weight: bolder;
	text-transform: uppercase;
	font-size: 3.5rem;
	text-align: center;
	padding-top: 1rem;
	grid-column: 2;
}

.new-world-roll.hit {
	background-color: goldenrod;
	color: black;
}

.new-world-details {
}
.new-world-faction {
	position: relative;
	font-size: 1.5rem;
}

.new-world-overlay div div .title {
	background: #0005;
	font-size: 2.5rem;
	text-align: center;
	border: 1px solid black;
	grid-column: 1 / span 2;
	grid-row: 1;
	max-height: 5rem;
	min-height: 5rem;
	line-height: 4rem;
}

.new-world-overlay .content .conquests,
.new-world-overlay .content .colonies,
.new-world-overlay .content .explations {
	width: 28rem;
	max-width: 28vw;
}
