.naval-movement-overlay {
	height: 90vh;
	width: 90vw;
	overflow: hidden;
	overflow-y: scroll;
	background-image: url(/his/img/backgrounds/mediterranean.jpg);
	background-size: cover;
	min-width: 90vw;
}
.naval-movement-overlay {
	display: flex;
	justify-content: right;
}
.naval-movement-overlay .origin + .destination {
    max-width: 100%;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    margin-right: 5rem;
    margin-top: 5rem;
}

.scontrols ul li , .dcontrols ul li {
    background-color: whitesmoke;
    height: 8rem;
    border-top: 1px solid var(--saito-border-color);
    width: 100%;
    font-size: 1.8rem;
    display: list-item;
    list-style: none;
    cursor: pointer;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.naval-movement-overlay .sstatus {
	width: 25rem;
	max-width: 25rem;
	text-align: center;
	line-height: 4rem;
	position: relative;
	height: 4rem;
	min-height: 0;
	background-color: whitesmoke;
	z-index: 10;
	border-radius: 1rem;
	top: 0px;
	left: 0px;
	white-space: nowrap;
	float: left;
	margin-left: 5rem;
	margin-top: 1rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.naval-movement-overlay .scontrols ul , .naval-movement-overlay .dcontrols ul {
	display: block;
	position: relative;
	background-color: whitesmoke;
	line-height: 4rem;
	width: 25rem;
	max-width: 35rem;
	z-index: 10;
	border-radius: 1rem;
	top: 0px;
	left: 0px;
	white-space: nowrap;
	float: left;
	margin-left: 5rem;
	margin-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	clear: both;
	min-height: max-content;
	max-height: max-content;
	height: auto;
	cursor: pointer;
}

.naval-movement-overlay .sstatus .status-header {
	box-shadow: none;
	margin-bottom: 0px;
	padding: 1rem;
	margin-bottom: 0px;
	box-shadow: none;
}

.naval-movement-overlay .sstatus .status-text-menu {
	background-color: whitesmoke;
	margin-top: 1rem;
	width: min(500px, 100%);
	overflow-y: auto;
	font-size: 1.6rem;
}
.naval-movement-overlay .status-text-menu ul {
	list-style-type: none;
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0px;
	font-size: 1.6rem;
}
.naval-movement-overlay .status-text-menu ul li {
	padding: 1.5rem;
}

.naval-movement-overlay .status-header .status-message {
	position: relative;
	width: 45vw;
	max-width: 100%;
	min-height: 40px;
	margin-left: auto;
	margin-right: auto;
	font-size: 2.6rem;
	background-color: #0009;
}

.naval-movement-overlay {
	display: grid;
	grid-template-columns: min-content 1fr;
}

