.faction_sheet_vp .debaters_tile {
	height: 5rem;
	width: 5rem;
}

.saint_peters_tile {
	background-image: url('/his/img/tiles/papacy/StPetersCP.svg');
	background-size: cover;
	width: 50px;
	height: 50px;
}
.papacy_keytile {
	background-image: url('/his/img/tiles/papacy/Papacy_key.svg');
	background-size: cover;
	width: 50px;
	height: 50px;
}

.new_testament_german_tile {
	background-image: url('/his/img/factions/NewTestament_German.svg');
	background-size: cover;
	width: 50px;
	height: 50px;
	position: absolute;
	margin-top: 0rem;
}
.new_testament_french_tile {
	background-image: url('/his/img/factions/NewTestament_French.svg');
	background-size: cover;
	width: 50px;
	height: 50px;
	position: absolute;
	margin-top: 1rem;
}
.new_testament_english_tile {
	background-image: url('/his/img/factions/NewTestament_English.svg');
	background-size: cover;
	width: 50px;
	height: 50px;
	position: absolute;
	margin-top: 2rem;
}

.bible_german_tile {
	background-image: url('/his/img/factions/BibleGerman.svg');
	background-size: cover;
	width: 50px;
	height: 50px;
	position: absolute;
	margin-top: 0rem;
}
.bible_french_tile {
	background-image: url('/his/img/factions/BibleFrench.svg');
	background-size: cover;
	width: 50px;
	height: 50px;
	position: absolute;
	margin-top: 1rem;
}
.bible_english_tile {
	background-image: url('/his/img/factions/BibleEnglish.svg');
	background-size: cover;
	width: 50px;
	height: 50px;
	position: absolute;
	margin-top: 2rem;
}

#hapsburg_vp_tile {
	background-image: url('/his/img/vp/VP_Hapsburg.svg');
	background-size: cover;
}
#protestant_vp_tile {
	background-image: url('/his/img/vp/VP_Hapsburg.svg');
	background-size: cover;
}
#france_vp_tile {
	background-image: url('/his/img/vp/VP_France.svg');
	background-size: cover;
}
#england_vp_tile {
	background-image: url('/his/img/vp/VP_England.svg');
	background-size: cover;
}
#ottoman_vp_tile {
	background-image: url('/his/img/vp/VP_Ottoman.svg');
	background-size: cover;
}
#papacy_vp_tile {
	background-image: url('/his/img/vp/VP_Papacy.svg');
	background-size: cover;
}

.war_winner_vp.vp1 {
	width: 50px;
	height: 50px;
	background-image: url(/his/img/vp/WarWinner1VP.svg);
	background-size: contain;
}
.war_winner_vp.vp2 {
	width: 50px;
	height: 50px;
	background-image: url(/his/img/vp/WarWinner2VP.svg);
	background-size: contain;
}

.faction_sheet {
	width: 1240px;
	height: 800px;
	max-height: 80vh;
	max-width: calc(80vh * 1.55);
	background-image: url(/his/img/factions/protestant.png);
	background-size: contain;
}

.faction_sheet_ruler {
	top: 3.5%;
	left: 66.5%;
	position: relative;
	width: 30.5%;
}
.faction_sheet_vp {
	top: 73%;
	left: 66.5%;
	position: relative;
	width: 30.5%;

	display: flex;
	flex-wrap: wrap;
	overflow-y: auto;
	overflow: normal;
	flex-direction: rows;
	justify-content: space-evenly;
}

.faction_sheet_keytile {
	position: absolute;
	height: 7%;
	width: 7%;
}
.faction_sheet_england_keytile1 {
	top: 568px;
	left: 42px;
}
.faction_sheet_england_keytile2 {
	top: 568px;
	left: 155px;
}
.faction_sheet_england_keytile3 {
	top: 568px;
	left: 269px;
}
.faction_sheet_england_keytile4 {
	top: 568px;
	left: 383px;
}
.faction_sheet_england_keytile5 {
	top: 568px;
	left: 496px;
}
.faction_sheet_england_keytile6 {
	top: 681px;
	left: 42px;
}
.faction_sheet_england_keytile7 {
	top: 681px;
	left: 155px;
}
.faction_sheet_england_keytile8 {
	top: 681px;
	left: 269px;
}
.faction_sheet_england_keytile9 {
	top: 681px;
	left: 383px;
}

.faction_sheet_france_keytile1 {
	top: 572px;
	left: 49px;
}
.faction_sheet_france_keytile2 {
	top: 572px;
	left: 156px;
}
.faction_sheet_france_keytile3 {
	top: 572px;
	left: 262px;
}
.faction_sheet_france_keytile4 {
	top: 572px;
	left: 370px;
}
.faction_sheet_france_keytile5 {
	top: 678px;
	left: 49px;
}
.faction_sheet_france_keytile6 {
	top: 678px;
	left: 156px;
}
.faction_sheet_france_keytile7 {
	top: 678px;
	left: 262px;
}
.faction_sheet_france_keytile8 {
	top: 678px;
	left: 370px;
}
.faction_sheet_france_keytile9 {
	top: 678px;
	left: 476px;
}
.faction_sheet_france_keytile10 {
	top: 678px;
	left: 580px;
}
.faction_sheet_france_keytile11 {
	top: 678px;
	left: 688px;
}

.faction_sheet_ottoman_keytile1 {
	top: 572px;
	left: 45px;
}
.faction_sheet_ottoman_keytile2 {
	top: 572px;
	left: 160px;
}
.faction_sheet_ottoman_keytile3 {
	top: 572px;
	left: 274px;
}
.faction_sheet_ottoman_keytile4 {
	top: 572px;
	left: 388px;
}
.faction_sheet_ottoman_keytile5 {
	top: 572px;
	left: 500px;
}
.faction_sheet_ottoman_keytile6 {
	top: 572px;
	left: 613px;
}
.faction_sheet_ottoman_keytile7 {
	top: 680px;
	left: 45px;
}
.faction_sheet_ottoman_keytile8 {
	top: 680px;
	left: 160px;
}
.faction_sheet_ottoman_keytile9 {
	top: 680px;
	left: 274px;
}
.faction_sheet_ottoman_keytile10 {
	top: 680px;
	left: 388px;
}
.faction_sheet_ottoman_keytile11 {
	top: 680px;
	left: 500px;
}

.faction_sheet_hapsburg_keytile1 {
	top: 454px;
	left: 43px;
}
.faction_sheet_hapsburg_keytile2 {
	top: 454px;
	left: 156px;
}
.faction_sheet_hapsburg_keytile3 {
	top: 454px;
	left: 270px;
}
.faction_sheet_hapsburg_keytile4 {
	top: 454px;
	left: 383px;
}
.faction_sheet_hapsburg_keytile5 {
	top: 454px;
	left: 497px;
}
.faction_sheet_hapsburg_keytile6 {
	top: 567px;
	left: 43px;
}
.faction_sheet_hapsburg_keytile7 {
	top: 567px;
	left: 156px;
}
.faction_sheet_hapsburg_keytile8 {
	top: 567px;
	left: 270px;
}
.faction_sheet_hapsburg_keytile9 {
	top: 567px;
	left: 383px;
}
.faction_sheet_hapsburg_keytile10 {
	top: 567px;
	left: 497px;
}
.faction_sheet_hapsburg_keytile11 {
	top: 680px;
	left: 43px;
}
.faction_sheet_hapsburg_keytile12 {
	top: 680px;
	left: 156px;
}
.faction_sheet_hapsburg_keytile13 {
	top: 680px;
	left: 270px;
}
.faction_sheet_hapsburg_keytile14 {
	top: 680px;
	left: 383px;
}

.protestant_translation_status0 {
	top: 57%;
	left: 3%;
	height: 7%;
	width: 7%;
}
.protestant_translation_status1 {
	top: 57%;
	left: 11%;
	height: 7%;
	width: 7%;
}
.protestant_translation_status2 {
	top: 57%;
	left: 18%;
	height: 7%;
	width: 7%;
}
.protestant_translation_status3 {
	top: 57%;
	left: 26%;
	height: 7%;
	width: 7%;
}
.protestant_translation_status4 {
	top: 57%;
	left: 33.5%;
	height: 7%;
	width: 7%;
}
.protestant_translation_status5 {
	top: 57%;
	left: 41%;
	height: 7%;
	width: 7%;
}
.protestant_translation_status6 {
	top: 57%;
	left: 48.5%;
	height: 7%;
	width: 7%;
}

.faction_sheet_protestant_keytile1 {
	top: 73.5%;
	left: 2.5%;
	height: 10%;
	width: 7%;
}
.faction_sheet_protestant_keytile2 {
	top: 73.5%;
	left: 10%;
	height: 10%;
	width: 7%;
}
.faction_sheet_protestant_keytile3 {
	top: 73.5%;
	left: 17.5%;
	height: 10%;
	width: 7%;
}
.faction_sheet_protestant_keytile4 {
	top: 73.5%;
	left: 25%;
	height: 10%;
	width: 7%;
}
.faction_sheet_protestant_keytile5 {
	top: 73.5%;
	left: 32.5%;
	height: 10%;
	width: 7%;
}
.faction_sheet_protestant_keytile6 {
	top: 73.5%;
	left: 40%;
	height: 10%;
	width: 7%;
}
.faction_sheet_protestant_keytile7 {
	top: 85.5%;
	left: 2.5%;
	height: 10%;
	width: 7%;
}
.faction_sheet_protestant_keytile8 {
	top: 85.5%;
	left: 10%;
	height: 10%;
	width: 7%;
}
.faction_sheet_protestant_keytile9 {
	top: 85.5%;
	left: 17.5%;
	height: 10%;
	width: 7%;
}
.faction_sheet_protestant_keytile10 {
	top: 85.5%;
	left: 25%;
	height: 10%;
	width: 7%;
}
.faction_sheet_protestant_keytile11 {
	top: 85.5%;
	left: 32.5%;
	height: 10%;
	width: 7%;
}

.england_marital_status1 {
	top: 420px;
	left: 42px;
}
.england_marital_status2 {
	top: 420px;
	left: 148px;
}
.england_marital_status3 {
	top: 420px;
	left: 255px;
}
.england_marital_status4 {
	top: 420px;
	left: 360px;
}
.england_marital_status5 {
	top: 420px;
	left: 467px;
}
.england_marital_status6 {
	top: 420px;
	left: 573px;
}
.england_marital_status7 {
	top: 420px;
	left: 680px;
}

.france_chateaux_status1 {
	top: 472px;
	left: 434px;
	height: 84px;
	width: 84px;
}
.france_chateaux_status2 {
	top: 472px;
	left: 524px;
	height: 84px;
	width: 84px;
}
.france_chateaux_status3 {
	top: 472px;
	left: 614px;
	height: 84px;
	width: 84px;
}
.france_chateaux_status4 {
	top: 472px;
	left: 702px;
	height: 84px;
	width: 84px;
}
.france_chateaux_status5 {
	top: 560px;
	left: 524px;
	height: 84px;
	width: 84px;
}
.france_chateaux_status6 {
	top: 560px;
	left: 614px;
	height: 84px;
	width: 84px;
}
.france_chateaux_status7 {
	top: 560px;
	left: 702px;
	height: 84px;
	width: 84px;
}

.ottoman_piracy_status_keytile1 {
	height: 85px;
	width: 85px;
	top: 350px;
	left: 141px;
}
.ottoman_piracy_status_keytile2 {
	height: 85px;
	width: 85px;
	top: 350px;
	left: 235px;
}
.ottoman_piracy_status_keytile3 {
	height: 85px;
	width: 85px;
	top: 350px;
	left: 329px;
}
.ottoman_piracy_status_keytile4 {
	height: 85px;
	width: 85px;
	top: 350px;
	left: 424px;
}
.ottoman_piracy_status_keytile5 {
	height: 85px;
	width: 85px;
	top: 350px;
	left: 518px;
}
.ottoman_piracy_status_keytile6 {
	height: 85px;
	width: 85px;
	top: 440px;
	left: 46px;
}
.ottoman_piracy_status_keytile7 {
	height: 85px;
	width: 85px;
	top: 440px;
	left: 141px;
}
.ottoman_piracy_status_keytile8 {
	height: 85px;
	width: 85px;
	top: 440px;
	left: 235px;
}
.ottoman_piracy_status_keytile9 {
	height: 85px;
	width: 85px;
	top: 440px;
	left: 329px;
}
.ottoman_piracy_status_keytile10 {
	height: 85px;
	width: 85px;
	top: 440px;
	left: 424px;
}
.ottoman_piracy_status_keytile11 {
	height: 85px;
	width: 85px;
	top: 518px;
	left: 141px;
}

.papacy_construction_status1 {
	height: 11%;
	width: 7%;
	top: 54.5%;
	left: 3%;
}
.papacy_construction_status2 {
	height: 11%;
	width: 7%;
	top: 54.5%;
	left: 10.5%;
}
.papacy_construction_status3 {
	height: 11%;
	width: 7%;
	top: 54.5%;
	left: 18%;
}
.papacy_construction_status4 {
	height: 11%;
	width: 7%;
	top: 54.5%;
	left: 25.5%;
}
.papacy_construction_status5 {
	height: 11%;
	width: 7%;
	top: 54.5%;
	left: 33%;
}
.papacy_construction_status6 {
	height: 11%;
	width: 7%;
	top: 54.5%;
	left: 41%;
}
.papacy_construction_status7 {
	height: 11%;
	width: 7%;
	top: 66.5%;
	left: 3%;
}
.papacy_construction_status8 {
	height: 11%;
	width: 7%;
	top: 66.5%;
	left: 10.5%;
}
.papacy_construction_status9 {
	height: 11%;
	width: 7%;
	top: 66.5%;
	left: 18%;
}
.papacy_construction_status10 {
	height: 11%;
	width: 7%;
	top: 66.5%;
	left: 25.5%;
}
.papacy_construction_status11 {
	height: 11%;
	width: 7%;
	top: 66.5%;
	left: 33%;
}
.papacy_construction_status12 {
	height: 11%;
	width: 7%;
	top: 66.5%;
	left: 41%;
}

.faction_sheet_papacy_keytile1 {
	top: 83%;
	left: 3%;
	height: 12%;
	width: 8%;
}
.faction_sheet_papacy_keytile2 {
	top: 83%;
	left: 12%;
	height: 12%;
	width: 8%;
}
.faction_sheet_papacy_keytile3 {
	top: 83%;
	left: 21%;
	height: 12%;
	width: 8%;
}
.faction_sheet_papacy_keytile4 {
	top: 83%;
	left: 30%;
	height: 12%;
	width: 8%;
}
.faction_sheet_papacy_keytile5 {
	top: 83%;
	left: 39.5%;
	height: 12%;
	width: 8%;
}
.faction_sheet_papacy_keytile6 {
	top: 83%;
	left: 48.5%;
	height: 12%;
	width: 8%;
}
.faction_sheet_papacy_keytile7 {
	top: 83%;
	left: 57.5%;
	height: 12%;
	width: 8%;
}
