
.blink {
  animation: blinktext 2.5s linear infinite;
}
.blinktext {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
@keyframes blinktext {
  50% {
    color: whitesmoke;
  }
}



