
.reformation-overlay {
  background-image: url("/his/img/backgrounds/reformation.jpg");
  background-size: cover;
  width: 80vw;
  max-width: 90vw;
  max-height: 90vh;
  min-height: 800px;
  height: auto; 
  color: white;
}

.reformation-overlay .title {
    color: white;
    font-size: 2.5rem;
    padding: 1rem;
    text-transform: capitalize;
    background: #0005;
    margin-left: auto;
    margin-right: auto;
}

.adjacency {
    position: relative;
    bottom: 0px;
    right: 0px;
    float: right;
    font-size: 1.2rem;
}

.reformation-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4rem;
}

.unit-box-description {
    width: min-content;
    background: #0005;
    height: min-content;
    padding: 0.75rem;
    font-size: 2rem;
}

.reformation-box .papacy {

}

.unit-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  justify-items: center;
}

.unit-element {
  display: grid;
  grid-template-columns: 6rem 6rem;
  background: #0005;
  width: 6rem;
  height: 6rem;
  border: 1px solid black;
  margin-bottom: 0rem;
  min-height: 0px;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 0px;

}

.unit-box {
}

.unit-box-desc {
    width: min-content;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    font-size: 1rem;
}
.unit-box-num {
    margin-left: auto;
    margin-right: auto;
    width: min-content;
    padding-top: 0.75rem;
    font-size: 3rem;
}

