
.hud-header {
  opacity: 0.5;
  background-color: #0005;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}
,hud-body {
  overflow: scroll;
}
.hud-body .status .message {
  padding: 15px;
  background-color: whitesmoke;
}
.status-message {
  min-height: 50px;
  background-color: whitesmoke;
}
.hud-body .status ul {
  width: 100%;
  background-color: whitesmoke;
}
.hud-body .status ul li , .hud-body .status .status-text-menu li {
  cursor: pointer;
  padding: 15px;
  list-style: none;
  background-color: whitesmoke;
}
.hud-body .status ul li:hover , .hud-body .status .status-text-menu li:hover {
  background-color: #E7E7E7;
}

