.marriage-overlay {
    background-image: url(/his/img/backgrounds/marital_status.png);
    background-size: contain;
    aspect-ratio: 1875 / 1249;
    height: 80vh;
}

.pregnancy {
  background-size: cover;
  position: absolute;
  height: 85px;
  width: 85px;
}

.marriage-overlay .help {
	background: #0009;
	width: 100%;
	color: white;
	margin-left: auto;
	margin-right: auto;
	font-size: 2.4rem;
	padding: 0.75rem;
	max-width: 100%;
	padding: 2rem;
	line-height: 3.4rem;
}

.marriage-overlay .tile {
    display: block;
    position: absolute;
    height: 22%;
    width: 15%;
}

.marriage-overlay .tile1 {
    top: 75%;
    left: 2%;
}
.marriage-overlay .tile2 {
    top: 75%;
    left: 2%;
}
.marriage-overlay .tile3 {
    top: 75%;
    left: 18%;
}
.marriage-overlay .tile4 {
    top: 75%;
    left: 35%;
}
.marriage-overlay .tile5 {
    top: 75%;
    left: 51%;
}
.marriage-overlay .tile6 {
    top: 75%;
    left: 67%;
}
.marriage-overlay .tile7 {
    top: 75%;
    left: 83%;
}


