.hud-body .status .status-message {
	padding-top: 15px;
}

#saito-header {
  backdrop-filter: blur(1px);
  z-index: 90;
}

:root {
 --border-color-general-dividers: #ddd;
}

.saito-overlay {
  background-color: transparent;
  box-shadow: none;
}
//.saito-overlay:has(> .ovjectives-overlay) {
//  box-shadow: none;
//}

.saito-overlay-backdrop {
  background-color: #0009;
}

.persia , .war_in_persia {
    top: 500px;
    left: 3800px;
    width: 475px;
    height: 750px;
}
.option.persia { top: unset; left: unset; }
.option.ireland { top: unset; left: unset; }
.option.egypt { top: unset; left: unset; }

.ireland , .revolt_in_ireland {
    top: 800px;
    left: 4125px;
    width: 475px;
    height: 750px;
}
.egypt , .revolt_in_egypt {
    top: 800px;
    left: 4500px;
    width: 475px;
    height: 750px;
}

.university {
    z-index: 10;
    position: absolute;
}
.pirate-haven {
    z-index: 4;
    position: absolute;
}

.selectable::before {
	content: ' ';
	box-shadow: 2rem 2rem 7rem 3rem #fffc, -2rem -2rem 7rem 3rem #fffc;
	height: 6rem;
	width: 6rem;
	display: block;
	margin-top: 2.5rem;
	margin-left: 2rem;
	position: absolute;
}

.warbox {
	height: 9rem;
	width: 9rem;
	position: absolute;
	display: block;
}

.fortified {
	display: block;
	position: absolute;
	width: 14rem;
	height: 14rem;
	left: -2.5rem;
	top: -2.5rem;
}

.warbox img {
	height: 100%;
	width: 100%;
}

img {
	width: unset;
}

.card {
	position: relative;
}
.cardimg,
.card img {
	position: relative;
}
.cardimg.cancel_x {
	position: absolute;
	width: inherit;
}

.saito-overlay-backdrop {
	opacity: 0.8;
}

.cancel_x {
	opacity: 0.3;
}
.cardimg {
	position: absolute;
	width: 100%;
	height: auto;
	top: 0px;
	left: 0px;
}

.revolt_in_egypt {
	display: none;
	background-color: transparent;
	width: 350px;
	height: 500px;
	top: 2700px;
	left: 4600px;
	position: absolute;
	transform: rotate(15deg);
	background-image: url('/his/img/cards/HIS-092.svg');
	background-size: contain;
	background-repeat: no-repeat;
}
.revolt_in_ireland {
	display: none;
	background-color: transparent;
	width: 350px;
	height: 500px;
	top: 800px;
	left: 900px;
	position: absolute;
	transform: rotate(15deg);
	background-image: url('/his/img/cards/HIS-093.svg');
	background-size: contain;
	background-repeat: no-repeat;
}
.war_in_persia {
	display: none;
	background-color: transparent;
	width: 350px;
	height: 500px;
	top: 2000px;
	left: 4650px;
	position: absolute;
	transform: rotate(15deg);
	background-image: url('/his/img/cards/HIS-110.svg');
	background-size: contain;
	background-repeat: no-repeat;
}


.piracy_marker {
  	position: absolute;
	width: 100px;
	height: 100px;
	background-image: url('/his/img/Piracy.svg');
	background-size: cover;
        z-index: -1;
}
.piracy_marker.channel {
	top: 1025px;
	left: 1320px;
}
.piracy_marker.north {
	top: 80px;
	left: 2150px;
}
.piracy_marker.baltic {
	top: 40px;
	left: 3040px;
}
.piracy_marker.biscay {
	top: 1500px;
	left: 1300px;
}
.piracy_marker.atlantic {
	top: 2880px;
	left: 1000px;
}
.piracy_marker.gulflyon {
	top: 2150px;
	left: 2500px;
}
.piracy_marker.barbary {
	top: 2550px;
	left: 2350px;
}
.piracy_marker.tyrrhenian {
	top: 2100px;
	left: 2950px;
}
.piracy_marker.africa {
	top: 2775px;
	left: 4100px;
}
.piracy_marker.adriatic {
	top: 1800px;
	left: 3350px;
}
.piracy_marker.ionian {
	top: 2385px;
	left: 3650px;
}
.piracy_marker.aegean {
	top: 2500px;
	left: 4350px;
}
.piracy_marker.black {
	top: 1465px;
	left: 4650px;
}

.navalspace {
	width: 190px;
	height: 100px;
	position: absolute;
}
.navalspace.irish {
	top: 900px;
	left: 900px;
}
.navalspace.channel {
	top: 1025px;
	left: 1420px;
}
.navalspace.north {
	top: 360px;
	left: 2150px;
}
.navalspace.baltic {
	top: 40px;
	left: 3140px;
}
.navalspace.biscay {
	top: 1500px;
	left: 1400px;
}
.navalspace.atlantic {
	top: 2880px;
	left: 1100px;
}
.navalspace.gulflyon {
	top: 2150px;
	left: 2600px;
}
.navalspace.barbary {
	top: 2550px;
	left: 2450px;
}
.navalspace.tyrrhenian {
	top: 2100px;
	left: 3050px;
}
.navalspace.africa {
	top: 2775px;
	left: 4200px;
}
.navalspace.adriatic {
	top: 1800px;
	left: 3450px;
}
.navalspace.ionian {
	top: 2385px;
	left: 3750px;
}
.navalspace.aegean {
	top: 2500px;
	left: 4450px;
}
.navalspace.black {
	top: 1465px;
	left: 4750px;
}

.personage_tile {
	height: 25rem;
	width: 25rem;
	background-size: cover;
}

.personage_overlay {
	grid-template-columns: 1fr 1fr 1fr 1fr;
	display: grid;
}

.vp_tile {
	position: absolute;
	z-index: 200;
	height: 100px;
	width: 100px;
	top: 100px;
	left: 100px;
	display: none;
}

.siege:hover {
        opacity: 0.2;
}
.siege {
	position: absolute;
	display: block;
	height: 130px;
	width: 130px;
	top: -10px;
	left: -10px;
	z-index: 1000;
}

.unrest {
	position: absolute;
	display: block;
	height: 130px;
	width: 130px;
	top: -10px;
	left: -10px;
	z-index: 999;
}
.unrest:hover {
	opacity: 0.3;
}

.option {
	min-height: 40px;
}

.cardimg {
	width: 100%;
}

.religious_conflict_sheet {
	width: 1110px;
	height: 820px;
	background-size: auto;
}

.religious_conflict_sheet_tile {
	position: absolute;
	height: 75px;
	width: 75px;
	background-image: url('/his/img/tiles/independent/Independent_key.svg');
	background-color: yellow;
	background-size: contain;
}
.religious_conflict_sheet_tile:hover {
	opacity: 0.2;
}

.gameboard {
	background-image: url('/his/img/gameboard-large.jpg');
	background-size: cover;
	width: 4950px;
	height: 3164px;
}

.electorate_display {
	position: absolute;
	z-index: 10;
	height: 100px;
	width: 100px;
}
.space {
	position: absolute;
	z-index: -1;
	height: 100px;
	width: 100px;
}

.figures_tile {
	z-index: 15;
	display: block;
	position: absolute;
	left: 20px;
	top: 20px;
}
.navy_tile {
	z-index: 10;
	display: block;
	position: absolute;
}
.navy_tile:nth-child(1) {
	margin-left: -20px;
	margin-top: -20px;
}
.navy_tile:nth-child(2) {
	margin-left: -10px;
	margin-top: -30px;
}
.navy_tile:nth-child(3) {
	margin-left: 0px;
	margin-top: -40px;
}
.navy_tile:nth-child(4) {
	margin-left: 10px;
	margin-top: -50px;
}
.navy_tile:nth-child(5) {
	margin-left: 20px;
	margin-top: -60px;
}
.navy_tile:nth-child(6) {
	margin-left: 30px;
	margin-top: -70px;
}
.navy_tile:nth-child(7) {
	margin-left: 40px;
	margin-top: -80px;
}
.navy_tile:nth-child(8) {
	margin-left: 50px;
	margin-top: -90px;
}
.navy_tile:nth-child(9) {
	margin-left: 60px;
	margin-top: -100px;
}
.navy_tile:nth-child(10) {
	margin-left: 70px;
	margin-top: -110px;
}
.navy_tile:nth-child(11) {
	margin-left: 80px;
	margin-top: -120px;
}
.navy_tile:nth-child(12) {
	margin-left: 90px;
	margin-top: -130px;
}
.navy_tile:nth-child(13) {
	margin-left: 100px;
	margin-top: -140px;
}
.navy_tile:nth-child(14) {
	margin-left: 110px;
	margin-top: -150px;
}
.navy_tile:nth-child(15) {
	margin-left: 120px;
	margin-top: -160px;
}

.army_tile {
	z-index: 20;
	position: absolute;
	top: 0px;
	left: -10px;
}
.mercenary_tile {
	z-index: 25;
	position: absolute;
	top: 10px;
	left: 0px;
}
.debater-commited {
	opacity: 0.4;
}
.hextile {
	position: absolute;
	z-index: 10;
	top: -10px;
	height: 120px;
	width: 100px;
}
.keytile {
	position: absolute;
	top: -7px;
	left: -7px;
	height: 122px;
	width: 122px;
}

.space_faction {
	font-size: 2rem;
}

.space_unit {
	margin-left: 1rem;
}

.space_regulars img:nth-child(1) {
	top: -5px;
	left: -5px;
}
.space_regulars img:nth-child(2) {
	top: -15px;
	left: -15px;
}
.space_regulars img:nth-child(3) {
	top: -25px;
	left: -25px;
}
.space_mercenaries img:nth-child(1) {
	top: -5px;
	left: -5px;
}
.space_mercenaries img:nth-child(2) {
	top: -15px;
	left: -15px;
}
.space_mercenaries img:nth-child(3) {
	top: -25px;
	left: -25px;
}
.army_tile {
	position: absolute;
	z-index: 999;
}
.army_tile:nth-child(1) {
	margin-left: -20px;
	margin-top: -20px;
}
.army_tile:nth-child(2) {
	margin-left: -10px;
	margin-top: -30px;
}
.army_tile:nth-child(3) {
	margin-left: -0px;
	margin-top: -40px;
}
.army_tile:nth-child(4) {
	margin-left: 10px;
	margin-top: -50px;
}
.army_tile:nth-child(5) {
	margin-left: 20px;
	margin-top: -60px;
}
.army_tile:nth-child(6) {
	margin-left: 30px;
	margin-top: -70px;
}
.army_tile:nth-child(7) {
	margin-left: 40px;
	margin-top: -80px;
}
.army_tile:nth-child(8) {
	margin-left: 50px;
	margin-top: -90px;
}
.army_tile:nth-child(9) {
	margin-left: 60px;
	margin-top: -100px;
}
.army_tile:nth-child(10) {
	margin-left: 70px;
	margin-top: -110px;
}

.space_view .space_units img {
	margin-left: 0px;
	margin-right: 0px;
	position: relative;
	padding: 0.25rem;
}


.turntrack {
  border: 1rem solid red;
  height: 24rem;
  width: 14rem;
  position: absolute;
}
.turntrack1 {
  top: 2905px;
  left: 3725px;
}
.turntrack2 {
  top: 2905px;
  left: 3860px;
}
.turntrack3 {
  top: 2905px;
  left: 3995px;
}
.turntrack4 {
  top: 2905px;
  left: 4125px;
}
.turntrack5 {
  top: 2905px;
  left: 4255px;
}
.turntrack6 {
  top: 2905px;
  left: 4390px;
}
.turntrack7 {
  top: 2905px;
  left: 4520px;
}
.turntrack8 {
  top: 2905px;
  left: 4660px;
}
.turntrack9 {
  top: 2905px;
  left: 4795px;
}



