.new-world-overlay {
	background-image: url(/his/img/backgrounds/new_world.jpg);
	background-size: cover;
	max-height: 90vh;
	max-width: 90vw;
	width: 90vw;
	height: auto;
	min-height: 622px;
	text-align: center;
}

.new-world-row.killed {
    background: #000A;
    opacity: 1;
    color: #ffa3b5;
}

.new-world-roll.goldenrod {
        background-color: goldenrod;
        color: black;
}

.conquest .nw_tile {
    width: 100%;
}

.nw_tile.depleted {
    opacity: 0.5;
}

.card_bonuses {
    position: absolute;
    bottom: 0px;
    background-color: #0005;
    color: white;
    font-size: 2rem;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 1rem;
}

.crossing_atlantic {
    height: 150px;
    width: 200px;
    top: 2100px;
    left: 700px;
    position: absolute;
}

.crossing_atlantic div {
   position: relative;
   height: 100px;
   width: 100px;
}
.crossing_atlantic .army_tile:nth-child(1) { margin-left: -30px; margin-top: 0px; }
.crossing_atlantic .army_tile:nth-child(2) { margin-left: 20px;  margin-top: 0px; }
.crossing_atlantic .army_tile:nth-child(3) { margin-left: 70px;  margin-top: 0px; }
.crossing_atlantic .army_tile:nth-child(4) { margin-left: 120px; margin-top: 0px; }
.crossing_atlantic .army_tile:nth-child(5) { margin-left: -30px; margin-top: 80px; }
.crossing_atlantic .army_tile:nth-child(6) { margin-left: 200px; margin-top: 80px;}
.crossing_atlantic .army_tile:nth-child(7) { margin-left: 70px;  margin-top: 80px; }
.crossing_atlantic .army_tile:nth-child(8) { margin-left: 120px; margin-top: 80px;}
.crossing_atlantic .army_tile:nth-child(9) { margin-left: 45px;  margin-top: 40px;}

.new-world-overlay .help {
	background: #0009;
	width: 100%;
	color: white;
	margin-left: auto;
	margin-right: auto;
	font-size: 2.4rem;
	padding: 0.75rem;
	max-width: 100%;
	padding: 2rem;
	line-height: 3.4rem;
}

.new-world-overlay .content {
	margin-top: 2.5rem;
	padding: 2rem;
	background-color: transparent;
	color: white;
	display: grid;
	display: flex;
	flex-direction: row;
	max-width: max-content;
	margin-left: auto;
	margin-right: auto;
	column-gap: 1rem;
	font-size: 2rem;
}

.new-world-row {
	display: flex;
	flex-direction: rows;
	justify-items: right;
	background: #0005;
	border: 1px solid black;
	height: 6rem;
	margin-left: unset;
	margin-right: unset;
	margin-top: unset;
	width: unset;
	color: whitesmoke;
	letter-spacing: 0.05rem;
}

.new-world-explorer {
    background: #0005;
    background-image: url(/his/img/tiles/explorers/Cabot_English.svg);
    background-size: cover;
    height: 6rem;
    min-height: 6rem;
    width: 6rem;
    min-width: 6rem;
    max-height: 100%;
    border: 1px solid black;
    margin-bottom: 0rem;
    min-height: 0px;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 3.5rem;
    text-align: center;
    padding-top: 1rem;
    max-height: 100%;
}

.new-world-colony {
    background-image: url(/his/img/tiles/explorers/Cabot_English.svg);
    background-size: cover;
    height: 6rem;
    min-height: 6rem;
    width: 6rem;
    min-width: 6rem;
    max-height: 100%;
    border: 1px solid black;
    margin-bottom: 0rem;
    min-height: 0px;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 3.5rem;
    text-align: center;
    padding-top: 1rem;
    max-height: 100%;
}

.new-world-conquest {
    background-image: url(/his/img/tiles/explorers/Cabot_English.svg);
    background-size: cover;
    height: 6rem;
    min-height: 6rem;
    width: 6rem;
    min-width: 6rem;
    max-height: 100%;
    border: 1px solid black;
    margin-bottom: 0rem;
    min-height: 0px;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 3.5rem;
    text-align: center;
    padding-top: 1rem;
    max-height: 100%;
}

.new-world-row .new-world-description {
	width: 100%;
	height: 6rem;
	padding: 0.75rem;
	font-size: 2rem;
	grid-column: 1;
}

.new-world-roll {
	display: grid;
	grid-template-columns: 6rem;
	background: #0005;
	width: 6rem;
	height: 6rem;
	border: 1px solid black;
	margin-bottom: 0rem;
	min-height: 0px;
	font-weight: bolder;
	text-transform: uppercase;
	font-size: 3.5rem;
	text-align: center;
	padding-top: 1rem;
	grid-column: 2;
}

.new-world-roll.hit {
	background-color: goldenrod;
	color: black;
}

.new-world-details {
}
.new-world-faction {
	position: relative;
	font-size: 1.5rem;
}

.new-world-overlay div div .title {
	background: #0005;
	font-size: 2.5rem;
	text-align: center;
	border: 1px solid black;
	grid-column: 1 / span 2;
	grid-row: 1;
	max-height: 5rem;
	min-height: 5rem;
	line-height: 4rem;
}

.new-world-overlay .content .conquests,
.new-world-overlay .content .colonies,
.new-world-overlay .content .explorations {
	width: 32rem;
	max-width: 32vw;
}


.new-world-bonus , .colony , .conquest {
  position: absolute;
  height: 10rem;
  width: 10rem;
}

.england_colony1 {
      top : 1007px;
      left : 55px;
}
.england_colony2 {
      top : 1120px;
      left : 55px;
}
.france_colony1 {
      top : 1230px;
      left : 55px;
}
.france_colony2 {
      top : 1340px;
      left : 55px;
}
.hapsburg_colony1 {
      top : 1455px;
      left : 55px;
}
.hapsburg_colony2 {
      top : 1565px;
      left : 55px;
}
.hapsburg_colony3 {
      top : 1680px;
      left : 55px;
}
.england_conquest1 {
      top : 1007px;
      left : 180px;
}
.england_conquest2 {
      top : 1120px;
      left : 180px;
}
.france_conquest1 {
      top : 1230px;
      left : 180px;
}
.france_conquest2 {
      top : 1340px;
      left : 180px;
}
.hapsburg_conquest1 {
      top : 1455px;
      left : 180px;
}
.hapsburg_conquest2 {
      top : 1565px;
      left : 180px;
}
.hapsburg_conquest3 {
      top : 1680px;
      left : 180px;
}
.england_colony1_bonus img , .england_colony2_bonus img , .france_colony1_bonus img , .france_colony2_bonus img , .hapsburg_colony1_bonus img , .hapsburg_colony2_bonus img , .hapsburg_colony3_bonus img {
      width: 100%;
}
.england_colony1_bonus {
      top : 1007px;
      left : -60px;
}
.england_colony2_bonus {
      top : 1120px;
      left : -60px;
}
.france_colony1_bonus {
      top : 1230px;
      left : -60px;
}
.france_colony2_bonus {
      top : 1340px;
      left : -60px;
}
.hapsburg_colony1_bonus {
      top : 1455px;
      left : 60px;
}
.hapsburg_colony2_bonus {
      top : 1565px;
      left : -60px;
}
.hapsburg_colony3_bonus {
      top : 1680px;
      left : -60px;
}
.greatlakes {
      top : 1906px;
      left : 280px;
}
.stlawrence {
      top : 1886px;
      left : 515px;
}
.mississippi {
      top : 2075px;
      left : 280px;
}
.aztec {
      top : 2258px;
      left : 168px;
}
.maya {
      top : 2300px;
      left : 302px;
}
.amazon {
      top : 2536px;
      left : 668px;
}
.inca {
      top : 2660px;
      left : 525px;
}
.circumnavigation {
      top : 2698px;
      left : 128px;
}
.pacificstrait {
      top : 2996px;
      left : 486px;
}




