
.diet-overlay {
    background-image: url(/his/img/backgrounds/diet_of_worms.jpeg);
    background-size: cover;
    max-height: 90vh;
    max-width: 90vw;
    width: 90vw;
    height: auto;
    min-height: 622px;
    text-align: center;
}

.diet-overlay .help {
    background: #0009;
    width: max-content;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.4rem;
    padding: 0.75rem;
    max-width: 100%;
    padding: 2rem;
    line-height: 3.4rem;
}

.diet-overlay .status {
    position: relative;
    padding-top: 24rem;
}

.diet-overlay .cardlist {
    height: 100%;
    display: inline-block;
    position: absolute;
    width: max-content;
    clear: both;
    transform: translate(-50%);
}

.diet-overlay .cardlist .card {
    height: 20rem;
    width: calc(20rem/1.4);
    float: left;
    margin-right: 1rem;
    position: relative;
    left: 0;
}

