.diplomacy-confirm-overlay , .diplomacy-propose-overlay {
	background-image: url(/his/img/backgrounds/diet_of_worms.jpeg);
	background-size: cover;
	max-height: 90vh;
	max-width: 90vw;
	width: 90vw;
	height: auto;
	min-height: 622px;
	text-align: center;
}

.diplomacy-confirm-overlay .help , .diplomacy-propose-overlay .html {
	background: #0009;
	width: max-content;
	color: white;
	margin-left: auto;
	margin-right: auto;
	font-size: 2.4rem;
	padding: 0.75rem;
	max-width: 100%;
	padding: 2rem;
	line-height: 3.4rem;
}

.diplomacy-confirm-overlay .buttons , .diplomacy-propose-overlay .buttons {
        display: flex;
        column-gap: 10rem;
        max-width: max-content;
        margin-left: auto;
        margin-right: auto;
}

.diplomacy-confirm-overlay .buttons div , .diplomacy-propose-overlay .buttons div {
        border: 1px solid black;
        width: max-content;
        padding: 1rem 3rem;
        font-size: 2rem;
        border-radius: 0.5rem;
        background-color: whitesmoke;
        cursor: pointer;
        height: 7rem;
        padding-top: 2rem;
        margin-bottom: 2rem;
        margin-left: auto;
        margin-right: auto;
        min-width: 16rem;
}
.diplomacy-confirm-overlay .buttons div:hover , .diplomacy-propose-overlay .buttons div:hover {
        border: 1px solid white;
        color: white;
        background: #000;
        margin-bottom: 2rem;
}




