.language-zone-overlay {
	height: 90vh;
	width: 90vw;
	overflow: hidden;
	background-image: url(https://media.discordapp.net/attachments/515671512209031192/1103576513250611270/1920px-Papa_Clemente_VII_e_limperatore_Carlo_V_a_cavallo_sotto_un_baldacchino_8_de_agosto_de_2018_Museo_degli_affreschi_Giovanni_Battista_Cavalcaselle_Verona.jpg);
	background-size: cover;
}
.language-zone-overlay .status {
	position: absolute;
	height: 4rem;
	min-height: 0;
	min-width: max-content;
	width: 45vw;
	z-index: 10;
	border-radius: 1rem;
	white-space: nowrap;
	float: left;
	margin-left: 1rem;
	margin-top: 1rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	left: 22.5vw;
	top: 40vh;
	color: #fff;
}
.language-zone-overlay .status .status-header {
   box-shadow: none;
   margin-bottom: 0px;
    padding: 1rem;
    margin-bottom: 0px;
    box-shadow: none;
}

.language-zone-overlay .status .status-text-menu {
    background-color: whitesmoke;
    margin-top: 1rem;
    border-radius: 0.5rem;
}


