.movement-overlay {
	width: 90vw;
	height: 80vh;
	background-image: url(/his/img/backgrounds/Jozef-Brandt-Pospolite-ruszenie-u-brodu.jpeg);
	background-size: cover;
	display: grid;
	grid-template-rows: min-content min-content 1fr min-content;
	user-select: none;
        overflow-y: auto;
}

.movement-overlay .help {
	text-align: center;
	background: #0009;
	width: 100%;
	color: white;
	margin-left: auto;
	margin-right: auto;
	font-size: 2.4rem;
	padding: 0.75rem;
	max-width: 100%;
	padding: 1rem;
	line-height: 3.4rem;
}

.movement-header {
	background: #0009;
	width: 100%;
	color: white;
	font-size: 2.4rem;
	max-width: 100%;
	padding: 1rem;
	line-height: 3.4rem;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3rem;
}

.movement-from {
	background-color: black;
	padding-left: 1rem;
	padding-right: 1rem;
	border-radius: 0.5rem;
	-webkit-text-stroke: 1px goldenrod;
	color: white;
	border: 2px solid goldenrod;
	width: max-content;
	white-space: nowrap;
	display: inline-block;
	cursor: pointer;
}
.movement-to {
	background-color: goldenrod;
	padding-left: 1rem;
	padding-right: 1rem;
	border-radius: 0.5rem;
	color: black;
	border: 2px solid black;
	width: max-content;
	white-space: nowrap;
	display: inline-block;
	cursor: pointer;
}

.movement-table {
	display: flex;
	flex-direction: rows;
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	column-gap: 5rem;
	margin-top: 1rem;
	margin-bottom: 5rem;
}

.movement-source {
	display: flex;
	flex-direction: column;
	max-width: 45%;
	width: 45%;
}

.movement-destination {
	display: flex;
	flex-direction: column;
	max-width: 45%;
	width: 45%;
}

.movement-unit {
	width: 100%;
	height: 7rem;
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-template-rows: min-content 1fr;
	padding: 1rem;
	background-color: #0005;
	color: white;
	column-gap: 1rem;
	font-size: 1.8rem;
}

.movement-unit:hover {
	color: black;
	background-color: #f1f1f1;
}

.movement-unit-img {
	height: 5rem;
	width: 5rem;
	grid-row: 1 / span-2;
	grid-column: 1;
}

.movement-unit-type {
	font-weight: bold;
	padding-top: 0.25rem;
	grid-row: 1;
	grid-column: 2;
}

.movement-unit-faction {
	font-size: 1.7rem;
	font-style: italic;
	padding-top: 0.25rem;
	grid-row: 2;
	grid-column: 2;
}

.movement-unit.regular .movement-unit-img {
	background-image: url('/his/img/tiles/abstract/regular.svg');
	background-size: cover;
}
.movement-unit.mercenary .movement-unit-img {
	background-image: url('/his/img/tiles/abstract/mercenary.svg');
	background-size: cover;
}
.movement-unit.cavalry .movement-unit-img {
	background-image: url('/his/img/tiles/abstract/cavalry.svg');
	background-size: cover;
}

.movement-submit-button {
	border: 1px solid black;
	width: max-content;
	padding: 1rem 3rem;
	font-size: 2rem;
	border-radius: 0.5rem;
	background-color: whitesmoke;
	cursor: pointer;
	height: 7rem;
	padding-top: 2rem;
	margin-bottom: 2rem;
	margin-left: auto;
	margin-right: auto;
}
.movement-submit-button:hover {
	border: 1px solid white;
	color: white;
	background: #000;
	margin-bottom: 2rem;
}
