.chateaux-overlay {
	background-image: url(/his/img/backgrounds/chateaux.png);
	background-size: cover;
	max-height: 90vh;
	max-width: 90vw;
	width: 90vw;
	height: auto;
	min-height: 622px;
	text-align: center;
}

.chateaux-overlay .help {
	background: #0009;
	width: 100%;
	color: white;
	margin-left: auto;
	margin-right: auto;
	font-size: 2.4rem;
	padding: 0.75rem;
	max-width: 100%;
	padding: 2rem;
	line-height: 3.4rem;
}

.chateaux-overlay .bonuses {
	margin-top: 2.5rem;
	padding: 2rem;
	background-color: #0009;
	color: white;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	max-width: max-content;
	margin-left: auto;
	margin-right: auto;
	column-gap: 1rem;
	font-size: 2rem;
}

.chateaux-overlay .header {
	font-weight: heavy;
}

.chateaux-overlay div {
	margin-top: 1rem;
}

.chateaux-overlay .modifier {
	grid-column: 1 / span 3;
	text-align: center;
	font-style: italic;
	padding: 0.5rem;
	margin-top: 0rem;
	font-size: 1.5rem;
	width: max-content;
	margin-left: auto;
	margin-right: auto;
}

.chateaux-overlay .modifier.modifier1 {
	margin-top: 3rem;
}
