
.hud-body .status .status-message {
  padding-top: 15px;
}

img {
  width: unset;
}

.card {
  position: relative;
}
.cardimg , .card img {
  position: relative;
}
.cardimg.cancel_x {
  position: absolute;
  width: inherit;
  top: 20%;
}


.saito-overlay-backdrop {
  opacity: 0.8;
}

.cancel_x {
  opacity: 0.3;
}
.cardimg {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0px;
  left: 0px;
}

.revolt_in_egypt {
    background-color: transparent;
    width: 350px;
    height: 500px;
    top: 2700px;
    left: 4600px;
    position: absolute;
    transform: rotate(15deg);
    background-image: url("/his/img/cards/HIS-092.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.revolt_in_ireland {
    background-color: transparent;
    width: 350px;
    height: 500px;
    top: 800px;
    left: 900px;
    position: absolute;
    transform: rotate(15deg);
    background-image: url("/his/img/cards/HIS-093.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.war_in_persia {
    background-color: transparent;
    width: 350px;
    height: 500px;
    top: 2000px;
    left: 4650px;
    position: absolute;
    transform: rotate(15deg);
    background-image: url("/his/img/cards/HIS-110.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.navalspace {
  width: 190px;
  height: 100px;
  position: absolute;
}
#channel {
  top: 1025px;
  left: 1420px;
}
#north {
  top: 80px;
  left: 2250px;
}
#baltic {
  top: 40px;
  left: 3140px;
}
#biscay {
  top: 1500px;
  left: 1400px;
}
#atlantic {
  top: 2880px;
  left: 1100px;
}
#gulflyon {
  top: 2150px;
  left: 2600px;
}
#barbary {
  top: 2550px;
  left: 2450px;
}
#tyrrhenian {
  top: 2100px;
  left: 3050px
}
#africa {
  top: 2775px;
  left: 4200px
}
#adriatic {
  top: 1800px;
  left: 3450px;
}
#ionian {
  top: 2385px;
  left: 3750px;
}
#aegean {
  top: 2500px;
  left: 4450px;
}
#black {
  top: 1465px;
  left: 4750px;
}

.personage_tile {
  height: 25rem;
  width: 25rem;
  background-size: cover;
}

.personage_overlay {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
}

.vp_tile {
  position: absolute;
  z-index: 200;
  height: 100px;
  width: 100px;
  top: 100px;
  left: 100px;
  display: none;
}

.siege {
  position: absolute;
  display: block;
  height: 130px;
  width: 130px;
  top: -10px;
  left: -10px;
  z-index: 1000;
}

.unrest {
  position: absolute;
  display: block;
  height: 130px;
  width: 130px;
  top: -10px;
  left: -10px;
  z-index: 999;
}

.option {
  min-height: 40px;
}

.cardimg {
  width: 100%;
}

.religious_conflict_sheet {
  width: 1110px;
  height: 820px;
  background-size: auto;
}

.religious_conflict_sheet_tile {
  position: absolute;
  height: 75px;
  width: 75px;
  background-image: url("/his/img/tiles/independent/Independent_key.svg");
  background-color: yellow;
  background-size: contain;
}
.religious_conflict_sheet_tile:hover {
  opacity: 0.2;
}

.gameboard {
  background-image: url("/his/img/gameboard-large.png");
  background-size: cover;
  width: 4950px;
  height: 3164px;
}

.electorate_display {
  position: absolute;
  z-index: 10;
  height: 100px;
  width: 100px;
}
.space {
  position: absolute;
  z-index: 10;
  height: 100px;
  width: 100px;
}

.figures_tile {
  z-index: 15;
  display: block;
  position: absolute;
  left: 20px;
  top: 20px;
}
.navy_tile {
  z-index: 10;
  display: block;
  position: absolute;
}
.army_tile {
  z-index: 20;
  position: absolute;
  top: 0px;
  left: -10px;
}
.mercenary_tile {
  z-index: 25;
  position: absolute;
  top: 10px;
  left: 0px;
}
.debater-commited {
  opacity: 0.4;
}
.hextile {
  position: absolute;
  z-index: 10;
  top: -10px;
  height: 120px;
  width: 100px;
}
.keytile {
  position: absolute;
  top: -7px;
  left: -7px;
  height: 122px;
  width: 122px;
}

.space_view {
  height: 60vh;
  width: calc(60vh * 0.74);
  background-color: whitesmoke;
  border-radius: 10px;
  font-size: 2em;
  padding: 1.5rem;
}

.space_faction {
  font-size: 2rem;
}

.space_unit {
  margin-left: 1rem;
}


