.saito-overlay:has(> .movemenu) {
  box-shadow: none;
}

.movemenu {
	display: flex;
	flex-direction: columns;
	flex-wrap: wrap;
	row-gap: 1rem;
	column-gap: 1rem;
	width: 90vw;
	max-width: 1400px;
	height: 85vh;
	max-width: 1400px;
	overflow-y: auto;
	background-color: transparent;
}
.menu-option-container {
	width: 100%;
	max-width: 100%;
	height: 33%;
	max-height: 33%;
	border: 1px solid var(--saito-border-color);
	position: relative;
	cursor: pointer;
	max-height: 181px;
}
.menu-option-container:hover {
        border: 1px solid #FFF;
}

.m1entries .menu-option-container {
	min-width: 100%;
	max-width: 100%;
	min-height: 100%;
	max-height: 100%;
}

.m2entries .menu-option-container {
	min-width: 49%;
	max-width: 49%;
	min-height: 100%;
	max-height: 100%;
}

.m3entries .menu-option-container {
	min-width: 32%;
	max-width: 32%;
	min-height: 100%;
	max-height: 100%;
}

.m4entries .menu-option-container {
	min-width: 49%;
	max-width: 49%;
	min-height: 49%;
	max-height: 49%;
}

.m5entries .menu-option-container {
	min-width: 49%;
	max-width: 49%;
	min-height: 32%;
	max-height: 32%;
}

.m6entries .menu-option-container {
	min-width: 49%;
	max-width: 49%;
	min-height: 32%;
	max-height: 32%;
}

.m7entries .menu-option-container {
	min-width: 49%;
	max-width: 49%;
	min-height: 28%;
	max-height: 28%;
}

.m8entries .menu-option-container {
	min-width: 49%;
	max-width: 49%;
	min-height: 28%;
	max-height: 28%;
}

.m9entries .menu-option-container {
	min-width: 32%;
	max-width: 32%;
	min-height: 32%;
	max-height: 32%;
}



.menu.menu-large-vertical {
	display: flex;
	flex-direction: row;
}

.menu.menu-large {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	width: 90vw;
	height: 85vh;
	max-width: 1000px;
	column-gap: 2rem;
	overflow-y: auto;
	background-color: transparent;
	row-gap: 2rem;
	margin-left: auto;
	margin-right: auto;
}
.menu-option-container-large {
	width: 100%;
	height: 100%;
	border: 1px solid var(--saito-border-color);
	position: relative;
	cursor: pointer;
}
.menu-option-content-large {
	position: absolute;
	bottom: 0px;
	padding: 1rem;
	font-size: 2rem;
	right: 0px;
	background: #0009;
	color: white;
	border-top-left-radius: 0.5rem;
}
.menu-option-title-large {
	background: #0009;
	width: max-content;
	padding: 1.5rem;
	font-size: 3rem;
	color: white;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}
.move-menu {
	background-image: url(/his/img/backgrounds/move/move_over_pass.jpg);
	background-size: cover;
}
.build-menu {
	background-image: url(/his/img/backgrounds/move/corsair.jpg);
	background-size: cover;
}
.special-menu {
	background-image: url(/his/img/backgrounds/move/colonize.jpg);
	background-size: cover;
}

.menu-option-image {
	width: 100%;
	height: 100%;
}

.menu-option-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.menu-option-title {
	position: absolute;
	height: 6rem;
	background-color: #000a;
	overflow-x: hide;
	color: white;
	width: 100%;
	top: 0;
	left: 0px;
	padding: 1.6rem;
	font-size: 2.5rem;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media screen and (max-width: 900px) {

	.menu.menu-large-vertical .menu-option-container-large {
		max-height: 30%;
	}
	.menu-option-container-large {
		max-height: 50%;
	}

}


