
.theses-overlay {
    height: 90vh;
    width: 90vw;
    overflow: hidden;
}

.theses-overlay .status {
    position: relative;
    height: auto;
    min-height: 0;
    width: max-content;
    max-width: 35rem;
    background-color: whitesmoke;
    z-index: 10;
    border-radius: 1rem;
    top: 0px;
    left: 0px;
    white-space: nowrap;
    float: left;
    margin-left: 1rem;
    margin-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.theses-overlay .status .status-header {
   box-shadow: none;
   margin-bottom: 0px;
}

.theses-overlay .status .message {
    padding: 1rem;
    margin-bottom: 0px;
    box-shadow: none;
}

.theses-overlay .status ul .option {
    padding: 15px;
}

.theses-overlay .gameboard {
    position: relative;
    transform: translate(-50%, -18%) scaleX(0.7) scaleY(0.7);
    left: 30%;
}

