.winter {
	min-width: 90vw;
	min-height: 90vh;
	border-radius: 2rem;
	background-image: url('/his/img/backgrounds/winter_background.jpg');
	background-size: cover;
	background-position: bottom;
}

.winter-title {
	top: 0px;
	color: white;
	line-height: 5rem;
	font-size: 4rem;
	position: absolute;
	margin-top: 5rem;
	margin-left: 5rem;
	padding: 1rem;
	letter-spacing: 0.2rem;
	font-weight: bold;
	padding-left: 2rem;
	padding-right: 2rem;
	background: #0008;
}

.winter-text {
	bottom: 0px;
	color: white;
	line-height: 5rem;
	font-size: 3rem;
	position: absolute;
	margin-left: 5rem;
	margin-bottom: 5rem;
	padding: 1rem;
	background: #0008;
	padding-left: 2rem;
	padding-right: 2rem;
}

.winter-text ul {
	margin-left: 0rem;
}
.winter-text ul li {
        position: relative;
        padding-left: 3rem;
	list-style: none;
}
.winter-text ul li::before {
        content: " > ";
        position: absolute;
        left: 0;
}

.winter-text ul li.active {
  font-weight: bold;
  color: #e69500;
}


