.faction_sheet_vp .debaters-tile {
	height: 5rem;
	width: 5rem;
}

.factionbar-faction.papacy , .factionbar-faction.protestant , .factionbar-faction {
  width: 100%;
}
.factionbar-faction.active {
  text-decoration: underline;
}

.faction_sheet .excommunicated {
    background-image: url(/his/img/Excommunicated.svg);
    background-size: cover;
    height: 10%;
    width: 7%;
    position: absolute;
}
.excommunicated.england {
  top: 5.5%;
  left: 44%;
}
.excommunicated.france {
  top: 5.5%;
  left: 51%;
}
.excommunicated.hapsburg {
  top: 5.5%;
  left: 57.5%%;
}
.excommunicated.luther-reformer {
  top: 5.5%;
  left: 17.5%;
}
.excommunicated.zwingli-reformer {
  top: 5.5%;
  left: 24%;
}
.excommunicated.calvin-reformer {
  top: 5.5%;
  left: 37.5%;
}
.excommunicated.cranmer-reformer {
  top: 5.5%;
  left: 31%;
}

.show_wife.henry_viii_marital_status3 {
    background-image: url(/his/img/tiles/wives/AnneBoleyn.svg);
    background-size: cover;
}
.show_wife.henry_viii_marital_status4 {
    background-image: url(/his/img/tiles/wives/JaneSeymour.svg);
    background-size: cover;
}
.show_wife.henry_viii_marital_status5 {
    background-image: url(/his/img/tiles/wives/AnneCleves.svg);
    background-size: cover;
}
.show_wife.henry_viii_marital_status6 {
    background-image: url(/his/img/tiles/wives/KathrynHoward.svg);
    background-size: cover;
}
.show_wife.henry_viii_marital_status7 {
    background-image: url(/his/img/tiles/wives/KatherineParr.svg);
    background-size: cover;
}


.faction_sheet_notice {
    position: absolute;
    top: 0px;
    width: max-content;
    max-width: 50rem;
    font-size: 2.6rem;
    padding: 1.5rem;
    color: white;
    background: #ff7700;
    line-height: 3.8rem;
    visibility: hidden;
}
.faction_sheet_notice.protestant {
    background: #a2583d;
    visibility: visible;
}
.faction_sheet_notice.papacy {
    background: #7b4c9b;
    visibility: visible;
}

.factionbar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: max-content;
    min-width: max-content;
    background-color: whitesmoke;
    padding: 0rem;
    font-size: 2.2rem;
    display: flex;
    flex-direction: column;
    border: 2px solid #ddd;
    padding-left: 1rem;
    padding-right: 1rem;
}
.factionbar-faction:hover {
    background-color: #E3E3E3;
    cursor: pointer;
}
.factionbar div {
    padding: 0.75rem;
}

.papacy_vp_tile {
	background-image: url('/his/img/vp/VP_Papacy.svg');
	background-size: cover;
	width: 50px;
	height: 50px;
}
.saint_peters_tile {
	background-image: url('/his/img/tiles/papacy/StPetersCP.svg');
	background-size: cover;
	width: 50px;
	height: 50px;
}
.england_keytile {
	background-image: url('/his/img/tiles/england/England_key.svg');
	background-size: cover;
	width: 50px;
	height: 50px;
}
.papacy_keytile {
	background-image: url('/his/img/tiles/papacy/Papacy_key.svg');
	background-size: cover;
	width: 50px;
	height: 50px;
}
.france_keytile {
        background-image: url(/his/img/tiles/france/France_key.svg);
        background-size: cover;
	width: 50px;
	height: 50px;
}
.hapsburg_keytile {
        background-image: url(/his/img/tiles/hapsburg/Hapsburg_key.svg);
        background-size: cover;
	width: 50px;
	height: 50px;
}
.ottoman_keytile {
        background-image: url(/his/img/tiles/ottoman/Ottoman_key.svg);
        background-size: cover;
	width: 8%;
	height: 12%;
}

.new_testament_german_tile {
	background-image: url('/his/img/factions/NewTestament_German.svg');
	background-size: cover;
	width: 50px;
	height: 50px;
	position: absolute;
	margin-top: 0rem;
}
.new_testament_french_tile {
	background-image: url('/his/img/factions/NewTestament_French.svg');
	background-size: cover;
	width: 50px;
	height: 50px;
	position: absolute;
	margin-top: 1rem;
}
.new_testament_english_tile {
	background-image: url('/his/img/factions/NewTestament_English.svg');
	background-size: cover;
	width: 50px;
	height: 50px;
	position: absolute;
	margin-top: 2rem;
}

.henry_viii_marital_status.active {
	background-image: url('/his/img/HenryMaritalStatus.svg');
	background-size: cover;
}

.bible_german_tile {
	background-image: url('/his/img/factions/BibleGerman.svg');
	background-size: cover;
	width: 50px;
	height: 50px;
	position: absolute;
	margin-top: 0rem;
}
.bible_french_tile {
	background-image: url('/his/img/factions/BibleFrench.svg');
	background-size: cover;
	width: 50px;
	height: 50px;
	position: absolute;
	margin-top: 1rem;
}
.bible_english_tile {
	background-image: url('/his/img/factions/BibleEnglish.svg');
	background-size: cover;
	width: 50px;
	height: 50px;
	position: absolute;
	margin-top: 2rem;
}

#hapsburg_vp_tile {
	background-image: url('/his/img/vp/VP_Hapsburg.svg');
	background-size: cover;
}
#protestant_vp_tile {
	background-image: url('/his/img/vp/VP_Protestant.svg');
	background-size: cover;
}
#france_vp_tile {
	background-image: url('/his/img/vp/VP_France.svg');
	background-size: cover;
}
#england_vp_tile {
	background-image: url('/his/img/vp/VP_England.svg');
	background-size: cover;
}
#ottoman_vp_tile {
	background-image: url('/his/img/vp/VP_Ottoman.svg');
	background-size: cover;
}
#papacy_vp_tile {
	background-image: url('/his/img/vp/VP_Papacy.svg');
	background-size: cover;
}


.faction_sheet_vp .navy_tile , .faction_sheet_vp .army_tile {
	background-size: contain;
    	width: 50px;
    	height: 50px;
    	position: relative;
    	margin-left: 0px;
    	margin-top: 0px;
}

.war_winner_vp.vp1 {
	width: 50px;
	height: 50px;
	background-image: url(/his/img/vp/WarWinner1VP.svg);
	background-size: contain;
}
.war_winner_vp.vp2 {
	width: 50px;
	height: 50px;
	background-image: url(/his/img/vp/WarWinner2VP.svg);
	background-size: contain;
}
.master_of_italy_vp.vp1 {
	width: 50px;
	height: 50px;
	background-image: url(/his/img/vp/MasterOfItaly1VP.svg);
	background-size: contain;
}
.master_of_italy_vp.vp2 {
	width: 50px;
	height: 50px;
	background-image: url(/his/img/vp/MasterOfItaly2VP.svg);
	background-size: contain;
}

.new_world_vp {
	width: 50px;
	height: 50px;
	background-size: cover;
}
.new_world_vp.amazon {
	background-image: url(/his/img/vp/AmazonRiver2VP.svg);
}
.new_world_vp.aztec {
	background-image: url(/his/img/vp/Aztecs2VP.svg);
}
.new_world_vp.circumnavigation {
	background-image: url(/his/img/vp/Circumnavigation3VP.svg);
}
.new_world_vp.greatlakes {
	background-image: url(/his/img/vp/GreatLakes1VP);
}
.new_world_vp.inca {
	background-image: url(/his/img/vp/Inca2VP.svg);
}
.new_world_vp.maya {
	background-image: url(/his/img/vp/Maya1VP);
}
.new_world_vp.mississippi {
	background-image: url(/his/img/vp/MississippiRiver1VP.svg);
}
.new_world_vp.pacificstrait {
	background-image: url(/his/img/vp/PacificStrait1VP.svg);
}
.new_world_vp.stlawrence {
	background-image: url(/his/img/vp/StLawrenceRiver1VP);
}

.faction_sheet {
	width: 1240px;
	height: 800px;
	max-height: 80vh;
	max-width: calc(80vh * 1.55);
	background-image: url(/his/img/factions/protestant.png);
	background-size: contain;
}

.faction_sheet_ruler {
	top: 3.5%;
	left: 66.5%;
	position: relative;
	width: 30.5%;
}
.faction_sheet_vp {
	top: 73%;
	left: 66.5%;
	position: relative;
	width: 30.5%;

	display: flex;
	flex-wrap: wrap;
	overflow-y: auto;
	overflow: normal;
	flex-direction: rows;
	justify-content: space-evenly;
}
.faction_sheet_vp .army_tile:nth-child(0) , 
.faction_sheet_vp .army_tile:nth-child(1) ,
.faction_sheet_vp .army_tile:nth-child(2) ,
.faction_sheet_vp .army_tile:nth-child(3) ,
.faction_sheet_vp .army_tile:nth-child(4) ,
.faction_sheet_vp .army_tile:nth-child(5) ,
.faction_sheet_vp .army_tile:nth-child(6) ,
.faction_sheet_vp .army_tile:nth-child(7) ,
.faction_sheet_vp .army_tile:nth-child(8) ,
.faction_sheet_vp .army_tile:nth-child(9) {
	margin-left: 0px;
	margin-top: 0px;
}

.faction_sheet_keytile {
	position: absolute;
	height: 11%;
	width: 7%;
}
.faction_sheet_keytile.ottoman_keytile {
        height: 12.5%;
        width: 8%;
}
.faction_sheet_keytile:hover {
	opacity: 0.3;
}
.henry_viii_marital_status1 {
    top: 52%;
    left: 3%;
}
.henry_viii_marital_status2 {
    top: 52%;
    left: 11.5%;
}
.henry_viii_marital_status3 {
    top: 52%;
    left: 20%;
}
.henry_viii_marital_status4 {
    top: 52%;
    left: 28.5%;
}
.henry_viii_marital_status5 {
    top: 52%;
    left: 37.25%;
}
.henry_viii_marital_status6 {
    top: 52%;
    left: 45.75%;
}
.henry_viii_marital_status7 {
    top: 52%;
    left: 54.25%;
}

.faction_sheet_france_vp_keytile {
	background-image: url('/his/img/vp/VP_France.svg');
	background-size: cover;
}
.faction_sheet_france_keytile {
	background-image: url('/his/img/tiles/france/France_key.svg');
	background-size: cover;
}
.faction_sheet_france_keytile1 {
	top: 70%;
	left: 3%;
    	height: 75px;
    	width: 75px;
}
.faction_sheet_france_keytile2 {
	top: 70%;
	left: 11.5%;
    	height: 75px;
    	width: 75px;
}
.faction_sheet_france_keytile3 {
	top: 70%;
	left: 20%;
    	height: 75px;
    	width: 75px;
}
.faction_sheet_france_keytile4 {
	top: 70%;
	left: 29%;
    	height: 75px;
    	width: 75px;
}
.faction_sheet_france_keytile5 {
	top: 83%;
	left: 3%;
    	height: 75px;
    	width: 75px;
}
.faction_sheet_france_keytile6 {
	top: 83%;
	left: 11.5%;
    	height: 75px;
    	width: 75px;
}
.faction_sheet_france_keytile7 {
	top: 83%;
	left: 20%;
    	height: 75px;
    	width: 75px;
}
.faction_sheet_france_keytile8 {
	top: 83%;
	left: 29%;
    	height: 75px;
    	width: 75px;
}
.faction_sheet_france_keytile9 {
	top: 83%;
	left: 37.5%;
    	height: 75px;
    	width: 75px;
}
.faction_sheet_france_keytile10 {
	top: 83%;
	left: 46%;
    	height: 75px;
    	width: 75px;
}
.faction_sheet_france_keytile11 {
	top: 83%;
	left: 54.5%;
    	height: 75px;
    	width: 75px;
}

.faction_sheet_ottoman_keytile1 {
	top: 70%;
	left: 3%;
}
.faction_sheet_ottoman_keytile2 {
	top: 70%;
	left: 12%;
}
.faction_sheet_ottoman_keytile3 {
	top: 70%;
	left: 21%;
}
.faction_sheet_ottoman_keytile4 {
	top: 70%;
	left: 30%;
}
.faction_sheet_ottoman_keytile5 {
	top: 70%;
	left: 39.5%;
}
.faction_sheet_ottoman_keytile6 {
	top: 70%;
	left: 48.5%;
}
.faction_sheet_ottoman_keytile7 {
	top: 83.5%;
	left: 3%;
}
.faction_sheet_ottoman_keytile8 {
	top: 83.5%;
	left: 12%;
}
.faction_sheet_ottoman_keytile9 {
	top: 83.5%;
	left: 21%;
}
.faction_sheet_ottoman_keytile10 {
	top: 83.5%;
	left: 30%;
}
.faction_sheet_ottoman_keytile11 {
	top: 83.5%;
	left: 39.5%;
}

.faction_sheet_hapsburg_keytile{
        background-image: url(/his/img/tiles/hapsburg/Hapsburg_key.svg);
        background-size: cover;
  	height: 75px;
	width: 75px;
}
.faction_sheet_hapsburg_keytile1 {
	top: 55.25%;
	left: 2.75%;
}
.faction_sheet_hapsburg_keytile2 {
	top: 55.25%;
	left: 11.75%;
}
.faction_sheet_hapsburg_keytile3 {
	top: 55.25%;
	left: 21%;
}
.faction_sheet_hapsburg_keytile4 {
	top: 55.25%;
	left: 30%;
}
.faction_sheet_hapsburg_keytile5 {
	top: 55.25%;
	left: 39%;
}
.faction_sheet_hapsburg_keytile6 {
	top: 69.5%;
	left: 2.75%;
}
.faction_sheet_hapsburg_keytile7 {
	top: 69.5%;
	left: 11.75%;
}
.faction_sheet_hapsburg_keytile8 {
	top: 69.5%;
	left: 21%;
}
.faction_sheet_hapsburg_keytile9 {
	top: 69.5%;
	left: 30%;
}
.faction_sheet_hapsburg_keytile10 {
	top: 69.5%;
	left: 39%;
}
.faction_sheet_hapsburg_keytile11 {
	top: 83.5%;
	left: 2.75%;
}
.faction_sheet_hapsburg_keytile12 {
	top: 83.5%;
	left: 11.75%;
}
.faction_sheet_hapsburg_keytile13 {
	top: 83.5%;
	left: 21%;
}
.faction_sheet_hapsburg_keytile14 {
	top: 83.5%;
	left: 30%;
}

.protestant_translation_status0 {
	top: 57%;
	left: 3%;
	height: 7%;
	width: 7%;
}
.protestant_translation_status1 {
	top: 57%;
	left: 11%;
	height: 7%;
	width: 7%;
}
.protestant_translation_status2 {
	top: 57%;
	left: 18%;
	height: 7%;
	width: 7%;
}
.protestant_translation_status3 {
	top: 57%;
	left: 26%;
	height: 7%;
	width: 7%;
}
.protestant_translation_status4 {
	top: 57%;
	left: 33.5%;
	height: 7%;
	width: 7%;
}
.protestant_translation_status5 {
	top: 57%;
	left: 41%;
	height: 7%;
	width: 7%;
}
.protestant_translation_status6 {
	top: 57%;
	left: 48.5%;
	height: 7%;
	width: 7%;
}

.faction_sheet_protestant_keytile1 {
	top: 73.5%;
	left: 2.5%;
	height: 10%;
	width: 7%;
}
.faction_sheet_protestant_keytile2 {
	top: 73.5%;
	left: 10%;
	height: 10%;
	width: 7%;
}
.faction_sheet_protestant_keytile3 {
	top: 73.5%;
	left: 17.5%;
	height: 10%;
	width: 7%;
}
.faction_sheet_protestant_keytile4 {
	top: 73.5%;
	left: 25%;
	height: 10%;
	width: 7%;
}
.faction_sheet_protestant_keytile5 {
	top: 73.5%;
	left: 32.5%;
	height: 10%;
	width: 7%;
}
.faction_sheet_protestant_keytile6 {
	top: 73.5%;
	left: 40%;
	height: 10%;
	width: 7%;
}
.faction_sheet_protestant_keytile7 {
	top: 85.5%;
	left: 2.5%;
	height: 10%;
	width: 7%;
}
.faction_sheet_protestant_keytile8 {
	top: 85.5%;
	left: 10%;
	height: 10%;
	width: 7%;
}
.faction_sheet_protestant_keytile9 {
	top: 85.5%;
	left: 17.5%;
	height: 10%;
	width: 7%;
}
.faction_sheet_protestant_keytile10 {
	top: 85.5%;
	left: 25%;
	height: 10%;
	width: 7%;
}
.faction_sheet_protestant_keytile11 {
	top: 85.5%;
	left: 32.5%;
	height: 10%;
	width: 7%;
}

.england_marital_status1 {
	top: 420px;
	left: 42px;
}
.england_marital_status2 {
	top: 420px;
	left: 148px;
}
.england_marital_status3 {
	top: 420px;
	left: 255px;
}
.england_marital_status4 {
	top: 420px;
	left: 360px;
}
.england_marital_status5 {
	top: 420px;
	left: 467px;
}
.england_marital_status6 {
	top: 420px;
	left: 573px;
}
.england_marital_status7 {
	top: 420px;
	left: 680px;
}

.france_chateaux_status1 {
    top: 58%;
    left: 34.5%;
    height: 60px;
    width: 60px;
}
.france_chateaux_status2 {
    top: 58%;
    left: 41.5%;
    height: 60px;
    width: 60px;
}
.france_chateaux_status3 {
    top: 58%;
    left: 48.75%;
    height: 60px;
    width: 60px;
}
.france_chateaux_status4 {
    top: 58%;
    left: 56%;
    height: 60px;
    width: 60px;
}
.france_chateaux_status5 {
    top: 69%;
    left: 41.5%;
    height: 60px;
    width: 60px;
}
.france_chateaux_status6 {
    top: 69%;
    left: 48.75%;
    height: 60px;
    width: 60px;
}
.france_chateaux_status7 {
    top: 69%;
    left: 56%;
    height: 60px;
    width: 60px;
}

.ottoman_piracy_status0 {
  top: 42%;
  left: 10.5%;
}
.ottoman_piracy_status1 {
  top: 42%;
  left: 18%;
}
.ottoman_piracy_status2 {
  top: 42%;
  left: 25.75%;
}
.ottoman_piracy_status3 {
  top: 42%;
  left: 33.25%;
}
.ottoman_piracy_status4 {
  top: 42%;
  left: 41%;
}

.ottoman_piracy_status5 {
  top: 53.5%;
  left: 3%;
}
.ottoman_piracy_status6 {
  top: 53.5%;
  left: 10.5%;
}
.ottoman_piracy_status7 {
  top: 53.5%;
  left: 18%;
}
.ottoman_piracy_status8 {
  top: 53.5%;
  left: 25.75%;
}
.ottoman_piracy_status9 {
  top: 53.5%;
  left: 33.25%;
}
.ottoman_piracy_status10 {
  top: 53.5%;
  left: 41%;
}
.ottoman_piracy_keytile {
  background-image: url(/his/img/tiles/ottoman/Ottoman_key.svg);
  background-size: cover;
}

.papacy_construction_status1 {
	height: 11%;
	width: 7%;
	top: 54.5%;
	left: 3%;
}
.papacy_construction_status2 {
	height: 11%;
	width: 7%;
	top: 54.5%;
	left: 10.5%;
}
.papacy_construction_status3 {
	height: 11%;
	width: 7%;
	top: 54.5%;
	left: 18%;
}
.papacy_construction_status4 {
	height: 11%;
	width: 7%;
	top: 54.5%;
	left: 25.5%;
}
.papacy_construction_status5 {
	height: 11%;
	width: 7%;
	top: 54.5%;
	left: 33%;
}
.papacy_construction_status6 {
	height: 11%;
	width: 7%;
	top: 54.5%;
	left: 41%;
}
.papacy_construction_status7 {
	height: 11%;
	width: 7%;
	top: 66.5%;
	left: 3%;
}
.papacy_construction_status8 {
	height: 11%;
	width: 7%;
	top: 66.5%;
	left: 10.5%;
}
.papacy_construction_status9 {
	height: 11%;
	width: 7%;
	top: 66.5%;
	left: 18%;
}
.papacy_construction_status10 {
	height: 11%;
	width: 7%;
	top: 66.5%;
	left: 25.5%;
}
.papacy_construction_status11 {
	height: 11%;
	width: 7%;
	top: 66.5%;
	left: 33%;
}
.papacy_construction_status12 {
	height: 11%;
	width: 7%;
	top: 66.5%;
	left: 41%;
}

.faction_sheet_england_keytile1 {
	top: 69.5%;
	left: 3%;
	height: 12%;
	width: 8%;
}
.faction_sheet_england_keytile2 {
	top: 69.5;
	left: 12%;
	height: 12%;
	width: 8%;
}
.faction_sheet_england_keytile3 {
	top: 69.5%;
	left: 21%;
	height: 12%;
	width: 8%;
}
.faction_sheet_england_keytile4 {
	top: 69.5%;
	left: 30%;
	height: 12%;
	width: 8%;
}
.faction_sheet_england_keytile5 {
	top: 69.5%;
	left: 39.5%;
	height: 12%;
	width: 8%;
}
.faction_sheet_england_keytile6 {
	top: 83%;
	left: 3%;
	height: 12%;
	width: 8%;
}
.faction_sheet_england_keytile7 {
	top: 83%;
	left: 12%;
	height: 12%;
	width: 8%;
}
.faction_sheet_england_keytile8 {
	top: 83%;
	left: 21%;
	height: 12%;
	width: 8%;
}
.faction_sheet_england_keytile9 {
	top: 83%;
	left: 30%;
	height: 12%;
	width: 8%;
}


.faction_sheet_papacy_keytile1 {
	top: 83%;
	left: 3%;
	height: 12%;
	width: 8%;
}
.faction_sheet_papacy_keytile2 {
	top: 83%;
	left: 12%;
	height: 12%;
	width: 8%;
}
.faction_sheet_papacy_keytile3 {
	top: 83%;
	left: 21%;
	height: 12%;
	width: 8%;
}
.faction_sheet_papacy_keytile4 {
	top: 83%;
	left: 30%;
	height: 12%;
	width: 8%;
}
.faction_sheet_papacy_keytile5 {
	top: 83%;
	left: 39.5%;
	height: 12%;
	width: 8%;
}
.faction_sheet_papacy_keytile6 {
	top: 83%;
	left: 48.5%;
	height: 12%;
	width: 8%;
}
.faction_sheet_papacy_keytile7 {
	top: 83%;
	left: 57.5%;
	height: 12%;
	width: 8%;
}

