#uploaded-image {
	/* width: 100%; */
	height: auto;
	object-fit: cover;
	height: 5rem;
	left: 0;
	bottom: 0;
	padding: 1rem;
}

.image-uploader {
	background-color: var(--saito-background-color);
	height: 40rem;
	width: 40rem;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 5rem;
	transform: translate(-50%, -50%);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid;
	font-size: 2rem;
	border-radius: 0.5rem;
	color: var(--saito-font-color);
}
