.saitodocx-create-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.saitodocx-create-container .saito-module-description{
font-size: 1.5rem;
}

.saitodocx-section {
  min-height: 3rem;
}

.saitodocx-panel {
  border:1px solid rgba(0,0,0,.2);
}

.saitodocx-text {
  border:none;
  height: 70rem;
  width: 100%;
  resize: none;
  padding: 1rem;
}

#saitodocx-texteditor {
  min-height: 70rem;
  height: fit-content;
  padding: 1rem;
  background: #fff;
  border: none;
}

trix-toolbar .trix-button-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5rem;
  border: none;
  justify-content: unset;
  background: #ffffff;
  height: 5rem;
  padding: 1rem;
  overflow: hidden;
  border-radius: 0.5rem;
}

.trix-button-group {
  display: flex;
  gap: 1rem;
}

.trix-button-group button {
  background: none;
  color: var(--font-color-primary);
  box-shadow: none;
  border: 1px solid var(--color-tint-primary);
  border-radius: 0px;
  min-width: auto;
  width: 3rem;
  max-width: -webkit-fill-available;
}

.saitodocx-create-form {
  display: flex;
  flex-direction: column;
  border: none!important;
  gap: 1rem;
}

.trix-button-group-spacer {
  display: none;
}

trix-toolbar .trix-button-group:not(:first-child) {
  margin-left: 0px;
}

trix-toolbar .trix-button-group {
  width: fit-content;
  border: none;
}

trix-toolbar .trix-button:not(:first-child) {
 border: 1px solid var(--color-tint-primary);
}