
div.jsoneditor-tree button.jsoneditor-button {
	min-width: auto;
	background: inherit !important;
    background-size: auto !important;
    background-color: transparent !important;
    background-image: url(/saito/lib/jsoneditor/img/jsoneditor-icons.svg) !important;
}

div.jsoneditor-tree button.jsoneditor-collapsed {
    background-position: 0 -48px !important;
}

div.jsoneditor-tree button.jsoneditor-expanded {
    background-position: 0 -72px !important;
}

div.jsoneditor-tree button.jsoneditor-contextmenu-button {
    background-position: -48px -72px !important;
}

div.jsoneditor-tree button.jsoneditor-dragarea {
    background-position: -72px -72px !important;
}

/*
.jsoneditor-popover, .jsoneditor-schema-error, 
div.jsoneditor td, div.jsoneditor textarea, 
div.jsoneditor th, div.jsoneditor-field, 
div.jsoneditor-value, pre.jsoneditor-preview {
	color: var(--font-color-button-primary)!important;
}

div.jsoneditor-tree {
	background: none !important;
}

.jsoneditor {
	color: var(--font-color-button-primary)!important;
	border: none !important;
}

*/