
.settings-appspace {
	display: flex;
	flex-direction: column;
	row-gap: 3rem;
	width: min(95vw, 100rem);
	height: 80vh;
	max-height: 80vh;
	overflow: auto;
	background: var(--background-color-modal-menu);
	color: var(--font-color-primary); 
	padding: 2rem;
	/*margin: 2rem;*/
	border: var(--border-thickness-modal-menu) solid var(--border-color-modal-menu);
	border-radius: var(--border-radius-modal-menu);
}

.settings-appspace-link {
	cursor: pointer;
	width: 15rem;
}

.settings-appspace-link:hover {
	text-decoration: var(--text-decoration-switch-global);
}

.settings-actions-container {
	display: flex;
	flex-flow: row-reverse;
	margin-right: 1rem;
	gap: 1rem;
}

.settings-actions-container .saito-button-secondary {
	margin: 0;
	padding: 0.8rem 0.7rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.settings-appspace-user-details {
	display: grid;
	grid-template-columns: 10rem max-content;
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 1.5rem;
	grid-row-gap: 1.5rem;
	padding: 1rem;
	max-width: 100%;
	overflow: auto;
}

.settings-appspace-user-details > div {
	width: 100%;
	min-width: 0;
}

.settings-appspace-user-details > div.register-identifier-btn {
	width: fit-content;
}

.settings-appspace-user-details .pubkey-containter {
	justify-content: initial;
	gap: 1rem;
}

.profile-default-fee {
    width: 100% !important;
    padding: 0.66rem 1rem !important;
}

.settings-appspace-modules {
	display: grid;
	grid-gap: 1.5rem;
	grid-template-columns: repeat(5, 1fr);
	margin: 1rem;
	width: calc(100% - 2rem);
}

.settings-appspace-app {
	display: grid;
	grid-template-columns: 2.4rem 1fr min-content;
	align-items: center;
	padding: 0 0.5rem;
	border: var(--border-thickness-button-module) solid var(--border-color-button-module);
	border-radius: var(--border-radius-button-module);
	height: 4rem;
	gap: 0.5rem;
	width: 100%;
}

.pubkey-grid {
	display: grid;
	grid-template-columns: minmax(10rem, 1fr) min-content;
	width: 100%;
	align-items: center;
	font-family: monospace;
	gap: 1rem;
	cursor: pointer;
}

.pubkey-grid div {
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 40rem;
}

.saito-switch {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.settings-appspace-app:hover {
	border-color: var(--border-color-button-hover-module);
}

.settings-appspace-app div {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	/*max-width: 13rem;*/
}

.settings-appspace-app .settings-appspace-crypto-transfer-name {
	text-transform: capitalize;
}

label.treated {
	display: none;
}

.settings-appspace-debug-content {
	margin: 1rem 0;
}

#settings-edit-json {
  text-decoration: underline;
  cursor: pointer;
}

#settings-edit-json:hover {
  text-decoration: none;
}

/*json tree */

.jsontree_node {
	list-style: none;
}

.settings-appspace-storage-content {
	display: flex;
	flex-wrap: wrap;
    padding: 1rem;
    gap: 3rem;
}

.settings-appspace-localstorage-info, .settings-appspace-indexdb-info {
    display: grid;
    grid-template-columns: 12rem 20rem;
}

.settings-appspace-localstorage-info .title, .settings-appspace-indexdb-info .title {
	font-size: larger;
	margin: 0.5rem 0;
}

.settings-appspace-localstorage-info div:nth-child(2n+0), .settings-appspace-indexdb-info div:nth-child(2n+0) {
	font-family: 'Courier New', Courier, monospace;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.settings-installed-mod-header {
    display: flex;
    justify-content: space-between;
}

#settings-add-app {
	font-size: 3rem;
    margin-right: 1rem;
    cursor: pointer;
}
@media only screen and (max-width: 900px) {
	.settings-appspace {
		padding: 1.5rem;
	}
	.settings-appspace-modules {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media only screen and (max-width: 650px) {
	.settings-appspace {
		padding: 1rem;
	}
	.settings-appspace-modules {
		grid-template-columns: repeat(3, 1fr);
	}
	.settings-appspace-user-details {
		grid-template-columns: 8rem 1fr;
	}
	.settings-actions-container {
		gap: 0.6rem;
		margin-right: 0.5rem;
	}
	.settings-actions-container .saito-button-secondary {
		padding: 0.4rem 0.3rem;
	}
}

@media only screen and (max-width: 500px) {
	.settings-appspace-modules {
		grid-template-columns: repeat(2, 1fr);
	}
}