/* ----------------------------------------------------------------
Components
-----------------------------------------------------------------*/






/* ----------------------------------------------------------------
Saito box
-----------------------------------------------------------------*/
.saito-box {
    padding: var(--saito-box-padding);
    border: none;
    background-color: var(--saito-white);
}

.saito-box-shadow {
    box-shadow: 2px 2px 20px rgb(0 0 0 / 10%);
}



.saito-box-rounded {
    border-radius: 2rem;
}



/* ----------------------------------------------------------------
Saito Info box
-----------------------------------------------------------------*/
.saito-infobox {
    padding: var(--saito-box-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--saito-white);
    height: 100%;
    position: relative;
    text-align: center;

}

.saito-infobox-body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 2rem;
    text-align: center;
}

.saito-infobox-title h3 {
    position: relative;
    font-weight: bold;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}


.saito-infobox-title h3::after {
    position: absolute;
    content: "";
    height: .5rem;
    width: 10rem;
    bottom: -.4rem;
    background-color: var(--saito-primary);


}


.saito-infobox-footer {
    margin-top: auto;
}


.saito-box.saito-box-secondary,
.saito-infobox.saito-box-secondary {
    background-color: var(--saito-background);

}






/* ----------------------------------------------------------------
Saito Content box
-----------------------------------------------------------------*/

.saito-contentbox {
    background-color: var(--saito-white);
    padding: var(--saito-box-padding);
    border-radius: 2.5rem;
    height: 100%;
}







/* ----------------------------------------------------------------
Saito Menu
-----------------------------------------------------------------*/

.saito-menu-container {
    background-color: var(--saito-white);
}




.saito-menu-container>ul>li {
    padding: .8rem 2rem;
    display: flex;
    align-items: center;
    list-style: none;
    cursor: pointer;
    transition: all .2s;

}

.saito-menu-container>ul>li:not(:last-child) {
    margin-bottom: 1rem;
}


.saito-menu-container>ul>li:hover,
.saito-menu-container>ul>li:hover>i {
    background-color: var(--saito-primary);
    color: var(--saito-white);
}

.saito-menu-container>ul>li>i {
    font-size: 2rem;
    width: 2rem;
}

.saito-menu-container>ul>li>span {
    font-size: 2rem;
}

.saito-menu-container>ul>li>i+span {
    margin-left: 2rem;
}

.saito-menu-container.saito-menu-right>ul>li {
    flex-direction: row-reverse;
}

.saito-menu-container.saito-menu-right>ul>li>span {
    margin-left: 0;
}

.saito-menu-container.saito-menu-right>ul>li>i+span {
    margin-right: 2rem;
}

.saito-menu-rounded {
    border-radius: .8rem;
}


/* ----------------------------------------------------------------
Saito User List and Saito User 
-----------------------------------------------------------------*/

.saito-user-list {
    padding: 2rem;
}

.saito-user {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.saito-user:not(:last-child) {
    margin-bottom: 2rem;
}

.saito-user>img {
    width: 6rem;
    height: 6rem;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 2rem;
    transition: all 400ms cubic-bezier(.47, 1.64, .41, .8);
}

.saito-user>img:hover {
    transform: scale(1.2);
}

.saito-user p {
    width: 20rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.8rem;
}

.saito-user p:hover {
    color: var(--saito-primary);
}




.saito-user.saito-user-dense:not(:last-child) {
    margin-bottom: 1px;
}


.saito-user.saito-user-dense>img {
    width: 4rem;
    height: 4rem;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 1rem;
    transition: all 400ms cubic-bezier(.47, 1.64, .41, .8);
}

.saito-user.saito-user-dense p {
    font-size: 1.6rem;
}


.saito-user.saito-user-dense span {
    display: none;
}

@media screen and (max-width: 768px) {
    .saito-user p {
        width: 15rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 320px) {}


/* ----------------------------------------------------------------
Saito Tabs
-----------------------------------------------------------------*/

.saito-tab-buttons {
    display: flex;
    justify-content: center;
    overflow: auto;
}

.saito-tab-buttons>ul {
    display: flex;
    justify-content: center;

}


.saito-tab-buttons li {
    list-style: none;
    cursor: pointer;
    font-size: 1.8rem;
    padding: .5rem 1rem;
    min-width: 10rem;
    display: flex;
    justify-content: center;
    border: 1px solid var(--saito-white);
}

.saito-tab-buttons li.active {
    background-color: var(--saito-primary);
    color: var(--saito-white);
}

.saito-tab-buttons li:hover {
    background-color: var(--saito-primary);
    color: var(--saito-white);
}

.saito-tab-content>* {
    display: none;
}

.saito-tab-content>*.show {
    display: block;
}

@media screen and (max-width: 768px) {
    .saito-tab-buttons {
        display: block;
    }

    .saito-tab-buttons>ul {
        display: block;
    }

}

@media screen and (max-width: 320px) {}