.saito-primary-color {
    color: var(--saito-primary);
}

.saito-secondary-color {
    color: var(--saito-secondary);
}

.saito-primary-background {
    background-color: var(--saito-primary);
}

.saito-secondary-background {
    background-color: var(--saito-secondary);
}

.saito-white-background {
    background-color: var(--saito-white);
}

.saito-light-background {
    background-color: var(--saito-background);
}