/* ----------------------------------------------------------------
buttons
-----------------------------------------------------------------*/
@import url("./saito-colors.css");

button {
  min-width: 10.5rem;
  background: linear-gradient(77deg,
      var(--saito-primary) 0%,
      var(--saito-secondary) 69%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;

  padding: 1.5rem 2rem;
  font-size: 1.4rem;
  color: #fff;
  font-weight: 500;
  border: none;
  border-radius: 3rem;
  min-width: 22rem;
  cursor: pointer;
  margin: .5rem;
}


button:hover {
  background: var(--saito-primary);
  color: var(--saito-white);
}



.saito-btn-secondary {
  border: 2px solid var(--saito-primary);
  display: inline-block;
  border-radius: 5rem;
  min-width: 22rem;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.2;
  color: var(--saito-primary);
  background: transparent;

}



.saito-btn-tetiary {
  border: 1px solid var(--saito-white);
  color: var(--saito-white);
  background-color: transparent;
}


.saito-btn-small {
  min-width: 10rem;
  padding: .7rem 1.9rem;
}

.saito-btn-large {
  min-width: 26rem;
  padding: 2.3rem 2.3rem;
  font-size: 2rem;
}