/* ----------------------------------------------------------------
 Saito Base: CSS default settings, layouts
-----------------------------------------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  font-size: 10px;
}

body {
  line-height: 1.5;
  color: var(--saito-default-font);
  font-family: var(--saito-font);
  margin: 0;
  background-color: var(--saito-background);
  max-width: 100vw;
  font-size: 1.6rem;
  font-weight: 400;
  position: relative;
  overflow-x: hidden;
}

.saito-container {
  padding: 3rem 8rem;
  margin-top: var(--saito-header-height);
}




.modal-dialog {
  border: 20rem;
}

pre {
  overflow: auto;
}


/* ----------------------------------------------------------------
media queries
-----------------------------------------------------------------*/

@media screen and (max-width: 1200px) {
  body {
    font-size: 1.4rem;
  }

  .saito-container {
    padding: 3rem 2.6rem;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 1.4rem;
  }

  .saito-container {
    padding: 3rem 1.5rem;
  }
}

@media screen and (max-width: 320px) {
  body {
    font-size: 1.6rem;
  }
}