#saito-left-sidebar {
    width: 30rem;
}

.saito-left-menu-header {
    background-color: var(--saito-primary);
    padding: 1rem .6rem;
    border-bottom: 1px solid var(--saito-white);
    display: flex;
    align-items: center;


}

.saito-left-menu-header h5 {
    color: white;
    font-size: 1.92rem
}

.saito-left-menu-header i {
    color: var(--saito-white);
    font-size: 1.92rem;
    margin-left: auto;
    cursor: pointer;
}


.saito-left-menu-body {
    background-color: var(--saito-white);
}

.saito-chat-room-list {}

.saito-chat-room {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: min-content minmax(35%, 1fr) min-content;
    padding: 1rem .6rem;
    cursor: pointer;

}

.saito-chat-room:hover {
    filter: opacity(.8);
}

.saito-chat-room>img {
    width: 5rem;
    height: 5rem;
    border-radius: .5rem;
}

.saito-chat-room>div {
    display: flex;
    flex-direction: column;

    width: 100%;

}


.saito-chat-room>div>p:first-child {
    font-weight: 1000;
    margin-bottom: .5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;



}

.saito-chat-room>p {
    font-weight: 1000;
}


@media screen and (max-width: 1200px) {
    #saito-left-sidebar {
        display: none;
    }
}