body {
	background-color: #343542;
	color: #fff;
    overflow-y: scroll;
    padding-bottom: 50px;
}

.league-main-container {
    width: 100%;
    margin-top: 10vh;
    padding: 3%;
    display: grid;
    grid-template-rows: 80px auto;
    grid-template-columns: 1fr 1fr;
}

#league-main-container-header{
    grid-column: 1 / 3;
}


.league-main-container-games{

}

.league-component-existing-league-box{
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
    flex-wrap: wrap;
}

.league-component-existing-league-box div{
  min-width: 80px;
}

.league-component-existing-league-box .newline{
  margin: 0;
  height: 0;
  width: 100%;
}

.league-component-admin-box {
	width: 90%;
    min-width: 250px;
    max-width: 600px;
    margin-bottom: 5vh;
    border-radius: 5px;
    background-color: #3b4458;
    padding: 10px;
}

.league-component-admin-box img {
	width: 150px;
  height: fit-content;
  max-height: 100px;
  object-fit: cover;
  object-position: bottom;
}

.league-component-admin-box h3 {

} 

.league-component-existing-league .para{
    margin-bottom: 5vh;
}

.league-component-existing-league-box {
    border-bottom: 1px solid #fff;
    align-items: center;
}

.editable-content{
    border: 1px solid var(--saito-cyber-black-wash);
    background-color: whitesmoke;
    color: black;
    padding: 0.25em;
}

.forceinrow{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
  .post-create-textarea {
    color: black;
    width: calc(100% - 170px);
    height: 100px;
    margin-bottom: 20px;
    max-height: 200px;
    overflow: hidden;
  }

.league-details-overlay{
  width: 100%;
  min-width: min(600px, 100vw);
  border: whitesmoke 2px dotted;
  border-radius: 5px;
  background: black;
  padding: 10px;
}

.league-details-overlay h2{
  text-align: center;
}

.league-details-overlay .league-overview-box, .league-details-overlay .league-leaderboard{
  margin: auto;
  width: 100%;
  padding: 1em;
  max-height: 60vh;
  overflow-y: scroll;

}

.league-leaderboard table{
  width: 100%;
}

.league-leaderboard table td{
  text-align: center;
}

.league-leaderboard table tr{
    height: 42px;
}

.league-overview-box .info-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Invitation Link Popup overlay */
.invite-link {
  max-width: 90vw;
  min-width: 25vw;
  width: fit-content;

  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  background-color: rgb(102, 51, 153);
  color: white;
  overflow-y: scroll;
}

.invite-link-actions {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.invite-link-actions i {
  cursor: pointer;
  transition: all 0.2s;
}
.invite-link-actions i:hover {
  transform: scale(1.05);
  position: relative;
}

.invite-link > p {
  margin-top: 1rem;
  inline-size: 22rem;
  overflow-wrap: break-word;
  line-height: 1.2rem;
}

.invite-link button {
  margin-top: 1rem;
  padding: 0.5rem;
  /* color: rgb(14, 6, 22); */
  /* border: 1px solid rgb(14, 6, 22); */
  border-radius: 8px;
  cursor: pointer;
}
.invite-link > p:hover::before {
  /* transform: scale(1.05);
  top: -2rem;
  position: absolute;
  cursor: pointer;
  content: "Copy Link";
  display: block;
  width: 1rem;
  height: 1rem; */
}

.invite-link .social-links {
  margin-left: auto;
  display: flex;

  /* justify-content: space-between; */
  /* width: 50%; */
}

.social-links img {
  width: 25px;
  cursor: pointer;
}
.social-links img:not(last-child) {
  margin-right: 1rem;
}

.social-links a{
  color: var(--saito-white);
}

i.link_icon{
  display: none;
}
i.link_icon.private{
  display: block;
}

.league-component-admin-box-form{
  padding-left: 1em;
}
.league-component-admin-box-form input, .league-component-admin-box-form .saito-select{
  width: 75%;
  margin-bottom: 0.6em;
} 

.tip{
  width: unset;
}
.tiptext{
  background-color: #fefefeee;
}

.league-component-admin-box-form .label{

  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.editable-content{
  content: attr(data-placeholder);
}