
body {
  background-color: #343542;
  color: #fff;
  overflow-y: scroll;
  padding-bottom: 50px;
}

.league-main-container {
  max-width: 94em;
  margin: 6em auto 0;
  padding: 0 2em;
}


.league-main-container-games {}

.league-component-existing-league-box {
  display: grid;
  grid-gap: 0;
  border-bottom: 1px solid #fff;
  margin: 0 0 3em;
  padding: 0 0 1em;
}

.league-component-existing-league-details {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 2fr 2fr;
}

.league-component-existing-league-details div {
  line-height: 3em;
}

.league-component-existing-league-controls {
  display: flex;
  flex-direction: row-reverse;
}

.league-component-existing-league-controls button {
  margin-left: 2em;
}

.league-component-existing-league-box div{
  min-width: 80px;
}

.league-component-existing-league-box .newline{
  margin: 0;
  height: 0;
  width: 100%;
}

.league-component-admin-box {
  width: 90%;
  min-width: 250px;
  max-width: 600px;
  margin-bottom: 5vh;
  border-radius: 5px;
  background-color: #3b4458;
  padding: 10px;
}

.league-component-admin-box img {
  width: 150px;
  height: fit-content;
  max-height: 100px;
  object-fit: cover;
  object-position: bottom;
}

.league-component-admin-box h3 {}

.league-component-existing-league .para {
  margin-bottom: 5vh;
}

.editable-content {
  border: 1px solid var(--saito-black-faded);
  background-color: whitesmoke;
  color: black;
  padding: 0.25em;
}

.forceinrow {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.post-create-textarea {
  color: black;
  height: 100px;
  margin-bottom: 20px;
  max-height: 200px;
  overflow: hidden;
}

.league_options_overlay{
  min-width: 550px;
  max-width: 95vw;
  font-size: 1.6rem;
}

.league_options_overlay label{
  font-size: 1.8rem;
}

.league_options_overlay .overlay-title{
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Invitation Link Popup overlay */
.invite-link {
  max-width: 90vw;
  min-width: 25vw;
  width: fit-content;

  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  background-color: rgb(102, 51, 153);
  color: white;
  overflow-y: scroll;
}

.invite-link-actions {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.invite-link-actions i {
  cursor: pointer;
  transition: all 0.2s;
}

.invite-link-actions i:hover {
  transform: scale(1.05);
  position: relative;
}

.invite-link>p {
  margin-top: 1rem;
  inline-size: 22rem;
  overflow-wrap: break-word;
  line-height: 1.2rem;
}

.invite-link button {
  margin-top: 1rem;
  padding: 0.5rem;
  /* color: rgb(14, 6, 22); */
  /* border: 1px solid rgb(14, 6, 22); */
  border-radius: 8px;
  cursor: pointer;
}

.invite-link>p:hover::before {
  /* transform: scale(1.05);
  top: -2rem;
  position: absolute;
  cursor: pointer;
  content: "Copy Link";
  display: block;
  width: 1rem;
  height: 1rem; */
}

.invite-link .social-links {
  margin-left: auto;
  display: flex;

  /* justify-content: space-between; */
  /* width: 50%; */
}

.social-links img {
  width: 25px;
  cursor: pointer;
}

.social-links img:not(last-child) {
  margin-right: 1rem;
}

.social-links a {
  color: var(--saito-white);
}

i.link_icon {
  display: none;
}

i.link_icon.private {
  display: block;
}

.league-component-admin-box-form {
  padding-left: 1em;
}

.league-component-admin-box-form input,
.league-component-admin-box-form .saito-select {
  width: 75%;
  margin-bottom: 0.6em;
}

.checkrow { 
  position: relative;
}
.checkrow > input{
  width: fit-content;
}
.checkrow .secretbutton{
  width: fit-content;
  position: absolute;
  top: 0;
  right: 0px;
  text-decoration: underline dotted;
  cursor: pointer;
}
.checkrow .tip{
  display: inline-block;
  margin-left: 2em;
}

.gridme{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tip {
  width: unset;
}

.league_options_overlay .tiptext {
  background-color: var(--saito-black);
}


.game_option_league_wizard{
  padding: 1em;
  font-size: 1em;
  background-color: #0009;
  max-height: 90vh;
}

.league_options_overlay .label {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.league_options_overlay .label i{
  margin: 0 5px;
}

.league_options_overlay input[type="number"]{
  float: right;
}

.editable-content {
  content: attr(data-placeholder);
}

@media (max-width: 94em) {
  .league-main-container {
    grid-template-columns: 1fr;
  }
}


.league-main-container .saito-module{
  font-size: 2rem;
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center ;
  justify-content: space-between;
  padding-bottom: 3rem;
  border-bottom: 1px solid;
}

.league-main-container .saito-module-action{
  color: var(--saito-white);
  background-color: var(--saito-primary);
  border-radius: 1rem;
  padding: 1rem;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.saito-module-title{
  font-size: 1.2em;
}


/* temprorarily adding css for join league overlay here */

.league-join-overlay-box {
  background: #fff;
  padding: 1.5rem;
  border-radius: 1rem;
}

.league-join-btn {
  color: #fff;
  margin-left: 0rem;
  width: 100%;
  margin-bottom: 1.5rem;
  margin-top: 0rem;
  display: inline-block;
  width: 20rem;
  padding: 1.2rem !important;
}

.league-join-table {
  color: #222;
  width: 30rem;
}

.league-join-table .saito-table-body {
  height: auto;
}

.league-join-table .saito-table-row {
  grid-template-columns: 45% 55%;
  margin-bottom: 1rem;
  text-align: left;
  font-size: 1.5rem;
  font-weight: normal;
}

.league-join-table .saito-table-row div:nth-child(1) {
  font-weight: bold;
}


.league-join-overlay-box img {
  min-width: 50rem;
  width: 60rem;
  margin-bottom: 1rem;
}

.league-join-overlay-box .title-box {
    color: #222;
    text-align: center;
    margin: 1rem 0rem;
}

.league-join-overlay-box .title-box .title {
  display: inline-block;
  font-size: 3rem;
}

.league-join-controls {
  text-align: center;
}

.league-join-email-note {
  font-size: 2.5rem;
  font-style: italic;
  color: #444;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.league-join-email-note a {
  color: var(--saito-primary);
}

.league-join-controls input {
    text-align: center;
    width: 90%;
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
    height: 5.5rem;
    font-size: 2.6rem;
}


/* LIST SELECTION MODAL */

.game-selection-list-overlay {
  background-color: black;
  max-height: 90vh;
  overflow-y: scroll;
  font-size: 2rem;
  min-width: 400px;
  padding: 1.5rem;
}

.selection-list li {
  cursor: pointer;
  border-bottom: 1px solid transparent;
  list-style: none;
  padding: 0.5rem 0.5rem;
}

.selection-list li:hover {
  background-color: #33669999;
}

.selection-list li .tiptext {
  width: fit-content;;
  background-color: #000a;
  color: #ffffff !important;
  min-width: 0px;
  padding: 3px;
  pointer-events: none;
  top: 5px;
  right: 0;
}


/* league create overlay */


.game-create-new-overlay {
  display: grid;
  max-height: 80vh;
  height: min-content;
  width: 60vw;
  overflow-y: visible;
  grid-template-rows: min-content auto;
  background-color: var(--saito-white);
  padding: 2rem;
  border-radius: 0.5rem;
}

.game-create-new-overlay.dark {
  background: var(--saito-dark-transparent);
  color: var(--saito-white);
}


.info-item-wrapper {
  display: inline-block;
  cursor: pointer;
  transform: translateY(56%);
}


.game-create-new-overlay .saito-module-intro{
  min-height: 17rem;
}

.saito-module-intro {
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-gap: 1rem;
}

.saito-module-intro-image {
  background-color: grey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.saito-module-intro-text{
  margin: 0 1.5rem;
}

.saito-module-intro-title {
  font-size: 2.5rem;
  font-weight: bold;
  position: relative;
  white-space: nowrap;
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.saito-module-intro-description {
  font-size: 1.9rem;
  line-height: 2.8rem;
}

.saito-module-intro-details{
  font-size: 1.6rem;
  margin: 0.4rem;
}
.saito-module-intro-details .detail_row{
  margin: 0.4rem 0;
}

.arcade-game-publisher-message {
  margin-top: 10px;
  font-size: 1em;
}

#arcade-advance-opt {
  margin-top: 1rem;
  text-transform: lowercase;
}

.text-prompt {
  margin-bottom: 2rem;
}

.game-selection-list-overlay .overlay-title {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: var(--saito-primary);
}

.saito-labeled-input{
  width: 100%;
  padding: 0 1rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}


.game-help-link {
  position: absolute;
  right: 2rem;
  font-size: 2rem;
  color: #FFFD;
}



.game-wizard-advanced-return-btn {
  font-size: 1.4em;
  margin-top: 20px;
  padding: 16px 30px 12px;
  text-align: center;
  text-transform: uppercase;
}


.game-wizard-options form{
  display: flex;
  justify-content: space-between;
}

.saito-select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background-color: transparent;
  overflow: hidden;
  width: 100%;
  border-radius: 0 1rem 1rem 0;
  outline: none;
  background-color: none;
}

.saito-select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  color: var(--saito-white);
  background-color: var(--saito-primary);
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
  border-radius: 0 1rem 1rem 0;
}

.saito-select:hover::after {
  color: var(--saito-white) !important;
}

.saito-select .saito-slct {
  font-size: 2rem;
}

.saito-slct {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--saito-white);
  border-radius: 1rem;
  padding: 0 1rem;
}
.league-leaderboard .saito-table .saito-table-body .saito-table-row {
  grid-template-columns: 4rem auto 5rem;
}

.league-leaderboard .saito-table .saito-table-header {
  grid-template-columns: 4rem auto 5rem;
  text-align: center;
  padding-top: 0px;
}


.league-overlay-container {
  background: var(--saito-arcade-background);
  width: 90vw;
  height: max-content;
  max-width: 140rem;
  border-radius: 0.5rem;
}

.league-join-email-note {
  width: 50rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  line-height: 2.8rem;
}

.league-overlay {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  grid-gap: 2rem;
}

.league-overlay>div {
  margin: 0 1rem;
}

.league-overlay-controls button {
  line-height: 4.5rem;
  width: 20rem;
  font-size: 2.2rem;
  margin: 0;
}

.league-overlay-controls {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.league-overlay-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.league-overlay-header-title-box-title {
  font-size: 4rem;
}

.league-overlay-header-title-box-desc {
  font-size: 2rem;
}

.league-overlay-body {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-gap: 2rem;
}

.league-error {
  padding: 0rem 1.5rem;
  line-height: 2rem;
}

.league-overlay-body>div {
  box-shadow: var(--saito-box-shadow) var(--saito-border-color);
  padding: 2rem;
  border-radius: 0.5rem;
  max-height: calc(90vh - 22rem);
  overflow-y: auto;
}

.league-overlay-header-image {
  background-image: url(/saito/img/dreamscape.png);
  background-size: cover;
  width: 11rem;
  height: 7rem;
  margin-right: 1rem;
}

.league-overlay-description {
  font-size: 1.7rem;
  line-height: 2.3rem;
}

.league-overlay-league-body-games {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.league_recent_player {
  width: 20rem;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
}

.league-overlay-league-body-games-list .saito-table {
  overflow-y: scroll;
  max-height: 25vh;

}

@media screen and (max-width: 1000px) { 
  .league-overlay-body {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    max-height: calc(95vh - 22rem);
    overflow-y: auto;
    margin: 0 !important;
    padding: 1px 1rem;
  }

  .league-overlay-body>div {
    max-height: unset;
    overflow-y: unset;
  }
}

.saito-multi-select_btn_options button {
    background: transparent;
    margin: 0rem;
    padding: 0rem;
    width: 101%;
    display: block;
    margin-bottom: 0.2rem;
    border: 1px solid var(--saito-primary);
}

.saito-multi-select_btn_options button {
    border-radius: 0;
    min-height: 4.8rem;
    margin-bottom: 0.2rem;
    font-size: 2rem;
}


#advanced-options-overlay-container {
  color: var(--saito-font-color-dark-modal);
  background: #181818;
  border-radius: 0.5rem;
  min-width: 40rem;
  min-height: 15rem;
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
}

#advanced-options-overlay-container .overlay-title {
  text-align: center;
  color: var(--saito-white);
}

#advanced-options-overlay-container .overlay-input {
  margin-bottom: 1rem;
}

#advanced-options-overlay-container select {
  text-transform: capitalize;
  background: transparent;
  border: 1px solid var(--saito-primary);
  color: var(--saito-white);
  font-size: 2.5rem;
  padding: 1rem;
  height: 5rem;
  margin-bottom: 2rem;
}

#advanced-options-overlay-container .options_notice {
  margin-bottom: 1.2rem;
  color: var(--saito-background-color);
  font-style: italic;
  text-align: center;
}

.game-wizard-advanced-box {
  display: block;
  text-align: left;
}

.game-wizard-advanced-box .list-header {
  color: var(--saito-primary);
}

.game-wizard-advanced-box .list-header:nth-of-type(n + 2) {
  margin-top: 1.2rem;
}

#advanced-options-overlay-container label {
  margin-top: 0.5rem;
}

.game-wizard-advanced-return-btn {
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  margin-top: auto;
  border: 1px solid white;
}

.game-wizard-advanced-return-btn:hover {
  color: black;
  background-color: white;
}

/* Game Advanced Options Styling*/

.game-wizard-options-toggle {
  padding-top: 1rem;
}

.game-wizard-options-toggle-text {
  border-bottom: 1px dashed;
  cursor: pointer;
}

.game-wizard-invite {
  width: 100%;
  min-height: 7rem;
  display: block !important;
  padding: 0rem !important;
}

.game-wizard-other-btns {
  display: none;
  /* display: flex; */
  flex-direction: row;
  justify-content: space-between;
}

.league-wizard-overlay {
  display: grid;
  max-height: 80vh;
  height: min-content;
  width: 60vw;
  overflow-y: auto;
  grid-template-rows: min-content auto;
  background: var(--saito-arcade-overlay-background);
  padding: 2rem;
  border-radius: 0.5rem;
  color: var(--saito-white);
}

.league-wizard-overlay .league-wizard-game-container {
  min-height: 17rem;
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-gap: 1.5rem;
}

.league-wizard-overlay .league-wizard-game-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.league-wizard-overlay .league-wizard-game-image img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.league-wizard-game-name {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.league-wizard-game-name input[type="text"] {
    margin-bottom: 1rem;
    width: 100%;
    padding: 1rem;
    height: 4.5rem;
    font-size: 3rem;
}

.league-wizard-game-description {
  font-size: 2.0rem;
  line-height: 3.0rem;
}

.league-wizard-game-description textarea {
    font-size: 2.0rem;
    line-height: 3.0rem;
    min-height: 12rem;
    width: 100%;
}

.league-wizard-game-controls {
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-gap: 1rem;
  margin-top: 2rem;
}

.league-wizard-overlay select {
  background: transparent;
  border: 1px solid var(--saito-primary);
  color: var(--saito-white);
  font-size: 2rem;
  appearance: none;
  padding: 0 1rem;
}

.league-wizard-overlay select:focus {
  outline: none;
}

.saito-select::after {
  background: var(--saito-button-background);
  border-left: 1px solid var(--saito-primary);
}

.league-wizard-game-controls .settings>div:first-of-type {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background-color: transparent;
  overflow: hidden;
  width: 100%;
  border-radius: 0 1rem 1rem 0;
  outline: none;
  background-color: none;
}

.league-wizard-game-controls .settings {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.league-wizard-game-controls .settings>div:first-of-type::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  color: var(--saito-white);
  background: var(--saito-button-background);
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
  border-radius: 0 1rem 1rem 0;
  border-left: 1px solid var(--saito-primary);
}

.saito-module-intro-title {
  font-size: 2.5rem;
  font-weight: bold;
  position: relative;
  white-space: nowrap;
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.saito-module-intro-description {
  font-size: 1.9rem;
  line-height: 2.8rem;
}

.league-wizard-overlay .league-game-details {
  font-size: 1.6rem;
  margin: 0.4rem;
}

.saito-multi-select_btn {
  overflow: hidden;
}

.saito-multi-select_btn.saito-select {
  border-bottom: unset;
  height: 4.8rem;
  width: 100%;
  position: relative;
  display: flex;
  line-height: 3;
  margin-top: 0px;
}

.saito-multi-select_btn_options {
  width: calc(100% - 5rem - 4px);
  padding: 0;
  border: none;
}

.saito-multi-select_btn_options {
  background: none;
}

.saito-multi-select_btn_options button {
  border-radius: 0;
  min-height: 4.8rem;
  margin-bottom: 0.2rem;
  font-size: 2rem;
}

.saito-multi-select_btn.showAll {
  overflow: visible;
}

.saito-multi-select_btn {
  background: none;
}

.saito-multi-select_btn_options button {
  background: transparent;
  margin: 0rem;
  padding: 0rem;
  width: 101%;
  display: block;
  margin-bottom: 0.2rem;
  border: 1px solid var(--saito-primary);
}

.saito-multi-select_btn.showAll>.saito-multi-select_btn_options button {
  background-color: var(--saito-primary);
  color: #fff;
}

.saito-multi-btn {
  width: 100%;
  min-height: 4.8rem;
  margin: 0.1rem;
  color: var(--saito-white);
}

.saito-multi-btn:hover {
  background: var(--saito-button-background);
}

.game-wizard-form {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
}

.league-wizard-rankings-select {
  color: var(--saito-white);
  border-color: var(--saito-border-color);
}

.league-wizard-game-invite {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.game-invite-btn {
  min-width: 25rem;
}

@media screen and (max-width: 900px) {
  .league-wizard-overlay {
    width: 95vw;
  }
}

@media screen and (max-width: 768px) {
  #game-wizard-advanced-return-btn {
      position: absolute;
      bottom: -2rem;
      left: 50%;
      transform: translateX(-51%);
      z-index: 2;
  }

  .game-wizard-advanced-box {
    padding: 0px !important ;
    margin-top: 2rem;
  }

  .game-wizard-advanced-box ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .game-wizard-advanced-box ul li {
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 0.25fr 1fr;
  }

  .list-header {
    margin-left: 0rem !important;
  }

}

@media screen and (max-width: 700px) {
  .league-wizard-game-container {
    display: flex !important;
    flex-direction: column;
  }
  .league-wizard-game-controls {
    display: flex !important;
    flex-direction: column-reverse;
  }
  .league-wizard-overlay {
    font-size: 1.8rem;
  }
}
