body {
  background-color: #343542;
  color: #fff;
  overflow-y: scroll;
  padding-bottom: 50px;
}

.league-main-container {
  max-width: 94em;
  margin: 6em auto 0;
  padding: 0 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.league-main-container-games {}

.league-component-existing-league-box {
  display: grid;
  grid-gap: 0;
  border-bottom: 1px solid #fff;
  margin: 0 0 3em;
  padding: 0 0 1em;
}

.league-component-existing-league-details {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 2fr 2fr;
}

.league-component-existing-league-details div {
  line-height: 3em;
}

.league-component-existing-league-controls {
  display: flex;
  flex-direction: row-reverse;
}

.league-component-existing-league-controls button {
  margin-left: 2em;
}

.league-component-existing-league-box div{
  min-width: 80px;
}

.league-component-existing-league-box .newline{
  margin: 0;
  height: 0;
  width: 100%;
}

.league-component-admin-box {
  width: 90%;
  min-width: 250px;
  max-width: 600px;
  margin-bottom: 5vh;
  border-radius: 5px;
  background-color: #3b4458;
  padding: 10px;
}

.league-component-admin-box img {
  width: 150px;
  height: fit-content;
  max-height: 100px;
  object-fit: cover;
  object-position: bottom;
}

.league-component-admin-box h3 {}

.league-component-existing-league .para {
  margin-bottom: 5vh;
}

.editable-content {
  border: 1px solid var(--saito-cyber-black-wash);
  background-color: whitesmoke;
  color: black;
  padding: 0.25em;
}

.forceinrow {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.post-create-textarea {
  color: black;
  width: calc(100% - 170px);
  height: 100px;
  margin-bottom: 20px;
  max-height: 200px;
  overflow: hidden;
}

/** Leaderboards 
 *  duplicated to arcade and redsquare
 * **/

 .league-details-overlay {
  width: 100%;
  min-width: min(600px, 100vw);
  border: 1px solid var(--saito-cyber-grey);
  border-radius: 5px;
  background: var(--saito-cyber-black);
  padding: 10px;
  user-select: none;
  cursor: default;
}

.league-details-overlay h2 {
  text-align: center;
}

.league-details-overlay p {
  padding: 1rem;
}

.league-details-overlay .league-overview-box {
  margin: auto;
  width: 100%;
  padding: 1rem;
  max-height: 60vh;
  overflow-y: auto;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 8rem auto;
}

.league-leaderboard-table {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 4rem auto 5rem 4rem 4rem 4rem auto;
  width: 100%;
  padding: 1rem;
  max-height: 60vh;
  overflow-y: auto;
}

.league-leaderboard-table.saitolicious {
  grid-template-columns: 4rem auto 5rem 4rem 4rem 4rem;
}

.league-leaderboard-table.admin {
  grid-template-columns: 4rem auto 5rem 4rem 4rem 4rem auto 4fr 4fr auto;
}

.league-leaderboard-table.admin.saitolicious {
  grid-template-columns: 4rem auto 5rem 4rem 4rem 4rem  4fr 4fr auto;
}

.league-overview-box div:nth-child(odd) {
  font-weight: bold;
}


*/
.mystats {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.newfriend {
  cursor: crosshair;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.league-overview-box .info-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Invitation Link Popup overlay */
.invite-link {
  max-width: 90vw;
  min-width: 25vw;
  width: fit-content;

  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  background-color: rgb(102, 51, 153);
  color: white;
  overflow-y: scroll;
}

.invite-link-actions {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.invite-link-actions i {
  cursor: pointer;
  transition: all 0.2s;
}

.invite-link-actions i:hover {
  transform: scale(1.05);
  position: relative;
}

.invite-link>p {
  margin-top: 1rem;
  inline-size: 22rem;
  overflow-wrap: break-word;
  line-height: 1.2rem;
}

.invite-link button {
  margin-top: 1rem;
  padding: 0.5rem;
  /* color: rgb(14, 6, 22); */
  /* border: 1px solid rgb(14, 6, 22); */
  border-radius: 8px;
  cursor: pointer;
}

.invite-link>p:hover::before {
  /* transform: scale(1.05);
  top: -2rem;
  position: absolute;
  cursor: pointer;
  content: "Copy Link";
  display: block;
  width: 1rem;
  height: 1rem; */
}

.invite-link .social-links {
  margin-left: auto;
  display: flex;

  /* justify-content: space-between; */
  /* width: 50%; */
}

.social-links img {
  width: 25px;
  cursor: pointer;
}

.social-links img:not(last-child) {
  margin-right: 1rem;
}

.social-links a {
  color: var(--saito-white);
}

i.link_icon {
  display: none;
}

i.link_icon.private {
  display: block;
}

.league-component-admin-box-form {
  padding-left: 1em;
}

.league-component-admin-box-form input,
.league-component-admin-box-form .saito-select {
  width: 75%;
  margin-bottom: 0.6em;
}

.checkrow { 
  position: relative;
}
.checkrow > input{
  width: fit-content;
}
.checkrow .secretbutton{
  width: fit-content;
  position: absolute;
  top: 0;
  right: 0px;
  text-decoration: underline dotted;
  cursor: pointer;
}
.checkrow .tip{
  display: inline-block;
  margin-left: 2em;
}

.gridme{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tip {
  width: unset;
}

.tiptext {
  background-color: #fefefeee;
}


.game_option_league_wizard{
  padding: 1em;
  font-size: 1em;
  background-color: #0009;
  max-height: 90vh;
}

.league-component-admin-box-form .label {

  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.editable-content {
  content: attr(data-placeholder);
}

@media (max-width: 94em) {
  .league-main-container {
    grid-template-columns: 1fr;
  }
}
