/** Leaderboards 
 *  
 * **/

.league-details-overlay {
  width: 100%;
  min-width: min(600px, 100vw);
  border: 1px solid var(--saito-cyber-grey);
  border-radius: 5px;
  background: var(--saito-cyber-black);
  padding: 10px;
  user-select: none;
  cursor: default;
}

.league-details-overlay h2 {
  text-align: center;
}

.league-details-overlay p {
  padding: 1rem;
}

.league-details-overlay .league-overview-box {
  margin: auto;
  width: 100%;
  padding: 1rem;
  max-height: 60vh;
  overflow-y: auto;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 8rem auto;
}

.league-leaderboard-table {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 4rem auto 5rem 4rem 4rem 4rem auto;
  width: 100%;
  padding: 1rem;
  max-height: 60vh;
  overflow-y: auto;
}

.league-leaderboard-table.saitolicious {
  grid-template-columns: 4rem auto 5rem 4rem 4rem 4rem;
}

.league-leaderboard-table.admin {
  grid-template-columns: 4rem auto 5rem 4rem 4rem 4rem auto 4fr 4fr auto;
}

.league-leaderboard-table.admin.saitolicious {
  grid-template-columns: 4rem auto 5rem 4rem 4rem 4rem  4fr 4fr auto;
}

.league-game-table{
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: auto 6rem 4rem 6rem;
  width: 100%;
  padding: 1rem;
  max-height: 60vh;
  overflow-y: auto;
}

.league-game-table.saitolicious {
  grid-template-columns: 4rem auto 6rem 4rem 6rem;
}

.leagueGameplayerList{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.leagueGameplayerList .winner{
  box-shadow: 0 0 10px 10px whitesmoke;
}

.leagueGameplayerList .player-slot{
  max-width: 50px;
  max-height: 50px;
}

.league-overview-box div:nth-child(odd) {
  font-weight: bold;
}


*/
.mystats {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.newfriend {
  cursor: crosshair;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.league-overview-box .info-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}