:root{
	--theme-font: 'Georgia', serif;
}

.bold {
	font-weight: bold;
}

.gameboard {
	position: absolute;
	background-image: url('/midnight/img/arcade/arcade-banner-background.png');
	background-size: cover;
	width: 100vw;
	height: 100vh;
	min-width: 100%;
	min-height: 100%;
}

.status {
	font-family: 'Georgia', serif;
	/*background-color: #fbeabb;*/
	background-color: whitesmoke;
	position: relative;
	width: min(640px, 90vw);
	max-height: 90vh;
	overflow-y: auto;
	/*height: 600px;*/
	margin-left: auto;
	margin-right: auto;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1.5em;
	padding: 24px;
	line-height: 1.5em;
	text-align: left;
	border: 5px solid saddlebrown;
	border-radius: 5px;
}

.combat .status {
	background-color: darkred;
	color: ghostwhite;
}

.page_number {
	position: absolute;
	right: 3px;
	top: -3px;
}

.story {
}

.textoption {
	border: 1px solid #fff;
	width: fit-content;
	padding: 2px 8px;
}
.food,
.potion {
	cursor: pointer;
}

.food:hover,
.potion:hover {
	font-weight: bold;
}

.status ul li.textchoice {
	border-top: unset;
	border-bottom: 1px solid saddlebrown;
}

.status ul li.nonchoice {
	border-top: unset;
	border-bottom: 1px solid saddlebrown;
	color: lightgrey;
}

.status .choicelist {
	margin-top: 1em;
	border-top: 1px solid saddlebrown;
}

.player-box {
	bottom: 0;
}

.player_stats {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.player_skills {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 5px 0;
}

/* Selection Interface for Special Skills */
.special_skills {
	display: flex;
	flex-wrap: wrap;
	padding: 3rem;
	align-items: center;
	justify-content: space-between;
}

.special_skills div {
	margin: 1rem;
	padding: 2rem;
	border: 1px solid black;
	cursor: pointer;
}

.special_skills div:hover {
	background-color: lightgrey;
}

.special_skills div.selected {
	color: ghostwhite;
	background-color: saddlebrown;
}

.result {
	border-top: 1px dashed saddlebrown;
	margin-top: 5px;
	padding-top: 5px;
	font-style: italic;
}
