.big {
    padding: 5% 5%;
    font-size: 5.5vw;
    font-weight: 900;
    -webkit-text-fill-color: var(--saito-font-color);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #0003;
    font-family: visuelt-medium;
    text-shadow: 2px 2px 5px #9400d38f;
    position: relative;
    letter-spacing: 0.07em;
}

/*.carousel-spacer {
    width: 100%;
    position: relative;
    display: none; /*don't fix size*/
/*}*/

.saito-carousel {
    width: 100%;
    height: 33vh;
    position: relative;
    overflow: hidden;
}

/*.carousel-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}*/

.leaf {
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    border: 1px solid darkorange;
}



/*rightToLeft Animation*/

@keyframes rightToLeft {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        transform: translateX(-100%)
    }
    10% {
        opacity: 1;
        transform: translateX(0px);
    }
    25% {
        opacity: 1;
        transform: translateX(0px);
    }
    29% {
        opacity: 0;
    }
    30% {
        transform: translateX(100%);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
