:root {
  --saito-red: #639;
  --saito-nightscape: linear-gradient(-45deg, #324 50%, #1e1e1f 100%);
  --saito-jester: linear-gradient(-45deg, #426 50%, #213 100%);
  --saito-reverse-jester: linear-gradient(-45deg, #213 5%, #426 50%);
  --tile-height: 8em;
  --saito-width: 1500px;
  --sidebar-width: 25rem;
  --identicon-height: 1em;
  --arcade-games-sidebar-height: 60%;
}

:root{
  --saito-white: var(--saito-nightscape);
  --saito-menu-background:  var(--saito-nightscape);
  --saito-font-color: #eee;
  --saito-skyline-grey: #999;
  --saito-black:  #fff;
}


body {
  height: 100vh;
  background: var(--saito-nightscape);
  justify-content: center;
}





.arcade-container {
  gap: 1rem;
  grid-template-columns: var(--sidebar-width) auto min-content;
}






/* APPSPACE COMPONENTS */
/* Banner */

.arcade-banner{
  position: relative;
  max-height: 35rem;
  cursor: pointer;
}

.arcade-welcome{
  font-size: 1.8rem;
}

.arcade-banner:hover{
  filter: brightness(0.5);
}

#game_help{
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 2rem;
}

.arcade-main > div{
  margin-bottom: 1rem;
}


/* Arcade-main tabbed pages */

.arcade-tab-buttons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  justify-items: center;
  overflow: hidden;
  border-left: solid 2px var(--saito-red);
  font-size: 2rem;
  line-height: 4rem;
  height: 4rem;
  min-height: 4rem;
  cursor: pointer;
}

.arcade-tab-buttons .tab-button {
  border: solid 2px var(--saito-red);
  font-weight: bold;
  border-left: none;
  border-bottom: none;
  width: 100%;
  display: none;
  /*grid */
  place-items: center;
}

.arcade-tab-buttons .tab-button.active-tab-button {
  background: var(--saito-jester);
}

.arcade-tabs {
  max-height: 40rem;
  height: fit-content;
  overflow-y: auto;
}

.arcade-hero {
  overflow-y: auto;
  height: 100%;
  background: linear-gradient(-45deg, #0002, #0004);
  border: 1px solid var(--saito-red);
  background-image: url(/arcade/img/dreamscape-logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.arcade-tab-container{
  height: fit-content;
  width: 100%;
}

.dark .button {
  background: linear-gradient(45deg, #540e81, #b539e8);
  border: 1px solid var(--saito-red);
}

.dark .button:hover {
  background: linear-gradient(-45deg, #537 50%, #324 100%);
}




/* game-create-menu */ 
.game-selection-list-overlay {
  font-size: 0.8em;
  text-align: left;
  background: var(--saito-jester);
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid var(--saito-red);
  border-bottom: 0px;
  margin: unset;
  display:flex; 
  align-items:center;
  justify-content: space-between
}


/* Fix Chat Coloring */
.chat-footer .chat-input {
  background-color: #8884;
  color: whitesmoke;
}

.chat-header, .chat-footer {
  background: var(--saito-jester);
}



/* unset css-imports/saito-header.css */
#saito-header {
  background: none;
}
#saito-header #saito-header-menu-toggle span{
  background: white;
}

.dark .saito-header-hamburger-contents{
  background: var(--saito-nightscape);
}


#alert-box {
  background: var(--saito-nightscape);
}


.arcade-league-header{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 2rem;
}

.arcade-league-title{
  cursor: pointer;
}


.arcade-league-boxes{
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    flex-flow: wrap;
}

/* Dark mode for (old) header hamburger menu */
.wallet-action-row {
  color: white;
}



.saito-sidebar-left{
  width: var(--sidebar-width);
}

.saito-sidebar-right{
  width: var(--sidebar-width);
  grid-column-start: 3;

}

.leaderboard-header{
  font-size: 2.4rem;
  text-decoration: underline;
  cursor: pointer;  
}

.leaderboard-header:hover{
  color: black;
  background: ghostwhite;
}

#arcade-leaderboard{
  padding: 0 0.5rem 0 0.9rem;
}

#arcade-leaderboard .saito-table-row{
  margin: 0.4rem 0;
  cursor: pointer;
}

#arcade-leaderboard .saito-table-row .me::before{
  content: "Me: ";
}

#arcade-leaderboard .saito-table-row:hover{
  color: black;
  background: ghostwhite;
}

.arcade-menu-item.selected{
  color: red;
  background: whitesmoke;
}


.dark .saito-module{
  background: unset;
}

@media screen and (max-width: 1500px){
  .saito-mobile-bar > div:nth-child(1) {
      display: none;
  }
}

@media screen and (max-width: 1200px) {
  .saito-sidebar-right{
    visibility: hidden;
    position: fixed;
    right: 0;
    background: var(--saito-nightscape);
    height: calc(100vh - var(--saito-header-height) - 7rem);
  }

  .saito-mobile-bar > div:nth-child(4) {
      display: flex;
  }
  .saito-container{
    grid-template-columns: min-content auto;
  }
}

@media screen and (max-width: 650px){
  .saito-sidebar-left{
    position: fixed;
    visibility: hidden;
    background: var(--saito-nightscape);
    height: calc(100vh - var(--saito-header-height) - 7rem);
  }

  .saito-mobile-bar > div:nth-child(1) {
      display: flex;
  }
  .saito-container{
    grid-template-columns: auto;
  }

}

@media screen and (max-width: 515px){
   .saito-mobile-bar > div:nth-child(2) {
      display: none;
  }

}

.saito-sidebar-left.mobile{
  visibility: visible;
  z-index: 2;
}
.saito-sidebar-right.mobile{
  visibility: visible;
  z-index: 2;
}

.saito-leaderboard .saito-table-row{
  display: grid;
  grid-template-columns: 1fr min-content;
  
}