/** Email **/

.welcome-right-sidebar {
  float: right;
  width: 25vw;
  font-size: 0.9em;
  padding-top: 0px;
  padding-left: 30px;
  padding-bottom: 30px;
}

.welcome-link {
  color: var(--saito-red);
  font-weight: bold;
}

.welcome-link a {
  text-decoration: none;
}

.welcome-text {
  font-size: 0.9em;
}

h3 {
  margin: 0px;
}

hr {
  margin: 1em 50% 1em 0;
  border: 1px solid #f004;
}

.email-navigator-item.active {
  background-color: var(--saito-red);
  color: white;
  font-weight: bold;
}

.email-apps-item.active {
  background-color: var(--saito-red);
  color: white;
  font-weight: bold;
}

.welcome-container {
  font-size: 1.1em;
  line-height: 1.4em;
  max-width: 800px;
  padding: 0 2em;
}

.welcome-container p {
  margin: 0 0 20px;
}

.email-container {
  max-width: var(--saito-width);
  display: grid;
  grid-column-gap: 1.5em;
  grid-template-columns: 15em auto;
  grid-template-areas: "email-sidebar email-main";
}

.email-apps-item,
.email-navigator-item {
  background-color: white;
  list-style: none;
  font-weight: normal;
  padding: 6px;
  font-size: 1.3em;
  color: black;
  text-transform: lowercase;
  cursor: pointer;
}

.email-content {
  display: grid;
}

.email-header {
  padding-bottom: 0.5em;
}

.email-icons {
  /* display: grid; */
  /* grid-auto-flow: column; */
  padding-bottom: 0.5em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  border-bottom: 1px solid var(--saito-cyber-black);
}

.email-main {
  padding-right: 0.5em;
}

.email-body {
  padding: 0 0 0 0;
}

.email-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.email-form input[type="text"] {
  border: none;
  border-bottom: 1px solid var(--saito-cyber-black-wash);
  padding: 10px 3px;
  outline: none;
}

.email-title {
  border-top: 1px solid lightgrey;
}

.actions {
  display: flex;
  justify-content: space-around;
  margin: 0.5em;
}

.actions div {
  padding: 1em;
  width: 20%;
  text-align: center;
  color: var(--saito-red);
  cursor: pointer;
}

.actions div:hover {
  transform: scale(0.9);
  transition: all 0.25s ease-in-out;
}

.learn>div {
  margin: 0 0 1em 1em;
}

.actions i {
  display: block;
}

.actions .fas::before {
  font-size: 2em;
  margin: 0 0 10px;
  display: inline-block;
}

.actions a {
  text-decoration: none;
}

/*  Stun UI CSS */
.stun-container {
  font-size: 1.2rem;
  transition: all 0.3s;
}

.stun-video-container {
  display: flex;
  margin-bottom: 4rem;
}

.stun-video {
  border-radius: 8px;
  border: 1px solid black;
  width: 80%;
}

.stun-video::after {
  content: "Local Stream";
  display: block;
  top: 0;
  left: 1rem;
  color: black;
}

.stun-video:not(last-child) {
  margin-right: 1rem;
}

.stun-container__bar {
  display: flex;
  /* justify-content: center; */
}

.stun-container__bar button {
  color: #f71f3d;
  border: 1px solid #f71f3d;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: white;
  transition: all 0.3s;
}

.stun-container__bar button:hover {
  background-color: #f71f3d;
  color: white;
}

button.button-active {
  background-color: #f71f3d;
  color: white;
}

.stun-information {}

.stun-information .name {
  font-weight: bold;
  font-size: 1.2rem;
}

.stun-information .data {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.541);
}

.stun-information .data.offer {
  border: 1px solid black;

  border-radius: 8px;
  height: 10rem;
  overflow-y: scroll;
}

.stun-information .generate-offer {
  position: absolute;
  bottom: 0rem;
  right: 0.8rem;
  transition: all 0.4s;
}

/*  listners container */

.listeners-container .input-container {
  margin-bottom: 3rem;
}

.listeners-container>label {
  font-weight: bold;
}

.listeners-container .input-container>textarea {
  border-radius: 8px;
  width: 100%;
  margin-top: 0.5rem;
}

.listeners-container .input-container>button {
  right: 0;
}

.appear {
  animation: appear 0.3s;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 900px) {
  input[type="checkbox"] {
    margin: 0 0.65em;
  }

  .main {
    max-width: unset;
    padding: 1em 0;
  }

  .email-body {
    padding: 3px;
  }

  .email-header {
    padding: 0 0.4em 0 0.4em;
  }

  .email-main {
    padding-right: unset;
  }

  .email-container {
    display: block;
    padding-left: 10px;
  }

  .email-sidebar {
    display: none;
  }

  .email-bars-menu {
    position: absolute;
    z-index: 10000;
    top: 9em;
    padding: 0 1em;
    background: white;
    font-family: "visuelt-light", "Microsoft Yahei", "Hiragino Sans GB";
    display: block;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  }

  .email-apps {
    border-bottom: 1px solid black;
  }

  #qrcode img {
    width: 66%;
    margin: 0.5em 16.6% 1em;
  }
}

/*  video chat */

/* video chat */
.body .button {
  cursor: pointer;
  border: none;
}

.body .heading {
  color: white;
  padding: 15px;
  font-size: 2rem;
}

.body {
  border: 1px solid var(--saito-cyber-black-wash);
  z-index: 200;
  position: absolute !important;
}

.body section {
  background: linear-gradient(96.79deg, #f30c4f 0%, #f8c062 91.87%);
}

.body .main {
  background: linear-gradient(96.79deg, #f30c4f 0%, #f8c062 91.87%);
}

.body .saito-logo {
  position: absolute;
  width: 80px;
  height: 33px;
  left: 35px;
  top: 10px;
}


.body .fa-invite {
  rotate: -180deg;
  margin-left: 47%;
  margin-top: 15px;
  cursor: pointer;
  transform: matrix(1, 0, 0, -1, 0, 0);
  background: none;
}


/*  video chat */

#video-chat-box {
  max-width: 60vw;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  background-color: #ffffff;

}


.body .disconnect_btn {

  /* left: 83.96%;
  right: 3.33%;
  top: 16.87%;
  bottom: 16.87%; */

  background: #ffffff;
  /* border: 2px solid #be0000; */

  box-sizing: border-box;
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 4px;

  transform: matrix(1, 0, 0, -1, 0, 0);
}


.body .disconnect_btn:hover {
  color: black
}

.body .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(100px, 30vh);
  grid-gap: 1rem;
  padding: 1rem;
  background: var(--saito-skyline-grey);
}

.body .box {
  border-radius: 0.1rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid var(--saito-cyber-black-wash);
}

#localStream {
  display: block;
}

.body .b-btngrid {
  border: none;
  margin-left: 1rem;
  margin-top: 250px;
  width: 160px;
  height: 38px;
  border-radius: 4px;
  left: 51px;
  cursor: pointer;
}

.body .heading {
  background: linear-gradient(96.79deg, #f30c4f 0%, #f8c062 91.87%);
}

.body .footer {
  display: grid;
  grid-gap: 1rem;
  padding: 20px;
  background: radial-gradient(100.52% 47851.24% at 0% 0%, #f66659 0%, #f21d3b 51.56%, #f66659 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  ;
  transform: matrix(1, 0, 0, -1, 0, 0);
  color: white;
  align-items: center;
  grid-template-columns: 2em 2em 1fr;
}


.body p {
  margin: 0;
}


.disconnect_btn {
  margin-left: auto;
}

.footer .fa {
  color: white;
  font-size: 2rem;
  cursor: pointer;
  transform: matrix(1, 0, 0, -1, 0, 0);
  margin-right: 3rem;
}

/* video chat */



/*  Stun */


.my-stun-container h2 {
  margin-bottom: 1rem;
}

.my-stun-container>p {
  margin-bottom: 1rem;
}

.my-stun-container-actions {
  margin-bottom: 1rem;
  border-top: 1px solid #ddd;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.my-stun-container .saito-badge {
  color: var(--saito-white);
  background: var(--saito-red);
  width: 1em;
  height: 1em;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 1em;
  vertical-align: super;
}

.my-stun-container .saito-info-text {
  color: #666;
  font-size: 1rem;
  line-height: 1.2rem;
}

.my-stun-container button {
  height: 2rem;
  line-height: 0rem;
  font-size: 1rem;
  width: 10rem;
}

.my-stun-container-join input {
  margin-right: 1rem;
  padding-left: 1rem;
  height: 2rem;
  font-size: 1rem;
}

.my-stun-container-join p {
  font-size: 1rem;
  font-weight: bold;

}

.my-stun-container-create {
  margin-bottom: 1rem;
}

.my-stun-container-create p {
  font-size: 1rem;
  font-weight: bold;
}


.my-stun-container-join {}

.my-stun-container-join>div {
  display: grid;
  grid-template-columns: 13rem 13rem;
  align-items: center;
}

.my-stun-container-join input {
  margin-right: 1rem;
  padding-left: 1rem;
  height: 50.798px;

}

.my-stun-container-join input:focus {
  outline: none;

}

.saito-overlay {
  min-width: 25rem;
}