/** Email **/


.welcome-right-sidebar {
  float: right;
  width: 25vw;
  font-size: 0.9em;
  padding-top: 0px;
  padding-left: 30px;
  padding-bottom: 30px;
}
.welcome-link {
  color: var(--saito-red);
  font-weight: bold;
}
.welcome-link a {
  text-decoration: none;
}
.welcome-text {
 font-size: 0.9em;
}
h3 {
  margin: 0px;
}

hr {
  margin: 1em 50% 1em 0;
  border: 1px solid #f004;
}

.email-navigator-item.active {
  background-color: var(--saito-red);
  color: white;
  font-weight: bold;
}
.email-apps-item.active {
  background-color: var(--saito-red);
  color: white;
  font-weight: bold;
}

.welcome-container {
  font-size: 1.1em;
  line-height: 1.4em;
  max-width: 800px;
  padding: 0 2em;
}
.welcome-container p {
  margin: 0 0 20px;
}

.email-container {
  max-width: var(--saito-width);
  display: grid;
  grid-column-gap: 1.5em;
  grid-template-columns: 15em auto;
  grid-template-areas: "email-sidebar email-main";
}

.email-apps-item, .email-navigator-item {
  background-color: white;
  list-style: none;
  font-weight: normal;
  padding: 6px;
  font-size: 1.3em;
  color: black;
  text-transform: lowercase;
  cursor: pointer;
}

.email-content {
  display: grid;
}

.email-header {
  padding-bottom: 0.5em;
}

.email-icons {
  /* display: grid; */
  /* grid-auto-flow: column; */
  padding-bottom: 0.5em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  border-bottom: 1px solid var(--saito-cyber-black);
}

.email-main {
  padding-right: 0.5em;
}

.email-body {
  padding: 0 0 0 0;
}

.email-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.email-form input[type="text"] {
  border: none;
  border-bottom: 1px solid var(--saito-cyber-black-wash);
  padding: 10px 3px;
  outline: none;
}

.email-title {
  border-top: 1px solid lightgrey;
}

.actions {
  display: flex;
  justify-content: space-around;
  margin: 0.5em;
}

.actions div {
  padding: 1em;
  width: 20%;
  text-align: center;
  color: var(--saito-red);
  cursor: pointer;
}

.actions div:hover {
  transform: scale(0.9);
  transition: all 0.25s ease-in-out;
}

.learn>div {
  margin: 0 0 1em 1em;
}

.actions i {
  display: block;
}

.actions .fas::before {
  font-size: 2em;
  margin: 0 0 10px;
  display: inline-block;
}

.actions a {
  text-decoration: none;
}



/*  Stun UI CSS */
.stun-container {
  padding: 1.5rem;
  font-size: 1.2rem;
  transition: all 0.3s;
}

.stun-container__bar {
  display: flex;
  /* justify-content: center; */
}
.stun-container__bar button {
  color: #f71f3d;
  border: 1px solid #f71f3d;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: white;
  transition: all 0.3s;
}

.stun-container__bar button:hover {
  background-color: #f71f3d;
  color: white;
}
button.button-active {
  background-color: #f71f3d;
  color: white;
}

.stun-information {
  margin-top: 6rem;
}

.stun-information .name {
  font-weight: bold;
  font-size: 1.2rem;
}
.stun-information .data {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.541);
}

.stun-information .data.offer {
  border: 1px solid black;

  border-radius: 8px;
  height: 10rem;
  overflow-y: scroll;
}

.stun-information .generate-offer {
  position: absolute;
  bottom: 0rem;
  right: 0.8rem;
  transition: all 0.4s;
}

/*  listners container */

.listeners-container .input-container {
  margin-bottom: 3rem;
}
.listeners-container > label {
  font-weight: bold;
}
.listeners-container .input-container > textarea {
  border-radius: 8px;
  width: 100%;
  margin-top: 0.5rem;
}

.listeners-container .input-container > button {
  right: 0;
}

.appear {
  animation: appear 0.3s;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}





@media only screen and (max-width: 900px) {

  input[type="checkbox"] {
    margin: 0 0.65em;
  }
  .main {
    max-width: unset;
    padding: 1em 0;
  }
  .email-body {
    padding: 3px;
  }
  .email-header {
    padding: 0 0.4em 0 0.4em;
  }
  .email-main {
    padding-right: unset;
  }
  .email-container {
    display: block;
    padding-left: 10px;
  }
  .email-sidebar {
    display: none;
  }
  .email-bars-menu {
    position: absolute;
    z-index: 10000;
    top: 9em;
    padding: 0 1em;
    background: white;
    font-family: "visuelt-light", "Microsoft Yahei", "Hiragino Sans GB";
    display: block;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  }
  .email-apps {
    border-bottom: 1px solid black;
  }
  #qrcode img {
    width: 66%;
    margin: 0.5em 16.6% 1em;
  }
}

