
body {
  font-family: serif;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
  overflow: hidden; 
  position: fixed;
  width: 100vw;
  height: 100vh;
}

:root{
  --steamed-card-width: min(17.5vh, 20vw);
  --steamed-card-height: min(27.125vh, 31vw);
}

.gameboard{
  /* Default fill the background with image */
  position: absolute;
  background-image: url("/steamed/img/gameboard.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


.status-message{
  background-color: tan;
  margin-bottom: unset;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px 0;
}

.field_slot{
  width: var(--steamed-card-width);
  height: var(--steamed-card-height);
  max-width: 150px;
  max-height: 233px;
  position: relative;
  background-size: contain;
  background-position: center;
}

.card{
  position: absolute;
  width: 100%;
  max-width: 150px;
}

.pot{
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: calc(95vw - 10px);
  display: grid;
  grid-template-columns: minmax(150px, 1fr) 5fr minmax(150px, 1fr);
  align-items: center;
}

.player_field{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  background-color: saddlebrown;
  padding: 7px;
  justify-items: center;
  align-content: center;
  min-height: 150px;
  min-width: 300px;
}

.status{
  width: 100%;
  height: 40px;
  position: absolute;
  top: -40px;
  color: black;
}

#draw_deck{
  margin: 0 10px;
  background-size: contain;
  background-position: center;
  font-size: min(5vh,6vw);
  text-align: center;
  line-height: min(21vh, 23vw);
}

#draw_deck.active_element:hover{
  box-shadow: 0 0 5px 5px ghostwhite;
}

#discards{
  margin: 0 10px;

  width: calc(0.8 * var(--steamed-card-width));
  height: calc(0.8 * var(--steamed-card-height));
  max-width: 120px;
  max-height: 186px;

}

#discards img{
  filter: brightness(0.5);
}

#self{
  bottom: 15px;
}

#opponent{
  top: 40px;
}

.animation_helper{
  position: absolute;
}

#cardfan img{
  transition: transform 0.3s;
}

.hidden{
 visibility: hidden; 
}

.player_field > .field_slot{
  background-color: rgba(0,0,0,0.4);
}

.player_field > .field_slot img, .player_field > .field_slot div.field_slot{
  pointer-events: none;
}


.player_field.active{
  background-color: tan;
}

.active_element{
  cursor: pointer;
  transition: box-shadow 0.25s, transform 0.25s, filter 0.25s;
}


.delete{
  width: fit-content;
  padding: 5px;
  border-radius: 1px solid black;
  background-color: tan;
  filter: drop-shadow(2px 2px 2px black);
  cursor: pointer;
}

.delete:hover, .delete.active_element{
  background-color: saddlebrown;
  color: ghostwhite;
}

.delete.active_element:hover{
  background-color: tan;
  color: black;
}

.player_field > .field_slot.active_element:hover{
  filter: drop-shadow(0 0 10px yellow) hue-rotate(30deg);
}


.score_card{
  width: calc(var(--steamed-card-width) / 2);
  height: calc(var(--steamed-card-height) / 2);
  max-width: 75px;
  max-height: 116px;
  position: absolute;
  background-size: contain;
  background-position: center;
  text-align: center;
  font-size: min(3vh, 3vw);
  line-height: min(10vh, 12vw);
  color: crimson;
}


.offer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-width: fit-content;
}

.offer > img.card{
  position: relative;
  width: var(--steamed-card-width);
  margin: 0 10px;
}

.offer img.card.active_element:hover{
  transform: rotate(5deg);
}



#my_score { 
  position: absolute;
  bottom: 10px;
  right: 20px;
}

#opponent_score{
 position: absolute;
  top: 40px;
  right: 20px; 
}

.profit1{
  position: absolute;
  bottom: 3%;
  width: 23%;
  height: 37%;
  left: 4%;
  background-color: rgba(255, 255, 0, 0.4);
}

.profit2{
  position: absolute;
  bottom: 3%;
  width: 23%;
  height: 37%;
  left: 27%;
  background-color: rgba(255, 255, 0, 0.4);
}

.profit3{
  position: absolute;
  bottom: 3%;
  width: 23%;
  height: 37%;
  left: 52%;
  background-color: rgba(255, 255, 0, 0.4);
}

.profit4{
  position: absolute;
  bottom: 3%;
  width: 23%;
  height: 37%;
  left: 77%;
  background-color: rgba(255, 255, 0, 0.4);
}

.slot_holder{
  width: var(--steamed-card-width);
  height: var(--steamed-card-height);
  max-width: 150px;
  max-height: 233px;  
}


.flip-card{
  width: var(--steamed-card-width);
  height: var(--steamed-card-height);
  max-width: 150px;
  max-height: 233px;
  position: absolute;
}

#draw_deck .flip-card{
  top: 0;
  left: 0;  
}



.flip-card .card{
  position: absolute;
}

.cardFront, .cardBack{
  transition: transform 0.5s ease;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.cardFront{
  transform: rotateY(180deg);
}
.flipped .cardFront{
  transform: rotateY(0deg);
}
.cardBack{
  transform: rotateY(0deg);
}
.flipped .cardBack{
  transform: rotateY(-180deg);
}

.tutorial-highlight{
  box-shadow: 0 0 0 100vmax rgba(0,0,0,0.85);
  z-index: 1000;
}

.tutorial-help{
  position: absolute;
  z-index: 1001;
  width: max(20vw, 400px);
  height: max(25vh, 250px);
  background-color: ghostwhite;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  border-radius: 20px;
  border: 3px solid var(--saito-primary);
}

.jumpy img.card:hover{
  transform: translate(-12%, -20%);
}

.jumpy img.card:last-child:hover{
  transform: translate(2%, -20%);
}

.cardfan .active_element:hover {
  filter: hue-rotate(120deg);
  box-shadow: 0 0 2px 5px lime;
}

.bighand>.card:nth-child(7n+1) {
  transform: rotate(-30deg);
  left: 0px;
}

.bighand>.card:nth-child(7n+2) {
  transform: rotate(-20deg);
  left: 2.5vh;
}

.bighand>.card:nth-child(7n+3) {
  transform: rotate(-10deg);
  left: 5vh;
}

.bighand>.card:nth-child(7n+4) {
  transform: rotate(0deg);
  left: 7.5vh;
}

.bighand>.card:nth-child(7n+5) {
  transform: rotate(10deg);
  left: 10vh;
}

.bighand>.card:nth-child(7n+6) {
  transform: rotate(20deg);
  left: 12.5vh;
}

.bighand>.card:nth-child(7n+7) {
  transform: rotate(30deg);
  left: 15vh;
}

.bighand>.card:nth-child(n+8) {
  top: 5vh;
}
