.league-main-container {
	max-width: 94em;
	margin: 6em auto 0;
	padding: 0 2em;
	height: calc(100vh - var(--saito-header-height));
	overflow: auto;
}

.league-main-container-games {
}

.league-component-existing-league-box {
	display: grid;
	grid-gap: 0;
	border-bottom: 1px solid #fff;
	margin: 0 0 3em;
	padding: 0 0 1em;
}

.league-component-existing-league-details {
	display: grid;
	grid-template-columns: 4fr 2fr 2fr 2fr 3fr;
	column-gap: 1rem;
	align-items: center;
}

.league-component-existing-league-details > div {
	display: flex;
}

.league-component-existing-league-controls {
	display: flex;
	flex-direction: row-reverse;
}

.league-component-existing-league-controls button {
	margin-left: 3rem;
}

.league-component-existing-league-box div {
	min-width: 80px;
}

.league-component-existing-league-box .newline {
	margin: 0;
	height: 0;
	width: 100%;
}

.league-component-admin-box {
	width: 90%;
	min-width: 250px;
	max-width: 600px;
	margin-bottom: 5vh;
	border-radius: 5px;
	background-color: #3b4458;
	padding: 10px;
}

.league-component-admin-box img {
	width: 150px;
	height: fit-content;
	max-height: 100px;
	object-fit: cover;
	object-position: bottom;
}

.league-component-admin-box h3 {
}

.league-component-existing-league .para {
	margin-bottom: 5vh;
}

.league-join-info {
	margin: 2rem 1rem 3rem;
}

.editable-content {
	border: 1px solid var(--color-tint-primary);
	background-color: whitesmoke;
	color: black;
	padding: 0.25em;
}

.forceinrow {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.post-create-textarea {
	color: black;
	height: 100px;
	margin-bottom: 20px;
	max-height: 200px;
	overflow: hidden;
}

.league_options_overlay {
	min-width: 550px;
	max-width: 95vw;
	font-size: 1.6rem;
}

.league_options_overlay label {
	font-size: 1.8rem;
}

.league_options_overlay .overlay-title {
	font-size: 4rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

/* Invitation Link Popup overlay */

.invite-link {
	max-width: 90vw;
	min-width: 25vw;
	width: fit-content;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 8px;
	background-color: rgb(102, 51, 153);
	color: white;
	overflow-y: scroll;
}

.invite-link-actions {
	display: flex;
	align-items: center;
	margin-bottom: 0.5rem;
}

.invite-link-actions i {
	cursor: pointer;
	transition: all 0.2s;
}

.invite-link-actions i:hover {
	transform: scale(1.05);
	position: relative;
}

.invite-link > p {
	margin-top: 1rem;
	inline-size: 22rem;
	overflow-wrap: break-word;
	line-height: 1.2rem;
}

.invite-link button {
	margin-top: 1rem;
	padding: 0.5rem;
	/* color: rgb(14, 6, 22); */
	/* border: 1px solid rgb(14, 6, 22); */
	border-radius: 8px;
	cursor: pointer;
}

.invite-link > p:hover::before {
	/* transform: scale(1.05);
  top: -2rem;
  position: absolute;
  cursor: pointer;
  content: "Copy Link";
  display: block;
  width: 1rem;
  height: 1rem; */
}

.invite-link .social-links {
	margin-left: auto;
	display: flex;
	/* justify-content: space-between; */
	/* width: 50%; */
}

.social-links img {
	width: 25px;
	cursor: pointer;
}

.social-links img:not(last-child) {
	margin-right: 1rem;
}

.social-links a {
	color: var(--color-white);
}

i.link_icon {
	display: none;
}

i.link_icon.private {
	display: block;
}

.league-component-admin-box-form {
	padding-left: 1em;
}

.league-component-admin-box-form input,
.league-component-admin-box-form .saito-select {
	width: 75%;
	margin-bottom: 0.6em;
}

.checkrow {
	position: relative;
}

.checkrow > input {
	width: fit-content;
}

.checkrow .secretbutton {
	width: fit-content;
	position: absolute;
	top: 0;
	right: 0px;
	text-decoration: underline dotted;
	cursor: pointer;
}

.checkrow .tip {
	display: inline-block;
	margin-left: 2em;
}

.gridme {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.tip {
	width: unset;
}

.league_options_overlay .tiptext {
	background-color: var(--color-black);
}

.league-join-overlay-box img {
	width: 100%;
	margin-bottom: 1rem;
}

.game_option_league_wizard {
	padding: 1em;
	font-size: 1em;
	background-color: #0009;
	max-height: 90vh;
}

.league_options_overlay .label {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.league_options_overlay .label i {
	margin: 0 5px;
}

.league_options_overlay input[type='number'] {
	float: right;
}

.editable-content {
	content: attr(data-placeholder);
}

.league-main-container .saito-module {
	font-size: 2rem;
	background: transparent;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 3rem;
	border-bottom: 1px solid;
}

.league-main-container .saito-module-action {
	color: var(--color-white);
	background-color: var(--color-primary);
	border-radius: 1rem;
	padding: 1rem;
	width: fit-content;
	height: fit-content;
	cursor: pointer;
}

.saito-module-title {
	font-size: 1.2em;
}

/* temprorarily adding css for join league overlay here */

.league-join-overlay-box,
.league-edit-overlay-box {
	background: var(--background-color-main);
	padding: 1.5rem;
	border-radius: 1rem;
	width: 60rem;
	max-width: 95vw;
	font-size: 2rem;
}

.email-box textarea {
	margin-top: 2rem;
}

.email-box .title-box div {
	margin: 0.5rem 0;
}

.email-box .warning {
	font-size: 0.9em;
	font-style: italic;
	color: var(--font-color-secondary);
}

.admin-name {
	text-decoration: underline dotted;
	cursor: pointer;
}

.league-join-overlay-box .address {
	font-style: italic;
}

.league-join-username {
	display: flex;
	gap: 1.5rem;
	justify-content: center;
	align-items: center;
}

.league-join-overlay-box .saito-overlay-form-alt-opt {
	margin-left: unset;
}

.league-join-overlay-box .game-image {
	background-size: cover;
	width: 15rem;
	height: 100%;
	float: left;
	margin-right: 1rem;
}

.league-join-overlay-box .join-overlay-header {
	height: 10rem;
	margin-bottom: 2rem;
}

.league-join-overlay-box .title-box {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.league-join-overlay-box .title-box .title {
	display: inline-block;
	font-size: 4rem;
}

.league-join-overlay-box .description {
	text-transform: uppercase;
	font-style: italic;
}

.league-join-controls,
.league-email-controls {
	padding: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.league-email-controls {
	justify-content: center;
}

.league-join-info p {
	margin-bottom: 1rem;
	overflow: revert;
	font-size: 2rem;
	line-height: 3rem;
}

.league-edit-overlay-box {
	max-width: 90vw;
	width: 80rem;
	max-height: 95vh;
	overflow-y: auto;
}

.league-edit-overlay-box .label {
	font-weight: bold;
	margin-top: 1rem;
}

.league-edit-overlay-box .box {
	border: 1px solid var(--border-color-general-dividers);
	padding: 1rem;
	margin-bottom: 1rem;
	min-height: 25vh;
	width: 100%;
	max-height: 70vh;
	overflow: auto;
}

.league-edit-overlay-box .box.contact {
	min-height: 8rem;
}

/* LIST SELECTION MODAL */

.game-selection-list-overlay {
	background-color: black;
	max-height: 90vh;
	overflow-y: scroll;
	font-size: 2rem;
	min-width: 400px;
	padding: 1.5rem;
}

.selection-list li {
	cursor: pointer;
	border-bottom: 1px solid transparent;
	list-style: none;
	padding: 0.5rem 0.5rem;
}

.selection-list li:hover {
	background-color: #33669999;
}

.selection-list li .tiptext {
	width: fit-content;
	background-color: #000a;
	color: #ffffff !important;
	min-width: 0px;
	padding: 3px;
	pointer-events: none;
	top: 5px;
	right: 0;
}

/* league create overlay */

.info-item-wrapper {
	display: inline-block;
	cursor: pointer;
	transform: translateY(56%);
}

#arcade-advance-opt {
	margin-top: 1rem;
	text-transform: lowercase;
}

.text-prompt {
	margin-bottom: 2rem;
}

.game-selection-list-overlay .overlay-title {
	font-size: 3rem;
	margin-bottom: 0.5rem;
	color: var(--color-primary);
}

.saito-labeled-input {
	width: 100%;
	padding: 0 1rem;
	margin: 1rem 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.game-help-link {
	position: absolute;
	right: 2rem;
	font-size: 2rem;
	color: #fffd;
}

/*.game-wizard-advanced-return-btn {
  font-size: 1.4em;
  margin-top: 20px;
  padding: 16px 30px 12px;
  text-align: center;
  text-transform: uppercase;
}*/

.game-wizard-options form {
	display: flex;
	justify-content: space-between;
}


@media (max-width: 900px) {
	.league-main-container {
		grid-template-columns: 1fr;
	}

	.league-component-existing-league-details {
		grid-template-columns: 4fr 2fr 2fr 3fr;
	}

	.league-component-existing-league-details div:first-of-type {
		display: none;
	}

	.league-component-existing-league-controls button.league-button {
		min-width: 9rem;
		flex-grow: 1;
	}

	.league-component-existing-league-controls button {
		margin-left: 2rem;
	}
}

@media (max-width: 525px) {
	.league-join-controls {
		flex-direction: column-reverse;
	}

	.league-component-existing-league-controls button {
		margin-left: 1rem;
	}

	.league-component-existing-league-details > div {
		display: block;
	}
}
