.league-overlay-container {
  background: var(--saito-arcade-background);
  width: 90vw;
  height: max-content;
  max-width: 140rem;
  border-radius: 0.5rem;
}

.league-join-email-note {
  width: 50rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  line-height: 2.8rem;
}

.league-overlay {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  grid-gap: 2rem;
}

.league-overlay>div {
  margin: 0 1rem;
}

.league-overlay-controls button {
  line-height: 4.5rem;
  width: 20rem;
  font-size: 2.2rem;
  margin: 0;
}

.league-overlay-controls {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.league-overlay-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.league-overlay-header-title-box-title {
  font-size: 4rem;
}

.league-overlay-header-title-box-desc {
  font-size: 2rem;
}

.league-overlay-body {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-gap: 2rem;
}

.league-error {
  padding: 0rem 1.5rem;
  line-height: 2rem;
}

.league-overlay-body>div {
  box-shadow: var(--saito-box-shadow) var(--saito-border-color);
  padding: 2rem;
  border-radius: 0.5rem;
  max-height: calc(90vh - 22rem);
  overflow-y: auto;
}

.league-overlay-header-image {
  background-image: url(/saito/img/dreamscape.png);
  background-size: cover;
  width: 11rem;
  height: 7rem;
  margin-right: 1rem;
}

.league-overlay-description {
  font-size: 1.7rem;
  line-height: 2.3rem;
}

.league-overlay-league-body-games {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.league_recent_player {
  width: 20rem;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
}

.league-overlay-league-body-games-list .saito-table {
  overflow-y: scroll;
  max-height: 25vh;

}

@media screen and (max-width: 1000px) { 
  .league-overlay-body {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    max-height: calc(95vh - 22rem);
    overflow-y: auto;
    margin: 0 !important;
    padding: 1px 1rem;
  }

  .league-overlay-body>div {
    max-height: unset;
    overflow-y: unset;
  }
}
