
.league-overlay {
    background-color: whitesmoke;
    width: 90vw;
    height: 90vh;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.league-overlay-header-image {
    background-image: url(/twilight/img/arcade/arcade.jpg);
    background-size: cover;
    width: 11rem;
    height: 7rem;
}

.league-overlay-header-title-box-title {
    font-size: 4rem;
}

.league-overlay-create-game-button {
    min-width: 20rem;
    max-width: 25rem;
}

.league-overlay-body {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-gap: 2rem;
}


.league-overlay-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.league-over-header-controls {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.league-overlay-league-body-games {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}