body {
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
}

.main {
  margin: 0 0 0 0 ;
  padding: 0 0 0 0 ;
}


.rules-overlay ul{
  margin-left: 25px;
}


.rules-overlay table{
  font-size: 1.5em;
  margin: 0 auto;
}

.rules-overlay th{
  text-align: right;
}

.rules-overlay td{
  text-align: center;
  width: 4em;
}

/*.connection_monitor {
  position: fixed;
  display: none;
  min-height: 30px;
  z-index: 90000;
  background: #ef6666;
  font-size: 1.8em;
  padding: 15px;
}*/

.gameboard {
  position: absolute;
  background-image: url("img/gameboard.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(20%,max-content) 1fr;
}

.logobox {
position: relative;
    margin-top: 50px;
    font-size: 20px;
    order: 1;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}
.logobox div{
  border-radius: 5px;
}

.logobox img {
  width: 100%;
  margin-bottom: 15px;
}

.status-header{
  padding: 10px 5px;
  margin-top: 20px;
}

.selected .empty:hover{
  background-color: rgba(240,240,240,0.7);
  border-radius: 10px;
}

.selected .valid:hover{
  background-color: rgba(160,255,160,0.85);
  border-radius: 10px;
}
.selected .invalid:hover{
  background-color: rgba(255,160,160,0.85);
  border-radius: 10px;
}


.rowbox {
  /*float:left;*/
  order: 2;
  margin-top: 25px;
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  max-width: min(90vw,150vh);
  grid-gap: min(5px,1vh);
  height: fit-content;
}

.slot {
 width:100%;
}

.slot img {
 width: 100%;
}

@media screen and (orientation: landscape) and (max-height: 600px) {
  .logobox{
    order: 1;
    max-width: 150px;
  }
  .logobox img{
    display: none;
  }
  .hidable{
    display: none;
  }
  .rowbox{
    margin-top: 0;
    padding: 15px;
    order: 2;
  }

}

@media screen and (orientation: portrait) and (max-width: 600px) {
  .gameboard{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    
  }
  .logobox{
    order: 2;
    /*grid-row: 2 / 2;*/
    max-width: unset;
    margin: 5px auto;
    font-size: 18px;
    align-self: end;
  }
  .logobox img{
    display: none;
  }
  .hidable{
    display: none;
  }
  .logobox .status, .logobox .status-header, .logobox .status-text-menu{
    width: min(500px, 90vw);
  }
  .rowbox{
    max-width: 100vw;
    order: 1;
  }
}


