
.game-observer-hud{
  position: absolute;
  display: block;
  top: 10vh;
  left: 10vw;
  /*height: 20vh;*/
  width: 50vw;
  background-color: #444;
  color: #ccc;
  font-size: 4vh;
  text-align: center;
  padding: 0.25em 0;
  z-index: 99999999;
}

.game-observer-hud > div{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.game-observer-hud .status{
  height: fit-content;
  width: 100%;
  font-size: 0.7em;
}
.game-observer-status{
  font-size: 0.9em;
}

.play-state i.fa-pause, .play-state i.fa-forward{
  display: none;
}
.pause-state i.fa-play, .pause-state i.fa-step-forward{
  display: none;
}


.game-observer-controls {
  height: 10vh;
  width: 100%;
  cursor: pointer;
  opacity: 0.8;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.game-observer-controls .flashit{
  animation: flashme 1s infinite cubic-bezier(0.4, 0, 1, 1);
}



