
/**************/
/** GAME HUD **/
/**************/
.hud {
  font-family: "visuelt-light", "Microsoft Yahei", "Hiragino Sans GB";
  position: absolute;
  left: 0;
  bottom: 0;
  float: none;
  z-index: 40;
  font-size: 1.6rem;
  border-bottom: 0px;
  /*transition: height 0.3s ease, width 0.3s ease, right 0.3s ease, top 0.3s ease, bottom 0.3s ease; */
  max-width: 100vw;
}

.hud-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 20px;
  cursor: move;
  background-color: transparent;
  grid-template-columns: repeat(auto-fit,minmax(10vw,1fr));
  margin: 0 0 5px 0;
}


.hud-controls {
  cursor: default;
  color: whitesmoke;
  line-height: 20px;
  font-size: 20px;
  padding-left:3px;
  padding-right:3px;
}


#hud-mode-button{
  font-size: 20px;
}


#hud-toggle-button{
  order:  1; /*force to end*/
  font-size: 30px;
}


.hud-body {
  width: 100%;
  max-width: 100vw;
  height: calc(100% - 20px); /*hud-header = 20px*/
  background-color: transparent;
}

ul li a {
  color: black;
}
.hud-button {
  padding: 9px;
  padding-right: 3px;
}
.hud-hidden-vertical {
  height: 40px;
}
.status-overlay ul li {
  width: 100%;
  line-height: 3.5em;
  border-top: 1px solid rgb(234, 234, 239);
  cursor: pointer;
  list-style: none;
}


/*** .status-message: Legacy Text prompt in hud > hud-body > status ***/
/*** .status-header: Text prompt in hud > hud-body > status ***/
.status-header, .status-message {
  position: relative; /* To make back-button work */
  width: 500px;
  max-width: 100%;
  min-height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  font-size: 1.6rem;
  border-radius: 0.5rem;
  background-color: whitesmoke;
}

.status-header > #status-content, .status-message > #status-content{
  position: absolute;
  width: 94%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  line-height: 1em;
}

.status-header i {
  float: left;
}

#back_button {
  font-size: 1.2em;
  cursor:pointer;
  width:40px;
  height:40px;
  padding: 10px;
  position: relative;
  z-index: 1;
}

#back_button:hover{
  background-color: rgba(0,0,0,0.25);
}

/*** Vertical alternate ***/
.hud-vertical .status-header{
  width: 100%;
  /*min-height: fit-content;*/
}

/*** Icon/pictorial (but not card) container for menu options in hud > hud-body > status ***/
.status-icon-menu {
  width:525px;
  height: 130px;
  margin:auto;
  display: flex;
  justify-content: space-evenly;
}

.status-icon-menu .menu-text{
  font-size: 18px;
  margin: 0.5em auto;
}


.menu_icon{
  /*margin: 5px;*/
  width: 100px;
  color: var(--saito-white);
  cursor: pointer;
}

.menu_icon_icon {
  max-width: 100px;
  max-height: 100px;
  width: 100%;
}

/*When using a font awesome icon*/
i.menu_icon_icon{
  box-sizing: content-box;
  background-color: rgba(10,10,10,0.75);
  /*font-size: 75px;*/
  /*margin-bottom: 5px;*/
}

.menu_icon{
  font-size: 50px;
}
.smaller-icon.menu_icon{
  font-size: 30px;
}
.smaller-icon i.menu_icon_icon{
 /* font-size: 40px;*/
}


.menu_icon{
  font-size: 50px;
}
.smaller-icon .menu_icon{
  font-size: 30px;
}
.smaller-icon i.menu_icon_icon{
 /* font-size: 40px;*/
}


.hud-vertical .status-icon-menu{
  width: fit-content;
  height: auto;
  flex-direction: column;
}


.hud-body .status{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.status-text-menu {
  width: min(500px,100%); /*I think 350px looks better*/
  overflow-y: auto;
  font-size: 1.6rem;
}

.status-text-menu ul {
  list-style-type: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  font-size: 1.6rem;
}

.status-text-menu ul li {
  padding: 10px;
}

.status-text-menu ul li , .status ul li {
  width: 100%;
  line-height: 2.4em;
  border-top: 1px solid var(--saito-border-color);
  cursor: pointer;
  list-style: none;
}

.status-text-menu ul li:hover, .status ul li:hover {
  background-color: #e7e7e7;
}

/*Player box version*/
.status ul .menu_option{
  line-height: 4em;
}
.status ul .menu_option:hover{
  background-color: #ccc3;
}


/* Undo HUD styling in Playerbox */
.player-box .status-header, .player-box .status-text-menu, .player-box .status-text-menu ul, .player-box .status-text-menu ul li, .player-box .textchoice{
  background: unset;
}
.player-box .textchoice:hover{
  color: black;
}

.status-cardbox {
  display: grid;
  width: 100%;     /*Fit the status, fit the hud*/
  overflow-y: auto;
  overflow-x: clip;
  user-select: none;
}

.status-cardbox li {
  list-style-type: none;
}
.status-cardbox ul li {
  list-style-type: none;
}

@media screen and (orientation: portrait) and (max-width: 600px) {
  .status-header{
    min-height: 32px;
    margin-bottom: 5px;
  }
}

@media screen and (orientation: landscape) and (max-height: 600px) {
  .status-header{
    min-height: 32px;
    margin-bottom: 5px;
  }
}

.hud-square {
  height: 410px;
  min-height: 410px;
  width: 510px;
  min-width: 510px;
  max-width: 9.1em;
}
.hud-square .hud-body {
  min-height: 390px;
}
.hud-square .hud-body .status .status-cardbox {
  grid-template-columns: 1fr 1fr 1fr;
}

.hud-vertical {
  width: 280px;
  max-width: 300px;
  height: 100%;
  max-height: 100vh;
  top: 0px;
  left: 0px;
  margin-top: 45px;
  padding: 0 5px 5px 5px;
}

.hud-vertical .status-cardbox{
  grid-template-columns: repeat(1, minmax(100px, 1fr));
}

.hud-long {
  width: 1200px;
  max-width: calc(100vw - 1rem);
  height: 280px;
  max-height: 280px;
  padding: 0 5px 10px 5px;
  left: 50%;
  transform: translateX(-50%);
}

.hud-long .status-cardbox{
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr) );
}


.status {
  text-align: center;
}
.status-overlay {
  height: 100%;
  padding: 5px;
  text-align: center;
}


::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
/*.hud-card {
  display: block;
  z-index: 2;
  width: 10vw;
  height: fit-content;
  justify-self: center;
}*/
/* This probably shouldn't be here */ 
.card {
  position: relative;
}




