.shake {
  animation: shake 0.82s infinite cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.flash {
  animation: flash 1s infinite cubic-bezier(0.4, 0, 1, 1);
}


@keyframes flash {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}


@keyframes flashme {
  from {
    color: #fff;

  }
  to {
    color: #444;
  }
}


@keyframes shake {
  10%,
  90% {
    transform: translate3d(-4px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(4px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-8px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(8px, 0, 0);
  }
}

