
.game-observer-hud{
  position: absolute;
  display: flex;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 450px;
  max-width: 100vw;
  max-height: 180px;
  background-color: #111D;
  color: ghostwhite;
  font-size: max(3vh, 16px);
  text-align: center;
  padding: 0.75rem;
  z-index: 99999999;
  border-radius: 15px;
  border: 2px solid #AAA;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}


.game-observer-hud .status{
  height: fit-content;
  width: 100%;
  font-size: 18px;
}
.game-observer-status{
  font-size: 20px;
}

.play-state i.fa-pause, .play-state i.fa-forward{
  display: none;
}
.pause-state i.fa-play, .pause-state i.fa-step-forward{
  display: none;
}

.game-observer-hud-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game-observer-hud-header > div {
  flex: 1;
}

.game-observer-header-control .game-observer-btn {
  width: fit-content;
  padding: 2px 10px;
  border: 1px solid;
  border-radius: 0.75rem;
  cursor: pointer;
  margin-left: auto;
  display: flex;
}

.join-game {
  font-size: 1.6rem;
  padding: 4px 16px;
  cursor: pointer;
  border: 1px solid;
  border-radius: 1rem;
  width: fit-content;
}

#obstatus {
  font-size: 1.8rem;
  min-height: 5rem;
}

.game-observer-controls {
  height: 70px;
  width: 100%;
  cursor: pointer;
  opacity: 0.8;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.game-observer-controls .flashit{
  animation: flashme 1s infinite cubic-bezier(0.4, 0, 1, 1);
}

.unavailable {
  color: #444;
}


.game-observer-hud .status-header, .game-observer-hud .status-message {
  background-color: unset;
}