
.game-overlay-menu {
  padding: 10px;
  background-color: whitesmoke;
  opacity: 0.8;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  width: 450px;
  max-width: 80vw;
}
.game-overlay-menu ul li {
  width: 100%;
  line-height: 3.5em;
  border-top: 1px solid var(--saito-skyline-grey);
  cursor: pointer;
  text-align: -webkit-match-parent;
  display: list-item;
  list-style: none;
  padding: 0 1em;
}
.game-overlay-menu ul li:hover {
  font-weight: bold;
  background: #0001;
}
.game-overlay-cardlist-container {
  width: 85vw;
  max-height: 85vh;
  display: flex;
  overflow-y: scroll;
  row-gap: 1rem;
  column-gap: 1rem;
  text-align: left;
  flex-direction: rows;
  flex-wrap: wrap;
  justify-content: space-around;
}
.game-overlay-button-close {
  margin-left: 50px;
  width: 240px;
  float: left;
}
.game-overlay-button-continue {
  width: 240px;
  float: left;
}
.game-overlay-button-container {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  margin-top: 25px;
  margin-bottom: 25px;
}
.game-overlay-cardlist-title {
  font-size: 3em;
  padding: 20px;
  text-align: center;
  color: white;
  padding-bottom: 20px;
}

.game-overlay-cardlist-subtitle {
  background-color: whitesmoke;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 5px;
  border-radius: 5px;
  font-size: 1.4em;
  margin-top: 0px;
  margin-bottom: 16px;
}
.game-overlay-button {
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
  width: 240px;
  margin-top: 14px;
  margin-bottom: 20px;
  font-size: 2em;
}
.game-overlay-cardlist-card {
  position:relative;
  z-index: 2;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}

.game-overlay-cardlist-button {
}
.game-overlay-cardlist-unselectable {
  opacity: 0.4;
}

/** For various common overlays**/

.rules-overlay {
  background-color: var(--saito-arcade-background);
  width: min(800px, 90vw);
  max-width: 100%;
  padding: 4rem;
  max-height: 90vh;
  /* No scrollbars */
  overflow-y: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for IE, Edge and Firefox */
/* Hide scrollbar for Chrome, Safari and Opera */
.rules-overlay::-webkit-scrollbar {
  display: none;
}


.rules-overlay h4 {
  margin-bottom: 1rem;
}

.rules-overlay p {
  margin: 1rem 0;
  line-height: 1.5em;
}

.rules-overlay em {
  font-weight: bold;
}

/*.saito-overlay .rules-overlay {
  border-radius: 1rem;
  border: 1px solid var(--saito-black);
}*/


.shim-notice {
  font-size: 20px;
  background: #000c;
  color: #fff;
  padding: min(5vh,5vw);
  width: min(800px,95vw);
  overflow-y: auto;
  border-radius: 2%;
  border: 2px solid var(--saito-gray);
  cursor: grab;
}

.shim-notice .player-result{
  display: grid;
  width: 100%;
  max-width: 750px;
  margin: auto;
  grid-template-columns: 2fr 5fr;
  grid-column-gap: 2rem;
}

.shim-notice  .htmlCards{
  display: flex;
  width: 100%;
  max-width: 500px;
  justify-content: space-between;
}

.shim-notice .card {
  max-width: 100px;
  height: auto;
  margin-left: 3px;
}

.shim-notice .htmlCards.pocket .card{
  width: 50%;
}

.shim-notice .htmlCards.pool .card{
  width: 20%;
}


.game_warning_overlay{
  background: #222b;
  color: #fff;
  padding: min(2vh,2vw);
  min-width: min(400px,85vw);
  max-width: 95vw;
  min-height: min(240px, 50vh);
  max-height: 70vh;
  border-radius: min(2vh,2vw);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.game_warning_header{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.game_warning_header i{
  font-size: 2em;
  color: yellow;
}

.game_warning_overlay h2{
  font-size: 1.6em;
  width: 100%;
  flex: 1;
}

.game_warning_overlay p{
  font-size: 1.5em;
}


/***********************
 * 
 * GAme stake info
 * 
 **********************/
.stake-info-overlay {
  width: min(400px, 80vw);
  min-height: 250px;
  max-height: 70vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  padding: 2rem;
  justify-content: space-evenly;
}

.stake-info-overlay .h3 {
  font-size: 3rem;
}

.stake-info-overlay > div {
  margin: 1rem;
}

.stake-info-overlay .player-table {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  row-gap: 1rem;
  column-gap: 2rem;
  justify-items: center;
}

/*******************/
/* A welcome image  */
/*******************/
.splash_overlay {
  padding: 2px;
  width: min(800px, 110vh);
  height: auto;
  max-height: 90vh;
  max-width: 95vw;
}

.splash_overlay img{
    width: 100%;
    height: auto;
  }

@media screen and (max-width: 800px) {
  .splash_overlay {
    padding: 2px;
    width: auto;
    height: auto;
    min-width: 600px;
    max-height: 90vh;
    max-width: 95vh;
  }
}
@media screen and (max-width: 600px) {
  .splash_overlay {
    padding: 2px;
    width: 95vw;
    height: auto;
    min-width: unset;
    max-height: 90vh;
    max-width: 95vw;
  }

  .rules-overlay {
    padding: 1rem;
  }
}

@media screen and (max-width: 800px) and (orientation: landscape) {
  .splash_overlay {
    padding: 2px;
    height: 85vh;
    width: auto;
    min-width: unset;
    max-width: 95vw;
    max-height: 50vw;
  }
  .splash_overlay img{
    height: 100%;
    width: auto;
  }
}


/**********************************
Useful declarations for game stats 
**********************************/
.solitaire-stats-overlay {
  min-width: 600px;
  max-width: 90vw;
  background-color: #f5f5f5;
  padding: 50px;
  border-radius: 5px;
  border: 2px solid var(--saito-black-faded);
  box-shadow:  4px 4px 6px 4px black;
  max-height: 99vh;
}

.solitaire-stats-overlay hr {
  margin: 0.5rem 0 2rem;
  color: var(--saito-red);
}

.solitaire-stats-overlay .saito-table-row {
  grid-template-columns: minmax(150px, 1fr) 1fr 1fr;
}

.solitaire-stats-overlay .saito-table-body {
  font-size: 2rem;
}

.solitaire-stats-overlay .saito-table-label, .solitaire-stats-overlay .saito-table-header {
  white-space: nowrap;
  font-weight: bold;
  font-size: 1.6rem;
}

.solitaire-stats-overlay .saito-table-header {
  padding: unset;
  margin-bottom: 0.5rem;
}

.saito-table-body .saito-table-row > div:not(.saito-table-label) {
  text-align: center;
}

@media screen and (max-width: 600px) and (orientation: portrait){
  .solitaire-stats-overlay{
    min-width: 90vw;
    padding: 2rem;
  }
}

@media screen and (max-height: 600px) and (orientation: landscape){
  .solitaire-stats-overlay {
    min-height: 90vh;
    padding: 2rem;
  }
}


.saito-modal-menu-option .option-keyword {
  display: grid;
  gap: 1rem;
  grid-template-columns: max-content min-content 1fr;
  margin: 0;
}
.saito-modal-menu-option span.option-explanation {
  font-size: 1.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}


.debug_overlay {
  max-height: 90vh;
  max-width: 92vw;
  background: var(--saito-background-color);
  color: var(--saito-text-color);
  padding: 3rem;
  padding-left: 2rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.debug_overlay button {
  margin: auto;
}

@media screen and (max-width: 600px) {
  .debug_overlay{
    padding: 1rem;
    padding-left: 0;
  }
}

/*json tree */

.jsontree_node {
  list-style: none;
}



.module-settings-overlay {
  min-height: unset;
}