
.game-clock {
  position: fixed;
  cursor: pointer;
  top:0px;
  right:0px;
  display:inline;
  background: #000;
  color: red;
  font-size:3.6rem;
  font-family: monospace;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  z-index: 900000;
}


#game-clock-miliseconds{
  font-size: 2.8rem;
}

