::-webkit-scrollbar { width: 8px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #c9c9c9; }
::-webkit-scrollbar-track {  background-color: #c9c9c9;}
::-webkit-scrollbar-track-piece { background-color: #ddd;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #c9c9c9; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #c9c9c9;}
::-webkit-resizer { background-color: #ddd;}


body {
  position: relative;
  background-color: #4e4e4e;
  background-image: url(/saito/img/tiled-logo.svg);

  /*font-family: arial, helvetica, sans-serif;*/
}

.scrollable-page {
  overflow: auto;
  position: relative;
  height: 100vh;
  font-family: var(--theme-font);
  scroll-behavior: smooth;
}

.main {
  margin-top: unset;
  padding: unset;
}

.gameboard {
  /*transform-origin: left top; /* For resizing game boards */
  user-select: none;
 }


/*********************/
/*  SIZING ISSUES    */
/*********************/
div.h1{
  font-size: 32px;
  margin: 12px 0;
  font-weight: bold;
}
div.h2{
  font-size: 24px;
  margin: 10px 0;
  font-weight: bold;
}
div.h3{
  font-size: 18px;
  margin: 8px 0;
}


/***********************/
/* MOUSE HOVER TIPS    */
/***********************/

.tip{
  position: relative;
}

.tip .tiptext {
  visibility: hidden;
  color: #444 !important;
  position: absolute;
  width: 90%;
  min-width: 400px;
  max-width: 750px;
  border:  1px solid var(--saito-primary);
  background-color: var(--saito-background-color);
  font-size: 1.6rem;
  font-style: italic;
  line-height: 2rem;
}

.tip:hover .tiptext {
  visibility: visible;
}


/*********************/
/*** PORTRAIT MODE ***/
/*********************/
@media screen and (orientation:portrait) and (max-width: 400px) {


  .hud-long .status-cardbox {
    grid-template-columns: repeat( auto-fit, minmax(18vw, 1fr) );
  }

}

@media screen and (orientation:portrait) and (min-width: 400px) and (max-width: 600px) {

  .hud-long .status-cardbox {
    grid-template-columns: repeat( auto-fit, minmax(15vw, 1fr) );
  }
}


/*****************/
/*** LANDSCAPE ***/
/*****************/
@media screen and (orientation: landscape) and (max-height: 650px) {

  .game-overlay-menu {
    font-size: 1.4em;
  }

}


@media screen and (max-width: 768px) {
  .chat-container {
    max-height: 50vh !important;
    height: 280px !important;
    top: 45px;
  }
}


.message_box {
  background-image: url(/saito/img/arcade/your_move.png);
  background-size: cover;
  background-position: center;
  width: 400px;
  max-width: 95vw;
  font-size: 4rem;
  height: 404px;
  max-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
  text-shadow: 2px 2px black;
  padding: 1rem 0;
  text-transform: uppercase;
  font-family: impact;
}

/*******************
    Crypto
******************/
.crypto_logo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20vw;
}



/***************************
* Standardized Landing Pages
****************************/
.saito-splash-image {
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: min(150px, 25vh);
  width: min(800px, 90vw);
  border-radius: 1rem 1rem 0 0;
  margin: auto;
  margin-top: 2rem;
}

.saito-splash-image.full{
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  margin: 0;
}


.saito-splash-section-title{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  color: var(--saito-white);
  text-shadow: 1px 3px 4px var(--saito-black);
}

.saito-splash-section-title h3 {
  font-size: 24px;
}

.saito-splash-info {
  position: relative;
  background-color: var(--saito-profile-background);
  color: var(--saito-font-color);
  padding: min(5rem, 5vh) min(8rem, 5vw);
  min-height: min(300px, 30vh);
  max-width: min(800px, 90vw);
  margin: auto;
  margin-bottom: 4rem;
  border-radius: 0 0 1rem 1rem;
}

.saito-splash-section-title .saito-splash-info{
  margin-bottom: unset;
  border-radius: 1rem;
  max-width: min(650px, 75vw);
  min-height: min(200px, 20vh);
  padding: min(4rem, 4vh) min(6rem, 4vw);
}

.splash-page-game-description {
  font-size: 18px;
  margin: 1rem 0;
  line-height: 24px;
}

.splash-page-leaderboard, .league-overlay-games-list {
  max-height: min(600px, 80vh);
  max-width: 80rem;
  margin: auto;
  overflow: auto;
}


@media screen and (max-width: 600px) {
  .saito-splash-image{
    background-attachment: scroll;
    min-height: min(200px, 25%);
  }
}


/**********************************************
* Side navigation for Standardized Landing Pages
***********************************************/
.saito-splash-nav {
  position: fixed;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  padding: 1rem;
}

.saito-splash-nav ul {
  list-style: none;
  font-size: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.saito-splash-nav a {
  color: var(--saito-font-color);
  text-shadow: 1px 2px 4px var(--saito-black);
}

.saito-splash-nav button {
  min-width: unset;
  max-width: 20rem;
}