::-webkit-scrollbar { width: 8px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #c9c9c9; }
::-webkit-scrollbar-track {  background-color: #c9c9c9;}
::-webkit-scrollbar-track-piece { background-color: #ddd;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #c9c9c9; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #c9c9c9;}
::-webkit-resizer { background-color: #ddd;}


body {
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
  background-color: #4e4e4e !important;

  overflow: hidden;
  position: fixed;
  width: 100vw;

  height: 100vh;
}

.main {
  margin-top: unset;
  padding: unset;
}

.gameboard {
  /*transform-origin: left top; /* For resizing game boards */
  user-select: none;
 }

.rules-overlay {
  background-color: whitesmoke;
  border-color: black;
}

.shim-notice {
  background: #222b;
  color: #fff;
  padding: min(5vh,5vw);
  min-width: min(400px,85vw);
  max-width: 95vw;
  overflow-y: auto;
}

.shim-notice  .htmlCards{
  display: flex;
}
.shim-notice .card {
  width: 10vw;
  max-width: 12vh;
  min-width: 55px;
  margin: 0;
}

.tip .tiptext {
  visibility: hidden;
  color: #444 !important;
}

.tip:hover .tiptext {
  visibility: visible;
}
  
.tiptext {
   width: 90%;
   min-width: 400px;
}

/*********************/
/*** PORTRAIT MODE ***/
/*********************/
@media screen and (orientation:portrait) and (max-width: 400px) {

  .hud-card {
    width: calc(18vw * 0.811);
    /*height: 18vw;*/
  }

  .hud-long .status-cardbox {
    grid-template-columns: repeat( auto-fit, minmax(18vw, 1fr) );
  }

  .game-menu ul li {
    max-width: 75px;
    font-size: 0.9rem;
  }

}

@media screen and (orientation:portrait) and (min-width: 400px) and (max-width: 600px) {

  .hud-card {
    width: calc(13vw * 0.811);
    /*height: 13vw;*/
  }
  .hud-long .status-cardbox {
    grid-template-columns: repeat( auto-fit, minmax(15vw, 1fr) );
  }
  .game-menu ul li {
    max-width: 100px;
    width: 100px;
  }
}

@media screen and (orientation:portrait) and (min-width: 600px) {

  .hud-card {
    width: calc(10vw * 0.811);
    /*height: 10vw;*/
  }
  .status-cardbox {
    /*grid-template-columns: repeat( auto-fit, minmax(11vw, 1fr) );*/
    /*grid-template-rows: repeat(auto-fit, 14vw);*/
  }
  .game-menu ul li {
    max-width: 125px;
    font-size: 1rem;
  }

}


/*****************/
/*** LANDSCAPE ***/
/*****************/
@media screen and (orientation: landscape) and (max-height: 650px) {

  .game-overlay-menu {
    font-size: 1.4em;
  }

}


