
#game_board_sizer{
  position: absolute;
  top: 5px;
  right: 20px;
  z-index: 45;
  display: flex;
  flex-direction: row;
  width: 220px;
  align-items: center;
  justify-content: space-evenly;
}

#saito-header #game_board_sizer{
  position: static;
}

#game_board_sizer i {
  font-size: 24px;
  color: var(--saito-white);
  text-shadow: 0 0 2px var(--saito-black), 0 0 3px var(--saito-primary);
  padding: 4px;
  border-radius: 6px;
  border: 2px solid;
  background-color: rgba(0,0,0,0.5);
  cursor: pointer;
}
#game_board_sizer input {
  width: 250px;
  background: #0004;
  -webkit-appearance: none;
  width: 100%;
  border: 1px solid var(--saito-primary);
  border-radius: 0.75rem;
  z-index: 99999;
  padding: 1rem 0;
  margin: 0px;
}


#game_board_size_toggle {
  position: absolute;
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--saito-white);
  font-size: 3rem;
  text-shadow: 1px 1px 3px var(--saito-black);
  right: 4rem;
}
