/*
Slide in score track
*/

.racetrack {
  position: absolute;
  bottom: 0;
  left: -158px;
  width: 200px;
  transition: all 500ms ease-in-out;
  z-index: 9;
  cursor: default;
  font-family: 'orbitron-medium', 'bank-gothic', arial, helvetica, sans-serif;
}

.racetrack:hover {
  left: 0;
}

.racetrack-lock {
  left: 0;
}


/* Title of race track */
.racetrack-label {
  font-size: 2rem;
  text-align: left;
  padding-left: 1rem;
  height: 3rem;
  color: #fff;
  text-shadow: 1px 1px 2px black;
}

.racetrack-slot {
  position: relative;
  min-height: 5vh;
  background: #5558;
  margin: 3px;
  display: flex;
  flex-direction: column;
}

.racetrack-slot-label {
  position: absolute;
  width: 42px;
  text-align: center;
  color: #ddd;
  font-size: 2em;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  text-shadow: 1px 1px 2px black;
}


.track-players {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
}


.player-position {
  flex: 1;
  padding: 0 5px;
  display: flex;
  align-items: center;
  color: #fff;
  text-shadow: 1px 1px 2px black;
  padding-right: 4rem;
}

.player-position span {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}


