::-webkit-scrollbar { width: 8px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #c9c9c9; }
::-webkit-scrollbar-track {  background-color: #c9c9c9;}
::-webkit-scrollbar-track-piece { background-color: #ddd;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #c9c9c9; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #c9c9c9;}
::-webkit-resizer { background-color: #ddd;}


:root {
  --background-color-shim-normal: var(--background-color-shim-dark);

  /* for the header */
  --saito-header-height: 4rem;
  --saito-arcade-header-background: transparent;
}

body {
  position: relative;
  background-color: #4e4e4e;
  background-image: url(/saito/img/tiled-logo.svg);

  /*font-family: arial, helvetica, sans-serif;*/
}

.main {
  margin-top: unset;
  padding: unset;
}

.gameboard {
  /*transform-origin: left top; /* For resizing game boards */
  user-select: none;
 }

.debug-stats {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.chat-container {
  z-index: 90;
}

.chat-container.active {
  z-index: 91;
}


/*********************/
/*  SIZING ISSUES    */
/*********************/
div.h1{
  font-size: 32px;
  margin: 12px 0;
  font-weight: bold;
}
div.h2{
  font-size: 24px;
  margin: 10px 0;
  font-weight: bold;
}
div.h3{
  font-size: 18px;
  margin: 8px 0;
}


/***********************/
/* MOUSE HOVER TIPS    */
/***********************/

.tip{
  position: relative;
}

.tip .tiptext {
  visibility: hidden;
  color: #444 !important;
  position: absolute;
  width: 90%;
  min-width: 400px;
  max-width: 750px;
  border:  1px solid var(--saito-primary);
  background-color: var(--saito-background-color);
  font-size: 1.6rem;
  font-style: italic;
  line-height: 2rem;
}

.tip:hover .tiptext {
  visibility: visible;
}


/*********************/
/*** PORTRAIT MODE ***/
/*********************/
@media screen and (orientation:portrait) and (max-width: 400px) {


  .hud-long .status-cardbox {
    grid-template-columns: repeat( auto-fit, minmax(18vw, 1fr) );
  }

}

@media screen and (orientation:portrait) and (min-width: 400px) and (max-width: 600px) {

  .hud-long .status-cardbox {
    grid-template-columns: repeat( auto-fit, minmax(15vw, 1fr) );
  }
}


/*****************/
/*** LANDSCAPE ***/
/*****************/
@media screen and (orientation: landscape) and (max-height: 650px) {

  .game-overlay-menu {
    font-size: 1.4em;
  }

}


@media screen and (max-width: 768px) {
  .chat-container {
    max-height: 50vh !important;
    height: 280px !important;
    top: 45px;
  }
}


.message_box {
  background-image: url(/saito/img/arcade/your_move.png);
  background-size: cover;
  background-position: center;
  width: 400px;
  max-width: 95vw;
  font-size: 4rem;
  height: 404px;
  max-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
  text-shadow: 2px 2px black;
  padding: 1rem 0;
  text-transform: uppercase;
  font-family: impact;
}

/*******************
    Crypto
******************/
.crypto_logo {
  position: absolute;
  bottom: 0;
  left: 40px;
  width: min(12rem, 20vw);
  height: min(12rem, 20vw);
  z-index: 0;
}

.crypto_logo img{
  width: 100%;
}


/***************************
* Standardized Landing Pages
****************************/
.scrollable-page {
  overflow: auto;
  position: relative;
  height: 100vh;
  font-family: var(--theme-font);
  scroll-behavior: smooth;
  padding-left: min(16rem, calc(25rem - 9vw));
}


.saito-splash-image, .saito-splash-info {
  width: 800px;
  max-width: calc(100vw - 18rem);
  margin: auto;
}

.scrollable-page > .saito-splash-image, .scrollable-page > .saito-splash-info, .saito-splash-image.full .saito-splash-section-title{
  /*left: min(16rem, max(0px, calc(25rem - 15vw)));*/
}

.saito-splash-image {
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: min(150px, 25vh);
  border-radius: 1rem 1rem 0 0;
  margin-top: 2rem;
}

.saito-splash-info {
  position: relative;
  background-color: var(--saito-profile-background);
  color: var(--saito-font-color);
  padding: min(5rem, 5vh) min(8rem, 5vw);
  min-height: min(300px, 30vh);
  margin-bottom: 4rem;
  border-radius: 0 0 1rem 1rem;
}

.saito-splash-image.full{
  height: 100vh;
  width: 100vw;
  max-width: unset;
  background-attachment: fixed;
  margin: 0 !important;
  left: max(-16rem, calc(9vw - 25rem));
}

.saito-splash-image.full .saito-splash-section-title{
  padding-left: min(16rem, calc(25rem - 9vw));
}


.saito-splash-section-title{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  color: var(--saito-white);
  text-shadow: 1px 3px 4px var(--saito-black);
}

.saito-splash-section-title h3 {
  font-size: 24px;
}


.saito-splash-section-title .saito-splash-info{
  margin-bottom: unset;
  border-radius: 1rem;
  max-width: min(650px, 75vw);
  min-height: min(200px, 20vh);
  padding: min(4rem, 4vh) min(6rem, 4vw);
}

.splash-page-game-description {
  font-size: 18px;
  margin: 1rem 0;
  line-height: 24px;
}

.splash-page-leaderboard, .league-overlay-games-list {
  max-height: min(600px, 70vh);
  max-width: 80rem;
  margin: auto;
  overflow: auto;
}

#mobile-anchor{
  display: none;
}

@media screen and (max-width: 600px) {
  .saito-splash-image, .saito-splash-info {
    max-width: 90vw;
  }

  .saito-splash-nav {
    display: none;
  }
  .saito-splash-image.full{
    left: unset;
  }
  .scrollable-page, .saito-splash-image.full .saito-splash-section-title{
    padding: 0;
  }

  #mobile-anchor {
    position: fixed;
    display: flex;
    right: 1rem;
    bottom: 2rem; 
  }

  #create-game-button-mobile{
    min-width: 5rem;
    height: 5rem;
    padding: unset;
    border-radius: 5rem;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
  }

  .saito-splash-image{
    min-height: min(100px, 20vh);
  }

  .splash-page-leaderboard, .league-overlay-games-list {
    max-height: min(400px, 60vh);
  }
}


/**********************************************
* Side navigation for Standardized Landing Pages
***********************************************/
.saito-splash-nav {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 2rem;

  background-size: cover;
  background-position: right;
}

.saito-splash-nav ul {
  list-style: none;
  font-size: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.saito-splash-nav a {
  color: var(--saito-font-color);
  text-shadow: 1px 1px 2px var(--saito-black);
  filter: drop-shadow(1px 1px 1px var(--saito-black));
}

.saito-splash-nav button {
  min-width: unset;
  max-width: 20rem;
}


@media screen and (max-width: 900px){
  .saito-splash-nav {
    bottom: 0;
    top: unset;
    transform: unset;
  }
}