
.game-help {
    cursor: pointer;
    position: absolute;
    display: block;
    width: 30rem;
    height: 20rem;
    background: #ff7700;
    overflow: hidden;
    color: #fff;
    padding-left: 30px;
    line-height: 22px;
    bottom: 0px;
    left: 0px;
    transform: skew(+55deg);
    margin-left: -24rem;
    z-index: 999;
}

.game-help:hover {
    background: #ee6600;
}

.game-help-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.game-help-visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}

.game-help-text {
    font-size: 2.7rem;
    padding-top: 12rem;
    margin-left: 23rem;
    transform: skew(-55deg);
    width: 16rem;
    min-width: 10rem;
    overflow: visible;
    line-height: 3.5rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
}

