.game-observer-hud {
	position: absolute;
	display: block;
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%);
	width: 450px;
	height: 180px;
	background-color: #111d;
	color: ghostwhite;
	font-size: max(3vh, 16px);
	text-align: center;
	padding: 0.5em;
	z-index: 99999999;
	border-radius: 15px;
	border: 2px solid #aaa;
}

.game-observer-hud .status {
	height: fit-content;
	width: 100%;
	font-size: 18px;
}
.game-observer-status {
	font-size: 20px;
}

.play-state i.fa-pause,
.play-state i.fa-forward {
	display: none;
}
.pause-state i.fa-play,
.pause-state i.fa-step-forward {
	display: none;
}

#game-observer-help {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

#obstatus {
	font-size: max(2.5vh, 14px);
	height: 40px;
}

.game-observer-controls {
	height: 70px;
	width: 100%;
	cursor: pointer;
	opacity: 0.8;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-evenly;
}

.game-observer-controls .flashit {
	animation: flashme 1s infinite cubic-bezier(0.4, 0, 1, 1);
}

.unavailable {
	color: #444;
}

.game-observer-hud .status-header,
.game-observer-hud .status-message {
	background-color: unset;
}
