
.game-clock {
  position: fixed;
  cursor: pointer;
  top:0px;
  right:0px;
  display:inline;
  background: #000;
  color: red;
  font-size:3.6rem;
  font-family: monospace;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-radius: 0.5rem;
  z-index: 900000;
}


#game-clock-miliseconds{
  font-size: 2.8rem;
}

.game-playerbox .game-clock {
  position: static;
}

.player_clock .game-clock{
  position: static;
  background: unset;
  height: 100%;
  display: block;
  font-size: 3rem;
  filter: drop-shadow(2px 2px 1px black);
}

@media only screen and (max-width: 600px) {
  .player_clock .game-clock{
    font-size: 2.4rem;
  }
}