:root {
  --game-menu-background: #f5f5f5ed;
}

.game-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  display: block;
  width: auto;
  margin: 1px 1px 3px 3px;
  z-index: 500;
  font-size: 1.9rem;
  min-width: 20vw;
  cursor: pointer;
  color: black;
}

#saito-header .game-menu{
  position: relative;
  margin: unset;
}

.game-menu ul,
.game-menu-mobile-toggle {
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: var(--game-menu-background);
}

.game-menu ul li {
  text-align: center;
}

/* Visible Top Row */
.game-menu > ul {
  display: flex;
  flex-direction: row;
  height: 40px;
  border: 1px solid #444;
  border-radius: 0.5rem;
}

/* All menu options */
.game-menu > ul li {
  user-select: none;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  min-width: 125px;
  width: fit-content;
  max-width: 150px;
  height: fit-content;
  line-height: 40px;
  position: relative;
}

.game-menu > ul li.game-menu-icon {
  min-width: unset;
  width: 50px;
  padding: 0 5px;
  line-height: 40px;
}

.game-menu-sub-options {
  width: 200px;
}

.game-menu-sub-options:after {
  content: "";
  position: absolute;
  width: calc(100% + 70px);
  height: calc(100% + 45px);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -2;
}

.game-menu-sub-sub-options:after {
  content: "";
  position: absolute;
  width: calc(100% + 40px);
  height: calc(100% + 25px);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}


.game-menu ul.game-menu-sub-options li {
  max-width: unset;
  width: 100%;
  border-bottom: 1px solid var(--saito-border-color-dark);
}

.game-menu-sub-option .game-menu-option-label {
  position: relative;
  background-color: inherit;
  height: 50px;
  line-height: 50px;
  width: 100%;
  text-align: center;
}

.game-menu-sub-options,
.game-menu-sub-sub-options {
  display: none;
  position: absolute;
  top: 100%;
}

.game-menu-sub-sub-options {
  position: absolute;
  width: 100%;
  left: 101%;
  top: 0;
}

.game-menu-icon:hover,
.game-menu-option:hover,
.game-menu-sub-option:hover,
.game-menu-sub-sub-option:hover {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.1);
}

.game-menu-option:hover ul {
  font-weight: normal;
}

.game-menu .game-menu-mobile-toggle {
  display: none;
}

.game-menu .notification::before {
  content: "!";
  color: var(--saito-white);
  background-color: var(--saito-primary);
  border-radius: 0.7rem;
  padding: 0.25rem 0.6rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  line-height: 20px;
}


.game-menu .saito-notification-dot {
  left: unset;
  right: 3rem;
}

@media screen and (orientation: landscape) and (max-height: 600px) {
  .game-menu {
    border: unset;
    box-shadow: unset;
    border-radius: 0 0 1rem 0;
    transform: translateX(-100%);
    transition: transform 0.3s;
    margin: 0;
  }

  .game-menu > ul {
    border: none;
    border-radius: unset;
  }

  .game-menu.mobile-visible {
    transform: unset;
  }

  .game-menu-sub-option .game-menu-option-label {
    height: 40px;
    line-height: 40px;
  }

  .game-menu .game-menu-mobile-toggle {
    display: flex;
    position: absolute;
    top: 0;
    left: 100%;
    width: 40px;
    height: 40px;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
    border-radius: 0 1rem 1rem 0;
  }
}

@media screen and (orientation: portrait) and (max-width: 600px) {
  .game-menu {
    border: unset;
    box-shadow: unset;
    margin: 0;
    height: 40px;
  }

  .game-menu ul {
    flex-direction: column;
    border: unset;
    box-shadow: unset;
    background-color: unset;
  }

  .game-menu > ul {
    position: absolute;
    width: 250px;
    height: 100vh;
    left: -251px;
    border-radius: 0 0 1rem 0;
    background-color: #222d;
    transition: left 0.3s;
  }

  .game-menu ul li {
    width: 150px;
    margin: 0.5rem;
    height: fit-content;
    position: relative;
  }

  .game-menu ul.game-menu-sub-options li {
    border-bottom: unset;
  }

  .game-menu ul li .game-menu-option-label,
  .game-menu > ul li.game-menu-icon {
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: var(--game-menu-background);
    border-radius: 0.5rem;
    height: 40px !important;
    line-height: 40px !important;
  }

  .game-menu-sub-options,
  .game-menu-sub-sub-options {
    left: 25%;
    top: 0;
    margin: 8px 0 0 0;
    position: relative;
    width: 150px;
  }

  .game-menu.mobile-visible ul {
    left: 0;
    margin-left: 2rem;
  }

  .game-menu.mobile-visible > ul {
    margin-left: unset;
  }

  .game-menu .game-menu-mobile-toggle {
    display: flex;
    position: absolute;
    top: 0;
    left: 100%;
    width: 40px;
    height: 40px;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
    border-radius: 0 1rem 1rem 0;
  }
}


.disable-menu{
  display: none;
  visibility: hidden;
}