
/* ----------------------------------------------------------------
Borders
-----------------------------------------------------------------*/
.saito-primary-border {
    border: 1px solid var(--saito-primary);
}

.saito-secondary-border {
    border: 1px solid var(--saito-secondary);
}

.saito-gradient-border {
    border: 1px solid var(--saito-gradient);
}

.saito-white-border {
    border: 1px solid var(--saito-white);
}

.saito-gray-border , .saito-grey-border {
    border: 1px solid var(--saito-gray);
}

