.saito-container {
  width: 100vw;
  height: calc(100% - var(--saito-header-height));
  display: grid;
  grid-template-columns: min-content 5fr 3fr;
  padding: 0 calc((100vw - var(--saito-width)) / 2);
  z-index: 0;
  margin: 0;
  position: absolute;
  top: var(--saito-header-height);
  overflow-y: auto;
  overflow-x: hidden;
}

.saito-main {
  padding: 2rem 0;
  min-width: 54rem;
  margin: 0 1rem;
  position: relative;
}

.saito-sidebar {
  top: calc(var(--saito-header-height) + 1rem);
}

/* Perhaps we should select for saito-menu  
  Also not necessary if the chat-manager has some new "padding" on top
.saito-sidebar > div:not(:last-child) {
  margin-bottom: 2rem;
}
*/

.saito-sidebar-container {
  width: 25rem;
  position: relative;
}

.saito-sidebar.left {
  position: sticky;
  height: calc(100 * var(--saito-vh) - var(--saito-header-height));
  width: 25rem;
  top: 0;
  /*margin: 0 0 0 ;*/
  padding: 1.5rem 1rem 0 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.saito-sidebar.right {
  padding: 2rem 1rem 10rem 1rem;
  grid-column-start: 3;
  grid-row: 1/2;
  position: relative;
  top: 0;
  min-width: 30rem;
  height: max-content;

}

@media screen and (max-width: 1200px) {
  .saito-container {
    grid-template-columns: 1fr min-content;
  }

  .saito-sidebar.left {
    position: fixed;
    top: calc(var(--saito-header-height));
    visibility: hidden;
    width: 35rem;
    height: 100vh;
    left: 0;
    border-right: 1px solid var(--saito-primary);
  }
}

@media screen and (max-width: 900px) {
  .saito-container {
    padding: 0;
    grid-template-columns: 1fr;
  }

  .saito-main {
    min-width: 0;
    width: 100vw !important;
    margin-left: 0rem !important;
    margin-right: 0rem;
    padding: 2rem 1rem 1rem 1rem;
  }

  .saito-sidebar.left {
    left: 0;
    width: 100% !important;
  }

  .saito-sidebar.right {
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    visibility: hidden;
    margin-top: var(--saito-header-height);
    height: 100vh;
    z-index: 12;
  }
}