/* ----------------------------------------------------------------
Saito Module Stubs - horizontal bar with image left
-----------------------------------------------------------------*/
.saito-module-imagebox {
    min-height: 240px;
    min-width: 300px;
    position: relative;
    border: 1px solid;
    border-top: none;
    background: url(/saito/img/dreamscape.png);
    background-size: cover;
}
.saito-module-imagebox-titlebar {
    position: absolute;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.5);
    font-size: 1.6em;
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    padding: 1rem 1.5rem;
    height: min-content;
    bottom: 0px;
}
.saito-module-imagebox-title {
    margin-top: 0.8rem;
    float: left;
}
.saito-module-imagebox-button {
    width: min-content;
    float: right;
    background-color: white;
}



/* ----------------------------------------------------------------
Saito Module Stubs - horizontal bar with image left
-----------------------------------------------------------------*/




/* ----------------------------------------------------------------
Saito Module box
-----------------------------------------------------------------*/

.saito-module-alt {
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    padding: 0.5rem 0.5rem;
    overflow: hidden;
    max-height: 10rem
    background:  var(--saito-gray);
}

.saito-module-alt > * {
  height: 100%;
}

.saito-module-alt-image-box > .saito-module-alt-image {
    background-image: url('https://saito.io/saito/img/dreamscape.png');
    background-size: 100%;
    height: 7rem;
    width: 11rem;
}

.saito-module-alt.small  .saito-module-alt-image { 
  height:5rem;
  width: 7rem;
}

.saito-module-alt.large {
  max-height:12rem;
}

.saito-module-alt.large  .saito-module-alt-image { 
  height:12rem;
  width: 20rem;
}

.saito-module-alt-details-box {
    width: 22rem;
    margin-left: 1.5rem;
}

.saito-module-alt-description .playerInfo {
    display: flex;
}
.saito-module-alt-description .playerInfo img {
    width: 2.2rem;
    margin-right: 0.7rem;
}

.saito-module-alt-title {
    font-size: 2rem;
    margin-bottom: 2.2rem;
}

.saito-module-custom-box {
    padding-left: 1rem;
    height: inherit;
    position: relative;
    min-width: 12rem;
    text-align: right;
}

.saito-module-option {
    position: absolute;
    bottom: 0px;
    right:  0px;
    font-size: 1.5rem;
}

.saito-module-action {
    color: var(--saito-primary);
    font-weight: bold;
    font-size: 1.7rem;
}

/* ----------------------------------------------------------------
Saito Module box
-----------------------------------------------------------------*/




