.saito-progress-bar-container{
	background-color: ar(--background-progress-bar);
	width: 100%;
	height: 3rem;
	padding: 0 2rem;
	display: flex;
	align-items: center;
	background-size: 400% auto;
	position: absolute;
    z-index: 999;
    border-radius: var(--saito-border-radius);
    border: 1px solid var(--saito-border-color);
}

.saito-progress-bar-container.active{
	background: var(--background-progress-bar-active); /* testing */
	animation: shimmer 1.5s infinite alternate; ease-in-out;
}

.saito-progress-bar {
	color: var(--font-color-progress-bar);
	text-shadow: var(--text-shadow-progress-bar);	
}

@keyframes shimmer {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 99% 99%;
	}
}

