.saito-invite-container {
	width: 45vh;
    background-color: #fff;
    height: 30vh;
    border-radius: 15px;
    padding: 20px;
}

.invite-heading {
	margin-bottom: 20px;
}

.invite-seperator {
	margin: 15px 15px;
}	

.invite-private-input-container {
	display: none;
}