
.saito-modal {
  width: 90rem;
  height: min-content;
  max-width: 80vw;
  font-size: 1.5rem;
  font-family: "visuelt-light", "Microsoft Yahei", "Hiragino Sans GB";
  background-image: url(/saito/img/dreamscape.png);
  background-position: 0em;
  background-size: cover;
  color: white;
  display: grid;
  grid-template-rows: min-content auto;
  padding: 2rem;
}
.saito-modal-title {
  font-size: 5rem;
  margin-left: 3rem;
}
.saito-modal-subtitle {
  font-size: 2.2rem;
  margin-left: 3rem;
}
.saito-modal-content {
  margin-top: 1.5rem;
  font-size: 1.8rem;
}
.saito-modal-option {
  margin-left: 2rem;
  height: 8rem;
  font-size: 4rem;
  margin-right: 2rem;
  padding: 1.5rem;
}
.saito-modal-option:hover {
  background-color: #0005;
  cursor: pointer;
}
.saito-modal-option > i {
  float: left;
  margin-right: 2rem;
}
.saito-modal-option > div {
  float: left;
  margin-right: 2rem;
  font-size: 2rem;
  padding-top: 1rem;
}
.saito-modal-text-input {
    margin-left: 3rem;
    margin-right: 3rem;
    width: 50rem;
    max-width: 50rem;
    margin-top: 0.75rem;
}
.saito-modal-button {
    background-color: white;
    margin-top: 3rem;
    margin-left: 3rem;
    max-width: min-content;
    padding-left: 4rem;
    padding-right: 4rem;
}
.saito-modal-button:hover {
    border: 1px solid white;
}


#saito-confirm-add-publickey {
  background-color: #fff;
  height: auto;
  width: 30vh;
  border-radius: 1.5rem;
  padding: 2rem;
}

#saito-confirm-add-publickey  .saito-identicon-box {
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
}

#saito-confirm-add-publickey  .saito-identicon-box .saito-identicon {
  width: 8rem;
  height: 8rem; 
}

#saito-confirm-add-publickey > .saito-address{
  width: 100%;
  max-width: 100%;
  overflow: inherit;
  display: block;
  height: auto;
  word-break: break-word;
  text-overflow: inherit;
  white-space: break-spaces;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 1rem;
}


#saito-confirm-add-publickey > .saito-contact-status {
  text-align: center;
}