/* ----------------------------------------------------------------
	Typography
-----------------------------------------------------------------*/

a {
  text-decoration: none !important;
  cursor: pointer;
}

/* a:hover {
  color: #222;
}

a img {
  border: none;
}

img {
  max-width: 100%;
} */

iframe {
  width: 100%;
  border: 0 !important;
  overflow: hidden !important;
}

/* ----------------------------------------------------------------
	Basic Layout Styles
-----------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--saito-default-font);
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 30px 0;
  font-family: "Poppins", sans-serif;
}

h5,
h6 {
  margin-bottom: 20px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 0.875rem;
}

h6 {
  font-size: 12px;
}

h4 {
  font-weight: 600;
}

h5,
h6 {
  font-weight: bold;
}

@media (max-width: 767.98px) {
  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1rem;
  }
}

h1 > span:not(.nocolor):not(.badge),
h2 > span:not(.nocolor):not(.badge),
h3 > span:not(.nocolor):not(.badge),
h4 > span:not(.nocolor):not(.badge),
h5 > span:not(.nocolor):not(.badge),
h6 > span:not(.nocolor):not(.badge) {
  color: #1abc9c;
}

/* p,
pre,
ol,
dl,
dd,
blockquote,
address,
table,
fieldset,
form {
  margin-bottom: 30px;
} */

small {
  font-family: "Lato", sans-serif;
}

@media (max-width: 1200px) {
  .display-1 {
    font-size: calc(1.725rem + 5.7vw);
  }
  .display-2 {
    font-size: calc(1.675rem + 5.1vw);
  }
  .display-3 {
    font-size: calc(1.575rem + 3.9vw);
  }
  .display-4 {
    font-size: calc(1.475rem + 2.7vw);
  }
}

a {
  color: var(--saito-white);
  transition: 0.2s;
  color: white;
}

a:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
