
.gif-icon {
  /*background-image: url('/saito/img/GIF.svg');*/
  height: 26px;
  width: 26px;
  fill: var(--font-color-post-icons);
}

.gif-icon:hover {
  fill: var(--font-color-hover-post-icons);
}


.resize-icon {
  position: absolute;
  left: calc(var(--border-radius-offset) - 0.3rem);
  top: calc(var(--border-radius-offset) - 0.4rem);
  width: 0.8rem;
  height: 1.3rem;
  cursor: nw-resize;
  transform: rotate(45deg);
  border-right: 1px solid var(--border-color-icons-resize);
  z-index: 20;
}

.resize-icon::after {
  content: "";
  cursor: nw-resize;
  border-right: 1px solid var(--border-color-icons-resize);
  z-index: 21;
  position: absolute;
  top: -0.7rem;
  width: 0.1rem;
  height: 2.5rem;
  padding: 0.6rem;
}

.resize-icon::before {
  content: "";
  cursor: nw-resize;
  z-index: 21;
  position: absolute;
  top: -0.8rem;
  left: 0.6rem;
  height: 3rem;
  padding: 0.75rem;
}

.resize-icon.horizontal{
  right: 0rem;
  top: 50%;
  left: auto;
  transform: translate(50%, -50%) rotate(0deg);
  background-color: var(--border-color-icons-resize);
  width: 1.2rem;
  height: 5rem;
  z-index: 2;
  cursor: ew-resize;
  border-radius: 0.25rem;
}

.resize-icon.horizontal:before {
  content: "";
  position: absolute;
  right: 7px;
  left: 15%;
  top: 45%;
  transform: rotate(90deg);
  font-size: 1.5rem;
  color: white;
  z-index: 21;
  height: 0rem;
  padding: 0.3rem;
  border-right: 2px solid var(--border-color-icons-resize-horizontal);
  cursor: ew-resize;
}

.resize-icon.horizontal:after {
  content: "";
  position: absolute;
  right: 0px;
  top: 35%;
  left: 22%;
  transform: rotate(90deg);
  font-size: 1.5rem;
  z-index: 21;
  height: 0rem;
  padding: 0.3rem;
  border-right:  2px solid var(--border-color-icons-resize-horizontal);
  cursor: ew-resize;
}