/* ----------------------------------------------------------------
 Link
-----------------------------------------------------------------*/

a {
  text-decoration: none;
  cursor: pointer;
}



/* ----------------------------------------------------------------
	Headings
-----------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--saito-primary);
}

h5,
h6 {}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3.5rem;

}

h5 {
  font-size: 3rem;
}

h6 {
  font-size: 2.5rem
}





/* ----------------------------------------------------------------
 Paragraph
-----------------------------------------------------------------*/

p {
  font-size: 1.8rem;

}



/* ----------------------------------------------------------------
Divider
-----------------------------------------------------------------*/

hr {
  color: var(--saito-default);

  margin: 2.5rem;
}










.saito-large-p {
  font-size: 2rem;
}

p,
.saito-mid-p {
  color: var(--saito-black);
  font-size: 1.6rem;
}

.saito-small-p {
  font-size: 1.3rem;
}


a:hover {
  opacity: 0.8;

}


/* ----------------------------------------------------------------
Media Queries
-----------------------------------------------------------------*/

@media (max-width: 767.98px) {
  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 3.5rem;
  }

  h4 {
    font-size: 3rem;
  }

  h5 {
    font-size: 2.5rem;
  }

  h6 {
    font-size: 2rem;
  }

  .saito-large-p {
    font-size: 1.8rem;
  }

  p,
  .saito-mid-p {
    color: var(--saito-black);
    font-size: 1.4rem;
  }

  .saito-small-p {
    font-size: 1.1rem;
  }

}