/***
 * 
 * We have some name space confusion ....
 * TODO: FIX !!!!
 * 
 * this css looks like it is for game invites in Arcade and the sidebar in RedSquare
 * 
 * maybe should change to saito-game...
 * 
 */ 

.saito-module {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100%;
    cursor: pointer;
    padding: 1rem;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-color: #4444;
    background-blend-mode: soft-light;
}

.saito-module-titlebar {
    background-color: var(--saito-background-color);
    padding: 0.5rem;
    max-width: 18rem;
    min-width: 12rem;
    width: 18rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    overflow-wrap: break-word;
    opacity: 0.80;
}

.saito-module-titlebar > div {
    margin: 0.25rem;
}

.saito-module-titlebar-title {
    color: var(--saito-font-color-heavy);
    font-size: 2rem;
}

.saito-module-titlebar-details {
    font-size: 1.4rem;
    text-transform: uppercase;
}

.saito-game-details {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
}

.saito-module-identicon {
    border: none;
}


/*
    Small tweaks for when the saito-module is crammed into a sidebar
*/
.saito-sidebar .saito-module {
    padding: 0.5rem;
}

.saito-sidebar .saito-module-titlebar {
    width: unset;
}

.saito-sidebar .saito-module-titlebar-details {
    font-size: 1.2rem;
}


/***
 * 
 * Here is fresh code for actual saito-module stuff, a new (19 Jan 2024) UI component
 * for handling generic module stuff. It should display basic metadata about the module
 * and have selectable options that we would save in the app.options[module] section.
 * The basic idea is to have a way to change module settings from outside of the module!
 * 
 * Maybe also useful when we resurrect the appstore
 * 
 */ 

.saito-module-overlay {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: min(90vw, 80rem);
  height: 70vh;
  overflow: auto;
  background: var(--saito-background-color);
  color: var(--saito-font-color);
  border: 1px solid var(--saito-primary);
  border-radius: 5px;
}

.saito-module-header {
    background-image: url(/saito/img/dreamscape.png);
    background-size: cover;
    background-position: center;
    padding: 0.5rem;
}

.saito-module-header .saito-module-titlebar {
    max-width: 100%;
    width: fit-content;
    padding: 0.5rem 1rem;
}

.saito-module-details {
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-gap: 0.5rem;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid var(--saito-font-color);
}

.saito-module-overlay > h4 {
    margin-left: 1rem;
}

.saito-module-settings{
    padding: 1rem;
}

fieldset.saito-grid {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 2rem 1fr;
    row-gap: 0.75rem;
    column-gap: 1.5rem;
    align-items: center;
    margin: 1rem 0;
}

.saito-module-settings .note {
    font-style: italic;
}