/* ----------------------------------------------------------------
Components
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
Saito searchbar
-----------------------------------------------------------------*/

.saito-search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--saito-border-color);
    border-radius: 0.5rem;
    padding: 0 .8rem
}

.saito-search-bar>input {
    border: none;
    padding-left: 1rem;
}

.saito-search-bar i {
    font-size: 1.8rem;
    color: var(--saito-border-color);
}

/* ----------------------------------------------------------------
Saito overlay
-----------------------------------------------------------------*/

.saito-overlay-container {
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .4);
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    display: none;
}

.saito-overlay-container.show {
    display: flex;
}


.saito-overlay-container>div>i {
    position: absolute;
    right: 0;
    color: var(--saito-primary);
    right: .1rem;
    top: .1rem;
    font-size: 2.5rem;
    cursor: pointer;
    transition: all .2s;
}

.saito-overlay-container>div>i:hover {
    transform: rotateZ(30deg) scale(1.3);
}

/* ----------------------------------------------------------------
Saito backdrop
-----------------------------------------------------------------*/

.saito-backdrop {
    min-width: 30rem;
    min-height: 20rem;
    background-color: var(--saito-white);
    border-radius: 0.5rem;
    position: relative;
}

.saito-overlay-actions {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
}



/* Saito Slider */

.saito-switch {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 1.8rem;
}

/* Hide default HTML checkbox */
.saito-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.saito-switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border: 1px solid gray;
    border-radius: 0.5rem;
}

.saito-switch-slider:before {
    position: absolute;
    content: "";
    height: 1.3rem;
    width: 1.5rem;
    left: .132rem;
    bottom: 1.5px;
    background-color: gray;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border: 1px solid var(--saito-gray);
    border-radius: 0.5rem;
}

input:checked+.saito-switch-slider {
    border: 1px solid var(--saito-primary);
    background-color: var(--saito-white);
}

input:checked+.saito-switch-slider:before {
    -webkit-transform: translateX(2rem);
    -ms-transform: translateX(2rem);
    transform: translateX(2rem);
    background-color: var(--saito-primary);
}

/* Rounded sliders */
.saito-switch-slider.round {
    border-radius: 0.5rem;
}

.saito-switch-slider.round:before {
    border-radius: 50%;
}


/*********************
 * Mouseover tool tips
**********************/
.tip:hover .tiptext {
  visibility: visible;
}

.tiptext {
  visibility: hidden;
  position: absolute;
  box-sizing: content-box !important;
  z-index: 10;
  width: 90%;
  min-width: 300px;
  max-width: 750px;
  padding: 0.25em 0.5em;
  background-color: #fefefe;
  border-bottom: 1px solid var(--saito-primary);
  font-style: italic;
}

