:root {
    --saito-invite-height: 8rem;
    --saito-redsquare-right-sidebar-width: 51rem;
}




/* ----------------------------------------------------------------
Saito Page Header
-----------------------------------------------------------------*/
.saito-page-header {
    padding-bottom: 1rem;
    padding-right: 0rem;
    padding-top: 0rem;
    cursor: pointer;
}

@media only screen and (max-width: 535px) {
    .saito-page-header {
        padding-top: 1rem;
    }
}

.saito-page-header-title {
    color: #222;
    font-size: 2.5rem;
    padding-top: 0rem;
    text-transform: uppercase;
    display: inline-block;
    width: 54rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

i.saito-back-button {
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
}

.saito-page-header-title>span {
    text-transform: none;
}

.saito-page-header-button {
    float: right;
}

.saito-leaderboard-gamename {
    width: 100%;
    overflow: hidden;
}


/* ----------------------------------------------------------------
Saito Module Boxes
-----------------------------------------------------------------*/
.redsquare-games-container {
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
}


/* ----------------------------------------------------------------
Saito Module Boxes
-----------------------------------------------------------------*/
.saito-loader {
    /* border struggles with overlay 8?
/*  border: 1px solid aqua; */
    position: relative;
    width: 100%;
}

.saito-loader::after {
    background-color: transparent;
    background-image: url(../img/saito-loader.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    animation-duration: 2s;
    animation-name: pulse;
    animation-iteration-count: infinite;
    position: relative;
    width: 70px;
    height: 70px;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: block;
    transform-origin: 50%, 50%;
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(0.2);
        border-radius: 50%;
        background-size: 0px;
    }

    30% {
        transform: translate(-50%, -50%) scale(1);
        border-radius: 0;
        background-color: red;
        background-size: 0px;
    }

    50% {
        background-size: 50px;
        transform: translate(-50%, -50%) scale(1.1);
    }

    70% {
        transform: translate(-50%, -50%) scale(1);
        border-radius: 0;
        background-color: red;
        background-size: 50px;
    }

    100% {
        transform: translate(-50%, -50%) scale(0.5);
        border-radius: 50%;
        background-size: 0px;
    }
}


.saito-page-header .saito-button-secondary {
    margin-top: 0px;
    padding: 0.5rem 0.7rem 0.4rem 0.7rem;
}

.saito-button-secondary .small .saito-module-install-button {
    width: min-content;
    padding-left: 2rem;
    padding-right: 2rem;
    float: right;
    background-color: white;
    margin: 0px;
}

.saito-game {
    min-height: 370px;
    min-width: min-content;
    display: grid;
    grid-template-rows: 1fr min-content;
    position: relative;
    border-radius: 0.5rem;
    border: 1px solid var(--saito-border-color);
    overflow: hidden;
    margin-bottom: 2rem;
    width: calc(50% - 1rem);
}

.saito-game.minimize{
    min-height: unset;
}

.saito-game-controls {
    display: grid;
    grid-template-columns: 1fr min-content;
    padding: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.saito-game-controls>div:nth-child(1) {
    font-size: 1.1em;
    color: #ea462f;
    font-weight: bold;
    cursor: pointer;
}

.saito-game-controls>div:nth-child(2) {
    border-bottom: 1px dashed red;
    white-space: nowrap;
}


.saito-box-buttons{
    width: 100%;
}


/* ----------------------------------------------------------------
Saito Arcade Invite
-----------------------------------------------------------------*/

.saito-arcade-invite {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    column-gap: 0rem;
    overflow: hidden;
    margin: 1rem;
    cursor: pointer;
}

.saito-arcade-invite-graphic {
    grid-column-start: 1;
    grid-column-end: span 1;
    height: var(--saito-invite-height);
    width: 10rem;
}

.saito-arcade-game-image {
    height: 100%;
    width: 100%;
    opacity: 0.8;
}

.saito-arcade-invite-name-container {
    grid-column-start: 2;
    grid-column-end: span 1;
    padding-top: 0.5rem;
    display: grid;
    font-size: 2rem;
    padding-left: 1rem;
    z-index: 9;
}

.saito-arcade-invite-details {
    display: grid;
    min-width: 10rem;
    color: white;
    position: relative;

}

.saito-arcade-invite-detail-content {
    position: absolute;
    width: var(--saito-redsquare-right-sidebar-width);
    display: grid;
    grid-template-columns: 7em 1fr;
    background: var(--saito-secondary);
    transition: transform 400ms ease-in-out;
    cursor: pointer;
    z-index: 1;
}

.saito-arcade-invite-detail-content::after {
    background-color: var(--saito-secondary);
    height: 100%;
    width: 200%;
    position: absolute;
    left: -30px;
    content: "";
    transform: skewx(-15deg);
    z-index: -1;
}

.saito-arcade-invite-options {
    display: grid;
    grid-template-columns: 10rem 1fr 10rem 1fr;
    padding: 1rem 0;
    overflow: auto;
}

.saito-arcade-invite-options div {
    text-overflow: clip;
}


.saito-arcade-invite-details:hover .saito-arcade-invite-detail-content {
    transform: translate(calc(4em - 100%));
    z-index: 101;
}

.saito-arcade-invite-slots {
    display: flex;
    flex-direction: row;
}

.saito-arcade-invite-slot i {
    font-size: 2.2rem;
    line-height: 2.5rem;
    width: 2.5rem;
    text-align: center;
}

.saito-arcade-invite-slot i:hover {
    transform: scale(1.1);
}


.saito-arcade-invite-details-summary {
    font-size: 2.5rem;
    line-height: var(--saito-invite-height);
}

.saito-arcade-invite-controls {
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
}

.saito-arcade-invite-controls-button.saito-button-secondary.small {
    height: 2.5rem;
    width: 6rem;
    margin: 0;
    margin-left: 1rem;
    min-width: 6.5rem;
    float: right;
}

.saito-arcade-invite-slot {
    height: 2.5rem;
    width: 2.5rem;
    background-image: url(/saito/img/no-profile.png);
    background-size: 100%;
    margin-right: 1rem;
    overflow: hidden;
}


/* ----------------------------------------------------------------
Legacy Site Message
-----------------------------------------------------------------*/
div#message-wrapper {
    border: 2px solid var(--saito-primary) !important;
    min-width: 500px;
    padding: 1em;
    background: var(--saito-primary) !important;
    position: fixed;
    bottom: 1em;
    left: 1em;
    z-index: 200;
}

div#message-wrapper p {
    font-size: 3rem;
    color: #fff !important;
}

@media only screen and (max-width: 600px) {
  div#message-wrapper {
    min-width: min(450px, 95vw);
    left: 50%;
    transform: translateX(-50%);
  }
}



/*******/
.saito-box-buttons{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.saito-box-buttons .button{
    min-width: unset;
}
