.saito-profile-container {
  width: 100%;
  margin-top: -1rem;
}

.saito-profile-cover {
  width: 100%;
  height: 15rem;
  background: url("https://pbs.twimg.com/profile_banners/842988756/1679408451/1080x360");
  background-size: cover;
}

.saito-profile-identicon {
  border: 3px solid var(--saito-background-color);
  width: 10rem;
  height: 10rem;
  border-radius: 0.5rem;
  margin-top: -7%;
  z-index: 1;
  margin-left: 1rem;
}

.saito-profile-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  margin-left: 1.2rem;
}

.saito-follow-count {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.saito-username {
  font-size: 1.8rem;
}

.saito-follow {
  font-size: 1.5rem;
  color: var(--saito-font-color-heavy);
  font-weight: bold;
}

.saito-follow span {
  color: var(--saito-font-color-light);
  font-weight: normal;
}


.saito-profile-options-row {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
}

.saito-profile-icons { 
  display: flex; 
  flex-direction: row;
  gap: 2rem;
  width: fit-content;
  padding-top: 2rem;
}

.saito-profile-icons i {
  font-size: 2.4rem;
  line-height: 4rem;
  cursor: pointer;
  color: var(--saito-faded-icon-font);
  border: 1px solid var(--saito-faded-icon-border);
  /* circular */
  background: var(--saito-background-light);
  padding: 0rem 0.6rem;
  border-radius: 50%;
}

.saito-profile-follow-btn {
  border: 1px solid var(--saito-font-color);
  width: 10rem;
  height: 4rem;
  text-align: center;
  line-height: 4rem;
  border-radius: 0.3rem;
  color: var(--saito-font-color);
  font-size: 1.1em;
  cursor: pointer;
}

.saito-profile-follow-btn:hover {
  background: var(--saito-primary);
  border: 1px solid var(--saito-primary);
  color: #fff;
}