/*.saito-menu {
  margin-top: -1rem;
}*/

.saito-menu>ul {
  padding: 0;
  list-style-type: none;
}

.saito-menu>ul>li {
  padding: 1rem;
  display: flex;
  list-style: none;
  cursor: pointer;
  transition: all 0.2s;
  align-items: center;
  font-size: 1.92rem;
  position: relative;
}

.saito-menu>ul>li:hover, .saito-menu>ul>li:hover>i {
  background-color: var(--saito-primary);
  color: var(--saito-white);
}

.saito-menu>ul>li:hover p {
  background-color: var(--saito-background-color);
  color: var(--saito-font-color);
}

.saito-menu>ul>li>i {
  font-size: 2.6rem;
  width: 2rem;
  padding-left: 1.2rem;
  margin-bottom: 0.4rem;
}

.saito-menu>ul>li>span {
  font-size: 1.92rem;
  margin-right: 1rem;
}



/* saito header menu */

.saito-header-menu-section .saito-menu>ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.saito-header-menu-section .saito-menu>ul>li {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.saito-header-menu-section .saito-menu>ul>li>i {
  padding: 0;
  width: unset !important;
  font-size: 2.75rem !important;
  margin-bottom: 0.75rem;
}
.saito-header-menu-section .saito-menu>ul>li>i+span {
  margin: 0;
  text-overflow: ellipsis;
  max-width: 10rem;
  overflow: hidden;
  white-space: pre-wrap;
  padding: 0.5rem;
}
.saito-header-menu-section .saito-menu>ul>li>span {
  font-size: 1.33rem;
  margin: 0;
}



.saito-menu>ul>li>i+span {
  margin-left: 3.8rem;
}

.saito-menu i::before {
  -webkit-text-stroke: var(--saito-font-color) 1px;
  color: transparent;
  font-size: smaller;
}

.saito-menu li:hover i::before {
  -webkit-text-stroke: var(--saito-white) 1px;
}

@media screen and (max-width: 768px) {
  .saito-menu>ul {
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .saito-menu>ul>li {
    display: block;
  }
  .saito-menu>ul>li>i {
    font-size: 2.8rem !important;
    margin-bottom: 0.5rem;
    width: 100% !important;
    text-align: center;
    padding: 0rem;
  }
  .saito-menu>ul>li>i+span {
    margin: auto;
    display: block;
    text-align: center;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .saito-menu>ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .saito-menu>ul>li {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .saito-menu>ul>li>i {
    padding: 0;
    width: unset !important;
    font-size: 2.75rem !important;
    margin-bottom: 0.75rem;
  }
  .saito-menu>ul>li>i+span {
    margin: 0;
    text-overflow: ellipsis;
    max-width: 10rem;
    overflow: hidden;
    white-space: pre-wrap;
    padding: 0.5rem;
  }
  .saito-menu>ul>li>span {
    font-size: 1.33rem;
    margin: 0;
  }
}
