/*.saito-emoji-container {
  position: relative;
  z-index: 2000;
}

.saito-emoji {
  position: absolute;
  right: 0.75rem;
  bottom: 0.4rem;
  font-size: 2rem;
  color: var(--saito-primary);
  cursor: pointer;
}
*/
emoji-picker {
  position: absolute;
  height: 40rem;
  bottom: 7rem;
  width: 30rem;
  right: 5rem;
  --emoji-size: 2rem;
  --emoji-padding: 0.5rem;
  z-index: 2;
}

.saito-emoji-container {
  width: 100%;
}