/* ----------------------------------------------------------------
Saito Table
-----------------------------------------------------------------*/
.saito-table {
    /*background-color: #fff;*/
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    position: relative;
}

.saito-table-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3rem, min-content));
  align-items: center;
}

.saito-table-row.odd {
    background: var(--saito-gray);
}

.saito-address {
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: inherit;
}

.saito-table-rank {
    font-family: courier, monospace;
    font-size: 1.5rem;
}


.saito-leaderboard-gamename {
    width: 100%;
    overflow: hidden;
}


.saito-table-header {
  display: grid;
  grid-column-gap: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.saito-table-body {
  max-height: 100%;
  height: auto;
  position: relative;
  overflow-y: scroll;
  text-align: center;
}




