.saito-progress-bar-container{
	background-color: var(--background-progress-bar);
	width: 100%;
	height: 3rem;
	padding: 0 2rem;
	display: flex;
	align-items: center;
	background-size: 400% auto;
}

.saito-progress-bar-container.active{
	background: var(--background-progress-bar-active); /* testing */
	animation: shimmer 1.5s infinite alternate ease-in-out; /* still not working for me */
}

.saito-progress-bar {
	color: var(--font-color-progress-bar);
	text-shadow: var(--text-shadow-progress-bar);	
}

@keyframes shimmer {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 99% 99%;
	}
}

