/* ----------------------------------------------------------------
 Link
-----------------------------------------------------------------*/

a {
  text-decoration: none !important;
  cursor: pointer;
}



/* ----------------------------------------------------------------
	Headings
-----------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--saito-default-font);
  font-weight: 600;
  line-height: 1.5;
  margin: 1rem 0;
  font-family: var(--saito-font);
}

h5,
h6 {}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  position: relative;
  font-size: 4rem;
  margin: 2rem 0;
  line-height: 1.33;
}

h4 {
  font-size: 3.5rem;
  font-weight: 500;
  margin: 1rem 0;
  line-height: 1.33;
}

h5 {
  font-size: 3rem;
}

h6 {
  font-size: 2.5rem
}


h5,
h6 {
  font-weight: bold;
}


/* ----------------------------------------------------------------
 Paragraph
-----------------------------------------------------------------*/

p {
  /* font-size: 1.8rem; */

}



/* ----------------------------------------------------------------
Divider
-----------------------------------------------------------------*/

hr {
  color: var(--saito-default);

  margin: 2.5rem;
}








/* ----------------------------------------------------------------
Media Queries
-----------------------------------------------------------------*/

@media (max-width: 767.98px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 3rem;
  }

  h4 {
    font-size: 2.5rem;
  }
}



p {
  color: var(--saito-black);
}

a {
  color: var(--saito-white);
  transition: 0.2s;
  color: var(--saito-white);
}

a:hover {
  opacity: 0.8;
  transform: scale(1.1);
}