form {
  padding: 3rem 2rem;
  padding-top: 1.5rem;
<<<<<<< HEAD
  border-radius: 2rem;
=======
  border: 1px solid var(--saito-border);
  border-radius: 20px;
  width: 50rem;
  background-color: var(--saito-white);
>>>>>>> f98d8e137625f3015a935b883fd617304fb29459
}

/* ----------------------------------------------------------------
form label
-----------------------------------------------------------------*/
<<<<<<< HEAD
label {
  margin: 0.5rem 0;
=======

label {
  margin: .5rem 0;
>>>>>>> f98d8e137625f3015a935b883fd617304fb29459
  color: var(--saito-default);
  display: inline-block;
  cursor: pointer;
}

label:hover {
  color: var(--saito-primary);
}

/* ----------------------------------------------------------------
date inputs
-----------------------------------------------------------------*/

input[type="date"] {
  background-color: var(--saito-primary);
  border-radius: 1rem;
  border: 1px solid var(--saito-border);
  color: var(--saito-white);
  outline: none;
  font-size: 1.2rem;
  cursor: pointer;
  width: 100% !important;
<<<<<<< HEAD
  padding: 1.5rem 1.5rem;
=======
  padding: 15px 15px;
>>>>>>> f98d8e137625f3015a935b883fd617304fb29459
}

input[type="date"]::-webkit-datetime-edit {
  color: var(--saito-white);
}

input[type="date"]::-webkit-inner-spin-button {
  color: var(--saito-primary);
  background-color: var(--saito-primary);
  appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  appearance: none;
  filter: invert(100%);
  /* background-color: var(--saito-white); */
}

input[type="date"]::-webkit-clear-button {
  font-size: 1.8rem;
  height: 7rem;
  position: relative;
  color: green;
  background-color: green;
}

/* ----------------------------------------------------------------
text and password inputs
-----------------------------------------------------------------*/

<<<<<<< HEAD
input[type="text"],
input[type="password"] {
  border-radius: 1rem;
  background: #eaeaef;
  margin-right: 2rem;
  padding: 1.5rem 1.5rem;
=======
input[type="text"], input[type="password"] {
  border-radius: 10px;
  background: #EAEAEF;
  margin-right: 20px;
  padding: 15px 15px;
>>>>>>> f98d8e137625f3015a935b883fd617304fb29459
  /* color: #1C1C23; */
  font-size: 1.6rem;
  width: 20rem;
  border: none;
}

<<<<<<< HEAD
input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: var(--saito-border);
}

=======
input[type="text"]:focus, input[type="password"]:focus {
  outline: none;
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
  color: var(--saito-border);
}

>>>>>>> f98d8e137625f3015a935b883fd617304fb29459
/* ----------------------------------------------------------------
checkbox input
-----------------------------------------------------------------*/

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  border: 1px solid var(--saito-primary);
<<<<<<< HEAD
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
=======
  width: 17px;
  height: 17px;
  margin: 0 .5rem;
>>>>>>> f98d8e137625f3015a935b883fd617304fb29459
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

input[type="checkbox"]::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  opacity: 0;
}

input[type="checkbox"]:checked {
  background-color: var(--saito-primary);
}

input[type="checkbox"]:checked::after {
  color: var(--saito-white);
  opacity: 1;
}

/* ----------------------------------------------------------------
radio inputs
-----------------------------------------------------------------*/

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid var(--saito-primary);
<<<<<<< HEAD
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
=======
  width: 15px;
  height: 15px;
  margin: 0 .5rem;
>>>>>>> f98d8e137625f3015a935b883fd617304fb29459
  border-radius: 50%;
  position: relative;
}

input[type="radio"]::after {
  font-weight: 900;
  content: "";
  width: 90%;
  height: 90%;
  background-color: var(--saito-primary);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
<<<<<<< HEAD

  font-size: 1rem;
=======
  font-size: 10px;
>>>>>>> f98d8e137625f3015a935b883fd617304fb29459
  opacity: 0;
  border-radius: 50%;
}

input[type="radio"]:checked::after {
<<<<<<< HEAD
  color: var(--saito-white);
=======
  color: white;
>>>>>>> f98d8e137625f3015a935b883fd617304fb29459
  opacity: 1;
}

/* ----------------------------------------------------------------
Range inputs
-----------------------------------------------------------------*/

input[type="range"] {
  -webkit-appearance: none;
  margin: 1.8rem 0;
  width: 100%;
}

<<<<<<< HEAD
input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
=======
input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
>>>>>>> f98d8e137625f3015a935b883fd617304fb29459
  width: 100%;
  height: 0.6rem;
  cursor: pointer;
  box-shadow: var(--saito-box-shadow);
  background: var(--saito-primary);
  border-radius: 1.3px;
  border: var(--saito-border);
}

<<<<<<< HEAD
input[type="range"]::-webkit-slider-thumb {
=======
input[type=range]::-webkit-slider-thumb {
>>>>>>> f98d8e137625f3015a935b883fd617304fb29459
  box-shadow: var(--saito-box-shadow);
  border: 1px solid #000000;
  height: 2rem;
  width: 0.7rem;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.8rem;
}

<<<<<<< HEAD
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--saito-primary);
=======
input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--saito-primary)
>>>>>>> f98d8e137625f3015a935b883fd617304fb29459
}

/* input[type=range]:focus::-webkit-slider-thumb {
  background: var(--saito-primary)
} */
<<<<<<< HEAD
input[type="range"]::-moz-range-track {
=======

input[type=range]::-moz-range-track {
>>>>>>> f98d8e137625f3015a935b883fd617304fb29459
  width: 100%;
  height: 0.84rem;
  cursor: pointer;
  box-shadow: var(--saito-box-shadow);
  background: var(--saito-primary);
  border-radius: 1.3px;
  border: var(--saito-border);
}

<<<<<<< HEAD
input[type="range"]::-moz-range-thumb {
=======
input[type=range]::-moz-range-thumb {
>>>>>>> f98d8e137625f3015a935b883fd617304fb29459
  box-shadow: var(--saito-box-shadow);
  border: 1px solid #000000;
  height: 3.6rem;
  width: 1.6rem;
  border-radius: 3px;
  background: var(--saito-white);
  cursor: pointer;
}

<<<<<<< HEAD
input[type="range"]::-ms-track {
=======
input[type=range]::-ms-track {
>>>>>>> f98d8e137625f3015a935b883fd617304fb29459
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 1.6rem 0;
  color: transparent;
}

<<<<<<< HEAD
input[type="range"]::-ms-fill-lower {
=======
input[type=range]::-ms-fill-lower {
>>>>>>> f98d8e137625f3015a935b883fd617304fb29459
  background: var(--saito-primary);
  border: var(--saito-border);
  border-radius: 2.6px;
  box-shadow: var(--saito-box-shadow);
}

<<<<<<< HEAD
input[type="range"]::-ms-fill-upper {
=======
input[type=range]::-ms-fill-upper {
>>>>>>> f98d8e137625f3015a935b883fd617304fb29459
  background: #3071a9;
  border: var(--saito-border);
  border-radius: 2.6px;
  box-shadow: var(--saito-box-shadow);
}

<<<<<<< HEAD
input[type="range"]::-ms-thumb {
=======
input[type=range]::-ms-thumb {
>>>>>>> f98d8e137625f3015a935b883fd617304fb29459
  box-shadow: var(--saito-box-shadow);
  border: 1px solid #000000;
  height: 3.6rem;
  width: 1.6rem;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

<<<<<<< HEAD
input[type="range"]:focus::-ms-fill-lower {
  background: var(--saito-primary);
}

input[type="range"]:focus::-ms-fill-upper {
  background: var(--saito-primary);
}

input[type="text"],
input[type="password"],
select {
=======
input[type=range]:focus::-ms-fill-lower {
  background: var(--saito-primary);
}

input[type=range]:focus::-ms-fill-upper {
  background: var(--saito-primary);
}

input[type="text"], input[type="password"], select {
>>>>>>> f98d8e137625f3015a935b883fd617304fb29459
  width: 100% !important;
}

textarea {
<<<<<<< HEAD
  background-color: #eaeaef;
=======
  background-color: #EAEAEF;
>>>>>>> f98d8e137625f3015a935b883fd617304fb29459
  display: block;
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
  outline: none;
  padding: 1.5rem 1.5rem;
  height: 15rem;
  border: none;
  font-size: 1.6rem;
}

textarea::placeholder {
  color: var(--saito-border);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--saito-primary);
  color: var(--saito-white);
<<<<<<< HEAD
  min-width: 16rem;

  padding: 1.2rem 1.6rem;
  z-index: 1;
  border-radius: 0 0 2rem 2rem;
=======
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
  border-radius: 0 0 20px 20px;
>>>>>>> f98d8e137625f3015a935b883fd617304fb29459
  flex-direction: column;
  justify-content: center;
}

.dropdown-content>p {
  font-size: 1.4rem;
  cursor: pointer;
}

.dropdown-content>p:hover {}

.dropdown:hover .dropdown-content {
  display: flex;
}

/* ----------------------------------------------------------------
Selects
-----------------------------------------------------------------*/

select {}

.saito-select-wrapper {
  width: 18rem;
  width: 100%;
  border-radius: 8px;
  position: relative;
}

.saito-select-btn {
<<<<<<< HEAD
  padding: 1rem 0;
  /* border-radius: 7px; */
  background-color: var(--saito-white);
=======
  padding: 10px 20px;
  border-radius: 7px;
  background-color: white;
>>>>>>> f98d8e137625f3015a935b883fd617304fb29459
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.saito-select-btn span {
  font-size: 1.6rem;
  color: var(--saito-black);
}

.saito-select-btn i {
  font-size: 1.4rem;
  color: red;
  cursor: pointer;
}

<<<<<<< HEAD
/* .saito-select-search {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.saito-select-content {
  margin-top: 1.5rem;
  /* padding: 2rem; */
  position: absolute;
  top: 3.5rem;
  width: 100%;
  background-color: #eaeaef;
  justify-content: start;
  display: none;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-top: none;
  z-index: 12;
  border: 1px solid var(--saito-white);
}

.saito-select-wrapper i {
=======
.saito-select-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.saito-select-content {
  margin-top: 15px;
  padding: 20px;
  position: absolute;
  width: 100%;
  background-color: white;
  /* display: flex; */
  justify-content: start;
  display: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid var(--saito-border);
  border-top: none;
  z-index: 12;
}

.saito-select-wrapper i {
  transform: rotateX(180deg);
>>>>>>> f98d8e137625f3015a935b883fd617304fb29459
  font-size: 1.8rem;
}

.saito-select-content li {
  list-style: none;
  cursor: pointer;
  width: 100%;
  padding: 1rem 1.5rem;
  color: var(--saito-black);
}

.saito-select-content li:hover {
  background-color: var(--saito-primary);
  color: white;
}

.saito-select-content li:not(:last-child) {
  margin-bottom: 1rem;
}

.show-content {
  display: block;
}

.flip-carret {
  transition: all 0.3s;
  transform: rotateX(180deg) !important;
}