.saito-header {
  display: flex;
  width: 100vw;
  background: linear-gradient(
    77deg,
    var(--saito-primary) 0%,
    var(--saito-secondary) 69%
  );

  backdrop-filter: blur(5px);
  margin: 0;

  align-items: center;
  padding: 1.3rem 3rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.saito-header > img {
  width: 9rem;
}

.saito-header nav {
  display: flex;
  align-items: center;

  margin-left: auto;
  justify-self: flex-end;
}

.saito-header .list {
  display: flex;
  margin-right: 7rem;
  align-items: center;
  justify-content: ce;
}

.saito-header .list .list-item {
  list-style: none;
}

.saito-header .link {
  color: var(--saito-white);
  margin-right: 1.3rem;
  font-weight: bold;
  cursor: pointer;
}
.saito-header .link:hover {
  color: var(--saito-black);
}

#menuToggle {
  margin-right: auto;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
}

#menuToggle:hover {
  opacity: 0.9;
  transform: scale(1.2);
}

#menuToggle:active {
  transform: scale(0.9);
}

/* #menuToggle:hover + #hamburger-contents {
  opacity: 1;
  /* transform: translateX(-21rem); 
} */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: var(--saito-white);
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  background: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  margin-left: auto;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#hamburger-contents {
  display: block;
  height: 100vh;
  color: var(--saito-default-font);
  width: 20rem;
  background-color: var(--saito-menu-background);
  position: absolute;
  right: 0;
  top: var(--saito-header-height);
  border: 1px solid var(--saito-border);

  transition: all 0.5s;
  opacity: 0;
  z-index: 10;
  padding: 2rem;
  box-shadow: 1px 3px 3px var(--saito-border), 1px 3px 3px var(--saito-border),
    1px 3px 3px var(--saito-border), 1px 1rem 1rem var(--saito-border),
    1px 1rem 1rem var(--saito-border);
  border-top: none;
  -webkit-transform: translateX(20rem);
  transform: translateX(20rem);
}

.saito-profile {
  background-color: var(--saito-profile-background);
  padding: 1.4rem 0.5rem;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  margin-bottom: 2rem;
  border: 1px solid var(--saito-border);
}

.saito-profile > img {
  width: 70px;
  border-radius: 8px;
  object-fit: contain;
  background-color: white;
  margin-right: 2rem;
  transition: all 0.2s;
  cursor: pointer;
}
.saito-profile > img:hover {
  transform: scale(1.1);
}
.saito-profile-info > p {
  color: var(--saito-default-font);
  font-weight: bold;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.saito-profile-info > div {
  color: var(--saito-default-font);
  font-weight: bold;
  border: 1px solid white;
  background-color: var(--saito-secondary);
  padding: 0.5rem;
  border-radius: 8px;
}

.saito-menu-section {
  /* margin-bottom: 2rem; */

  padding: 1rem 0;
  font-size: 1.1rem;
}

.saito-menu-section:not(:last-child) {
  border-bottom: 1px solid var(--saito-border);
}

.saito-menu-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
}

.saito-menu-item:hover {
  transform: scale(1.1);
  filter: brightness(1.3);
  color: var(--saito-primary);
}

.saito-menu-item:not(:last-child) {
  margin-bottom: 0.6rem;
}

.saito-menu-item > p {
  margin-left: 1rem;
}

.show-menu {
  opacity: 1 !important;
  -webkit-transform: translateX(0) !important;
  transform: translateX(0) !important;
}

.big-menu-container {
  position: relative;
}

.big-menu-container:hover .big-menu {
  display: block;
}
.big-menu {
  color: var(--saito-white);
  background-color: var(--saito-primary) !important;
  position: absolute;
  top: 1.5rem;
  left: -1rem;
  padding: 1rem 2rem;
  border-radius: 8px;
  display: none;
  transition: all 0.2s;
  z-index: 20;
}
.mega-menu:hover .big-menu {
  display: block;
}

.big-menu-link {
  margin-bottom: 1rem;
  display: inline-block;
}

/* Media Queries */

@media screen and (min-width: 1800px) {
  .saito-header {
    padding: 1.3rem 9rem;
  }
}

@media screen and (max-width: 700px) {
  #hamburger-contents {
    width: 80vw;
  }
}
@media screen and (max-width: 500px) {
  #hamburger-contents {
    width: 100vw;
  }

  .saito-header {
    padding: 1.3rem 1rem;
  }
  .saito-header > img {
    width: 7rem;
  }

  .shortcodes {
    font-size: 12px;
    position: absolute;
    bottom: 0.15rem;
    margin-left: 2rem;
  }
}
