/* ----------------------------------------------------------------
font imports
-----------------------------------------------------------------*/
@font-face {
  font-family: "visuelt-black";
  src: url("/saito/fonts/visuelt-black.eot");
  src: url("/saito/fonts/visuelt-black.eot?#iefix") format("embedded-opentype"),
    url("/saito/fonts/visuelt-black.woff2") format("woff2"),
    url("/saito/fonts/visuelt-black.woff") format("woff"),
    url("/saito/fonts/visuelt-black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "visuelt-light";
  src: url("/saito/fonts/visuelt-light.eot");
  src: url("/saito/fonts/visuelt-light.eot?#iefix") format("embedded-opentype"),
    url("/saito/fonts/visuelt-light.woff2") format("woff2"),
    url("/saito/fonts/visuelt-light.woff") format("woff"),
    url("/saito/fonts/visuelt-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "visuelt-medium";
  src: url("/saito/fonts/visuelt-medium.eot");
  src: url("/saito/fonts/visuelt-medium.eot?#iefix") format("embedded-opentype"),
    url("/saito/fonts/visuelt-medium.woff2") format("woff2"),
    url("/saito/fonts/visuelt-medium.woff") format("woff"),
    url("/saito/fonts/visuelt-medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "p-word";
  src: url("/saito/fonts/password.ttf") format("truetype");
}

:root {
  --saito-font: 'visuelt-light';
  --saito-background: #eaeaef45;
  --saito-primary: #f71f3d;
  --saito-secondary: #ff8235;
  /* background: rgb(203, 46, 73); */
  --dreamscape: linear-gradient(125deg, #e8001e 30%, #0000 55%, #ff8235 80%),
    linear-gradient(40deg, #f7009b, #f7009b, #f71f3d, #f71f3d, #e98eaf, #0000),
    linear-gradient(180deg, #e9ce93, #f71f3d);

  --saito-tetiary: rgb(234, 234, 239);
  --saito-blue: #35b2ff;
  --saito-default-font-color: #555;
  --saito-paper: #f2f0f0;
  --saito-white: #fff;
  --saito-black: #1c1c23;
  --saito-black-faded: #1c1c23b5;
  --saito-box-shadow: 4px 4px 20px #a5a5a5f5;
  --saito-menu-background: #fff;
  --saito-profile-background: #fff;
  --saito-border: #a5a5a5bb;
  --saito-chat-background: #fff;
  --saito-box-padding: 3rem 2rem;
  --saito-header-height: 5em;
  --saito-width: 1500px;
  --saito-default-border-radius: .5rem;
}



/* ----------------------------------------------------------------
To be implemented later
-----------------------------------------------------------------*/
/* :root {
  --saito-background: rgb(8, 8, 9);
  --saito-primary: #730111;
  --saito-secondary: #693e23;
  --saito-tetiary: rgb(234, 234, 239);
  --saito-blue: #3c6177;
  --saito-default-font-color: #555;
  --saito-paper: #2e2e2e4f;
  --saito-white: #ffffff;
  --saito-black: #1c1c23;
  --saito-black-faded: #1c1c23b5;
  --saito-font: "Lato", sans-serif;
  --saito-cyber-black-wash: rgb(28, 28, 35, 0.3);
  --saito-cyber-black: rgb(28, 28, 35);
  --saito-red-wash: rgb(247, 31, 61, 0.3);
  --saito-cyber-black-cut: rgb(28, 28, 35, 0.5);
  --saito-wu: none;
  --saito-width: 1500px;
} */