
.chat-container {
    width: 44rem;
    border: 1px solid var(--saito-border);
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    background-color: var(--saito-white);
    border-radius: .4rem;
}

.chat-header {
    padding: 1rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--saito-border);
}

.chat-header > i {
    margin-right: .5rem;
    color: var(--saito-primary);
    font-size: 2rem;
    display: inline-block;
}

.chat-header > i:last-child {
    margin-left: auto;
    cursor: pointer;
    transition: all .2s;
}

.chat-header > i:last-child:hover {
    transform: rotate(90deg) scale(1.1);
}

.chat-header > h6 {
    color: var(--saito-default-font-color);
}

.chat-body {
    padding: 1rem;
    display: block;
    max-height: 56rem;
    height: 56rem;
    overflow: auto;
    margin-bottom: 2rem;
}
.chat-body > .saito-user {
    padding-bottom: 1rem;
    cursor: default;
}

.chat-footer {
    background-color: rgb(236, 236, 236);
    position: absolute;
    bottom: 0;
    margin-top: 1rem;
    width: 100%;
    padding: 1rem;
    border-top: var(--saito-border);
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-gap: 1rem;
    align-items: center;
    z-index: 2;
}

.chat-footer input {
    border: none;
}

.chat-footer i {
    color: var(--saito-primary);
    cursor: pointer;
    z-index: 2;
    transition: all .2s;
    font-size: 2rem;
}

.chat-footer i:hover {
    transform: rotate(45deg);
}








/*  dropdown */

.chat-profile-dropdown {
    position: absolute;
    left: 2rem;
    width: 18rem;
    background-color: var(--saito-white);
    border: 1px solid var(--saito-border);
    border-radius: .5rem;
    z-index: 3;
    opacity: 0;
    pointer-events: none;
    transition: all .2s;
}

.chat-profile-dropdown>div {
    padding: .5rem;
    display: grid;
    grid-template-columns: 3rem 1fr;
    grid-gap: .5rem;
    /* cursor: pointer; */
}

.chat-profile-dropdown>div:not(:last-child) {
    border-bottom: 1px solid var(--saito-border);
}

.chat-profile-dropdown>div:hover {
    background-color: var(--saito-primary);
    color: var(--saito-white);
}

.chat-profile-dropdown>div:hover>p {
    color: var(--saito-white);
}



/* hover to show dropdown */
.chat-item.other .chat-profile:hover .chat-profile-dropdown {
    opacity: 1;
    pointer-events: all;
}
