#saito-header {
  position: fixed;
  display: flex;
  width: 100vw;
  background: var(--dreamscape);
  backdrop-filter: blur(5px);
  margin: 0;
  align-items: center;
  padding: 0 calc((100vw - var(--saito-width)) / 2);
  top: 0;
  left: 0;
  z-index: 10;
  height: var(--saito-header-height);
  border-bottom: 1px solid var(--saito-border-color);
}

#saito-header nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 2rem;
}

.saito-header-logo {
  width: 15rem;
}

#saito-header-menu-toggle {
  margin-right: auto;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
}

#saito-header-menu-toggle:hover {
  opacity: 0.9;
  transform: scale(1.2);
}

#saito-header-menu-toggle:active {
  transform: scale(0.9);
}

#saito-header-menu-toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: var(--saito-white);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  background: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  margin-left: auto;
}

#saito-header-menu-toggle span:first-child {
  transform-origin: 0% 0%;
}

#saito-header-menu-toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.saito-header-profile .saito-identicon-box .saito-identicon {
  width: 4.9rem;
  height: 4.9rem;
}

.saito-header-hamburger-contents {
  display: block;
  pointer-events: none;
  background-color: var(--saito-background-color);
  position: absolute;
  right: 0;
  top: var(--saito-header-height);
  border-top: 1px solid var(--saito-border-color);
  border-left: 1px solid var(--saito-border-color);
  transition: all 0.2s;
  opacity: 0;
  z-index: 10;
  width: 20rem;
  height: 100vh;
  overflow: auto;
}



.saito-header-profile {
  padding: 1.4rem 0.5rem;
  display: flex;
  flex-direction: column;
}

.saito-header-profile-details {
  display: grid;
    grid-template-columns: 5rem auto;
    border: 1px solid var(--saito-primary);
    border-radius: 0 1.2rem 1.2rem 0;
}

.saito-header-profile-details .saito-identicon {
  margin: auto;
  border: none;
 }

 .saito-header-profile-balance.saito-select::after {
  background-color: var(--saito-primary);
  border: none;
 }

.saito-header-profile-balance .saito-select-crypto {
  font-size: 2rem;
  color: var(--saito-font-color);
  padding: 0 0 0 1rem;
  font-size: 2rem;
  appearance: none;
  background-color: var(--saito-arcade-background);
  border: none;
}

.saito-header-profile-balance .saito-select-crypto:focus {
  outline: none;
}

.saito-header-profile-balance > .saito-select-wrapper > div {
  width: 28rem;
}

.saito-header-profile-address {
  /*grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  width: 99%;
  justify-content: center;
  justify-self: center;
  padding-top: 1rem;
  cursor: pointer;*/

}


.saito-header-profile-address p {

      white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.7rem;
    margin: 0rem 1rem;
    float: left;
    display: inline-block;
    width: 30%;
}

.saito-header-profile-address:hover i {
  transform: scale(1.05);
  color: var(--saito-primary);
      display: inline-block;
}

.saito-header-menu-section {
  padding: 1.5rem 0;
  font-size: 1.1rem;
  overflow: auto;
  padding-bottom: 0.5rem;
}

.saito-header-menu-section li i {
  color: var(--saito-primary);
  font-size: 2rem !important;
  width: 0.5rem !important;
}

.saito-header-menu-section:not(:last-child) {
  border-bottom: 1px solid var(--saito-border-color);
}

.show-menu {
  opacity: 1;
  width: 40rem;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  pointer-events: auto;
}

.header-wallet {
  position:relative;
  padding: 0rem;
}

.saito-header-profile-address {
  margin-bottom: -0.5rem;
}


#qrcode img {
  height: auto;
  width: 50%;
  border: 2px solid;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 3rem auto;
}

.wallet-btn-container {
  white-space: nowrap;
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: none;
  grid-column-gap: 3.3rem;
  color: #fff;
  background: var(--saito-arcade-overlay-background);
  border-radius: 0.7rem;
  padding: 0.75rem;
  margin: auto;
  width: 95%;
  margin-bottom: 1.5rem;
}

.wallet-btn {
  text-align: center;
  color: #fff;
  display:inline-block;
  cursor: pointer;
}


.wallet-btn:hover .wallet-btn > i {
  margin-bottom: 1.3rem;
}


.wallet-btn i {
  display: block;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.wallet-balance {
  display: block;
  position: relative;
  padding: 0rem;
  width: fit-content;
  margin: 1rem auto;
  margin-top: 0rem;
  height: 4rem;
}

.balance-amount {
  display: inline-block;
  float: left;
  font-weight: bold;
  font-size: 5rem;
  height: min-content;
  padding-left: 1rem;
  line-height: 4rem;
}

.wallet-balance select {
  border: none;
  background: none;
  display: inline-block;
  float: left;
  width: 7rem;
  margin: 0rem;
  padding: 0rem;
  margin-top: 1.2rem;
  margin-left: 0.5rem;
  margin-top: 1.2rem;
  text-align: center;
  width: auto;
  font-size: 2.2rem;
}

.balance-ticker {
  display: inline-block;
  font-size: 1.5rem;
  padding-left: 0.5rem;
  vertical-align: -webkit-baseline-middle;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
  

.wallet-qrcode {
  width: 28rem;
}

.header-wallet .saito-header-profile-address {
  display: block;
  padding: 0rem;
  max-width: 100%;
  margin: 0rem;
  position: relative;
}

.header-wallet .saito-header-profile-address i {
  float: left;
  line-height: 3.5rem;
  display: inline-block;
}

.slidein-panel {
  position: absolute;
  top: 46vh;
  background: #fff;
  width: 100%;
  height: 99vh;
  overflow: hidden;
  z-index: 2;
  transition: all 0.2s ease-in-out;
  padding: 1.5rem 0rem;
  left: 100vw;
}

.slidein-panel.show {
  left: 0vw;
}

.panel-nav {
  color: var(--saito-primary);
  margin-left: 4rem;
}

.menu-back {
  font-size: 2rem;
}

.panel-nav .seperator {
  font-size: 2rem;
  color: var(--saito-gray-mid);
  padding: 0rem 1rem;
}

.nav-option {
  font-size: 2rem;
  color: var(--saito-gray-mid);
}

.more-options i.active {
  transform: rotate(45deg);
  transition: all 0.2s ease-in-out;
}

.wallet-idenicon {
  width: 3.5rem;
  height: 3.5rem;
  display: inline-block !important;
  float: left;
}

.saito-header-profile-address {
  line-height: 3.5rem;
}

.pubkey-containter {
  position: relative;
  max-width: 82%;
  margin: auto;
  margin-bottom: 2rem;
  height: 3rem;
}

.pubkey-containter i {
  display: inline-block;
  float: left;
  line-height: 2.5rem;
}

.wallet-info-container {
  display: grid;
  grid-template-columns: 57% 43%;
  width: 100%;
  margin: 1rem 0rem;
}

.wallet-infoo {
  padding: 0rem;
  margin: 0rem;
  display: block;
  margin: auto;
}

.wallet-qrcode {
  margin: auto;
  display: block;
  margin: 3rem auto;
  padding: 0.5rem;
  border: 2px solid #000;
  border-radius: 0.5rem;
}

.profile-public-key {
  width: 95%;
  display: inline-block;
  float: left;
  font-size: 1.7rem;
  margin-top: 0.5rem;
  font-weight: bold;
  white-space: break-spaces;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1600px) {
  #saito-header {
    padding: 1.3rem calc((100vw - var(--saito-width)) / 2);
  }
}

@media screen and (max-width: 1500px) {
  #saito-header {
    padding: 1.3rem 2rem;
  }
}

@media screen and (max-width: 1200px) {
  #saito-header {
    padding: 1.3rem 2rem;
  }
}

@media screen and (max-width: 700px) {
  .saito-header-hamburger-contents {
    width: 80vw;
    overflow: hidden;
  }

  .slidein-panel {
    width: 100vw;
  }

  #qrcode img {
    width: 50vw;
  }

  .profile-public-key {
    width: 95%;
    display: inline-block;
    float: left;
    font-size: 1.7rem;
    margin-top: 0.5rem;
    font-weight: bold;
    white-space: break-spaces;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .slidein-panel {
    top: 48vh;
  }

}

@media screen and (max-width: 500px) {
  .saito-header-hamburger-contents {
    width: 100vw;
    padding: 0rem;
  }
  #saito-header {
    padding: 1.3rem 1rem;
  }
  .shortcodes {
    font-size: 12px;
    position: absolute;
    bottom: 0.15rem;
    margin-left: 2rem;
  }
  .saito-header-logo {
    max-width: 12rem;
  }
}
