.saito-profile {
  width: 100%;
  margin-top: -1rem;
}

.saito-profile-menu {
}

.saito-profile-menu > div {
  float: left;
  margin-right: min(5%, 5rem); /*Allow to shrink on narrow screens*/
  cursor: pointer;
  padding: 1rem;
}

.saito-profile-menu > div:hover {
  color: var(--saito-white);
  background-color: var(--saito-primary);
}

.saito-profile-menu .active {
  text-decoration: underline dashed;
  text-underline-offset: 0.5rem;
  /*border-bottom: 1px dashed var(--saito-font-color);*/
}


.saito-profile-cover {
  width: 100%;
  height: 15rem;
  background: url("https://pbs.twimg.com/profile_banners/842988756/1679408451/1080x360");
  background-size: cover;
}

.saito-profile-identicon {
  border: 3px solid var(--saito-background-color);
  width: 10rem;
  height: 10rem;
  border-radius: 0.5rem;
  margin-top: -7%;
  z-index: 1;
  margin-left: 1rem;
}

.saito-profile-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 2rem 0 0.5rem 0.2rem;
}


.saito-profile-info .saito-username {
  font-size: 1.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 1rem;
}

.saito-follow {
  font-size: 1.5rem;
  color: var(--saito-font-color-light);
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  cursor: pointer;
}

.saito-follow-count{
  color: var(--saito-font-color-heavy);
  font-weight: bold;
}



.saito-profile-options-row {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.saito-profile-icons { 
  display: flex; 
  flex-direction: row;
  gap: 2rem;
  width: fit-content;
}

.saito-profile-icons i {
  font-size: 2.4rem;
  line-height: 4rem;
  cursor: pointer;
  color: var(--saito-faded-icon-font);
  border: 1px solid var(--saito-faded-icon-border);
  /* circular */
  background: var(--saito-background-light);
  padding: 0rem 0.6rem;
  border-radius: 50%;
}

.saito-profile-follow-btn {
  border: 1px solid var(--saito-font-color);
  height: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  line-height: 4rem;
  border-radius: 0.3rem;
  color: var(--saito-font-color);
  font-size: 1.1em;
  cursor: pointer;
}

.saito-profile-follow-btn:hover {
  background: var(--saito-primary);
  border: 1px solid var(--saito-primary);
  color: #fff;
}
