.saito-profile {
  min-width: 0;
  width: 100%;
}

.saito-profile-menu.float {
  margin-left: 0.2rem;
  min-height: 4rem;
}

.saito-profile-menu.float > div {
  float: left;
  margin-right: min(5%, 5rem); /*Allow to shrink on narrow screens*/
  cursor: pointer;
  padding: 1rem;
}

.saito-profile-menu > div:hover {
  color: var(--font-color-button-hover-profile);
  background-color: var(--background-color-button-hover-profile);
  border: var(--border-thickness-button-hover-profile) solid var(--border-color-button-hover-profile);
  border-radius: var(--border-radius-button-hover-profile);
}

.saito-profile-menu .active {
  text-decoration: underline dashed;
  text-underline-offset: 0.5rem;
  /*border-bottom: 1px dashed var(--saito-font-color);*/
}


.saito-profile-cover {
  width: 100%;
  height: min(15rem, 12vh);
  background: url("https://pbs.twimg.com/profile_banners/842988756/1679408451/1080x360");
  border-radius: var(--border-radius-profile-banner);
}

.saito-profile-banner {
  width: 100%;
  height: min(15rem, 12vh);
  background-size: cover;
}

.saito-profile-identicon {
  border: var(--border-thickness-identicon-square-profile) solid var(--border-color-identicon-square-profile);
  width: 10rem;
  height: 10rem;
  border-radius: 5%;
  margin-top: -4.5rem;
  z-index: 1;
  margin-left: 1rem;
}

.saito-profile-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 2rem 0 0.5rem 1.2rem;
}


.saito-profile-info .saito-username {
  font-size: 1.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.saito-profile-info .saito-bio {
  margin-top: 1rem;
  font-size: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: wavy;
  width: 100%; 
  white-space: normal; 
  overflow-wrap: break-word; 
  word-wrap: break-word; 


}

.saito-follow {
  font-size: 1.5rem;
  color: var(--saito-font-color-light);
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  cursor: pointer;
}

.saito-follow-count{
  color: var(--saito-font-color-heavy);
  font-weight: bold;
}



.saito-profile-options-row {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.saito-profile-icons { 
  display: flex; 
  flex-direction: row;
  gap: 2rem;
  width: fit-content;
}

.saito-profile-icons i {
  font-size: 2.4rem;
  line-height: 4rem;
  cursor: pointer;
  color: var(--saito-faded-icon-font);
  border: 1px solid var(--saito-faded-icon-border); /* testing Not found*/
  /* circular */
  background: var(--saito-background-light);
  padding: 0rem 0.6rem;
  border-radius: 50%;
}

.saito-profile-follow-btn {
  color: var(--font-color-button-simple-contact);
  background-color: var(--background-color-button-simple-contact);
  border: var(--border-thickness-button-simple-contact) solid var(--border-color-button-simple-contact);
  height: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  line-height: 4rem;
  border-radius: var(--border-radius-button-simple-contact);
  font-size: 1.1em;
  cursor: pointer;
}

.saito-profile-follow-btn:hover {
  color: var(--font-color-button-hover-simple-contact);
  background-color: var(--background-color-button-hover-simple-contact);
  border: var(--border-thickness-button-hover-simple-contact) solid var(--border-color-button-hover-simple-contact);
  border-radius: var(--border-radius-button-hover-simple-contact);
}


@media screen and (max-width: 600px){
.saito-profile-identicon {
  border-width: 2px;
  width: 8rem;
  height: 8rem;
  margin-top: -4rem;
  margin-left: 0.5rem;
}

.saito-profile-menu {
  display: flex;
  justify-content: space-between;
}

.saito-profile-menu > div {
  margin-right: unset;
}

}