.saito-overlay-backdrop {
  position: fixed!important;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #444;
  opacity: 0.4;
  z-index: 100;
}

.saito-overlay {
  position: fixed;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  z-index: 1000;
  min-width: 10%;
  min-height: 10%;
  height: min-content;
  width: min-content;
}

.saito-overlay-closebox {
  position: absolute;
  width: 30px;
  height: 30px;
  right: -13px;
  border-radius: 50%;
  top: -15px;
  background-color: white;
  z-index: 100;
}

.saito-overlay-closebox-btn {
  display: block;
  height: 32px;
  width: 32px;
  color: red;
  font-size: 31px;
}

/******
  Saito module overlay - Start
******/

.saito-module-overlay-box {
  position: relative;
  width: 71rem;
  background-color: #fff;
  min-height: 22rem;
  display: flex;
  justify-content: initial;
}

.saito-module-overlay-img {
  width: 30%;
  background-color: #f7d3d9;
  background-size: cover;
}

.saito-module-overlay-info-box {
  padding: 2.5rem;
  width: 69%;
  position: relative;
}

.saito-module-overlay-info-box .game-loader-container {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.saito-module-overlay-info-box .game-loader-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}


.saito-module-overlay-info-table {
  margin-top: 2rem;
}

.saito-module-overlay-btn {
  margin-top: 2rem;
}

/******
  Saito module overlay - End
******/

/* Overlay within an overlay
   a weird bit of logic to facilitate 
   game creation form
*/

.saito-overlay .saito-overlay{
  min-width: 320px;
  padding: 2rem;
}

.saito-overlay .saito-overlay-backdrop {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}



.saito-overlay-content-large{
  padding: 2rem;
  min-width: min(800px, 95vw);
}