.saito-profile {
  min-width: 0;
  width: 100%;
  padding: 0;
  max-width: 1000px;
  margin: auto;
}

.saito-profile-menu {
  margin-left: 0.2rem;
  min-height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.saito-profile-menu>div {
  cursor: pointer;
  padding: 1rem;
  text-transform: capitalize;
}

.saito-profile-menu>div:hover {
  color: var(--font-color-button-hover-profile);
  background-color: var(--background-color-button-hover-profile);
  border: var(--border-thickness-button-hover-profile) solid var(--border-color-button-hover-profile);
  border-radius: var(--border-radius-button-hover-profile);
}

.saito-profile-menu .active {
  text-decoration: underline dashed;
  text-underline-offset: 0.5rem;
  /*border-bottom: 1px dashed var(--saito-font-color);*/
}

.saito-profile-banner {
  width: 100%;
  height: 0;
  padding-top: min(33.33%, 180px);
  background-image: url(/saito/img/profile-banner.jpg);
  background-size: cover;
  background-position: center;
  border-radius: var(--border-radius-profile-banner);
  position: relative;
}

.saito-profile-header-row .saito-identicon-box {
  border: var(--border-thickness-identicon-square-profile) solid var(--border-color-identicon-square-profile);
  width: 10rem;
  height: 10rem;
  background-size: cover;
  border-radius: 5%;
  margin-top: -4.5rem;
  z-index: 1;
  margin-left: 1rem;
  position: relative;
  cursor: unset;
  font-size: 4rem;
}

.saito-profile-header-row .saito-identicon-box .saito-overlaid-icon {
  top: 50%;
}

.limbo-floating-overlay .saito-profile-header-row .saito-identicon-box .saito-overlaid-icon {
  left: 50%;
  width: 6rem;
  height: 6rem;  
}

.saito-banner-edit {
  margin-left: 0;
  right: .5rem;
  bottom: .5rem;
  position: absolute;
  text-shadow: 1px 1px 4px var(--saito-black);
  cursor: pointer;
}

.saito-profile-description {
  position: relative;
  margin-left: 1rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}

.saito-profile-description.can-edit {
  border: 1px dotted;
  border-radius: 3px;
  min-height: 5rem;
  display: grid;
  grid-template-columns: 1fr min-content;
  cursor: pointer;
}

.saito-description-edit {
  display: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.5rem;
}

.saito-profile-description.can-edit .saito-description-edit {
  display: flex;
}

.saito-follow {
  font-size: 1.5rem;
  color: var(--saito-font-color-light);
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  cursor: pointer;
}

.saito-follow-count {
  color: var(--saito-font-color-heavy);
  font-weight: bold;
}

.saito-profile-header-row {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  height: 5rem;
  gap: 1rem;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
}

.saito-profile-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 100%;
  min-width: 0;
  max-width: 100%;
}

.saito-profile-username {
  font-size: 2.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap;
}

.saito-profile-key {
  font-size: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.saito-profile .saito-modal-menu-option {
  font-size: 2rem;
  height: unset;
  width: 100%;
  padding: 1rem;
  margin: 0;
}

.saito-profile .saito-modal-menu-option>div {
  font-size: 1.8rem;
}

.saito-profile .saito-modal-menu-option>i {
  justify-self: center;
  margin: 0;
}

.saito-profile-note {
  margin-top: 0.5rem;
}

@media screen and (max-width: 600px) {
  .saito-profile-header-row .saito-identicon-box {
    border-width: 1px;
    width: 7rem;
    height: 7rem;
    margin-top: -4.5rem;
    margin-left: 0.5rem;
  }
  .saito-profile-menu {
    justify-content: space-between;
  }
  .saito-profile-menu>div {
    margin-right: unset;
  }
}