/* ----------------------------------------------------------------
 Saito Base: CSS default settings, layouts
-----------------------------------------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  line-height: 1.2;
  color: var(--saito-default-font-color);
  font-family: var(--saito-font);
  margin: 0;
  background-color: var(--saito-gray);
  max-width: 100vw;
  font-size: 1.6rem;
  font-weight: 400;
  position: relative;
  overflow-x: hidden;
}

.modal-dialog {
  border: 20rem;
}

pre {
  overflow: auto;
}

/* ----------------------------------------------------------------
 Link
-----------------------------------------------------------------*/

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  opacity: 0.8;
}

/* ----------------------------------------------------------------
	Headings
-----------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--saito-primary);
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3.5rem;
}

h5 {
  font-size: 3rem;
}

h6 {
  font-size: 2.5rem
}

textarea {
  resize: none;
}

/* ----------------------------------------------------------------
 Paragraph
-----------------------------------------------------------------*/
.saito-large-paragraph {
  font-size: 2rem;
  font-weight: bold;
}

p,
.saito-mid-paragraph {
  color: var(--saito-black);
  font-size: 1.6rem;
  overflow: auto;
}

p::-webkit-scrollbar {
  display: none;
}

.saito-small-paragraph {
  font-size: 1.3rem;
}

/* ----------------------------------------------------------------
Divider
-----------------------------------------------------------------*/

hr {
  color: var(--saito-default-font-color);
  margin: 2.5rem;
}



/* ----------------------------------------------------------------
Media Queries
-----------------------------------------------------------------*/

@media screen and (min-width: 1600px) {
  /* body {
    font-size: 1.4rem;
  } */

}

@media screen and (max-width: 1200px) {
  /* body {
    font-size: 1.4rem;
  } */

}

@media screen and (max-width: 768px) {
  body {
    font-size: 1.4rem;
  }

  .saito-container {
    padding: 1rem 1.5rem;
  }
}

@media (max-width: 767.98px) {
  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 3.5rem;
  }

  h4 {
    font-size: 3rem;
  }

  h5 {
    font-size: 2.5rem;
  }

  h6 {
    font-size: 2rem;
  }

  .saito-large-p {
    font-size: 1.8rem;
  }

  p,
  .saito-mid-p {
    color: var(--saito-black);
    font-size: 1.4rem;
  }

  .saito-small-p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 320px) {
  body {
    font-size: 1.6rem;
  }
}