.mixin_crypto_overlay {
  padding: 2rem;
  background-color: var(--saito-white);
  color: black;
  line-height: 1.6em;
  font-size: 1.5em;
  width: 90rem;
}

.mixin_crypto_title {
  margin: 0.5em 0;
  font-size: 2em;
  font-weight: bold;
}

.mixin_crypto_warning {
  margin-top: 0px;
  margin-bottom: 20px;
}

.mixin_risk_acknowledge {
  max-width: 200px;
  text-align: center;
  margin-right: auto;
}

.email-appspace-deposit-overlay {
  padding: 2rem;
  background-image: linear-gradient(to bottom right, #EA4843, #f78754);
  color: #fff;
  background-position: 0em;
  background-size: 120% 100%;
  color: white;
  border-radius: 1rem;
  width: 40vw;
}

.email-appspace-deposit-overlay p {
  font-size: 17px;
}

.input-cont {
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 10px;
}

.input-cont p {
  color: #fff;
}

.input-heading {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
}

.input-elem {
  width: 99%;
  height: 35px;
  padding: 7px 10px;
  position: relative;
}

#copy-deposit-add {
  position: absolute;
  top: 54%;
  right: 4%;
  color: #444;
  cursor: pointer;
}

.copy-check::before {
  content: "\f00c";
}

.info-cont {
  display: flex;
  justify-content: space-between;
}

.info-item {}

.info-item-title {
  font-size: 13px;
  font-weight: 700;
}

.info-item-detail {
  font-size: 12px;
}

.note {
  margin-top: 30px;
  font-size: 13px;
}

.add-cont {
  display: flex;
  justify-content: space-between;
}

.add-item-cont {}

.add-input-box {
  width: 100%;
}

.email-appspace-deposit-overlay {
  max-width: 32vw;
}

.deposit_title {
  font-size: 2em;
}

.deposit_desc {
  font-size: 1.2em;
  line-height: 1.6em;
  padding-top: 10px;
  padding-bottom: 10px;
}

.deposit_qrcode {
  clear: both;
  margin-top: 10px;
  margin-bottom: 20px;
}

.deposit_address {
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 0.05em;
}

#withdrawl-confirm-cont, #withdrawl-sent-cont {
  display: none;
}

.decision-cont a {
  color: #fff;
  transition: all 0.1s ease-in-out;
}

.decision-cont a:hover {
  color: #333;
}

#saito-withdraw-overlay {
  min-width: 32vw;
  padding: 2rem;
  color: #fff;
  background-position: 0em;
  background-size: 120% 100%;
  color: white;
  overflow: hidden;
}

.mixin-withdraw-token-wrapper {
  margin-bottom: 2rem;
}

.mixin-withdraw-token-wrapper p {
  color: #fff;
}

.mixin-withdraw-input {
  margin-bottom: 1rem;
  position: relative;
  padding-bottom: 20px;
}

.no-margin {
  margin: 0px;
}

.max-amount-error {
  display: none;
  color: #5d1919;
}

.input-heading {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
}

.input-elem {
  width: 100% !important;
  height: 45px;
  padding: 10px 10px !important;
  color: var(--saito-font-color);
}

.info-cont {
  display: flex;
  justify-content: space-between;
}

.info-item {}

.info-item-title {
  font-size: 13px;
  font-weight: 700;
}

.info-item-detail {
  font-size: 12px;
}

.note {
  margin-top: 30px;
  font-size: 12px;
}

.note.withdrawl {
  font-size: 15px;
  margin-top: 25px;
  margin-bottom: 30px;
}

.add-cont {
  display: flex;
  justify-content: space-between;
}

.amount-cont {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

#mixin-warning-note {
  font-size: 1.7rem;
  color: #4a4848;
  margin-bottom: 1.5rem;
}

.mixin-no-history {
  margin-left: 2rem;
}

.mixin-txn-his-container {
  margin-top: 1rem;
}

.mixin-txn-his-container .saito-table-body {
  height: auto;
  margin-top: 1rem;
}

.amount-item-amount {
  flex-grow: 1;
}

.mixin-txn-his-container .saito-table-header {
  grid-template-columns: 15rem 15rem 15rem 15rem;
  text-align: center;
}

.mixin-txn-his-container .saito-table-row {
  grid-template-columns: 16rem 16rem 14rem 16rem;
  text-align: center;
}

.mixin-items-container {
  margin-top: 3rem;
}

.mixin-items-container .saito-table-header, .mixin-txn-his-container .saito-table-header {
  padding: 1rem 0rem;
  border-radius: 0.5rem;
  text-align: center;
  background: var(--saito-white);
  color: var(--saito-gray-mid);
}

.mixin-items-container .saito-table-header {
  grid-template-columns: 14rem 14rem;
}

.mixin-items-container .saito-table-body {
  height: auto;
}

.mixin-items-container .saito-table-row {
  grid-template-columns: 13rem 13rem 13rem 13rem 13rem;
  text-align: center;
  margin-bottom: 1rem;
}

.mixin-items-container .saito-table-row, .mixin-txn-his-container .saito-table-row {
  margin-bottom: 1rem;
}

.deposit {
  color: #14b214;
}

.withdrawal {
  color: #e34927;
}

#mixin-balance-container .mixin-item {
  width: calc(100% * (1/4));
}

.mixin-his-created-at {
  font-size: 1.15rem;
}

.mixin-balances_deposit, .mixin-balances_withdraw, .mixin-balance-history {
  color: var(--saito-primary);
}

.mixin-overlay-history {
  background: #fff;
  min-height: 20rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: var(--dreamscape);
  color: var(--saito-white);
}

/********************************************************/

/********    Checking balance overlay       *************/

.game-crypto-transfer-manager-container {
  background: #fff;
  padding: 1rem;
  width: 60rem;
  text-align: center;
  border-radius: 1rem;
}

.auth_title {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}


.from_address, .to_address {
  margin-bottom: 1rem;
  font-size: 2rem;
}


/*
  Withdrawl overlay 
*/

.token-dropdown {
  display: flex;
  position: relative;
  background: var(--saito-light-shim);
  padding-right: 0.5rem;
  border-radius: 0.5rem;
  //border: 1px solid var(--saito-font-color-light);
}

.token-dropdown img { 
  width: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
}

.token-dropdown select {
  height: 45px;
  padding: 0rem 3rem;
  border: none;
  background: none;
  font-size: 1.6rem;
}

.withdraw-address-cont {
  position: relative; 
}

.saito-overlay-form-input input {
  border: none;
  background: var(--saito-light-shim);
  color: var(--saito-gray-mid);
  font-size: 1.6rem;
}

.withdraw-options-cont {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--saito-gray-mid);
  cursor: pointer;
}

.withdraw-options-cont span {
  font-size: 1.6rem;
}


.withdrawl-notes {
  background: var(--saito-light-shim);
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  color: var(--saito-black-faded);
  font-size: 1.6rem;
}

.withdrawl-notes div:nth-child(2) {
  margin-top: 1rem;
}

#saito-overlay-submit {
  display: block;
  height: 3rem;
  padding: 0rem;
  line-height: 0rem;
  min-width: 15rem;
  width: auto;
}

.input-elements-container {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  overflow: auto;
  flex-direction: row;
}

.input-elements-container .saito-overlay-form-input {
  width: 100%;
}

.confirm-btn-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  transition: all 0.4s ease-in-out;
  margin-left: 100rem;
}

.confirm-btn-container button {
  padding: 1.5rem;
}

.confirm-msg-container {
  color: var(--saito-font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  display: flex; 
  transition: all 0.3s ease-in-out;
}

.confirm-msg-container .withdraw-msg-icon {
  font-size: 10rem;
}

.confirm-msg-container .confirm-msg {
  display: inline-block;
  width: min-content;
  text-align: center;
  min-width: 40rem;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.confirm-submit {
  transition: all 0.3s ease-in-out;
  justify-content: center;
}

.hide-element {
  display: none!important;
}


.fa-circle-notch {
  animation: spin 1.5s ease-in-out infinite;
  -webkit-animation: spin 1.5s ease-in-out infinite;
}

.dropdown-cont {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.dropdown-cont .saito-overlay-form-input {
  width: 30%;
}

.withdraw-info-cont {
  color: var(--saito-font-color);
  line-height: 2rem;
  text-align: center;
}

.withdraw-info-cont .withdraw-info-title {
  width: 11rem;
  display: block;
}

#withdraw-step-one {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#withdraw-step-two {
  gap: 3rem;
  display: flex;
  flex-direction: column;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

@media screen and (max-width: 768px) {
  .mixin-items-container .saito-table-header {
    grid-template-columns: 8rem 8rem;
  }
  .mixin-items-container .saito-table-row {
    grid-template-columns: 7rem 7rem 7rem 7rem 7rem;
  }
  .email-appspace-deposit-overlay {
    max-width: fit-content;
    width: 95vw;
  }
  .email-appspace-deposit-overlay #qrcode img {
    width: 24vw;
    height: auto;
  }
  .mixin-no-history {
    margin-top: 1rem;
    margin-left: 0rem;
  }
  .mixin-txn-his-container {
    width: 86vw;
  }
  .mixin-txn-his-container .saito-table-header {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .mixin_crypto_overlay {
    width: 99vw;
  }

  #saito-withdraw-overlay {
    min-width: 92vw;
  }
}