.uploader-uploaded-photo {
    height: auto;
    object-fit: cover;
    width: 100%;
}

.photo-uploader {
    background-color: var(--saito-background-color);
    height: 33rem;
    width: 70rem;
    /* position: absolute; */
    /* top: 50%;
	left: 50%; */
    padding: 5rem;
    /* transform: translate(-50%, -50%); */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--saito-border-color);
    font-size: 2rem;
    border-radius: 0.5rem;
    color: var(--saito-font-color);
}

@media (max-width: 768px) {
    .photo-uploader {
        width: 90vw;
        padding: 5vw;
    }
}

@media (max-width: 480px) {
    .photo-uploader {
        width: 95vw;
        font-size: calc(14px + 1vw);
    }
}

.uploader-content {
    display: none;
    height: 100%;
    width: 100%;
    padding: 5rem;
    position: absolute;
}

.uploader-actions {
    width: calc(100% - 10rem);
    position: absolute;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    z-index: 10;
}

.uploader-actions> :nth-child(1) {
    margin-right: 1rem;
}

@media (max-width: 768px) {
    .uploader-actions {
        flex-direction: column;
        justify-content: center;
    }
    .uploader-actions> :nth-child(1) {
        margin-right: 0;
        margin-bottom: 1rem;
    }
}