.saito-progress-bar-container{
	background-color: var(--background-progress-bar);
	width: 100%;
	height: 3rem;
	padding: 0 2rem;
	display: flex;
	align-items: center;
	background-size: 400% auto;
	position: absolute;
    z-index: 999;
    border-radius: var(--border-radius-progress-bar);
    border: var(--border-thickness-progress-bar) solid var(--border-color-progress-bar);
}

.saito-progress-bar-container.active{
	background: var(--background-color-progress-bar);
	animation: shimmer 1.5s infinite alternate; ease-in-out;
}

.saito-progress-bar {
	color: var(--font-color-progress-bar);
	text-shadow: var(--text-shadow-progress-bar);	
	text-wrap: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@keyframes shimmer {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 99% 99%;
	}
}

