/* ----------------------------------------------------------------
Left Sidebar
-----------------------------------------------------------------*/


.saito-left-menu-header {
    background-color: var(--saito-white);
    border: 1px solid var(--saito-primary);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .9rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    border-right: none;
    border-left: none;


}

.saito-left-menu-header h5 {
    font-size: 1.92rem
}

.saito-left-menu-header i {
    font-size: 1.92rem;
    margin-left: auto;
    cursor: pointer;
    color: var(--saito-default-font-color);

}


.saito-left-menu-body {
    background-color: var(--saito-white);
}




.saito-chat-room-list {}

.saito-chat-room {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: min-content minmax(35%, 1fr) min-content;
    padding: 1rem 0;

    cursor: pointer;

}

.saito-chat-room:hover {
    filter: opacity(.8);
}

.saito-chat-room>img {
    width: 5rem;
    height: 5rem;
    border-radius: .5rem;
}

.saito-chat-room>div {
    display: flex;
    flex-direction: column;

    width: 100%;

}


.saito-chat-room>div>p:first-child {
    font-weight: 1000;
    margin-bottom: .5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;



}

.saito-chat-room>p {
    font-weight: 1000;
}




/* ----------------------------------------------------------------
Right sidebar 
-----------------------------------------------------------------*/

.saito-right-sidebar-content {
    min-height: 30vh;
    width: 26rem;
    background-color: var(--saito-white);
    padding: 1rem 1rem;
}

.saito-search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--saito-border);
    border-radius: .5rem;
    padding: 0 .8rem
}

.saito-search-bar input {
    border: none;
    padding-left: 1rem;

}

.saito-search-bar i {
    font-size: 1.8rem;
    color: var(--saito-border);
}


@media screen and (max-width: 1200px) {

    .saito-left-menu-header {
        padding-left: 1.9rem;

    }

    .saito-left-menu-body {
        padding-left: 1rem;
    }
}

@media screen and (max-width: 503px) {

    .saito-left-menu-header {
        padding-left: 1rem;

    }

    .saito-left-menu-body {
        padding-left: 0rem;
    }
}