#saito-alert-shim {
  z-index: 2000;
  background-color: var(--saito-dark-shim);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

#saito-alert-box {
  width: 75vw;
  max-width: 70rem;
  transition: all 333ms ease-in-out;
  background: var(--saito-background-color);
  margin: 1rem auto;
  position: relative;
  top: -50rem;
  border: 1px solid var(--saito-border-color);
  border-radius: 0 0 5px 5px;
  padding: 1em;
  color: var(--saito-font-color);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#saito-alert-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-flow: row-reverse;
}

#saito-alert-buttons button {
  min-width: 20rem;
}

#saito-alert-box p {
  font-family: "visuelt-light", "Microsoft Yahei", "Hiragino Sans GB";
  font-size: 1.4em;
  text-align: center;
  align-self: center;
  font-weight: bold;
  display: block;
  margin: 1em 0;
  overflow-wrap: break-word;
}