.saito-camera {
  position: relative;
  width: fit-content;
  display: block;
  background-color: var(--saito-black);
}

.saito-camera #video {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width: 320px;
  height: 240px;
}

.saito-camera #photo-preview {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width: 320px;
  height: 240px;
}

.saito-camera #canvas {
  display: none;
}

.saito-camera .camera-controls {
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  font-size: 40px;
  color: rgba(255, 255, 255, 1);

}

.saito-camera .saito-camera i {
  border-radius: 100%;
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  background-color: var(--saito-primary);
  margin: 1rem;
  cursor: pointer;

}

.first-phase{
  visibility: hidden;
}

.video .first-phase {
  visibility: visible;
}

.second-phase {
  visibility: visible;
}

.video .second-phase {
  visibility: hidden;
}

.saito-camera #flip {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 32px;
  color: var(--saito-primary);
  background-color: rgba(255, 255, 255, 1);
  width: fit-content;
  padding: 0.5rem;
}