footer {
  margin-top: 2rem;
  padding: 1.3rem 3rem;
  background-color: var(--saito-black);
  color: var(--saito-paper);
  display: flex;
  align-items: stretch;
  border-top: 1px solid var(--saito-paper);
  /* position: absolute; */
  /* bottom: 0; */
  width: 100vw;
  margin-top: 6rem;
}

footer > img {
  width: 14rem;
  margin-right: 4rem;
  height: 9rem;
  object-fit: contain;
}

footer > .links,
.contact-us {
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  border-right: 1px solid var(--saito-border);

  font-size: 1rem;
  justify-content: space-between;
}

footer > .contact-us {
  justify-content: center;
  align-items: center;
}

footer > .contact-us a:nth-child(1) {
  font-size: 1.4rem !important;
  margin-bottom: 0.5;
}
footer > .contact-us a:nth-child(2) {
  font-size: 1rem !important;
}

.links a {
  margin-bottom: 0.5rem;
}

.links a:hover {
  color: var(--saito-secondary);
}

.contact-us a:hover {
  color: var(--saito-secondary);
}

@media screen and (min-width: 1800px) {
  footer {
    padding: 1.3rem 9rem;
  }
}

@media screen and (max-width: 730px) {
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
  }

  footer > img {
    width: 10rem;
  }

  footer > .links,
  .contact-us {
    border-right: none;
  }
}
@media screen and (max-width: 500px) {
  #hamburger-contents {
    width: 100vw;
  }
}
