.saito-sidebar {
    min-width: 26rem;
    margin-bottom: 1.5rem;
    position: sticky;
    min-height: 30vh;
    max-height: 100vh;
    background-color: var(--saito-white);
    top: calc(var(--saito-header-height) + 1rem);
}

.saito-sidebar.left {
    margin-right: 1.5rem;

}


.saito-sidebar.right {
    width: 26rem;
    padding: 1rem;
    background-color: var(--saito-white);
}

/* 
.saito-left-sidebar-mobile {
  

} */

.saito-sidebar.left.mobile {
    transform: translateX(0);
}

.saito-sidebar.left.mobile .hamburger {
    transform: translateX(0);
}

.saito-sidebar.left .hamburger {
    content: "";
    width: 5rem;
    z-index: 12;
    height: 5rem;
    border-radius: 50%;
    background-color: red;
    display: none;
    position: fixed;
    bottom: 3rem;
    z-index: 4;
    left: 4rem;

    cursor: pointer;

}

.saito-sidebar.left .hamburger i {
    font-size: 3rem;
    color: var(--saito-white);

}



.saito-left-sidebar-hamburger:hover {
    transform: scale(1.05);
}


.saito-main {
    width: 100%;
    min-height: 100vh;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: var(--saito-white);
    padding: 1rem;
}




@media screen and (max-width: 1200px) {
    .saito-sidebar.left {
        position: fixed;
        transform: translateX(-4000px);
        top: calc(var(--saito-header-height));
        z-index: 2;
        width: 35rem;
        height: 100vh;
        background-color: var(--saito-white);
        left: 0;
        border-right: 1px solid var(--saito-primary);


    }

    .saito-sidebar.left .hamburger {
        transform: translateX(4000px);
        visibility: visible;
        left: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 12rem;

    }





}

@media screen and (max-width: 876px) {
    .saito-sidebar.right {
        min-width: auto;
    }
}

@media screen and (max-width: 854px) {

    .saito-sidebar.right {
        display: none;
    }
}

@media screen and (max-width: 768px) {


    .saito-sidebar.left {
        left: 0;
        width: 100%;

    }







}