/* ----------------------------------------------------------------
Saito User
-----------------------------------------------------------------*/

.square {
    border-radius: 0px;
}

.saito-main {
    width: 65rem;
}

.saito-userline {
  color: #888;
}

.saito-user {
    display: grid;
    cursor: pointer;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: 1fr 1fr;
    justify-items: start;
    margin-bottom: 1px;
    width: 100%;
}
.saito-user > div:nth-child(1) {
    margin-right: 1rem;
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row: span 2;
}

/* this hack is required in chrome to force */
/* the name to steal the upper row from the */
/* timebox, so the name does not cut off    */
.saito-user > .saito-username-long:nth-child(2) {
    grid-column-end: 4;
}

.saito-user > div:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
}

.saito-user > div:nth-child(3) {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
    font-size: 1.4rem;
}

.saito-user > div:nth-child(4).saito-user-alert , .saito-user-alert {
    grid-row-start: 1;
    grid-row-end: 3;
    font-size: 3rem;
    background-color: var(--saito-primary);
    color: white;
    padding: 1rem;
    white-space: nowrap;
}

.saito-user > div:nth-child(4) {
    cursor: pointer;
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-rows: span 2;
    font-size: 1.4rem;
    align-items: top;
}


.saito-user > .saito-datetime {
    align-items: top;
    grid-row-start: 2;
    grid-row-end: span 1;
}


/* ----------------------------------------------------------------
Saito Page Header
-----------------------------------------------------------------*/
.saito-page-header {
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.saito-page-header-title {
    color: #222;
    font-size: 3.25rem;
    padding-top: 0.5rem;
}
.saito-page-header-button {
    float: right;
}
.saito-page-header-text {
    font-size: 1.6rem;
    line-height: 2.1rem;
    clear: both;
    padding-top: 1rem;
}


/* ----------------------------------------------------------------
Saito Table
-----------------------------------------------------------------*/
.saito-table {
  background-color: #fff;
  display:grid;
  grid-template-columns: auto;
}
.saito-table-row {
    align-items: center;
}
.saito-table-row.odd {
  background-color: #fafafa;
}


/* ----------------------------------------------------------------
Saito Leaderboard
-----------------------------------------------------------------*/
.saito-leaderboard .saito-table .saito-table-row {
    display: grid;
    grid-template-columns: 1fr min-content;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


/* ----------------------------------------------------------------
Saito Module Boxes
-----------------------------------------------------------------*/
.redsquare-games-container {
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
}


.saito-module {
    min-height: 370px;
    min-width: 44%;
    display: grid;
    grid-template-rows: min-content 1fr;
    position: relative;
    border-radius: 2rem;
    border:  1px solid;
    border-top: none;
    margin-bottom: 2rem;
}
.saito-module-image {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    width: 100%;
    height: 100%;
    background-size: cover;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    /* border-bottom-left-radius: inherit; */
    /* border-bottom-right-radius: inherit; */
    grid-column: span 1 / auto;
    grid-row: span 1 / auto;
}
.saito-module-controls {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #fff;
    z-index: 2;
    font-size: 22px;
    cursor: pointer;
    grid-row: 1;
}
.saito-module-title {
    color: rgb(255, 255, 255);
    font-size: 1.6em;
    margin-top: -49px;
    font-weight: bold;
    z-index: 2;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    padding: 10px 15px;
    grid-row: 3;
}
.saito-module-title-text {
    margin-top: 0.3rem;
    display: block;
    float: left;
}


/* ----------------------------------------------------------------
Saito Module Boxes
-----------------------------------------------------------------*/
.saito-loader {
  animation: spin;
  width: 100px;
  height: 115px;
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-image: url(/saito/img/logo-color.svg);
  background-size: contain;
} 
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}



.saito-button-secondary .small .saito-module-install-button {
  width: min-content;
  padding-left: 2rem;
  padding-right: 2rem;
  float: right;
  background-color: white;
  margin: 0px;
}








.saito-game {
    min-height: 370px;
    min-width: min-content;
    display: grid;
    grid-template-rows: 1fr min-content;
    position: relative;
    border-radius: 2rem;
    border:  1px solid;
    border-top: none;
    margin-bottom: 2rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}
.saito-game-controls {
    display: grid;
    grid-template-columns: 1fr min-content;
    padding: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.saito-game-controls > div:nth-child(1) {
    font-size: 1.1em;
    color: #ea462f;
    font-weight: bold;
    cursor: pointer;
}
.saito-game-controls > div:nth-child(2) {
    border-bottom: 1px dashed red;
    white-space: nowrap;
}

.settlers .saito-game-image {
    background: url(https://saito.io/settlers/img/arcade/arcade.jpg);
    background-size: cover;
}
.chess .saito-game-image {
    background: url(https://saito.io/chess/img/arcade/arcade.jpg);
    background-size: cover;
}
.spider .saito-game-image {
    background: url(https://saito.io/spider/img/arcade/arcade.jpg);
    background-size: cover;
}
.imperium .saito-game-image {
    background: url(https://saito.io/imperium/img/arcade/arcade.jpg);
    background-size: cover;
}
.twilight .saito-game-image {
    background: url(https://saito.io/twilight/img/arcade/arcade.jpg);
    background-size: cover;
}
.wuziqi .saito-game-image {
    background: url(https://saito.io/wuziqi/img/arcade/arcade.jpg);
    background-size: cover;
}
.wordblocks .saito-game-image {
    background: url(https://saito.io/wordblocks/img/arcade/arcade.jpg);
    background-size: cover;
}
.scotland .saito-game-image {
    background: url(https://saito.io/scotland/img/arcade/arcade.jpg);
    background-size: cover;
}
.hereistand .saito-game-image {
    background: url(https://saito.io/his/img/arcade/arcade.jpg);
    background-size: cover;
}
.spider .saito-game-image {
    background: url(https://saito.io/spider/img/arcade/arcade.jpg);
    background-size: cover;
}
.solitrio .saito-game-image {
    background: url(https://saito.io/solitrio/img/arcade/arcade.jpg);
    background-size: cover;
}





/* ----------------------------------------------------------------
Saito Arcade Invite
-----------------------------------------------------------------*/

.saito-arcade-invite {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: 1fr;
  padding: 1rem;
  column-gap: 0.0rem;
}

.saito-arcade-invite-graphic {
  grid-column-start: 1;
  grid-column-end: span 1;
  max-width: 10rem;
  max-height: 8rem;
  height: 8rem;
  width: 10rem;
}
.saito-arcade-game-image {
  height: 100%;
  width: 100%;
  opacity: 0.8;
}

.saito-arcade-invite-name-container {
  grid-column-start: 2;
  grid-column-end: span 1;
  padding-top: 0.5rem;
  display: grid;
  font-size: 3rem;
  padding-left: 1rem;
  background-image: url('/redsquare/images/orange_left.png');
  background-repeat: no-repeat;
  background-position-x: right;
}
.saito-arcade-invite-details {
  grid-column-start: 3;
  grid-column-end: span 1;
  display: grid;
  background-image: url('/redsquare/images/orange_right.png');
  background-size: cover;
  min-width: 10rem;
  color: white;
  font-weight: bold;
}
.saito-arcade-invite-details-summary {
    font-size: 1.7rem;
    padding-top: 2rem;
    text-align: center;
    padding-right: 2rem;
}
.saito-arcade-invite-controls {
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
}
.saito-arcade-invite-controls-button {
}
.saito-arcade-invite-controls-button.saito-button-secondary.small {
    height: 2.5rem;
    width: 6rem;
    margin: 0;
    margin-left: 1rem;
    min-width: 6.5rem;
    float: right;
}
.saito-arcade-invite-slots {
}
.saito-arcade-invite-slot {
    height: 3rem;
    margin: 0.0em 0.2em;
    float: left;
    width: 3rem;
}
.saito-identicon.small {
    width: 3.8rem;
    height: 3.8rem;
}
.saito-identicon.smaller {
    width: 3rem;
    height: 3rem;
}
.saito-identicon.empty {
    background-color: #8884;
    box-shadow: 1px 1px #ccc, 1px 1px #333 inset;
}
