.saito-inviter {
    width: 45vw;
    background-color: #fff;
    height: 30vh;
    border-radius: 2rem;
    padding: 3rem;
}

.saito-inviter h5 {
  
}

.saito-invite-button {
  margin: 0px;
}

.saito-invite-address{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.saito-invite {
    margin-top: 2rem;
}


