.scheduler-overlay-container {
  background-color: #fff;
  width: 58vh;
  height: 70vh;
  border-radius: 15px;
  padding: 20px;
}

.overlay-content-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 0px;
  margin-bottom: 3rem;
}

.overlay-content-item {
  //padding: 15px;
}

.scheduled-icon {
  width: 30%;
}

.scheduled-icon i {
  font-size: 7rem;
  transform: rotate(19deg);
}

.scheduled-item {
  width: 70%;
}

.scheduler-overlay-control-btn {
  display: inline-block;
  width: 47%;
}

.hide {
  display: none;
}

.schedule-game-img {
  height: 4.7rem;
}

.scheduled-game-box-container{
  position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1.6rem;
}

.scheduled-game-box-item {
  margin-right: 1.3rem;
}

.scheduled-game-box-item. {
  width: 28rem; 
}

.scheduler-controls-container {
  position: absolute;
  bottom: 15px;
  width: 95%;
}

.schedule-input-container {
  margin-bottom: 20px;
  float: none;
}

.saito-select {
  display: inline-block;
}

.saito-select, .saito-select-wrapper {
  width: min-content;
  min-width: 15rem;
}

.event-type-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.saito-select-btn {
  height: 3.9rem;
  min-width: 15rem;
  width: min-content;
  margin-right: 2rem;
}

.event-type-container {
  margin-top: -2rem;
}

.event-type-container.datetime {
  margin-top: 0px;

}

.schedule-type-container .saito-select-btn{
  margin-right: 0px;
}

.event-type-container.datetime .saito-select-btn{
  min-width: 20rem;
  margin-top: -2rem;
  margin-left: 20px; 
}

.input-title {
  margin-bottom: 5px;
}

.scheduler-datetime-input {
  height: 3.8rem;
  border: 1px solid var(--saito-border);
  padding: 0px 1rem;
  border-radius: 0.4rem;
}

.schedule-input-container.contact-list {
  max-height: 13rem;
  overflow-y: scroll;
}

.schedule-input-container.contact-list .saito-user {
  max-height: 7rem;
}

.schedule-input-container.contact-list .saito-username{
  max-width: 100%;
}

.schedule-input-container.contact-list .invite-btn {
  margin-left: 2.5rem; 
  display: inline-block;
}
