.saito-tooltip {
    display: inline-block;
    position: relative;
}

/*changed - 1*/
.saito-tooltip .saito-tooltip-icon {
    margin: 0rem 1rem;
    color: var(--saito-color-white);
    cursor: pointer;
    font-size: 2rem;
}

/*changed - 1*/
.saito-tooltip .saito-tooltip-info {
    border-radius: 1rem;
    position: fixed;
    background: var(--saito-color-white);
    padding: 1rem;
    z-index: 2;
    color: var(--saito-color-heavy);
    font-weight: 400;
    min-width: 20rem;
}

.tooltip-info-hide {
    display: none;
}

