/*  alert  */

.saito-notification-dot {
  min-width: 2rem;
  min-height: 2rem;
  border-radius: 0.5rem;
  background-color: var(--background-color-notification-status); 
  color: var(--color-white); /* testing */
  position: absolute;
  bottom: 2.5rem;
  left: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  line-height: 1.8rem;
}

.saito-header-appspace-option .saito-notification-dot {
  left: 60%;
  bottom: unset;
  top: 5%;
}

.online-status-indicator:after {
  position: absolute;
  display: none;
  content: "";
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--background-color-notification-status);
}

.online .online-status-indicator:after, .stun .online-status-indicator:after {
  display: block;
  top: 2.9rem;
  left: 2.75rem;
  border: 20px solid var(--border-color-notification-status);
}

.stun .online-status-indicator{
}

.online-status-indicator i {
  display: none;
  position: absolute;
}

.stun .online-status-indicator i {
  display: block;
  top: 2.9rem;
  left: 2.75rem;
  font-size: 8px;
}

.busy .online-status-indicator:after {
  background-color: var(--background-color-notification-status-after);
}


.fileshare-info {
  display: grid;
  grid-template-columns: 20rem 25rem 20rem;
  text-align: center;
}
