/* ----------------------------------------------------------------
Saito Module Stubs - horizontal bar with image left
-----------------------------------------------------------------*/
.saito-module-imagebox {
    min-height: 240px;
    min-width: 300px;
    border: 1px solid;
    background: url(/saito/img/dreamscape.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.minimize .saito-module-imagebox{
    min-height: unset;
    height: fit-content;
}

.saito-module-imagebox-titlebar {
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.5);
    /*margin-top: 1px;*/
    font-size: 1.6em;
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    padding: 1rem 1.5rem;
    height: min-content;
}

.minimize .saito-module-imagebox-titlebar{
    border-radius: 0.5rem 0.5rem 0 0;
}

.saito-module-imagebox-title {
    float: left;
}
.saito-module-imagebox-button {
    width: min-content;
    float: right;
    background-color: white;
}



/* ----------------------------------------------------------------
Saito Module Stubs - horizontal bar with image left
-----------------------------------------------------------------*/




/* ----------------------------------------------------------------
Saito Module
-----------------------------------------------------------------*/
.saito-module {
  font-size: 1.6rem;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  padding: 1rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: min-content 1fr;
  background: var(--saito-gray);
}
.saito-module.small {
  font-size: 1.3rem;
}
.saito-module.large {
  font-size: 2.5rem;
}

.saito-module > * {
  height: 100%;
}

.saito-module-image-box > .saito-module-image {
  height:10rem;
  width: 15rem;
  margin-right: 0.5rem;
  background-image: url('https://saito.io/saito/img/dreamscape.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.saito-module > * > .saito-module-image { 
  height:10rem;
  width: 15rem;
}

.saito-module.small > * > .saito-module-image { 
    height: 5.4rem;
    width: 10rem;
}

.saito-module.large > * > .saito-module-image { 
  height:20rem;
  width: 30rem;
  background-size: cover;
}

.saito-module-title {
  font-weight: bold;
  margin-bottom: 1rem;
}


/* ----------------------------------------------------------------
Saito Module
-----------------------------------------------------------------*/




/* ----------------------------------------------------------------
Saito Module X
-----------------------------------------------------------------*/

.saito-module-x .saito-module {
    grid-template-columns: min-content 3fr 1fr;
}

.saito-module-image-box > .saito-module-image {
    margin-right: 0px;
}

.saito-module-x .saito-module-details-box {
    margin-left: 1rem;
}

.saito-module-x .saito-module-title {
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: capitalize;
}

.saito-module-x.large .saito-module-title { 
    font-size: 4rem;
}

.saito-module-x.large .saito-module-title { 
    font-size: 2.3rem;
}

.saito-module-x .saito-module-custom-box {
    padding-left: 1rem;
    height: inherit;
    position: relative;
    min-width: 12rem;
    text-align: right;
}

.saito-module-x .saito-module-action {
    font-size: 1.8rem;
    border-bottom: 1px dotted var(--saito-primary);
    color: var(--saito-primary);
}

.saito-module-x .saito-module-option {
    position: absolute;
    bottom: 0px;
    right:  0px;
    font-size: 1.5rem;
}

/* ----------------------------------------------------------------
Saito Module X
-----------------------------------------------------------------*/
