/*.saito-container {
    margin-top: var(--saito-header-height);
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    position: relative;
    padding: 1rem calc((100vw - var(--saito-width)) / 2);
}*/

/*.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 1 / 4 / 2 / 5; }*/

.saito-container {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-column-gap: 2rem;
    position: relative;
    max-width: var(--saito-width);
    margin: auto;
    min-height: 100vh;
}

.saito-main {
    background-color: var(--saito-white);
    padding: 2rem 0;
    margin-top: var(--saito-header-height);
}

.saito-sidebar {
    min-width: 26rem;
    margin-bottom: 1.5rem;
    position: sticky;
    min-height: 30vh;
    max-height: 100vh;
    grid-area: 1 / 3 / 2 / 4;
    background-color: var(--saito-white);
    top: calc(var(--saito-header-height) + 1rem);
}

.saito-sidebar.left {
    /* margin-right: 1.5rem;
    //grid-column: 1/ 2;
    //grid-row: 1/2; */
    grid-area: 1 / 1 / 2 / 2;
    padding-top: 1rem;
    z-index: 9;
}

.saito-sidebar.right {
    min-width: 26rem;
    padding: 1rem;
    background-color: var(--saito-white);
    grid-column-start: 3;
    grid-row: 1/2;
}

.saito-sidebar.right.mobile {
    visibility: visible;
}

.saito-sidebar.left.mobile {
    visibility: visible;
}

.saito-sidebar.left.mobile .hamburger {

}

.saito-sidebar.left .hamburger {
    content: "";
    width: 5rem;
    z-index: 12;
    height: 5rem;
    border-radius: 50%;
    background-color: var(--saito-primary);
    display: none;
    position: fixed;
    bottom: -1rem;
    z-index: 10;
    left: 1rem;
    cursor: pointer;
}

.saito-sidebar.left .hamburger:hover {
    /* transform: scale(1.05); */
}

.saito-sidebar.left .hamburger i {
    font-size: 3rem;
    color: var(--saito-white);
}


.saito-sidebar.right .caret {
    content: "";
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: var(--saito-primary);
    display: none;
    position: fixed;
    bottom: -1rem;
    right: 1rem;
    cursor: pointer;
    z-index: 10;
}


.saito-sidebar.right .caret i {
    font-size: 3rem;
    color: var(--saito-white);
}


/* ----------------------------------------------------------------
 Sidebars
-----------------------------------------------------------------*/

.saito-sidebar>div:not(:last-child) {
    margin-bottom: 2rem;
}

/* ----------------------------------------------------------------
 Media Queries
-----------------------------------------------------------------*/

@media screen and (max-width: 1500px) {
    .saito-container {
        grid-template-columns: 0 1fr min-content;
    }

    .saito-sidebar.left {
        position: fixed;
        top: calc(var(--saito-header-height));
        visibility: hidden;
        z-index: 2;
        width: 35rem;
        height: 100vh;
        background-color: var(--saito-white);
        left: 0;
        border-right: 1px solid var(--saito-primary);
    }

    .saito-sidebar.left .hamburger {
        visibility: visible;
        left: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: -1rem;
    }


    .saito-sidebar .section>div:nth-child(2) {
        padding-left: 1rem;
    }
}

@media screen and (max-width: 65rem) {

    .saito-sidebar.left,
    .saito-sidebar.right {
        left: 0;
        width: 100% !important;
    }

    .saito-sidebar.right {
        position: fixed;
        top: 0;
        visibility: hidden;
        margin-top:  var(--saito-header-height);;
        background-color: var(--saito-white);
        height: 100vh;
        z-index: 12;
    }

    .saito-sidebar.right .caret {
        visibility: visible;
        right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .saito-container::after {
        display: inline-block !important;
        background: #4444;
        height: 7rem;
        content: " ";
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    
}

@media screen and (max-width: 503px) {
    .saito-sidebar .section>div:nth-child(1) {
        padding-left: 1rem;
    }

    .saito-sidebar .section>div:nth-child(2) {
        padding-left: 0rem;
    }
}



@media screen and (max-width: 396px) {
    .saito-sidebar.left .hamburger {
        left: 1rem;
        bottom: -1rem;
    }
    .saito-sidebar.right .caret {
        right: 1rem;
        bottom: -1rem;
    }
}