
emoji-picker {
  position: absolute;
  height: 40rem;
  bottom: 7rem;
  width: 30rem;
  right: 5rem;
  --emoji-size: 2rem;
  --emoji-padding: 0.5rem;
  z-index: 2;
}

.saito-emoji-container {
  width: 100%;
  position: relative;
}

.saito-emoji {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.8rem 0.5rem;
  color: var(--saito-primary);
  cursor: pointer;
  transition: all 0.2s;
  font-size: 2rem;
}