/* ----------------------------------------------------------------
Saito List,Saito User List and Saito User 
-----------------------------------------------------------------*/

.saito-list {
    padding: 1rem;
    z-index: 1;
}

.saito-list.horizontal {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 20rem));
    grid-gap: 1rem;
}

/*  Default Size */
.saito-list>div:not(:last-child) {
    margin-bottom: 1rem;
}

.saito-list.horizontal>div:not(:last-child) {
    margin-bottom: 0;
}

.saito-userbox,
.saito-list-user,
.saito-list-chatbox,
.saito-list-game {
    display: flex;
    position: relative;
    justify-items: start;
    margin-bottom: 1px;
    width: 100%;
}



.saito-userbox>div:nth-child(1),
.saito-list-user>div:nth-child(1),
.saito-list-chatbox>div:nth-child(1),
.saito-list-game>div:nth-child(1) {
    margin-right: 1rem;
}

.saito-userbox>div:nth-child(1)>img,
.saito-list-user>div:nth-child(1)>img,
.saito-list-chatbox>div:nth-child(1)>img {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: .5rem;

    transition: all 400ms cubic-bezier(.47, 1.64, .41, .8);
}

.saito-list-game>div:nth-child(1)>img {
    width: 7rem;
    height: 5rem;
    border-radius: .5rem;
    margin-right: 1rem;
    transition: all 400ms cubic-bezier(.47, 1.64, .41, .8);
}

.saito-userbox>div:nth-child(2),
.saito-list-user>div:nth-child(2),
.saito-list-chatbox>div:nth-child(2),
.saito-list-game>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center; */
    width: 75%;
}

.saito-userbox>div:nth-child(2)>div,
.saito-list-user>div:nth-child(2)>div,
.saito-list-chatbox>div:nth-child(2)>div,
.saito-list-game>div:nth-child(2)>div {
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.6rem;
    margin-bottom: .5rem;
}

.saito-userbox>div:nth-child(2)>p,
.saito-list-user>div:nth-child(2)>p,
.saito-list-chatbox>div:nth-child(2)>p,
.saito-list-game>div:nth-child(2)>p {
    font-size: 1.3rem;
}

.saito-userbox>div:nth-child(3),
.saito-list-user>div:nth-child(3),
.saito-list-chatbox>div:nth-child(3),
.saito-list-game>div:nth-child(3) {
    top: 0;
    cursor: pointer;
    font-size: 1.4rem;
    top: 0;
    position: absolute;
    right: 0rem;
    display: flex;
    align-items: center;
}

/*  Small Size */

.saito-userbox.small>div:nth-child(1)>img,
.saito-list-user.small>div:nth-child(1)>img,
.saito-list-chatbox.small>div:nth-child(1)>img {
    width: 3rem;
    height: 3rem;
    border-radius: .5rem;
    margin-right: 1rem;
    transition: all 400ms cubic-bezier(.47, 1.64, .41, .8);
}

.saito-list-game.small>div:nth-child(1)>img {
    width: 5rem;
    height: 3rem;
    margin-right: .8rem;
}

.saito-userbox.small>div:nth-child(2)>div,
.saito-list-user.small>div:nth-child(2)>div,
.saito-list-chatbox.small>div:nth-child(2)>div,
.saito-list-game.small>div:nth-child(2)>div {
    font-size: 1.4rem;
}

.saito-userbox.small>div:nth-child(2)>p,
.saito-list-user.small>div:nth-child(2)>p,
.saito-list-chatbox.small>div:nth-child(2)>p,
.saito-list-game.small>div:nth-child(2)>p {
    font-size: 1.1rem;
}

/*  Large Size */

.saito-userbox.large>div:nth-child(1)>img,
.saito-list-user.large>div:nth-child(1)>img,
.saito-list-chatbox.large>div:nth-child(1)>img {
    width: 6.5rem;
    height: 6.5rem;
    border-radius: .5rem;
    margin-right: 1.2rem;
    transition: all 400ms cubic-bezier(.47, 1.64, .41, .8);
}

.saito-list-game.large>div:nth-child(1)>img {
    width: 8.5rem;
    height: 6.5rem;
    margin-right: .8rem;
}

.saito-userbox.large>div:nth-child(2)>div,
.saito-list-user.large>div:nth-child(2)>div,
.saito-list-chatbox.large>div:nth-child(2)>div,
.saito-list-game.large>div:nth-child(2)>div {
    font-size: 1.8rem;
}

.saito-userbox.large>div:nth-child(2)>p,
.saito-list-user.large>div:nth-child(2)>p,
.saito-list-chatbox.large>div:nth-child(2)>p,
.saito-list-game.large>div:nth-child(2)>p {
    font-size: 1.5rem;
}

.saito-user-dropdown {
    position: absolute;
    right: 2rem;
    top: 1rem;
    width: 20rem;
    background-color: var(--saito-gray);
    z-index: 2;
    display: none;
}

.saito-user-dropdown.show {
    display: block;
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 768px) {
    .item-info {
        width: 70%;
    }

    .item-info span {
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .saito-list>div>img {
        width: 3.5rem;
        height: 3.5rem;
    }

    .saito-list.rectangle .item-info {
        width: 70%;
    }

    .saito-list.rectangle .item-info span {
        max-width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .saito-list.rectangle>div>img {
        width: 5rem;
        height: 3.5rem;
    }
}

@media screen and (max-width: 320px) {}

