/* ----------------------------------------------------------------
buttons
-----------------------------------------------------------------*/

@import url("./saito-colors.css");
button, .saito-button-primary {
  background: var(--saito-primary);
  text-align: center;
  padding: 1rem 1.5rem;
  text-align: center;
  letter-spacing: 1px;
  margin: 2rem 0;
  font-size: 1.8rem;
  min-width: 18rem;
  color: #fff;
  font-weight: 500;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: .5rem;
  border: none;
  border: 1px solid transparent;
}

.saito-button-secondary {
  border: 1px solid var(--saito-primary);
  display: inline-block;
  font-weight: 500;
  text-align: center;
  line-height: 1.2;
  color: var(--saito-primary);
  background: transparent;
}

.saito-button-gradient {
  background: var(--dreamscape)
}

.saito-button-primary:hover {
  background: var(--saito-white);
  color: var(--saito-primary);
  border: 1px solid var(--saito-primary);
}

.saito-button-secondary:hover {
  background: var(--saito-primary);
  color: var(--saito-white);
}

button.small, .saito-button-primary.small, .saito-button-secondary.small, .saito-button-gradient.small {
  padding: .75rem .7rem;
  font-size: 1.4rem;
  min-width: 4rem;
}

button.large, .saito-button-primary.large, .saito-button-secondary.large, .saito-button-grandient.large {
  padding: 1.5rem 2rem;
  min-width: 27rem;
  font-size: 2.2rem;
}