
.saito-file-transfer-overlay {
	width: min(45rem, 90vw);
	height: min(45rem, 90vh);
	padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.teleporter-status-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem;
	margin: 0.5rem;
}

.fixed-width {
  font-family: monospace;
}


/**** Temporary for developing file transfer in chat ***/
.saito-file-transfer{
  border-radius: var(--border-radius-file-transfer);
  position: relative;
  border: 1px dashed;
  display: grid;
  align-items: center;
  margin: 1rem 0;
  padding: 1rem;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 2rem;
  justify-items: flex-end;
}

.file-transfer-progress{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background-color: var(--saito-primary);
  z-index: -1;
}

.saito-file-transfer i {
  font-size: 4rem;
  grid-row: 1 / span 2;
}


.saito-file-uploader.needs-file {
  text-decoration: underline;
  cursor: pointer;
}

.file-button-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.hideme {
  display: none;
}