select {
  width: 100%;
  cursor: pointer;
}

/* ----------------------------------------------------------------
Selects
-----------------------------------------------------------------*/
.saito-select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background-color: transparent;
  overflow: hidden;
  width: 100.01%;
  border-radius: 0 1rem 1rem 0;
  outline: none;
  background-color: none;
}

.saito-select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  color: var(--color-white);
  background-color: var(--color-primary);
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
  border-radius: 0 1rem 1rem 0;
  height: 100%;
  width: 5rem;
  display: flex;
  justify-content: center;
}

.saito-select:hover::after {
  color: var(--color-white) !important;
}

.saito-select .saito-slct {
  font-size: 2rem;
}

.saito-slct {
  appearance: none;
  background-color: var(--color-white);
  border-radius: 1rem;
  padding: 0 1rem;
}

textarea,
input {
  background-color: var(--background-color-form-input);
  color: var(--font-color-form-input);
  border: var(--border-thickness-form-input) solid var(--border-color-form-input);
}




textarea:focus, input:focus, select:focus {
  outline: none;
}

option {
  background: var(--background-color-main);
  color: var(--saito-font-color);
}

option:hover, option:focus{
  color: violet;
}

/* ----------------------------------------------------------------
text and password inputs
-----------------------------------------------------------------*/

input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="datetime-local"] {
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  width: 20rem;
  color: var(--saito-font-color);
  border-radius: .5rem;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime-local"] {
  outline: none;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: var(--saito-font-color);
  opacity: 0.33;
}

/* ----------------------------------------------------------------
checkbox input
-----------------------------------------------------------------*/

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  border: var(--border-thickness-form-input-checkbox) solid var(--border-color-form-input-checkbox);
  width: 2rem;
  height: 2rem;
  margin: 3px 0.5rem;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

input[type="checkbox"]::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  opacity: 0;
}

input[type="checkbox"]:checked {
  background-color: var(--background-color-form-input-checkbox-checked);
}

input[type="checkbox"]:checked::after {
  color: var(--font-color-form-input-checkbox-checked);
  opacity: 1;
}

/* ----------------------------------------------------------------
radio inputs
-----------------------------------------------------------------*/

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  border: var(--border-thickness-form-input-checkbox) solid var(--border-color-form-input-checkbox);
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
  border-radius: 3px;
  position: relative;
}

input[type="radio"]::after {
  font-weight: 900;
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--background-color-form-input-checkbox-checked);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 1rem;
  opacity: 0;
  border-radius: 3px;
}

input[type="radio"]:checked::after {
  color: var(--font-color-form-input-checkbox-checked);
  opacity: 1;
}

/* ----------------------------------------------------------------
Range inputs
-----------------------------------------------------------------*/

input[type="range"] {
  -webkit-appearance: none;
  margin: 1.8rem 0;
  width: 100%;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.6rem;
  cursor: pointer;
  box-shadow: var(--box-shadow-standard);
  background: var(--background-color-form-input-range);
  border-radius: 0.5rem;
  border: var(--border-color-general-dividers);
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: var(--box-shadow-standard);
  border: 1px solid var(--color-contrast);
  height: 3rem;
  width: 2rem;
  border-radius: 0.5rem;
  background: var(--color-white);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -1.2rem;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 0.6rem;
  cursor: pointer;
  box-shadow: var(--box-shadow-standard);
  background: var(--background-color-form-input-range);
  border-radius: .5rempx;
  border: var(--border-color-general-dividers);
}

input[type="range"]::-moz-range-thumb {
  box-shadow: var(--box-shadow-standard);
  border: 1px solid var(--color-contrast);
  height: 3rem;
  width: 2rem;
  border-radius: .5rem;
  background: var(--color-white);
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  margin-top: -1.2rem;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--background-color-form-input-range);
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 1.6rem 0;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: var(--color-primary);
  border: var(--border-color-general-dividers);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow-standard);
}

input[type="range"]::-ms-fill-upper {
  /* background: #3071a9; */
  border: var(--border-color-general-dividers);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow-standard));
}

input[type="range"]::-ms-thumb {
  box-shadow: var(--box-shadow-standard);
  border: 1px solid var(--color-contrast);
  height: 3.6rem;
  width: 1.6rem;
  border-radius: 0.5rem;
  background: var(--color-white);
  cursor: pointer;
}

input[type="range"]:focus::-ms-fill-lower {
  background: var(--background-color-form-input-range);
}

input[type="range"]:focus::-ms-fill-upper {
  background: var(--background-color-form-input-range);
}

input[type="text"],
input[type="password"],
select {
  width: 99%;
}
