
.gif-icon {
  background-image: url('/saito/img/GIF.svg');
  height: 26px;
  width: 26px;
}

.resize-icon {
  position: absolute;
  left: -0.3rem;
  top: -0.4rem;
  width: 0.8rem;
  height: 1.3rem;
  cursor: nw-resize;
  transform: rotate(45deg);
  border-right: 1px solid var(--saito-border-color);
  z-index: 20;
}

.resize-icon::after {
  content: "";
  cursor: nw-resize;
  border-right: 1px solid var(--saito-border-color);
  z-index: 21;
  position: absolute;
  top: -0.8rem;
  width: 0.1rem;
  height: 2.5rem;
  padding: 0.6rem;
}

.resize-icon::before {
  content: "";
  cursor: nw-resize;
  z-index: 21;
  position: absolute;
  top: -0.8rem;
  left: 0.6rem;
  height: 3rem;
  padding: 0.75rem;
}