.side-content {
  position: relative;
}

.saito-sidebar {
  padding: 1rem;

  border-right: 1px solid var(--saito-border);

  position: sticky;
  top: 98px;

  max-width: 18rem;
  height: 100vh;
}

.saito-sidebar-section {
  margin-bottom: 3rem;
}

.saito-sidebar-section .title {
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--saito-secondary);
  margin-bottom: 0.5rem;
}

.content-list .content-item {
  padding: 0.5rem 0;
  border-radius: 8px;
}
.content-list i {
  padding-left: 0.5rem;
  color: var(--saito-primary);
}
.content-list span {
  font-weight: bold;
  cursor: pointer;
  padding: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 8px;
  transition: all 0.2s;
}

.content-item:hover {
  background-image: linear-gradient(
    to right,
    var(--saito-primary),
    var(--saito-secondary)
  );
  color: var(--saito-white);
}
.content-item:hover i {
  color: var(--saito-white);
}

.side-content {
  position: relative;
}

.saito-sidebar {
  padding: 1rem;

  border-right: 1px solid var(--saito-border);

  position: sticky;
  top: 98px;

  max-width: 18rem;
  height: 100vh;
}

.saito-sidebar-section {
  margin-bottom: 3rem;
}

.saito-sidebar-section .title {
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--saito-secondary);
  margin-bottom: 0.5rem;
}

.content-list .content-item {
  padding: 0.5rem 0;
  border-radius: 8px;
}
.content-list i {
  padding-left: 0.5rem;
  color: var(--saito-primary);
}
.content-list span {
  font-weight: bold;
  cursor: pointer;
  padding: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 8px;
  transition: all 0.2s;
}

.content-item:hover {
  background-image: linear-gradient(
    to right,
    var(--saito-primary),
    var(--saito-secondary)
  );
  color: var(--saito-white);
}
.content-item:hover i {
  color: var(--saito-white);
}

/* Sidebar mobile */

.sidebar-mobile {
  display: none;
}
.saito-sidebar-mobile {
  position: fixed;
  background-color: var(--saito-menu-background);
  top: var(--saito-header-height);

  height: 100vh;
  z-index: 10;
}
.saito-sidebar-toggle-container {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: var(--saito-border);
  position: fixed;
  bottom: 4rem;
  left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
  z-index: 25;
}

.saito-sidebar-toggle-container:hover {
  opacity: 0.9;
  transform: scale(1.2);
}
.saito-sidebar-toggle-container:hover .saito-sidebar-toggle {
  color: var(--saito-primary);
}
.saito-sidebar-toggle {
  font-size: 2rem;
  color: var(--saito-secondary);
}

.display {
  display: block;
}
