
.saito-file-transfer-overlay {
	width: min(45rem, 90vw);
	min-height: 45rem;
  max-height: 90vh;
	padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* pseudo overlay */
  max-height: calc(100 * var(--saito-vh));
  max-width: 100vw;
  box-shadow: var(--shadow-overlay);
  border-radius: var(--border-radius-modal-menu);
  background-color: var(--background-color-overlay-menu); 
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
}

#cancel-transfer{
  visibility: hidden;
}

.pseudo-overlay-controls {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pseudo-overlay-controls .icon-button {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pseudo-overlay-controls .icon-button:hover {
  background-color: var(--background-color-button-hover-chat-popup-header);
  color: var(--font-color-button-hover-chat-popup-header);
}

.saito-file-transfer-overlay.minimize {
  padding: 2rem 0 0 0;
  bottom: 0;
  left: 0;
  top: unset;
  height: fit-content;
  min-height: unset;
  transform: unset;
}

.saito-file-transfer-overlay.minimize h1, 
.saito-file-transfer-overlay.minimize > div {
  display: none;
}

.saito-file-transfer-overlay.minimize .pseudo-overlay-controls {
  display: flex;
}

.teleporter-file-data {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.saito-file-transfer-overlay.minimize .teleporter-file-data {
  display: block;
  margin-bottom: 0;
}

.teleporter-status-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 0.5rem;
	margin: 0.5rem;
  min-height: 3rem;
}

.teleporter-status{
  font-size: 1.8rem; /* slightly bigger than default */
}

.teleporter-status .fa-check{
  color: var(--saito-green);
}

.teleporter-status .fa-xmark{
  color: var(--saito-red);
  font-size: 2.8rem;
}

.fixed-width {
  font-family: monospace;
}


.saito-button-primary#download-transfer{
  display: flex;
  justify-content: center;
  gap: 1rem;
}


.saito-link {
  font-style: italic;
  color: var(--font-color-mention);
  cursor: pointer;
}

.saito-link:hover{
  color: var(--font-color-hover-mention);
}

.contact .saito-link{
  float: right;
}

/**** Temporary for developing file transfer in chat ***/
.saito-file-transfer{
  border-radius: var(--border-radius-file-transfer);
  position: relative;
  border: 1px dashed;
  display: grid;
  align-items: center;
  padding: 1rem;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 2rem;
  justify-items: flex-end;
  overflow: hidden;
  background-color: var(--saito-gray-mid);
  color: var(--saito-white);
}

.saito-file-transfer.complete {
  border: 1px solid;
}

.saito-file-transfer.received {
  grid-template-rows: unset;
}

.file-transfer-progress{
  position: absolute;
  left: 1px;
  top: 1px;
  height: calc(100% - 2px);
  width: 0%;
  background-color: var(--saito-primary);
  /*z-index: -1;*/
}

.saito-file-transfer.received .file-transfer-progress{
  background-color: var(--saito-secondary);
}

.saito-file-transfer i {
  font-size: 4rem;
  grid-row: 1 / span 2;
  filter: var(--header-readability-drop-shadow);
}

.saito-file-transfer .file-name, .saito-file-transfer .file-size {
 filter: var(--header-readability-drop-shadow); 
}

.saito-file-uploader.needs-file {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

.file-button-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.hideme, .saito-button-primary.hideme#download-transfer {
  display: none;
}