/* ----------------------------------------------------------------
	Basic
-----------------------------------------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  color: var(--saito-default-font);
  font-family: var(--saito-font);
  margin: 0;
  background-color: var(--saito-background);
}

dl,
dt,
dd,
ol,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
  display: block;
  font-size: 0px;
  height: 0px;
  line-height: 0;
  width: 100%;
  overflow: hidden;
}

::selection {
  background: #1abc9c;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #1abc9c; /* Firefox */
  color: #fff;
  text-shadow: none;
}

::-webkit-selection {
  background: #1abc9c; /* Safari */
  color: #fff;
  text-shadow: none;
}

:active,
:focus {
  outline: none !important;
}
