/* ----------------------------------------------------------------
 Saito Base: CSS default settings, layouts
-----------------------------------------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  line-height: 1.2;
  color: var(--saito-default-font-color);
  font-family: var(--saito-font);
  margin: 0;
  font-size: 1.6rem;
  font-weight: 400;
  height: 100vh;
  position: relative;
  max-width: 100vw;
  overflow: hidden;
}

.modal-dialog {
  border: 20rem;
}

pre {
  overflow: auto;
}

img{
  width: 100%;
}

.treated {
  display: none;
}

.saito-deemphasize {
  opacity: 0.66;
}

.saito-treated-link {
  display: inline;
}

.saito-active-key {
  border-bottom: 1px dashed var(--saito-primary);
  display: inline !important;
}

/* ----------------------------------------------------------------
 Link
-----------------------------------------------------------------*/

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  opacity: 0.8;
}

/* ----------------------------------------------------------------
	Headings
-----------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--saito-primary);
  font-weight: normal;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3.5rem;
}

h5 {
  font-size: 3rem;

}

h6 {
  font-size: 2rem
}

textarea {
  resize: none;
}

/* ----------------------------------------------------------------
 Paragraph
-----------------------------------------------------------------*/
p.large {
  font-size: 2rem;
  font-weight: bold;
}

p,
p.middle {
  color: var(--saito-black);
  font-size: 1.5rem;
  overflow: auto;
}

p::-webkit-scrollbar {
  display: none;
}

p.small {
  font-size: 1.3rem;
}

/* ----------------------------------------------------------------
Password Font
-----------------------------------------------------------------*/

.saito-password {
  font-family: "p-word";
}

/* ----------------------------------------------------------------
Divider
-----------------------------------------------------------------*/

hr {
  color: var(--saito-default-font-color);
  margin: 2.5rem;
}

/*-----------------------------------------------------------------
Scrollbars
-----------------------------------------------------------------*/
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
  background: linear-gradient(90deg, transparent 0 45%, var(--saito-border) 45% 55%, transparent 55% 100%);
}

::-webkit-scrollbar-thumb {
  background-color: var(--saito-thumbBG);
  border-radius: 1rem;
}

/* ----------------------------------------------------------------
Media Queries
-----------------------------------------------------------------*/

@media screen and (min-width: 1600px) {
  /* body {
    font-size: 1.4rem;
  } */

}

@media screen and (max-width: 1200px) {
  /* body {
    font-size: 1.4rem;
  } */

}

@media screen and (max-width: 768px) {
  body {
    font-size: 1.4rem;
  }

  .saito-container {
    padding: 0 1rem;
  }
}

@media (max-width: 767.98px) {
  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 3.5rem;
  }

  h4 {
    font-size: 3rem;
  }

  h5 {
    font-size: 2.5rem;
  }

  h6 {
    font-size: 2rem;
  }

  p.large {
    font-size: 1.8rem;
  }

  p,
  p.middle {
    color: var(--saito-black);
    font-size: 1.4rem;
  }

  p.small {
    font-size: 1.1rem;
  }
}



@media screen and (max-width: 320px) {
  body {
    font-size: 1.6rem;
  }
}