.saito-loader {
    /* border struggles with overlay 8?
/*  border: 1px solid aqua; */
    position: relative;
    width: 100%;
}

.saito-loader::after {
    background-color: transparent;
    background-image: url(../img/saito-loader.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    animation-duration: 2s;
    animation-name: pulse;
    animation-iteration-count: infinite;
    position: relative;
    width: 70px;
    height: 70px;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: block;
    transform-origin: 50%, 50%;
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(0.2);
        border-radius: 50%;
        background-size: 0px;
    }

    30% {
        transform: translate(-50%, -50%) scale(1);
        border-radius: 0;
        background-color: red;
        background-size: 0px;
    }

    50% {
        background-size: 50px;
        transform: translate(-50%, -50%) scale(1.1);
    }

    70% {
        transform: translate(-50%, -50%) scale(1);
        border-radius: 0;
        background-color: red;
        background-size: 50px;
    }

    100% {
        transform: translate(-50%, -50%) scale(0.5);
        border-radius: 50%;
        background-size: 0px;
    }
}

.saito-loader-container.blocker {
  height: 100vh; 
  width: 100vw; 
  position: fixed;  
  z-index: 150;  
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

.saito-loader-container.non-blocker {
    z-index: 20;
    margin-top: 7rem;
}

.game-loader-container{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.game-loader-spinner {
  margin: auto;
  border: 16px solid var(--saito-skyline-grey);
  border-top: 16px solid var(--saito-red);
  border: 16px solid var(--saito-primary);
  border-top: 16px solid var(--saito-tertiary);

  border-radius: 50%;
  animation: spin 1.5s linear infinite;
  width: 5em;
  height: 5em;
  margin-top: 3rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
