.saito-tooltip {
  display: inline-block;
  position: relative;
}

.saito-tooltip .saito-tooltip-icon {
  margin: 0rem 1rem;
  color: var(--color-white);
  cursor: pointer;
  font-size: 2rem;
}

.saito-tooltip .saito-tooltip-info {
  border-radius: 1rem;
  position: fixed;
  background: var(--color-white);
  padding: 1rem;
  box-shadow: (--color-shadow-original); /* testing */
  z-index: 2;
  color: var(--font-color-heavy);
  font-weight: 400;
  min-width: 20rem;
}

.tooltip-info-hide {
  display: none;
}
