.saito-overlay-backdrop {
    position: fixed !important;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--saito-dark-shim);
    z-index: 100;
}

.saito-overlay {
    position: fixed;
    display: inline-block;
    z-index: 1000;
    height: min-content;
    width: min-content;
    min-height: 10%;
    max-height: calc(100 * var(--saito-vh));
    max-width: 100vw;
    box-shadow: 0px 2px 4px var(--saito-bubble-shadow);
}

.center-overlay{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.saito-overlay>div, .saito-overlay>form {
    /* This is much too broad and adds all kinds of issues in a variety of places.
    box-shadow: var(--saito-box-shadow); */
}

/* Clickable container for close icon */

.saito-overlay-closebox {
    position: absolute;
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 50%;
    z-index: 100;
    top: -1.5rem;
    right: -1.5rem;
    background-color: var(--saito-white);
    transition: all 0.3s;
    display: none;
}

.saito-overlay>.saito-overlay-closebox {
    box-shadow: unset;
}

.maximized-overlay .saito-overlay-closebox {
    top: 1rem;
    right: 1rem;
}

/* Close icon */

.saito-overlay-closebox-btn {
    cursor: pointer;
    display: block;
    height: 3rem;
    width: 3rem;
    color: var(--saito-primary);
    font-size: 3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.saito-overlay-closebox:hover {
    transform: rotate(90deg);
}

.saito-overlay-form {
    width: 60rem;
    min-width: 300px;
    max-width: 90vw;
    padding: 2rem;
    background-color: var(--saito-background-color);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border-radius: 0.5rem;
}

.saito-overlay-form-header {
    height: 6rem;
    background: var(--dreamscape);
    width: 100%;
    border-radius: 0.5rem;
}

.saito-overlay-form-header-title {
    position: absolute;
    height: 6rem;
    color: var(--saito-white);
    width: calc(100% - 3.2rem);
    padding: 1.6rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.saito-overlay-form-header-title.loading{
    line-height: 6rem;
    text-align: left;
    padding-top: 0rem;
}

.saito-overlay-form-input {
    margin: 0 3px;
}

.saito-overlay-form-text {
    font-size: 2rem;
    line-height: 3rem;
    color: var(--saito-font-color);
    padding: 0 1rem;
}

.saito-overlay-subform-inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.saito-overlay-form-inputs>input[type="text"] {
    height: 6rem;
    font-size: 2.3rem;
    margin-top: 1.25rem;
}

.saito-overlay-form>input[type="text"], .saito-overlay-form-input[type="text"] {
    height: 6rem;
    font-size: 2.3rem;
}

.saito-overlay-form>button[type="button"], .saito-overlay-form-submitline>button[type="button"] {
    height: 7rem;
    font-size: 2.1rem;
    width: 20rem;
    margin: 0;
    align-self: flex-end;
}

.saito-overlay-subform {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 1rem;
    border: 1px dashed var(--saito-border-color-dark);
    border-radius: var(--saito-border-radius);
    padding: 1.4rem;
}

.saito-overlay-subform.centerme {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.saito-overlay-subform-text {
    font-size: 2rem;
    flex-grow: 1;
    line-height: 3rem;
}

.saito-overlay-form-alt-opt {
    margin-left: 2rem;
    font-size: 1.8rem;
    color: var(--saito-font-color);
    width: min-content;
    white-space: nowrap;
    cursor: pointer;
    flex-grow: 1;
    text-decoration: underline dashed 1px;
}

.saito-overlay-form-submitline {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
    align-items: center;
    gap: 1rem;
}

.saito-overlay-form textarea, .saito-overlay-form input {
    border: 1px solid var(--saito-font-color-light);
}

@media screen and (max-width: 768px) {
    .saito-overlay-form-submitline {
        flex-direction: column;
    }
    .saito-overlay-form>button[type="button"], .saito-overlay-form-submitline>button[type="button"] {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .maximized-overlay .saito-overlay-closebox {
        top: 0.5rem;
        right: 0.5rem;
    }

    .saito-overlay-subform > div:first-child {
        display: none;
    }

    .saito-overlay-subform-inputs {
        grid-column: span 2;
    }


}
