.saito-overlay-backdrop {
  position: fixed!important;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #444;
  opacity: 0.4;
  z-index: 100;
}

.saito-overlay {
  position: fixed;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  z-index: 1000;
  min-width: 10%;
  min-height: 10%;
  height: min-content;
  width: min-content;
}

.saito-overlay-closebox {
  position: absolute;
  width: 30px;
  height: 30px;
  right: -13px;
  border-radius: 50%;
  top: -15px;
  background-color: white;
  z-index: 100;
}

.saito-overlay-closebox-btn {
  display: block;
  height: 32px;
  width: 32px;
  color: red;
  font-size: 31px;
}


/******
  Saito module overlay - Start
******/

.game-invite-detail-container {
  position: relative;
  width: 71rem;
  background-color: #fff;
  min-height: 22rem;
  display: flex;
  justify-content: initial;
}

.game-invite-img {
  width: 30%;
  background-color: #f7d3d9;
  background-size: cover;
}

.game-invite-info {
  padding: 2.5rem;
  width: 69%;
}

.game-invite-info-table {
  margin-top: 2rem;
}

.game-invite-join-btn {
  margin-top: 2rem;
}

/******
  Saito module overlay - End
******/
