/* ----------------------------------------------------------------
Saito Identicon
-----------------------------------------------------------------*/

.saito-identicon {
  width: 3.5rem;
  height: 3.5rem;
  border: var(--border-thickness-identicon) solid var(--border-color-identicon);
  border-radius: var(--border-radius-identicon);
  background: var(--background-color-identicon);
}

.saito-identicon-box {
  width: 3.5rem;
  height: 3.5rem;
  border: var(--border-thickness-identicon) solid var(--border-color-identicon);
  border-radius: var(--border-radius-identicon);
  cursor: pointer; /* app.browser tries to turn all .saito-identicon into clickable target */
}

.saito-identicon-box .saito-identicon {
  /* It should grow to fit the box! */
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border: none;
}

/* ----------------------------------------------------------------
Saito Username  --- Partially duplicated in saito-base
-----------------------------------------------------------------*/

.saito-user>.saito-address-long:nth-child(2) {
  grid-column-end: 4;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
}

/* ----------------------------------------------------------------
Saito User
-----------------------------------------------------------------*/

.saito-user {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: min-content 1fr;
  justify-items: start;
  width: 100%;
  position: relative;
  white-space: nowrap; /* don't auto wrap time stamps or stuff */
  row-gap: 0;
}

/*  saito-identicon-box  */

.saito-user>.saito-identicon-box {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row: span 2;
  position: relative;
}

.saito-user > .saito-identicon-box .saito-identicon{
  opacity: 0.75; /* make identicons less harsh */
}


.saito-user > .saito-identicon-box .saito-identicon[data-id]:hover{
  opacity: 1;
}

.saito-user>.saito-address {
  color: var(--font-color-primary);

  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
  
}

.saito-user[data-disable="true"]>.saito-address, .saito-user[data-disable="true"]>.saito-identicon-box {
  cursor: unset; /* allow inheritance from parent for otherwise clickable event */
}

.saito-user>.saito-userline {
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
  font-size: 1.4rem;
  /* Added for all the publickeys in saito-userlines that overflow */ 
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.saito-user .saito-datetime {
  cursor: pointer;
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row: span 2;
  font-size: 1.4rem;
  align-items: top;
}

.saito-user-fourth-elem-large {
  grid-row: span 2;
}


.saito-overlay .saito-user {
  max-width: 90vw;
}