.saito-primary-color {
    color: var(--saito-primary);
}

.saito-secondary-color {
    color: var(--saito-secondary);
}

.saito-white-color {
    color: var(--saito-white);
}

.saito-gray-color,
.saito-grey-color {
    color: var(--saito-gray);
}

.saito-gradient-color {
    color: var(--dreamscape);
}

.saito-green-color {
    color: var(--saito-green)
}

.saito-black {
    color: #1c1c23;
    text-shadow: 1px 1px #eee;
}

/* ----------------------------------------------------------------
Backgrounds
-----------------------------------------------------------------*/

.saito-primary-background {
    background-color: var(--saito-primary);
    background: var(--saito-primary);
}

.saito-secondary-background {
    background-color: var(--saito-secondary);
    background: var(--saito-secondary);
}

.saito-white-background {
    background-color: var(--saito-white);
    background: var(--saito-white);
}

.saito-gray-background,
.saito-grey-background {
    background-color: var(--saito-gray);
    background: var(--saito-gray);
}

.saito-gradient-background {
    background-color: var(--dreamscape);
    background: var(--dreamscape);
}