.saito-overlay-backdrop {
    position: fixed !important;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color-shim-normal);
    z-index: 100;
}

.saito-overlay {
    position: fixed;
    display: inline-block;
    z-index: 1000;
    height: min-content;
    width: min-content;
    /*min-height: 10%; Why? */
    max-height: calc(100 * var(--saito-vh));
    max-width: 100vw;
    border-radius: var(--border-radius-modal-menu);
    background-color: var(--background-color-overlay-menu); /* Dont know why had to be added manually*/
}

.saito-overlay > div:last-child {
    box-shadow: var(--shadow-overlay);
    border-radius: var(--border-radius-modal-menu);
}

.center-overlay{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.saito-overlay>div, .saito-overlay>form {
    /* This is much too broad and adds all kinds of issues in a variety of places.
    box-shadow: var(--saito-box-shadow); */
}

/* Clickable container for close icon */

.saito-overlay-closebox {
    position: absolute;
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 50%;
    z-index: 100;
    top: -1.5rem;
    right: -1.5rem;
    background-color: var(--font-color-icon-close); /* testing */
    transition: all 0.3s;
    display: none;
}

.saito-overlay>.saito-overlay-closebox {
    box-shadow: unset;
}

.maximized-overlay .saito-overlay-closebox {
    top: 1rem;
    right: 1rem;
}

/* Close icon */

.saito-overlay-closebox-btn {
    cursor: pointer;
    display: block;
    height: 3rem;
    width: 3rem;
    color: var(--background-color-icon-close);
    font-size: 3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--background-color-main);
}

.saito-overlay-closebox:hover {
    transform: rotate(90deg);
}



.saito-app-overlay .saito-app-body .saito-app-upload {
  border: 3px dotted;
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 2.2rem;
  padding: 15rem 0rem;
}

.saito-app-overlay .saito-app-body .saito-app-upload {
  border: 3px dotted;
  width: 100%;
  margin: auto;
}

.saito-overlay-form {
    width: 60rem;
    min-width: 300px;
    max-width: 90vw;
    padding: 2rem;
    background-color: var(--background-color-overlay-menu);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border-radius: 0.5rem;
}

.saito-overlay-form-header {
    height: 6rem;
    background: var(--background-color-overlay-form-header);
    width: 100%;
    border-radius: 0.5rem;
}

.saito-overlay-form-header-title {
    position: absolute;
    height: 6rem;
    color: var(--font-color-overlay-form-header);
    width: calc(100% - 3.2rem);
    padding: 1.6rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.saito-overlay-form-header-title.loading{
    line-height: 6rem;
    text-align: left;
    padding-top: 0rem;
}

.saito-overlay-form-input {
    margin: 0 3px;
}

.saito-overlay-form-text {
    font-size: 2rem;
    line-height: 3rem;
    color: var(--font-color-overlay-form-text); 
    padding: 0 1rem;
}

.saito-overlay-subform-inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.saito-overlay-form-inputs>input[type="text"] {
    height: 6rem;
    font-size: 2.3rem;
    margin-top: 1.25rem;
}

.saito-overlay-form>input[type="text"], .saito-overlay-form-input[type="text"], .saito-overlay-form>input[type="password"] {
    height: 6rem;
    font-size: 2.3rem;
}

.saito-overlay-form>button[type="button"], .saito-overlay-form-submitline>button[type="button"] {
    height: 7rem;
    font-size: 2.1rem;
    width: 20rem;
    margin: 0;
    align-self: flex-end;
}

.saito-overlay-subform {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 1rem;
    border: var(--border-thickness-overlay-subform) dashed var(--border-color-overlay-subform); 
    border-radius: var(--saito-border-radius);
    padding: 1.4rem;
}

.saito-overlay-subform.centerme {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.saito-overlay-subform-text {
    font-size: 2rem;
    flex-grow: 1;
    line-height: 3rem;
}

.saito-overlay-form-alt-opt {
    margin-left: 2rem;
    font-size: 1.8rem;
    color: var(--font-color-overlay-subform-recover); /* testing */
    width: min-content;
    white-space: nowrap;
    cursor: pointer;
    flex-grow: 1;
    text-decoration: underline dashed 1px;
}

.saito-overlay-form-submitline {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
    align-items: center;
    gap: 1rem;
}

.saito-overlay-form textarea, .saito-overlay-form input {
  border: var(--border-thickness-overlay-input-area) solid var(--border-color-overlay-input-area);
}


.module-settings-overlay {
    min-width: min(800px, 95vw);
    min-height: min(400px, 90vh);
    max-width: 95vw;
    max-height: 95vh;
    padding: 2rem;
    background: var(--background-color-overlay-menu);
    border-radius: var(--border-radius-overlay-menu);
    border: var(--border-thickness-overlay-menu) solid var(--border-color-overlay-menu); 
    display: flex;
    flex-direction: column;
}


.module-settings-overlay .saito-module-settings::-webkit-scrollbar {
  display: none;
}

.module-settings-overlay .saito-module-settings {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-y: auto;
  padding: unset;
}


@media screen and (max-width: 600px) {
    .maximized-overlay .saito-overlay-closebox {
        top: 0.5rem;
        right: 0.5rem;
    }

    .saito-overlay-subform > div:first-child {
        display: none;
    }

    .saito-overlay-subform-inputs {
        grid-column: span 2;
    }


    /* **********************************************
    Previously: @media screen and (max-width: 768px) 
    *********************************************** */ 
    .saito-overlay-form-submitline {
        flex-direction: column;
    }
    .saito-overlay-form>button[type="button"], .saito-overlay-form-submitline>button[type="button"] {
        width: 100%;
    }

    .module-settings-overlay{
        padding: 1rem;
    }

}


