/***
 * 
 * We have some name space confusion ....
 * TODO: FIX !!!!
 * 
 * this css looks like it is for game invites in Arcade and the sidebar in RedSquare
 * 
 * maybe should change to saito-game...
 * 
 */

.saito-module {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100%;
    cursor: pointer;
    padding: 1rem;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
}

.saito-module-titlebar {
    padding: 0.5rem;
    max-width: 18rem;
    min-width: 12rem;
    width: 18rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    overflow-wrap: break-word;
    opacity: 0.8;
}

.saito-module-titlebar > div {
    margin: 0.25rem;
}

/*changed - 1*/
.saito-module-titlebar-title {
    color: var(--saito-color-heavy);
    font-size: 2rem;
}

.saito-module-titlebar-details {
    font-size: 1.4rem;
    text-transform: uppercase;
}

.saito-game-details {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
}

.saito-module-identicon {
    border: none;
}

/*
    Small tweaks for when the saito-module is crammed into a sidebar
*/

.saito-sidebar .saito-module {
    padding: 0.5rem;
}

.saito-sidebar .saito-module-titlebar {
    width: unset;
}

.saito-sidebar .saito-module-titlebar-details {
    font-size: 1.2rem;
}

/***
 * 
 * Here is fresh code for actual saito-module stuff, a new (19 Jan 2024) UI component
 * for handling generic module stuff. It should display basic metadata about the module
 * and have selectable options that we would save in the app.options[module] section.
 * The basic idea is to have a way to change module settings from outside of the module!
 * 
 * Maybe also useful when we resurrect the appstore
 * 
 */

/*changed - 1*/
.saito-module-overlay {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: min(90vw, 80rem);
    max-height: 70vh;
    overflow: auto;
    background: var(--saito-background-modal);
    color: var(--saito-color-heavy);
    border-radius: 5px;
}

/*changed - 1*/
.saito-module-header {
    background: var(--saito-dreamscape);
    background-size: cover;
    background-position: center;
    padding: 0.5rem;
}

.saito-module-header .saito-module-titlebar {
    max-width: 100%;
    width: 100%;
    padding: 0.5rem 1rem;
}

/*changed - 1*/
.saito-module-overlay .saito-module-titlebar {
    color: var(--saito-color-secondary);
    background-color: var(--saito-background-modal);
}

/*changed - 1*/
.saito-module-details {
    display: grid;
    grid-template-columns: 10rem 1fr;
    gap: 1rem;
    margin: 1rem;
    padding: 2rem;
    border-radius: var(--saito-corners-rigid);
    border: var(--saito-border-thickness-thin) solid var(--saito-border-color-primary);
}

.saito-module-overlay > h4 {
    margin-left: 1rem;
}

.saito-module-settings {
    padding: 1rem;
}

/*changed - 1*/
fieldset.saito-grid {
    padding: 2rem;
    display: grid;
    grid-template-columns: 2rem 1fr;
    gap: 2rem;
    align-items: center;
    margin: 1rem 0;
    border: var(--saito-border-thickness-thick) solid var(--saito-border-color-primary);
    border-radius: var(--saito-border-radius);
}

fieldset.saito-grid > fieldset.saito-grid {
    grid-column-start: 1;
    grid-column-end: span 2;
}

.saito-module-settings .note {
    font-style: italic;
}

.saito-grid input, .saito-grid label {
    cursor: pointer;
}

.saito-grid i {
    margin: 0 0.5rem;
    font-size: 1.8rem;
    cursor: pointer;
}

.settings-link, .settings-link label {
    cursor: pointer;
}

/*changed - 1*/
.settings-link:hover label {
    color: var(--saito-button-font-color-tiny);
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

