.chat-manager {
  min-height: 25%;
  /*flex: 1;*/
  position: relative;
  display: grid;
  grid-template-rows: 40px 1fr;
}

.chat-manager .saito-userline {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 13rem;
  white-space: nowrap;
  height: 1.7rem;
}

.chat-manager .saito-userline .img-prev {
  max-width: 100%;
  cursor: pointer;
}

.chat-popup-img-enhanced {
  max-height: 90vh;
  max-width: 95vw;
}

.chat-manager .saito-user {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.chat-manager .saito-user:hover, .chat-manager .saito-user:hover .saito-address {
  background-color: var(--saito-primary);
  color: var(--saito-background-color);
}

.chat-manager-list {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  min-height: 22rem;
  max-height: 100%;/*calc(100% - 5rem);*/
  position: relative;
}

.chat-manager-list .saito-address {
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.chat-manager-list .saito-userline {
  font-size: 1.5rem;
}

.new-notification {
  background: linear-gradient(90deg, #0003 47%, var(--saito-primary), #0003 53%);
  background-size: 300%;
  animation: notificationAnimation 1.8s ease;
}

.new-notification .saito-chat-notifications {
  visibility: hidden;
}

@keyframes notificationAnimation {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

.chat-popup .saito-notification-dot {
  min-width: 3.5rem;
  min-height: 3.5rem;
  bottom: 6rem;
  left: unset;
  right: 2rem;
  cursor: pointer;
}

.chat-popup .saito-notification-dot i, .chat-popup .saito-notification-dot:hover .new-message-count {
  display: none;
}

.chat-popup .saito-notification-dot:hover i {
  display: block;
}

.saito-chat-active {
  background-color: var(--saito-background-light);
}

/* We have a chat-manager click event on saito-user */

.chat-manager-list .saito-user {
  cursor: pointer;
}

.chat-body blockquote {
  cursor: help;
}


/*  Chat / Popup  */

/* Embedded chat container */

.chat-static {
  height: 100%;
  width: 100%;
  position: relative;
}

/* hide minimize,maximze and close icons when
 viewing chat from /chat 
*/

.chat-static .chat-minimizer-icon, .chat-static .chat-maximizer-icon, .chat-static .chat-container-close, .chat-static .fa-comment-dots {
  display: none;
}

/* Free floating chat container */

.chat-container {
  height: 50rem;
  width: 36rem;
  border-radius: 0.5rem;
  z-index: 15;
  /* So weird, at 15 it blocks the z-index 20 slide in menu*/
  /* reason: the slidein is child of saito header, so whatever z-index is assigned to saito header,
  the child (slidein menu) inherits it */
  position: fixed;
  bottom: 0px;
  right: 1.5rem;
  border: 1px solid var(--saito-border-color);
  background: var(--saito-arcade-background);
  color: var(--saito-font-color);
  max-height: 100vh;
  min-width: 30rem;
  min-height: 20rem;
  overflow-x: hidden;
  overflow-y: hidden;
}

.chat-container, .chat-container .chat-body, .chat-container .chat-footer {
  transition: all 0.15s ease-in-out;
}

.chat-popup {
  display: grid;
  /*grid-template-rows: 63px 1fr min-content;*/
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 100%;
  align-items: center;
}

.chat-container.active {
  z-index: 16;
}

.chat-container.dragging {
  z-index: 17;
}

.chat-container.minimized {
  height: 3rem;
  min-height: unset;
  grid-template-rows: 30px auto;
}

.chat-container.minimized .chat-body, .chat-container.minimized .chat-footer{
  height: 0;
  min-height: unset;
  overflow: hidden;
  padding: 0;
  opacity: 0;
  /*
  This works but is a little abrupt
  display: none;
  */
}

.chat-container.minimized .chat-header{
  min-height: unset;
}

.chat-body img {
  /* If a small image, we don't want to zoom in
  but the width: 100% should keep it from being to big
   */
  max-width: fit-content;
  width: 100%;
}

.chat-header {  
  z-index: inherit;
  min-height: 6rem;
  width: 100%;
}

.chat-header > .chat-header-nav {
  display: flex;
  align-items: end;
  justify-content: flex-end;
  border-bottom: 1px solid var(--saito-border-color);
  cursor: grab;
  font-size: 1.7rem;
  background: var(--saito-background-light);
}

.chat-header > .chat-header-nav > i {
  margin: 0;
  color: var(--saito-primary);
  font-size: 1.2rem;
  display: inline-block;
  position: relative;
  transition: all 0.2s;
  cursor: pointer;
  padding: 0.5rem;
  height: 100%;
}

.chat-header > .chat-header-nav > i:hover {
  background-color: var(--saito-primary);
  color: var(--saito-white);
}

.chat-header > .chat-header-nav > i.noclick:hover {
  background-color: revert;
  color: var(--saito-primary);
  cursor: revert;
}


.chat-header > .chat-header-nav > i:last-child {
  cursor: pointer;
}

.chat-container.minimized .chat-header-nav {
  align-items: center;
  height: 3rem;
}

.chat-container.minimized .chat-header-nav > i {
  padding: 0.8rem 0.5rem;
}

.chat-header-info {
  background: var(--saito-arcade-background);
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.chat-header-info  i {
}

.chat-container.minimized .chat-header-info {
  display: none;
}

.chat-actions {
  display: flex;
  flex-direction: row-reverse;
}

.chat-action-icons {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  font-size: 2rem;
  color: var(--saito-faded-icon-font);

}

.chat-action-item, .chat-action-menu {
  cursor: pointer;
  height: 4rem;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.chat-action-menu {
  width: 3rem;
}

.chat-action-item:hover, .chat-action-menu:hover{
  background-color: var(--saito-primary);
  color: var(--saito-white);
}

.chat-action-item:hover i, .chat-action-menu:hover i {
  
}

/*.chat-header > i:last-child:hover {
  transform: rotate(90deg) scale(1.1);
}*/

.chat-header .chat-group {
  max-width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: default;
  font-size: 1.7rem;
}

.chat-header .chat-group.saito-address {
  cursor: pointer;
}

.chat-header-nav .chat-details,
.chat-header-info .chat-details {
  width: 71%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-left: 1rem;
}

.chat-header-nav .chat-details {
  display: none;
}

.chat-header-nav .chat-details .chat-group {
  max-width: 82%; 
}

.chat-popup.minimized .chat-header .chat-header-nav .chat-details {
  display: flex;
}


.chat-body {
  padding: 1rem;
  display: block;
  height: 100%;
  overflow: clip auto;
  background-image: url(/saito/img/tiled-logo.svg);
  background-color: var(--saito-bubble-background);
}

.chat-body>.saito-user {
  padding-bottom: 1.5rem;
  cursor: default;
  grid-template-rows: min-content 1fr;
  min-height: 5.5rem;
  gap: 0 2rem;
}

.chat-body .saito-user .saito-userline {
  font-size: 1.6rem;
  padding: 0.75rem;
  border-radius: 0.5rem 0.5rem 0.5rem 0;
  background: var(--saito-background-color);
  box-shadow: 0px 2px 4px var(--saito-bubble-shadow), -4px 0px 2px -2px var(--key-color);
  margin-right: 1rem;
  height: fit-content;
  overflow: visible;
}

/*
.chat-body .saito-userline::before {
  content: " ";
  height: 1px;
  width: 20rem;
  background: linear-gradient(90deg, var(--saito-border-color), transparent);
  position: absolute;
  bottom: 1rem;
  left: 4rem;
  z-index: 9;
}

.chat-body .saito-user-self .saito-userline::before {
  background: linear-gradient(90deg, var(--saito-primary), transparent);
}
*/

.chat-body .saito-user > .saito-address {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

.chat-body .saito-user-self.saito-user {
  display: flex;
  justify-content: flex-end;
}

.chat-body .saito-user-self.saito-user .saito-userline {
  background: var(--saito-background-light);
}

/* hide my own name */

.chat-body .saito-user-self.saito-user > .saito-address, .chat-body .saito-user-self.saito-user > .saito-identicon-box {
  display: none;
}

.saito-mention.saito-address.treated {
  display: inline-block !important;
  margin: 0 8px 0 0;
}


/* Hide user names in 2-person chats */

.saito-dm-chat .chat-body .saito-user .saito-address {
  visibility: hidden;
  height: 0;
}

/*
.chat-body .saito-userline::after {
  background: var(--saito-bubble-dark);
  content: " ";
  position: absolute;
  width: 1.5rem;
  height: 1rem;
  bottom: 1rem;
  left: 4rem;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.chat-body .saito-userline {
  overflow-wrap: anywhere;
}
*/

.chat-body .saito-identicon-box {
  align-self: end;
}

/*
.chat-body .saito-userline:hover::after {
  content: "reply ->";
  position: relative;
  bottom: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  z-index: 999;
  margin: 1rem;
}
*/

.chat-manager em {
  color: var(--saito-font-color-light);
  font-style: italic;
}

.saito-time-stamp {
  font-size: 1.4rem;
  text-align: center;
  color: var(--saito-font-color-light);
  font-style: italic;
  margin: 3px 0;
}

.saito-chat-notice {
  color: var(--saito-font-color-light);
  font-style: italic;
}

.saito-chat-line-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  grid-row: span 2;
}

.chat-message-line {
  position: relative;
  padding: 0.25rem;
  word-wrap: break-all;
}

.saito-userline-reply {
  display: none;
}

.chat-body .saito-userline {
  width: unset !important;
  min-width: 10rem;
  max-width: 600px;
}

.chat-message-line:hover .saito-userline-reply {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  right: -9rem;
  bottom: 0;
  z-index: 9;
  background: var(--saito-background-color);
  padding: 5px 7px 2px;
  border-radius: 0.5rem;
  border: 1px solid var(--saito-border-color);
  font-size: 1.4rem;
}

.saito-user-self .chat-message-line:hover .saito-userline-reply{
  right: -2.5rem;
}

.saito-user-self .chat-message-line .saito-userline-reply .chat-copy, .saito-user-self .chat-message-line .saito-userline-reply .chat-reply {
  display: none;
}

.saito-user .saito-userline-reply i:hover {
  color: var(--saito-primary);
}

.chat-footer {
  min-height: 4.5rem;
  height: fit-content;
  font-size: 2rem;
  /*position: absolute;
  bottom: 0;*/
  width: 100%;
  padding: 0;
  display: flex;
  flex-flow: row;
  align-items: end;
  z-index: 2;
  border-top: 1px solid var(--saito-border-color);
  background: var(--saito-arcade-background);
}

.chat-container blockquote {
  color: inherit;
  line-height: 2.5rem;
  margin: 0.5rem 0;
}

.chat-input {
  border: 1px solid transparent;
  width: 100%;
  font-size: 1.6rem;
  padding: 1.2rem 3rem 1.2rem 1rem;
  outline: none;
  background: var(--saito-arcade-background);
  max-height: 15rem;
  overflow-y: auto;
  word-break: break-word;
  height: 4.2rem;
}

.chat-footer .saito-emoji {
  padding: 1.3rem 0.5rem;
}

/* This is the submit paper airplane icon */

.chat-footer>i {
  color: var(--saito-primary);
  cursor: pointer;
  z-index: 2;
  transition: all 0.2s;
  font-size: 2rem;
  padding: 1.3rem 1rem 1.3rem 0.5rem;
}

.chat-footer i:hover {
  transform: rotate(45deg);
}

.dockedLeft {
  border-left: 3px solid var(--saito-primary) !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.dockedRight {
  border-right: 3px solid var(--saito-primary) !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.dockedTop {
  border-top: 3px solid var(--saito-primary) !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.dockedBottom {
  border-bottom: 3px solid var(--saito-primary) !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.remove_user {
  padding: 0.5rem;
}

.remove_user:hover {
  color: var(--saito-font-color-light);
}


.chat-main-container {
  background-color: #bbb1;
  background-image: url(/saito/img/tiled-logo.svg);
}

.chat-main-container .chat-body {
  background-color: unset;
  background-image: unset;
}

.chat-main-container .saito-sidebar.left {
  background-color: var(--saito-background-color);
}

.saito-chat-button {
  cursor: pointer;
  width: fit-content;
  margin: auto;
  padding: 4px;
  color: var(--saito-font-color-light);
  font-style: italic;
  font-size: 1.4rem;
}

.saito-chat-button:hover {
  font-style: unset;
  color: var(--saito-font-color-heavy);
}

/* Mobile Overlay */

.close-chat-manager {
  margin-left: 1rem;
  margin-right: auto;
  display: none;
  position: relative;
  height: 100%;
}

.chat-manager-overlay .close-chat-manager {
  display: block;
}

.close-chat-manager i {
  position: absolute;
  left: 0;
  top: 0;
  padding: 1rem;
  background: var(--saito-background-color);
  font-size: 24px;
}

.chat-manager-overlay .chat-manager-header, .chat-manager-overlay .chat-manager-menu {
  font-size: 20px;
}

.chat-manager-overlay {
  background-color: var(--saito-background-color);
  position: absolute;
  left: 0;
  top: var(--saito-header-height);
  z-index: 15;
  width: 300px;
  height: fit-content;
}

.floating-cm-overlay .chat-manager-header {
  cursor: grab;
}

.alternate-close-button, .floating-cm-overlay .chat-manager-options, .chat-manager-overlay.floating-cm-overlay .close-chat-manager {
  display: none;
}

.floating-cm-overlay .alternate-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30px;
}


.chat-manager-overlay.floating-cm-overlay .chat-manager {
  max-height: 400px;
}

.chat-manager-overlay.floating-cm-overlay .chat-manager-list {
  min-height: unset;
  max-height: unset;
}


@media screen and (max-width: 720px) {
  .chat-manager-overlay .chat-manager-title {
    display: none;
  }
  
  .chat-header i.chat-sizing-icon {
    display: none;
  }

  .close-chat-manager i {
    height: var(--saito-header-height);
    line-height: 4.5rem;
  }

  .chat-header > .chat-header-nav > i.chat-container-close {
    width: 4rem;
    text-align: center;
    font-size: 2.4rem;
  }

  .chat-container, .chat-container .chat-body, .chat-container .chat-footer {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }
}

@media screen and (max-width: 600px) {
  .chat-manager-overlay {
    top: 0;
    height: 100vh;
    height: calc(100 * var(--saito-vh));
    width: 100vw;
    max-height: -webkit-fill-available;
    max-width: -webkit-fill-available;
    z-index: 15;
  }

  .chat-manager-overlay .chat-manager {
    margin-left: auto;
    margin-right: auto;
    width: 95vw;
    min-height: 25rem;
    height: 100%;
    grid-template-rows: var(--saito-header-height) 1fr;
  }

  .chat-manager-overlay .chat-manager-menu i {
    width: 40px;
    height: 40px;
  }
  .chat-manager-overlay .chat-manager-header {
    height: var(--saito-header-height);
  }
  .chat-container {
    margin: 0;
    width: 100vw;
    height: 100vh;
    height: calc(100 * var(--saito-vh));
    max-height: -webkit-fill-available;
    max-width: -webkit-fill-available;
    border-radius: 0;
    /* For the keyboard */
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
  }



  /* emoji-picker breaks this */
  .chat-manager-overlay+.chat-container {
    height: 100vh;
    height: calc(var(--saito-vh) * 100);
  }
}



/**** Temporary for developing file transfer in chat ***/
.saito-file-transfer{
  height: 20rem;
  width: 18rem;
  border-radius: 0.5rem;
  border: 1px dashed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: var(--saito-background-light);
  margin: 1rem 0;
  padding: 1rem;
}

.saito-file-transfer i {
  font-size: 3rem;
}

.saito-file-transfer .file-name{
  word-wrap: anywhere;
}


.chat-member-list-overlay{
  min-width: 30rem;
  max-height: 90vh;
  max-width: 95vw;
  border: 1px solid;

}
.chat-member-list-overlay .saito-modal-content{
  border: unset;
}