/* ----------------------------------------------------------------
Saito User
-----------------------------------------------------------------*/

.saito-user {
    display: grid;
    cursor: pointer;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: 1fr 1fr;
    justify-items: start;
    margin-bottom: 1px;
    width: 100%;
}
.saito-user > div:nth-child(1) {
    margin-right: 1rem;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row: span 2;
}

/* this hack is required in chrome to force */
/* the name to steal the upper row from the */
/* timebox, so the name does not cut off    */
.saito-user > .saito-username-long:nth-child(2) {
    grid-column-end: 4;
}

.saito-user > div:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.saito-user > div:nth-child(3) {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    font-size: 1.4rem;
}

.saito-user > div:nth-child(4) {
    cursor: pointer;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-rows: span 2;
    font-size: 1.4rem;
    align-items: top;
}

.saito-user > .saito-datetime {
    align-items: top;
    grid-row-start: 2;
    grid-row-end: 2;
}

