
.turn-track {

}
.turn-track-1 {
  top: 0px;
  left: 0px;
}
.turn-track-2 {
  top: 0px;
  left: 0px;
}
.turn-track-3 {
  top: 0px;
  left: 0px;
}
.turn-track-4 {
  top: 0px;
  left: 0px;
}
.turn-track-5 {
  top: 0px;
  left: 0px;
}
.turn-track-6 {
  top: 0px;
  left: 0px;
}
.turn-track-7 {
  top: 0px;
  left: 0px;
}
.turn-track-8 {
  top: 0px;
  left: 0px;
}
.turn-track-9 {
  top: 0px;
  left: 0px;
}
.turn-track-10 {
  top: 0px;
  left: 0px;
}
.turn-track-11 {
  top: 0px;
  left: 0px;
}
.turn-track-12 {
  top: 0px;
  left: 0px;
}
.turn-track-13 {
  top: 0px;
  left: 0px;
}
.turn-track-14 {
  top: 0px;
  left: 0px;
}
.turn-track-15 {
  top: 0px;
  left: 0px;
}
.turn-track-16 {
  top: 0px;
  left: 0px;
}
.turn-track-17 {
  top: 0px;
  left: 0px;
}
.turn-track-18 {
  top: 0px;
  left: 0px;
}
.turn-track-19 {
  top: 0px;
  left: 0px;
}
.turn-track-20 {
  top: 0px;
  left: 0px;
}



.general-records-track {

}
.general-records-track-1 {
  top: 0px;
  left: 0px;
}
.general-records-track-2 {
  top: 0px;
  left: 0px;
}
.general-records-track-3 {
  top: 0px;
  left: 0px;
}
.general-records-track-4 {
  top: 0px;
  left: 0px;
}
.general-records-track-5 {
  top: 0px;
  left: 0px;
}
.general-records-track-6 {
  top: 0px;
  left: 0px;
}
.general-records-track-7 {
  top: 0px;
  left: 0px;
}
.general-records-track-8 {
  top: 0px;
  left: 0px;
}
.general-records-track-9 {
  top: 0px;
  left: 0px;
}
.general-records-track-10 {
  top: 0px;
  left: 0px;
}
.general-records-track-11 {
  top: 0px;
  left: 0px;
}
.general-records-track-12 {
  top: 0px;
  left: 0px;
}
.general-records-track-13 {
  top: 0px;
  left: 0px;
}
.general-records-track-14 {
  top: 0px;
  left: 0px;
}
.general-records-track-15 {
  top: 0px;
  left: 0px;
}
.general-records-track-16 {
  top: 0px;
  left: 0px;
}
.general-records-track-17 {
  top: 0px;
  left: 0px;
}
.general-records-track-18 {
  top: 0px;
  left: 0px;
}
.general-records-track-19 {
  top: 0px;
  left: 0px;
}
.general-records-track-20 {
  top: 0px;
  left: 0px;
}



.central-action-round-track {

}
.central-action-roundtrack-1 {
  top: 0px;
  left: 0px;
}
.central-action-roundtrack-2 {
  top: 0px;
  left: 0px;
}
.central-action-roundtrack-3 {
  top: 0px;
  left: 0px;
}
.central-action-roundtrack-4 {
  top: 0px;
  left: 0px;
}
.central-action-roundtrack-5 {
  top: 0px;
  left: 0px;
}
.central-action-roundtrack-6 {
  top: 0px;
  left: 0px;
}
.central-action-roundtrack-7 {
  top: 0px;
  left: 0px;
}
.central-action-roundtrack-8 {
  top: 0px;
  left: 0px;
}
.central-action-roundtrack-9 {
  top: 0px;
  left: 0px;
}
.central-action-roundtrack-10 {
  top: 0px;
  left: 0px;
}



.allies-action-round-track {

}
.allies-action-roundtrack-1 {
  top: 0px;
  left: 0px;
}
.allies-action-roundtrack-2 {
  top: 0px;
  left: 0px;
}
.allies-action-roundtrack-3 {
  top: 0px;
  left: 0px;
}
.allies-action-roundtrack-4 {
  top: 0px;
  left: 0px;
}
.allies-action-roundtrack-5 {
  top: 0px;
  left: 0px;
}
.allies-action-roundtrack-6 {
  top: 0px;
  left: 0px;
}
.allies-action-roundtrack-7 {
  top: 0px;
  left: 0px;
}
.allies-action-roundtrack-8 {
  top: 0px;
  left: 0px;
}
.allies-action-roundtrack-9 {
  top: 0px;
  left: 0px;
}
.allies-action-roundtrack-10 {
  top: 0px;
  left: 0px;
}
.allies-action-roundtrack-11 {
  top: 0px;
  left: 0px;
}
.allies-action-roundtrack-12 {
  top: 0px;
  left: 0px;
}



.central-mandated-offensive-track {

}
.central-mandated-offensive-track-1 {
  top: 0px;
  left: 0px;
}
.central-mandated-offensive-track-2 {
  top: 0px;
  left: 0px;
}
.central-mandated-offensive-track-3 {
  top: 0px;
  left: 0px;
}
.central-mandated-offensive-track-4 {
  top: 0px;
  left: 0px;
}
.central-mandated-offensive-track-5 {
  top: 0px;
  left: 0px;
}



.allies-mandated-offensive-track {

}
.allies-mandated-offensive-track-1 {
  top: 0px;
  left: 0px;
}
.allies-mandated-offensive-track-2 {
  top: 0px;
  left: 0px;
}
.allies-mandated-offensive-track-3 {
  top: 0px;
  left: 0px;
}
.allies-mandated-offensive-track-4 {
  top: 0px;
  left: 0px;
}
.allies-mandated-offensive-track-5 {
  top: 0px;
  left: 0px;
}



.us-commitment-track {

}
.us-commitment-track-1 {
  top: 0px;
  left: 0px;
}
.us-commitment-track-2 {
  top: 0px;
  left: 0px;
}
.us-commitment-track-3 {
  top: 0px;
  left: 0px;
}
.us-commitment-track-4 {
  top: 0px;
  left: 0px;
}



.russian-capitulation-track {

}
.russian-capitulation-track-1 {
  top: 0px;
  left: 0px;
}
.russian-capitulation-track-2 {
  top: 0px;
  left: 0px;
}
.russian-capitulation-track-3 {
  top: 0px;
  left: 0px;
}
.russian-capitulation-track-4 {
  top: 0px;
  left: 0px;
}
.russian-capitulation-track-5 {
  top: 0px;
  left: 0px;
}
.russian-capitulation-track-6 {
  top: 0px;
  left: 0px;
}
.russian-capitulation-track-7 {
  top: 0px;
  left: 0px;
}
.russian-capitulation-track-8 {
  top: 0px;
  left: 0px;
}



.allies-reserve-box {
  top: 0px;
  left: 0px;
}
.central-reserve-box {
  top: 0px;
  left: 0px;
}



.allies-eliminated-units-box
  top: 0px;
  left: 0px;
}
.central-eliminated-units-box {
  top: 0px;
  left: 0px;
}



