.zoom-overlay {
	height: 90vh;
	width: 90vw;
	overflow: hidden;
}

.zoom-overlay .status {
	position: relative;
	height: 4rem;
	line-height: 4rem;
	min-height: 0;
	width: 30rem;
	max-width: 35rem;
	background-color: whitesmoke;
	z-index: 10;
	border-radius: 1rem;
	top: 0px;
	left: 0px;
	white-space: nowrap;
	float: left;
	margin-left: 1rem;
	margin-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.zoom-overlay .controls {
	max-height: 80vh;
}

.zoom-overlay .last {
    position: absolute;
    height: 10rem;
    width: 10rem;
    top: 45%;
    background-color: red;
    left: 5rem;
    z-index: 999;
}
.zoom-overlay .last i {
    font-size: 10rem;
    padding-right: 2rem;
}
.zoom-overlay .next i {
    font-size: 10rem;
    padding-left: 2rem;
}

.zoom-overlay .next {
    position: absolute;
    height: 10rem;
    width: 10rem;
    top: 45%;
    background-color: red;
    right: 5rem;
    z-index: 999;
}
.zoom-overlay .right {
}
.zoom-overlay .controls ul {
	overflow-y: auto;
	display: block;
	position: relative;
	background-color: whitesmoke;
	line-height: 4rem;
	width: 30rem;
	max-width: 35rem;
	max-height: 80vh;
	z-index: 10;
	border-radius: 1rem;
	top: 0px;
	left: 0px;
	white-space: nowrap;
	float: left;
	margin-left: 1rem;
	margin-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	clear: both;
	min-height: max-content;
	height: auto;
	cursor: pointer;
    	overflow-y: scroll;
    	min-height: 100%;
}

.zoom-overlay .status .status-header {
	box-shadow: none;
	margin-bottom: 0px;
}

.zoom-overlay .status .message {
	padding: 1rem;
	margin-bottom: 0px;
	box-shadow: none;
}

.zoom-overlay .status ul {
	margin-top: 1rem;
	background-color: whitesmoke;
	border-radius: 0.5rem;
}

.zoom-overlay .status ul {
	list-style: none;
}

.zoom-overlay .status ul .option {
	padding: 1.5rem;
	cursor: pointer;
}
.zoom-overlay .status ul .option:hover {
	background: #ddd;
}

.zoom-overlay .gameboard {
	position: relative;
}

