.loss-overlay {
	min-width: 1131px;
	min-height: 827px;
	max-height: 90vh;
	max-width: 90vw;
	border-radius: 2rem;
	background-image: url('/paths/img/backgrounds/mark_iv_tank.jpg');
	background-size: cover;
}

.loss-overlay .help {
	background: #0009;
	width: 100%;
	color: white;
	margin-left: auto;
	margin-right: auto;
	font-size: 2.4rem;
	padding: 0.75rem;
	max-width: 100%;
	padding: 1rem;
	line-height: 3.4rem;
	text-align: center;
}

.loss-overlay .info {
	display: flex;
	flex-direction: row;
	row-gap: 5rem;
	column-gap: 5rem;
	bottom: 0px;
	position: absolute;
	width: 100%;
background-color: white;
font-size: 2rem;
}

.loss-overlay .info div {
	display: flex;
	flex-direction: column;
	flex: 1 1;
	min-height: 12rem;
	font-size: 3rem;
	padding: 1rem;
}

.loss-overlay .info div div {
	min-width: 1px;
	min-height: 1px;
}

.loss-overlay-unit {
	height: 15rem;
	width: 15rem;
	position: relative;
	display: block;
}

.loss-overlay-group {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}

.loss-overlay .units {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
	padding: 4rem;
	justify-items: center;
	justify-content: space-evenly;
	row-gap: 5rem;
	column-gap: 2rem;
}
