
.loss-overlay {
        min-width: 1131px;
        min-height: 827px;
        max-height: 90vh;
        max-width: 90vw;
        border-radius: 2rem;
        background-image: url('/paths/img/backgrounds/gun.jpg');
        background-size: cover;
}

.loss-overlay .help {
        background: #0009;
        width: 100%;
        color: white;
        margin-left: auto;
        margin-right: auto;
        font-size: 2.4rem;
        padding: 0.75rem;
        max-width: 100%;
        padding: 1rem;
        line-height: 3.4rem;
        text-align: center;
}

.loss-overlay-unit {
        height: 15rem;
        width: 15rem;
        position: relative;
        display: block;
}

.loss-overlay-group {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
}   

.loss-overlay .units {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        padding: 4rem;
        justify-items: center;
        justify-content: space-evenly;
        row-gap: 5rem;
        column-gap: 2rem;
}

.destroyed-unit {
    position: relative;
    display: block;
}

.destroyed_unit::after {
    content: "";
    position: absolute;
    top: 0px;  /* Adjust position */
    right: 0px; /* Adjust position */
    width: 100%; /* Size of X */
    height: 100%;
    background: url('/paths/img/cancel_x.png') no-repeat center;
    background-size: contain;
    pointer-events: none; /* Prevent interaction */
}



.loss-overlay .info {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: min-content min-content 1fr;
    background-color: white;
    column-gap: 1rem;
    row-gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
    bottom: 0px;
    height: min-content;
    width: 100%;
    padding-bottom: 1rem;
    max-height: 20rem;
    overflow-y: auto;
}

.loss-overlay .info_header {
    display: contents;
    text-align: center;
    font-style: italic;
}
.loss-overlay .info_header div {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.row-0 .col {
     min-height: 1.8rem;
     max-height: 1.8rem;
     font-weight: bold;
     padding-top: 0.2rem;
}

.results_table {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: min-content 1fr 1fr;
    font-size: 2rem;
}

.results_table .row {
    display: contents;
}

.results_table .row .col {
    text-align: center;
}

.results_table .row-1 .col {
    margin-bottom: 1rem;
}

.results_table .row-1 .col-2 , .results_table .row-2 .col-2 , .results_table .row-1 .col-5 , .results_table .row-2 .col-5 {
    height: 92.5%;
}

.results_table .row-0 > .col , .results_table .row-2 > .col {
  align-self: center;
}

.results_table .row-1 > .col , .results_table .row-2 > .col {
  align-self: center;
}


.results_table .row-1 .col-6 , .results_table .row-2 .col-6 {
    display: flex;
    height: 92.5%;
    font-size: 3rem;
    justify-content: center;
}

.dice .attacker_damage {
    background-color: yellow;
}

.dice .defender_damage {
    background-color: yellow;
}

.dice {
    background-color: #efefef;
    aspect-ratio: 1;
    margin-bottom: 0.5rem;
    border: 3px dashed #ddd;
    height: inherit;
    border-radius: 1rem;
    justify-self: center;
    align-items: center;
    align-items: center;
    justify-content: center;
    display: flex;
}


.corps_firing_table .firing_table {
    display: grid;
    grid-template-columns: repeat(10, auto);
}

.corps_firing_table .firing_table .row {
    display: contents;
}

.corps_firing_table .firing_table .row .col {
    text-align: center;
}


.army_firing_table .firing_table {
    display: grid;
    grid-template-columns: repeat(11, auto);
}

.army_firing_table .firing_table .row {
    display: contents;
}

.army_firing_table .firing_table .row .col {
    text-align: center;
}





.terrain_effects_table {
    clear: both;
}

.effects_table {
    display: grid;
    grid-template-columns: repeat(5, auto);
}


.effects_table .row {
    display: contents;
}
.effects_table .row-2 , .effects_table .row-3 , .effects_table .row-4 , .effects_table .row-5 {
    display: none;
}

.effects_table .row .col {
    padding: 0.5rem;
    text-align: center;
}

.firing_table .row:nth-child(odd) > .col {
  background-color: #efe3d5;
}

.results_table .row-0 .col , .firing_table .row-0 .col , .effects_table .row-0 .col {
    font-weight: bold;
    font-size: 1.2rem;
}

.firing_table .row {
    display: flex;
    flex-direction: column;
}
.firing_table .row .col {
}


.other_effects {
    display: flex;
    grid-column: span 2;
}


