.redsquare-page-header-title {
  color: var(--saito-font-color-heavy);
  font-size: 2.5rem;
  padding-top: 0rem;
  text-transform: uppercase;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.redsquare-actions-buttons {
  position: relative;
  display: flex;
}

.redsquare-actions-container {
  display: flex;
  flex-flow: row-reverse;
  right: 1rem;
  margin-left: auto;
}

.redsquare-actions-container .saito-button-secondary {
  margin-top: 0;
  padding: 0.5rem 0.7rem 0.4rem 0.7rem;
}

.redsquare-sidebar {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
#redsquare-intersection {
  opacity: 1;
  height: 3rem;
}

@media screen and (max-width: 768px) {

  .redsquare-page-header-title {
    font-size: 2rem;
  }

  div#redsquare-tweet {
    content: "\002B";
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    background: var(--saito-primary);
    position: fixed;
    z-index: 1;
    bottom: 2rem;
    right: 2rem;
  }

  div#redsquare-tweet::after {
    content: "\002B";
    position: absolute;
    color: var(--saito-white);
    font-size: 5rem;
    text-align: center;
    top: 0;
    left: 0;
    line-height: 5rem;
    width: 5rem;
  }

  div#redsquare-profile {
    display: none;
  }

  .redsquare-appspace-header {
    position: absolute;
    top: -5rem;
  }

  .redsquare-appspace-body {
    margin-top: -1rem;
  }
}





