.content {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mask {
	border-radius: 1rem;
	border: 1px solid var(--saito-border-color);
	padding: 7rem;
	background: linear-gradient(135deg, #0008, #0000);
	max-width: 800px;
}

input[type='text'] {
	width: 100%;
	font-size: 2.5rem;
	padding: 0.5rem;
	margin-top: 1rem;
	text-align: center;
	border-radius: 0.5rem;
	background: #111a;
	color: #fff;
	border: 1px solid #888a;
}

input[type='text']::placeholder {
	color: var(--saito-font-color-dark-modal);
}

.withdraw-container {
	display: flex;
	flex-direction: column;
	max-width: 800px;
	gap: 1rem;
	margin: 1rem;
}

.withdraw-title {
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-size: 2.8rem;
}

.withdraw-intro {
	font-size: 2rem;
	line-height: 2.5rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.withdraw-button {
	margin-top: 2rem;
}

.withdraw-button:hover {
	background-position: 99% 99%;
	color: #fff;
	text-decoration: none;
}

.content,
p {
	color: var(--saito-font-color-dark-modal);
}