input[type='text'] {
	width: 100%;
	font-size: 1.5rem;
	padding: 0.5rem;
	margin-top: 1rem;
	text-align: center;
	border-radius: 0.5rem;
	background: #111a;
	color: #fff;
	border: 1px solid #888a;
}

input[type='text']::placeholder {
	color: var(--saito-font-color-dark-modal);
}

.withdraw-title {
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-size: 1.8rem;
}

.withdraw-intro {
	font-size: 1.75rem;
	line-height: 2.5rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.withdraw-button {
	margin-top: 2rem;
}

.withdraw-button:hover {
    background-position: 99% 99%;
    color: #fff;
    text-decoration: none;
}

.content, p{
	color: var(--saito-font-color-dark-modal);
}