.small-audio-chatbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    z-index: 200;
    bottom: 0;
    border: 1px solid var(--saito-border-color);
}


.audio-box {
    display: inline-block !important;
    height: 100%;
    width: 100%;
}


.small-audio-chatbox .image-list img {
    width: 3.5rem;
    height: 3.5rem;
}

.audio-box.speaking {
    border-color: var(--saito-secondary);
    animation: speaker-pulse .1s infinite;
}

  @keyframes speaker-pulse {
    0%, 100% {
        box-shadow: 0 0 20px 10px var(--saito-secondary);
        border-color: var(--saito-secondary);
      }
      50% {
        box-shadow: 0 0 20px 10px var(--saito-primary);
        border-color: var(--saito-primary);
      }
  }



  



