/* Appspace css */

.stun-appspace {
  width: 100vw;
  height: 100vh;
  left: 0;
  padding: 2rem;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--saito-white);
  background-color: black;
  color: white;
  padding: 3rem;
  justify-content: center;
  position: relative;
}

.stun-appspace-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1028px;
  gap: 5rem;
}

.stunx-appspace-splah {
  /* width: 50%; */
  margin-left: 7rem;
}

.stunx-appspace-settings {}

.my-stun-container-info {
  display: none;
  font-size: 1.75rem;
}

.saito-page-header-title {
  margin-bottom: 1rem;
  font-size: 5rem;
}

.stunx-appspace-splah>p {
  margin-bottom: 1rem;
  font-size: 2.2rem;
  line-height: 3rem;
  color: var(--saito-white);
}

.stunx-appspace-splah>p span {
  text-decoration: underline;
}

.stunx-appspace-splah .saito-badge {
  color: var(--saito-white);
  background: var(--saito-primary);
  width: 5rem;
  height: 5rem;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 4.5rem;
  vertical-align: super;
}

.stunx-appspace-splah .saito-info-text {
  color: rgb(195, 195, 195);
  line-height: 1.2rem;
}

.stun-host-your-own {
  display: inline;
  border-bottom: 2px dashed var(--saito-white);
  padding-bottom: 1px;
  cursor: pointer;
}

.stunx-appspace-actions {
  margin-bottom: 2rem;
  display: flex;
  margin-top: 2rem;
}

.stunx-appspace-create {
  width: 100%;
  ;
}

.stunx-appspace-create p {
  font-weight: bold;
}

.stunx-appspace-join {
  display: flex;
  margin-left: 1.5rem;
  position: relative;
}

.stunx-appspace-join input {
  margin-right: 1rem;
  padding-left: 1rem;
  font-size: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: 4.5rem;
  max-width: 20rem;
}

.stunx-appspace-join p {
  font-weight: bold;
}

.stunx-appspace-join {
  display: flex;
  align-items: center;
}

.stunx-appspace-join input {
  margin-right: 1rem;
  padding-left: 1rem;
  /* height: 50.798px; */
}

.stunx-appspace-join input:focus {
  outline: none;
}

.stunx-appspace-splash p {
  color: white;
}

.stunx-appspace-join .saito-button-secondary {
  position: absolute;
  height: 50%;
  display: flex;
  right: 0.5rem;
  display: none;
  align-items: center;
  background: var(--saito-white);
  color: var(--saito-primary);
  border: 1px solid var(--saito-primary);
}

.stun-appspace-navigation {
  width: 80%;
  max-width: 900px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  padding: 5rem;
  gap: 3rem;
}

.stun-appspace-navigation div a {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-size: 2rem;
}

.stun-appspace-navigation div a:hover i::before {
  content: "\f08e";
}

/*  responsive */

@media screen and (max-width: 1028px) {
  .stun-appspace-content {
    width: 95%;
    gap: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .stun-appspace-content {
    flex-direction: column;
    width: 95%;
  }
  .stunx-appspace-splash {
    padding: 0 5rem;
  }
}

@media screen and (max-width: 900px) {
  .stunx-appspace-splah {
    width: 80%;
    margin-left: 2rem;
  }
}

@media screen and (max-width: 580px) {
  .stun-appspace, .chat-settings-wrapper {
    padding: 1rem;
    margin: 0;
  }
  #createRoom {
    width: 100%;
  }
  .stunx-appspace-splash {
    padding: 0;
  }
}

@media screen and (max-width: 396px) {
  .stunx-appspace-join input {
    width: 15rem;
  }
}