.video-call-component {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* width: fit-content; */
    transition: all 0.5s;
    position: absolute;
    z-index: 200;
    bottom: 0;
}

.icon-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-right: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    transition: background-color 0.3s, opacity 0.5s;
}


.video-call-component.expanded .icon-btn {
   display: block;
}

.icon-btn i {
    position: relative;
    z-index: 1;
    width: 100%;
}

.icon-btn:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 0;
    transition: opacity 0.3s;
}

.icon-btn:hover {
    background-color: #0056b3;
}

.icon-btn:hover:before {
    opacity: 1;
}

.icon-btn:first-child{
    display: inline-flex;
}

.icon-peer {
    border-radius: 0;
}
.video-call-component.expanded .icon-btn {
    display: inline-flex;
}

/* Add smooth transition effects for the buttons */
.video-call-component .icon-btn {
    transition: transform 0.5s, opacity 0.5s;
}

.video-call-component.expanded .icon-btn {
    transform: translateY(0);
    opacity: 1;
}

#disconnect-btn-extension {
    background-color: var(--saito-primary);
}

.join-group-video-chat {
    display: none;
}


.audio-box.speaking {
    border-color: var(--saito-secondary);
    animation: speaker-pulse .1s infinite;
  }

  @keyframes speaker-pulse {
    0%, 100% {
        box-shadow: 0 0 20px 10px var(--saito-secondary);
        border-color: var(--saito-secondary);
      }
      50% {
        box-shadow: 0 0 20px 10px var(--saito-primary);
        border-color: var(--saito-primary);
      }
  }

  



