.saito-overlay-closebox {
  right: 1rem;
  width: 3rem;
  height: 3rem;
  top: 1rem;
}

.saito-overlay-closebox-btn {
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
}
.stunx-chatbox {
  top: 0 !important;
  left: 0 !important;
  width: 100vw;
  background-color: var(--saito-white) fff;
  position: fixed;
  z-index: 20;
  transition: all 0.2s;
}

.stunx-chatbox.minimize:hover {
  cursor: pointer;
}

.stunx-chatbox .minimizer {
  position: absolute;
  right: 3rem;
  top: 0rem;
  z-index: 2;
}

.stunx-chatbox .minimizer i {
  font-size: 4rem;
  color: var(--saito-white);
  transition: all 0.2s;
}

@keyframes minimize {
  100% {
    position: absolute;
    opacity: 0.8;
    transform: translate(-40%, 90%) translate(0, -50%) scale(0.2);
  }
}

.minimize {
  animation-name: minimize;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.stunx-chatbox .minimizer i:hover {
  color: var(--saito-primary);
  transform: scale(1.1);
  cursor: pointer;
}

.stunx-chatbox main {
  width: 100vw;
  height: 100vh;
}

.stunx-chatbox .heading {
  padding: 1rem;
}

.stunx-chatbox .large-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(50%, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
  height: 80%;
  background: black;
}

.stunx-chatbox .footer {
  height: 20%;
}

.stunx-chatbox .video-box {

}

#localStream {
  display: block;
}

.stunx-chatbox .b-btngrid {
  border: none;
  margin-left: 1rem;
  margin-top: 250px;
  width: 160px;
  height: 38px;
  border-radius: 4px;
  left: 51px;
  cursor: pointer;
}

.stunx-chatbox .heading {
  background: linear-gradient(96.79deg, #f30c4f 0%, #f8c062 91.87%);
}

/* video chat */

.video-box-container {
  background-color: black;
  display: flex;
  height: 100%;
  position: fixed;
  z-index: 100000;
  width: 40rem;
  height: 30rem;
  bottom: 40%;
  left: 50%;
  top: 50%;
  resize: both;
  overflow: auto;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  color: var(--saito-white);
  border-radius: 1rem;
  position: relative;
}

.video-box-container video {
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: rotateY(180deg);
}

.video-box-container > #connection-message {
  color: var(--saito-white);
  width: 50%;
  line-height: 1.5;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.video-box-container > #connection-message > p {
  color: var(--saito-white);
  font-size: 2.8rem !important;
  text-transform: lowercase;
}

.lds-dual-ring {
  display: inline-block;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--saito-white);
  border-color: var(--saito-white) transparent var(--saito-white) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes glow {
  0% {
    transform: scale(0.97);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(0.97);
  }

  100% {
    transform: scale(0.97);
  }
}

/*  Video chat */

/*  video chat */

.small-video-chatbox {
  max-width: 60vw;
  left: 0;
  bottom: 4.2rem;
  width: 70rem;
  border-radius: 0.5rem;
  background-color: var(--saito-white);
  position: fixed;
  z-index: 100000;
  resize: both;
  overflow: hidden;
  border-radius: 1rem;
}

.small-video-chatbox .heading {
  padding: 1rem;
}
/*   
  .small-video-chatbox .disconnect_btn {
    transform: matrix(1, 0, 0, -1, 0, 0);
    background-color: var(--saito-white);
    margin:  0;
  } */

/* .small-video-chatbox .disconnect_btn:hover {
    color: black
  }
   */
.small-video-chatbox .small-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(100px, 30vh);
  grid-gap: 1rem;
  background: var(--saito-skyline-grey);
}

.small-video-chatbox .video-box {
  border-radius: 0.1rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#localStream {
  display: block;
}

.small-video-chatbox .b-btngrid {
  border: none;
  margin-left: 1rem 1.5rem;
  margin-top: 250px;
  width: 160px;
  height: 38px;
  border-radius: 4px;
  left: 51px;
  cursor: pointer;
}

.small-video-chatbox .heading {
  background: linear-gradient(96.79deg, #f30c4f 0%, #f8c062 91.87%);
}

.small-video-chatbox .footer {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  background: radial-gradient(100.52% 47851.24% at 0% 0%, #f66659 0%, #f21d3b 51.56%, #f66659 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  transform: matrix(1, 0, 0, -1, 0, 0);
  color: var(--saito-white);
  align-items: center;
  grid-template-columns: 2em 2em 1fr;
}

.small-video-chatbox p {
  margin: 0;
}

.small-video-chatbox .footer .fa,
.small-video-chatbox .footer .fas {
  color: var(--saito-white);
  font-size: 2rem;
  cursor: pointer;
  transform: matrix(1, 0, 0, -1, 0, 0);
  margin-right: 3rem;
}

/*  video box */
.video-box-container-large {
  background-color: black;
  display: flex;
  height: 100%;
  resize: both;
  overflow: auto;
  justify-content: center;
  align-items: center;
  color: var(--saito-white);
  border-radius: 1rem;
  position: relative;
}

.video-box-container-large video {
  width: 100%;
  height: 100%;
  z-index: 2;
  transform: rotateY(180deg);
  border-radius: 0.1rem;
  object-fit: cover;
  border: none;
}

.video-box-container-large > #connection-message {
  color: var(--saito-white);
  width: 50%;
  line-height: 1.5;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

#reconnect-button {
  color: var(--saito-white);
  /* width: 50%; */
  line-height: 1.5;
  position: absolute;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
}

#reconnect-button button {
  background: var(--saito-primary);
  text-align: center;
  padding: 1rem 1.5rem;
  text-align: center;
  letter-spacing: 1px;
  color: var(--saito-white);
  font-weight: 500;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  min-width: 0;
  cursor: pointer;
  border: 1px solid transparent;
}
.video-box-container-large > #connection-message > p {
  color: var(--saito-white);
  font-size: 2.8rem;
}

.video-box-container-large > #video-mute-message {
  color: var(--saito-white);
  /* width: 50%; */
  line-height: 1.5;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 1rem;
  font-size: 1rem;
  bottom: 0;
  z-index: 2;

}

.video-box-container-large > #video-mute-message > p {
  color: #ffffff69;
  font-size: 2rem;
}

.video-box-container-large canvas {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* .video-box-container {
  background-color: black;
  display: flex;
  height: 100%;
  position: fixed;
  z-index: 100000;
  width: 40rem;
  height: 30rem;
  bottom: 40%;
  left: 50%;
  top: 50%;
  resize: both;
  overflow: auto;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  color: var(--saito-white);
  border-radius: 1rem;
}

.video-box-container video {
  width: 100%;
  height: 100%;
}

.video-box-container > div {
  color: var(--saito-white);
  width: 50%;
  line-height: 1.5;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-box-container > div > p {
  color: var(--saito-white);
} */

.lds-dual-ring {
  display: inline-block;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--saito-white);
  border-color: var(--saito-white) transparent var(--saito-white) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.ls-dual-ring2 {
  display: inline-block;
}

.lds-dual-ring2:after {
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  /* margin: 8px; */
  border-radius: 50%;
  border: 6px solid var(--saito-white);
  border-color: var(--saito-white) transparent var(--saito-white) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

/*  Add users */
.add-users-container {
  min-width: 0;
  width: 50rem;
}

.add-users-header {
  font-size: 1.7rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.add-users-code-container {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--saito-white);
  color: var(--saito-font-color);
  font-size: 1.6rem;
  display: flex;
  width: 55%;
  justify-content: space-between;
}

.add-users-code-container i {
  cursor: pointer;
}
.add-users-footer-text {
  margin-top: 1rem;
  font-size: 1.4rem;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes glow {
  0% {
    transform: scale(0.97);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(0.97);
  }

  100% {
    transform: scale(0.97);
  }
}

.control-panel {
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #060505;
  height: 100%;
}

.control-panel .timer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.timer p {
  color: var(--saito-white);
  margin-right: 1rem;
}
.timer .counter {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.timer .counter span {
  color: orangered;
  font-size: 2rem;
}

.users-on-call {
  display: flex;
  align-items: center;
}

.users-on-call .image-list {
  display: flex;
  margin-right: 2rem;
}

.image-list img {
  width: 4rem;
  height: 4rem;
  margin-right: -1rem;
}

.control-list {
  display: flex;
}

.control-list span {
  margin-right: 1rem;
  border-radius: 50%;
  padding: 1rem;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--saito-white);
}

.control-list i {
  color: green;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 2rem;
}

.control-list i:hover {
  transform: scale(1.2);
}

.control-list .disconnect_btn {
  background-color: var(--saito-white);
  color: var(--saito-primary);
}

.control-list .add_users {
  color: var(--saito-gray-mid);
}

@media screen and (max-width: 900px) {
  .stunx-chatbox .large-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 1rem;
    padding: 1rem;
    height: 70%;
    background: black;
  }

  .stunx-chatbox .footer {
    height: 30%;
  }

  .control-panel {
    padding-bottom: 5rem;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: start;
  }

  .control-panel .control-list {
    margin-bottom: 1rem;
  }
}

@media screen and (max-height: 850px) {
  .video-box-container-large:nth-child(2) {
  }

  .control-panel {
    padding-bottom: 10rem;
  }

  .control-panel span {
    width: 4rem;
    height: 4rem;
  }

  .control-panel .timer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .control-panel .timer .counter {
    margin-left: 1rem;
  }

  .control-panel .timer .counter span {
    color: orangered;
    font-size: 2rem;
  }
}

/* CHAT SETTINGS */

.chat-settings-container {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: var(--saito-white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  position: fixed;
  color: var(--saito-white);
  top: 0;
  z-index: 200;
}

.chat-settings {
  display: flex;
  padding: 2rem;
  border-radius: 1rem;
  z-index: 40;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.chat-settings-preview-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2rem;
  color: var(--saito-white);
}

.chat-settings-preview-section p {
  margin-bottom: 2rem;
  color: var(--saito-white);
}

.chat-settings-join-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--saito-white);
}
.chat-settings-join-section h2 {
  margin-bottom: 1.5rem;
}
.chat-settings-join-section p {
  margin-bottom: 1.5rem;
  color: var(--saito-white);
}
.chat-settings-test-mic {
  margin-top: 1rem;
}

.chat-settings-test-mic {
  margin-top: 1rem;
}



.chat-settings-audio-controls {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.chat-settings-toggle-icon {
  margin-right: 1rem;
  color: var(--saito-primary);
}

.chat-settings h1 {
  color:  var(--saito-white);
  margin-bottom: 1rem;
}

.chat-setting p {
  color: var(--saito-white);
  margin-bottom: 1rem;
}

.chat-settings-preview {
  position: relative;
  border: 1px solid #e5e5e59d;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom:  1rem;
  width: 55rem;
  /* background-color: #f9f9f9; */
}

.chat-settings video {
  width: 100%;
  border-radius: var(--border-radiius);
}

.chat-settings-toggle-icons {
  color: var(--saito-white);
  font-size: 1.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
  position: absolute;
  bottom: 3rem;
}

.chat-settings-toggle-icon {
  font-size: 3rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.chat-settings select {
  background-color: var(--saito-black-faded);
  color: var(--saito-white);
  width: 55rem;

}

.chat-settings select option {
  background-color: var(--saito-black-faded);
  color: var(--saito-white);
}

.chat-settings button.join {
  background-color: #1a73e8;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: .5rem;
  font-size: 1rem;
  cursor: pointer;
}



.chat-settings .toggle-icon {
  color: var(--saito-white);
  font-size: 1.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
  background-color: #4a4a4a;
  border-radius: 50%;
  padding: .5rem;
}

.chat-settings-audio-progress-bar {
  position: relative;
  background-color: var(--saito-white);
  height: .5rem;
  width: 15rem;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 1rem;
}

.chat-settings-progress {
  position: absolute;
  left: 0;
  top: 0;
  height: 10rem;
  background-color: #28a745;
  width: 0%;
  transition: width 0.1s;
}

@media screen and (max-width: 767px) {
  .chat-settings {
    flex-direction: column;
    padding: 1rem;
  }

  .chat-settings-preview-section {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .chat-settings-preview {
    width: 100%;
  }

  .chat-settings select {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .chat-settings {
    padding: 1rem;
  }

  .chat-settings-preview {
    width: 40rem;
  }

  .chat-settings select {
    width: 40rem;
  }
}


