/* Appspace css */

.stun-appspace {
  width: 100vw;
  height: 100vh;
  left: 0;
  padding: 2rem;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: var(--saito-white);
  padding: 3rem;
  justify-content: center;
  position: relative;
}

.stun-appspace-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1028px;
  gap: 5rem;
}


.chat-settings-preview-message {
  font-style: italic;
}

.my-stun-container-info {
  display: none;
  font-size: 1.75rem;
}

.saito-page-header-title {
  margin-bottom: 1rem;
  font-size: 5rem;
}



.stun-host-your-own {
  display: inline;
  border-bottom: 2px dashed var(--saito-white);
  padding-bottom: 1px;
  cursor: pointer;
}

.stunx-appspace-actions {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}


.stunx-appspace-launch-call-btn {
  margin: 3rem;
  display: none;
}

.stunx-appspace-splash {
  height: 25rem;
  color: var(--saito-white);
}


.stun-appspace-navigation {
  width: 80%;
  max-width: 900px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  padding: 5rem;
  gap: 3rem;
}

.stun-appspace-navigation div a {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-size: 2rem;
}

.stun-appspace-navigation div a:hover i::before {
  content: "\f08e";
}

/*  responsive */

@media screen and (max-width: 1028px) {
  .stun-appspace-content {
    width: 95%;
    gap: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .stun-appspace-content {
    flex-direction: column;
    width: 95%;
  }
  .stunx-appspace-splash {
    padding: 0 5rem;
  }
}


@media screen and (max-width: 580px) {
  .stun-appspace, .chat-settings-wrapper {
    padding: 1rem;
    margin: 0;
  }
  #createRoom {
    width: 100%;
  }
  .stunx-appspace-splash {
    padding: 0;
  }

  .chat-settings-preview-message{
    width: 60%;
  }
}

