/* Appspace css */

.stunx-appspace-card h2 {
  margin-bottom: 1rem;
}

.stunx-appspace-card > p {
  margin-bottom: 1rem;
}

.stunx-appspace-actions {
  margin-bottom: 1rem;
  border-top: 1px solid #ddd;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.stunx-appspace-card .saito-badge {
  color: var(--saito-white);
  background: var(--saito-primary);
  width: 2rem;
  height: 2rem;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 1.75rem;
  vertical-align: super;
}

.stunx-appspace-card .saito-info-text {
  color: #666;
  line-height: 1.2rem;
}

.stunx-appspace-actions .saito-button-secondary {
  width: 18rem;
}

.stunx-appspace-join {
  display: flex;
}

.stunx-appspace-join input {
  margin-right: 1rem;
  padding-left: 1rem;
  height: 2rem;
  width: 18rem;
}

.stunx-appspace-join p {
  font-weight: bold;
}

.stunx-appspace-create {
  margin-bottom: 1rem;
}

.stunx-appspace-create p {
  font-weight: bold;
}

.stunx-appspace-actions > div {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 20rem 1fr;
}

.stunx-appspace-join {
}

.stunx-appspace-join input {
  margin-right: 1rem;
  padding-left: 1rem;
  height: 50.798px;
}

.stunx-appspace-join input:focus {
  outline: none;
}

/*  responsive */

@media screen and (max-width: 503px) {
}

@media screen and (max-width: 396px) {
  .stunx-appspace-join input {
    width: 15rem;
  }
}
