html,body {
    overflow-y: scroll!important;
}
.main-container {
	padding: 1rem max(2rem, calc((100vw - var(--saito-width)) / 2 + 0.5rem));
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: calc(var(--saito-header-height) + 2rem);
    justify-content: space-between;
}

.sub-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
    width: 70%;
}

.container-title {
	font-size: 3rem;
	font-weight: bold;
}

.jsoneditor {
	border: none;
    margin-left: -5rem;
}

.jsoneditor-menu, .jsoneditor-navigation-bar {
	display: none;
}

#debug-save {
	width: 10rem;
}

#settings-edit-json {
  text-decoration: underline;
  cursor: pointer;
}

#settings-edit-json:hover {
  text-decoration: none;
}

.jsontree_node {
	list-style: none;
}

div.jsoneditor-tree button.jsoneditor-button {
  min-width: auto;
  background: inherit !important;
    background-size: auto !important;
    background-color: transparent !important;
    background-image: url(/saito/lib/jsoneditor/img/jsoneditor-icons.svg) !important;
}

div.jsoneditor-tree button.jsoneditor-collapsed {
    background-position: 0 -48px !important;
    border-radius: 0rem;
    box-shadow: none;
}

div.jsoneditor-tree button.jsoneditor-expanded {
    background-position: 0 -72px !important;
    border-radius: 0rem;
    box-shadow: none;
}

div.jsoneditor-tree button.jsoneditor-contextmenu-button {
    background-position: -48px -72px !important;
        display: none;
}

div.jsoneditor-tree button.jsoneditor-dragarea {
    background-position: -72px -72px !important;
        display: none;
}

div.jsoneditor-outer.has-nav-bar.has-main-menu-bar {
    margin: 0rem;
    padding: 0rem;
}

.jsoneditor-popover, .jsoneditor-schema-error, 
div.jsoneditor td, div.jsoneditor textarea, 
div.jsoneditor th, div.jsoneditor-field, 
div.jsoneditor-value, pre.jsoneditor-preview {
    font-size: 1.8rem;
    font-family: inherit;
    height: 2.8rem;
}