
.logobox .status-header, .logobox .status-text-menu{
  background-color: #fffe
}



#hint{
  margin-top: 1em;
  cursor: pointer;
}

.tip .tiptext{
  min-width: unset;
  width: 100%;
}

.hint_btn{
  font-weight: bold;
  font-style: italic;
}

.mahj-rowbox {
  margin: 80px;
  padding: 15px;
  padding-left: 70px;
  display: grid;
  grid-template-columns: repeat(14, 80px) !important;
  grid-template-rows: repeat(21, 107px);
  width: 1200px;
  height: 825px;
  /*max-width: min(90vw,120vh);*/
  /*grid-gap: min(0px,1vh);*/
  /*height: fit-content;*/
}


.slot {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 1;
  border-radius: 0px 19px 4px 16px;

  /*transform: rotate3d(20, -5, 1, 21deg); */
  
  /*box-shadow: 3px 3px 6px 4px black, -7px -9px 8px 3px black;*/
  filter: drop-shadow(-1px -1px 1px black);

}


.slot.invisible{
  opacity: 0;
  pointer-events: none;
  filter: none;
  border: none;
}

.slot.selected{
  background-color: #00ff00;
  box-shadow: -7px -9px 1px 5px #00ff00;
}
.slot.invalid{
  background-color: #ff0000;
  box-shadow: -7px -9px 1px 5px #ff0000;
}

.slot.hint{
  background-color: #ffff00;
  box-shadow: -7px -9px 1px 5px #ffff00;
}

.slot.selected img, .slot.invalid img, .slot.hint img{
  opacity: 0.75;
}

.slot img {
 width: 115%;
 position: absolute;
 right: 0;
 bottom: 0;
}

.slot.available:hover{
  background-color: ghostwhite;
  box-shadow: -7px -9px 1px 5px ghostwhite;
  cursor: pointer;
}
.slot.available img:hover{
  filter: brightness(1.5);
}

.row > img {
  opacity: 1;
}

.rules-overlay ul{
  margin-left: 8px;
}

.status-header{
  height: 140px;
}

.rules-overlay table{
  font-size: 1.5em;
  margin: 0 auto;
}

.rules-overlay th{
  text-align: right;
}

.rules-overlay td{
  text-align: center;
  width: 4em;
}

.gameboard {
  position: absolute;
  background-image: url(/saito/img/arcade/greenfelt.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  /*display: grid;
  grid-template-columns: minmax(20%,max-content) 1fr;*/
}

.logobox {
  position: absolute;
  font-size: 20px;
  max-width: 200px;
  margin: 80px 20px;
}
.logobox div{
  border-radius: 5px;
}

.logobox img {
  width: 100%;
  margin-bottom: 15px;
}

.status-header{
  padding: 10px 5px;
  margin-top: 20px;
}



#row4_slot1 {
  position: relative;
  top: 50%;
}
#row5_slot14{
  position: relative;
  bottom: 50%;
}


/* Upper layers*/
div[id^="row9"], div[id^="row10"], div[id^="row11"], div[id^="row12"], div[id^="row13"], div[id^="row14"] {
  z-index: 2;
  position: relative;
  top: -714%;  
  left: -20%;
}
div[id^="row9"], div[id^="row10"], div[id^="row11"], div[id^="row12"], div[id^="row13"], div[id^="row14"]{

}

div[id^="row15"], div[id^="row16"], div[id^="row17"], div[id^="row18"] {
  z-index: 4;
  position: relative;
  top: -1228%;
  left: -40%;
}

div[id^="row19"], div[id^="row20"] {
  z-index: 6;
  position: relative;
  top: -1542%;
  left: -60%;
}

div[id^="row21"] {
  z-index: 8;
  position: relative;
  top: -1710%;
  left: -80%;
}



@media screen and (orientation: landscape) and (max-height: 600px) {
  .logobox{
    order: 1;
    max-width: 150px;
  }
  .logobox img{
    display: none;
  }
  .hidable{
    display: none;
  }
  .rowbox{
    margin-top: 0;
    padding: 15px;
    order: 2;
  }

  .status-header {
    display: none;
  }

}

@media screen and (orientation: portrait) and (max-width: 600px) {
  .gameboard{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    
  }
  .logobox{
    order: 2;
    /*grid-row: 2 / 2;*/
    max-width: unset;
    margin: 5px auto;
    font-size: 18px;
    align-self: end;
  }
  .logobox img{
    display: none;
  }
  .hidable{
    display: none;
  }
  .logobox .status, .logobox .status-text-menu{
    width: min(500px, 90vw);
  }
  .rowbox{
    max-width: 100vw;
    order: 1;
  }

  .logobox .status-header {
    display: none;  
  } 
}

