
.logobox .status-header, .logobox .status-text-menu{
  background-color: #fffe
}



#hint{
  margin-top: 1em;
  cursor: pointer;
}

.tip .tiptext{
  min-width: unset;
  width: 100%;
}

.hint_btn{
  font-weight: bold;
  font-style: italic;
}

.slot {
  position: relative;
  width: 80px; /*min(5.5vw, 8.5vh);*/
  height: 106px; /*min(7.5vw, 11.4vh);*/
  opacity: 1;
  border: 1px solid;
  border-radius: 8px; /*min(0.6vh, 0.6vw);*/
  border-top-left-radius: 4px;

  transform: rotate3d(20, -5, 1, 21deg); 
  /*transform: rotate3d(30, -10, 3, 30deg);*/
  
  /*box-shadow: 6px 5px 12px 1px #000000*/
  filter: drop-shadow(4px 6px 1px black);
}

.slot.invisible{
  opacity: 0;
  pointer-events: none;
  filter: none;
  border: none;
}

.slot.selected{
  background-color: #00ff00;
}
.slot.invalid{
  background-color: #ff0000;
}

.slot.hint{
  background-color: #ffff00;
}

.slot.selected img, .slot.invalid img, .slot.hint img{
  opacity: 0.75;
}

.slot img {
 width: 105%;
 position: absolute;
 left: -2.5%;
 top: -2.5%;
}

.slot.available:hover{
  background-color: ghostwhite;
  cursor: pointer;
}
.slot.available img:hover{
  filter: brightness(1.5);
}

.row > img {
  opacity: 1;
}

.rules-overlay ul{
  margin-left: 8px;
}

.status-header{
  height: 140px;
}

.rules-overlay table{
  font-size: 1.5em;
  margin: 0 auto;
}

.rules-overlay th{
  text-align: right;
}

.rules-overlay td{
  text-align: center;
  width: 4em;
}

.gameboard {
  position: absolute;
  background-image: url(/saito/img/arcade/greenfelt.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  /*display: grid;
  grid-template-columns: minmax(20%,max-content) 1fr;*/
}

.logobox {
  position: absolute;
  font-size: 20px;
  max-width: 200px;
  margin: 80px 20px;
}
.logobox div{
  border-radius: 5px;
}

.logobox img {
  width: 100%;
  margin-bottom: 15px;
}

.status-header{
  padding: 10px 5px;
  margin-top: 20px;
}


.mahj-rowbox {
  margin: 80px;
  padding: 15px;
  padding-left: 70px;
  display: grid;
  grid-template-columns: repeat(14, 80px) !important;
  grid-template-rows: repeat(21, 100px/*min(7vw, 10.8vh)*/);
  width: 1200px;
  height: 825px;
  /*max-width: min(90vw,120vh);*/
  /*grid-gap: min(0px,1vh);*/
  /*height: fit-content;*/
  row-gap: 1px;
}

#row4_slot1 {
  position: relative;
  top: 50%;
  left: -21%;
}
#row5_slot14{
  position: relative;
  bottom: 50%;
  left: -21%;
}

.row2{
  left: -5%;
}

.row3{
  left: -11%;
}

.row4{
  left: -17%;
}

.row5{
  left: -22%;
}

.row6{
  left: -28%;
}

.row7{
  left:  -35%;
}

.row8{
  left: -41%;
}
/* Upper layers*/
div[id^="row9"], div[id^="row10"], div[id^="row11"], div[id^="row12"], div[id^="row13"], div[id^="row14"] {
  z-index: 2;
  position: relative;
  top: -713%;  
}
div[id^="row9"]{
  left: -14%;
}
div[id^="row10"]{
  left: -19%;
}
div[id^="row15"]{
  left: -26%;
} 
div[id^="row11"] {
  left: -24%;
} 
div[id^="row16"]{
  left: -31%;
}
 div[id^="row19"]{
  left: -38%;
}

div[id^="row12"] {
  left: -29%;
} 
 div[id^="row17"]{ 
  left: -36%;
 }
div[id^="row20"]{
  left: -42%;
}
div[id^="row13"]{
  left: -34%;
} 
div[id^="row18"]{
  left: -40%;
 }
div[id^="row14"] {
  left: -39%;
}

div[id^="row15"], div[id^="row16"], div[id^="row17"], div[id^="row18"] {
  z-index: 4;
  position: relative;
  top: -1224%;
}

div[id^="row19"], div[id^="row20"] {
  z-index: 6;
  position: relative;
  top: -1533%;
}

div[id^="row21"] {
  z-index: 8;
  position: relative;
  top: -1690%;
  left: -47%;
}



@media screen and (orientation: landscape) and (max-height: 600px) {
  .logobox{
    order: 1;
    max-width: 150px;
  }
  .logobox img{
    display: none;
  }
  .hidable{
    display: none;
  }
  .rowbox{
    margin-top: 0;
    padding: 15px;
    order: 2;
  }

  .status-header {
    display: none;
  }

}

@media screen and (orientation: portrait) and (max-width: 600px) {
  .gameboard{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    
  }
  .logobox{
    order: 2;
    /*grid-row: 2 / 2;*/
    max-width: unset;
    margin: 5px auto;
    font-size: 18px;
    align-self: end;
  }
  .logobox img{
    display: none;
  }
  .hidable{
    display: none;
  }
  .logobox .status, .logobox .status-text-menu{
    width: min(500px, 90vw);
  }
  .rowbox{
    max-width: 100vw;
    order: 1;
  }

  .logobox .status-header {
    display: none;  
  } 
}

