body {
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
}

.logobox .status-header, .logobox .status-text-menu{
  background-color: #fffe
}


.main {
  margin: 0 0 0 0 ;
  padding: 0 0 0 0 ;
}

#hint{
  margin-top: 1em;
  cursor: pointer;
}

.tip .tiptext{
  min-width: unset;
  width: 100%;
}

.hint_btn{
  font-weight: bold;
  font-style: italic;
}

.slot {
  position: relative;
  width: min(5.5vw, 8.5vh);
  height: min(7.5vw, 11.4vh);
  opacity: 1;
  border-radius: min(0.6vh, 0.6vw);
  
  transform: rotate3d(20, -5, 1, 21deg); 
  /*transform: rotate3d(30, -10, 3, 30deg);*/
  
  /*box-shadow: 6px 5px 12px 1px #000000*/
  filter: drop-shadow(4px 5px 3px black);
}

.slot.invisible{
  opacity: 0;
  pointer-events: none;
  box-shadow: none;
}

.slot.selected{
  background-color: #00ff00;
}
.slot.invalid{
  background-color: #ff0000;
}

.slot.hint{
  background-color: #ffff00;
}

.slot.selected img, .slot.invalid img, .slot.hint img{
  opacity: 0.75;
}

.slot img {
 width: 105%;
 position: absolute;
 left: -2.5%;
 top: -2.5%;
}

.slot.available:hover{
  background-color: ghostwhite;
  cursor: pointer;
}
.slot.available img:hover{
  filter: brightness(1.5);
}

.row > img {
  opacity: 1;
}

.rules-overlay ul{
  margin-left: 8px;
}

.status-header{
  height: 140px;
}

.rules-overlay table{
  font-size: 1.5em;
  margin: 0 auto;
}

.rules-overlay th{
  text-align: right;
}

.rules-overlay td{
  text-align: center;
  width: 4em;
}

.gameboard {
  position: absolute;
  background-image: url(/saito/img/arcade/greenfelt.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(20%,max-content) 1fr;
}

.logobox {
position: relative;
    margin-top: 50px;
    font-size: 20px;
    order: 1;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}
.logobox div{
  border-radius: 5px;
}

.logobox img {
  width: 100%;
  margin-bottom: 15px;
}

.status-header{
  padding: 10px 5px;
  margin-top: 20px;
}


.mahj-rowbox {
  order: 2;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(14, 1fr) !important;
  grid-template-rows: repeat(21, min(7vw, 10.8vh));
  max-width: min(90vw,120vh);
  /*grid-gap: min(0px,1vh);*/
  height: fit-content;
  row-gap: 1px;
}

#row4_slot1 {
  position: relative;
  top: 50%;
  left: -21%;
}
#row5_slot14{
  position: relative;
  bottom: 50%;
  left: -21%;
}

.row2{
  left: -5%;
}

.row3{
  left: -11%;
}

.row4{
  left: -17%;
}

.row5{
  left: -22%;
}

.row6{
  left: -28%;
}

.row7{
  left:  -35%;
}

.row8{
  left: -41%;
}
/* Upper layers*/
div[id^="row9"], div[id^="row10"], div[id^="row11"], div[id^="row12"], div[id^="row13"], div[id^="row14"] {
  z-index: 2;
  position: relative;
  top: -711%;  
}
div[id^="row9"]{
  left: -12%;
}
div[id^="row10"], div[id^="row15"]{
  left: -18%;

} 
div[id^="row11"], div[id^="row16"], div[id^="row19"]{
  left: -22%;
} div[id^="row12"], div[id^="row17"], div[id^="row20"]{
  left: -28%;
} div[id^="row13"], div[id^="row18"]{
  left: -34%;
} div[id^="row14"] {
  left: -39%;
}

div[id^="row15"], div[id^="row16"], div[id^="row17"], div[id^="row18"] {
  z-index: 4;
  position: relative;
  top: -1216%;
}

div[id^="row19"], div[id^="row20"] {
  z-index: 6;
  position: relative;
  top: -1524%;
}

div[id^="row21"] {
  z-index: 8;
  position: relative;
  top: -1676%;
  left: -30%;
}



@media screen and (orientation: landscape) and (max-height: 600px) {
  .logobox{
    order: 1;
    max-width: 150px;
  }
  .logobox img{
    display: none;
  }
  .hidable{
    display: none;
  }
  .rowbox{
    margin-top: 0;
    padding: 15px;
    order: 2;
  }

  .status-header {
    display: none;
  }

}

@media screen and (orientation: portrait) and (max-width: 600px) {
  .gameboard{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    
  }
  .logobox{
    order: 2;
    /*grid-row: 2 / 2;*/
    max-width: unset;
    margin: 5px auto;
    font-size: 18px;
    align-self: end;
  }
  .logobox img{
    display: none;
  }
  .hidable{
    display: none;
  }
  .logobox .status, .logobox .status-text-menu{
    width: min(500px, 90vw);
  }
  .rowbox{
    max-width: 100vw;
    order: 1;
  }

  .logobox .status-header {
    display: none;  
  } 
}

