:root{
  --dominion-parchment: tan;
  --dominion-dark: #554e3e;
}

body {
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
  overflow: hidden; 
  position: fixed;
  width: 100vw;
  height: 100vh;
}


.animation_helper{
  position: absolute;
}

.animated_elem{
  position: absolute;
}

.main{
  /* Default fill the background with image */
  position: absolute;
  background-image: url("img/gameboard.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.active_card_zone{
  position: absolute;
  top: 40px;
  left: 5px;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.active_card_zone .cardimg{
  width: 100px;
}


.cardimg {
  width: 100%;
}

.cardpile img{
  width: 100%;
  position: absolute;
  border: 1px solid;
  border-radius: 2.5%;
}

.cardpile img:first-child{
  filter: drop-shadow(-8px 1px 6px #000A);
}


.passivecard{
  width: 100%;
  filter: brightness(0.8);
}
.passivecard:hover{
 filter:  brightness(1.0); 
}


.card_count{
  text-align: center;
  color: ghostwhite;
  position: relative;
  top: 2px;
}

#log-wrapper{
  z-index: 510;
}




.logcard{
  font-weight: bold;
}

/*.showcard .tiptext{
  display: none;
}*/

.tip .tiptext{
  width: fit-content;
  min-width: unset;
  color: black;
  background-color: var(--dominion-parchment);
  font-weight: bold;
  text-align: center;
  pointer-events: none;
}

.status-header, .status-message{
  background-color: #030303;
  color: ghostwhite;
}

.hud-long{
  max-height: 310px;
}

.hud-body{
  position: relative;
}

.hud-body #drawpile{
  position: absolute;
  right: 105%;
  bottom: 5%;
}

.hud-body #discardpile{
  position: absolute;
  left: 105%;
  bottom: 5%;
}

.hud .cardpile{
  width: 120px;
  height: 190px;
}

.hud .cardpile div{
  position: absolute;
  width: 100%;
  top: 0;
  color: ghostwhite;
  font-size: 18px;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}


.game-scoreboard{
  background-color: var(--dominion-parchment);
  height: 40px;
}
.game-scoreboard .score{
  font-size: 20px;
  font-family: "Papyrus";
  font-weight: bold;
  margin: 0 8px;
}


.rules-overlay{
  background-color: var(--dominion-parchment);
}

.cardlist{
  display: grid;
  grid-template-columns: repeat(auto-fit, 40px);
}

.cardlist-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardlist-container img{
  width: 80px;
}

/* Make Menu Item Flash*/
.game-decks{
  animation-name: flash;
  animation-duration: 0.7s;
  animation-iteration-count: 10;
  animation-direction: alternate;
}

@keyframes flash {
  100% {
    color: #f5f5f500;
  }
}


.attack_overlay{
  background-color: var(--dominion-dark);
  border-radius: 3px;
  font-family: "Papyrus";
  border: solid var(--dominion-parchment) 1px;
  color: ghostwhite;
  padding: 1em;
  min-width: min(500px,95vw);
}

.attack_overlay h1, .attack_overlay h2{
  font-size: 1.5em;
  color: ghostwhite;
  text-align: center;
}

.attack_overlay .overlay-img{
  min-width: 150px;
  max-width: 180px;
  margin-right: 20px;
}

.attack_overlay .overlay-input{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.attack_overlay .overlay_content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.attack_details{
  display: grid;
  align-items: center;
  max-width: 250px;
  grid-gap: 10px;
  grid-template-rows: 10px auto;
  grid-template-columns: repeat(auto-fit, minmax(auto, 100px));
}

.attack_details .overlay-msg{
  grid-column: 1 / 4;
}

.aoc{
  max-width: 100px;
}

.board-display{
  position: absolute;
  color: ghostwhite;
  top: -15px;
  right: -20px;
  font-size: 28px;
}

.cardstacks .tiptext img.passivecard {
  position: static;
  transform: unset;
  width: 300px;
}

.cardstacks{
  position: absolute;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(30, 20px);
  width: 660px;
  transition: opacity 1s ease;
  margin: 60px 30px 250px 30px;
}

.cardstacks .cardpile{
  width: 100px;
  height: 95px;
  grid-column: span 5;
  position: relative;
}

.cardstacks .cardpile:nth-child(n+7){
  grid-column: span 6;
  width: 120px;
  height: 110px;
}


/* Default is compact square 1:1*/

.cardstacks.old{
  position: absolute;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(30, 20px);
  width: 770px;
  padding-left: 30px;
  transition: opacity 1s ease;
  margin: 60px 30px 250px 30px;
}

.cardstacks.old .cardpile{
  width: 100px;
  height: 160px;
  grid-column: span 5;
  position: relative;
}

.cardstacks.old .cardpile:nth-child(n+7){
  grid-column: span 6;
  width: 120px;
  height: 192px;
}

.cardstacks.old .cardpile:nth-child(n+7) img{
  transform: translateX(5%);
}

/* 16:9 configuration */  
.cardstacks.long {
  width: 1150px;
  height: 280px;
  padding-top: 20px;
  grid-template-columns: repeat(30, auto);
  grid-template-rows: 90px 150px;
}

.cardstacks.long .cardpile img{
  transform: rotate(-90deg) translate(40%, 25%);
}

.cardstacks.long .cardpile:nth-child(n+7){
  grid-column: span 3;
  width: 100px;
  height: 160px;
}
.cardstacks.long .cardpile:nth-child(n+7) img{
  transform: unset;
}


/* 4:3 card configuration */
.cardstacks.large{
  width: 1280px;
  grid-template-columns: repeat(26, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.cardstacks.large .cardpile{
  margin: 2px;
  width: 120px;
  height: 190px;
  grid-row-end: span 4;
  grid-column-end: span 3;
}

.cardstacks.large .cardpile:nth-child(n+7){
  grid-column: span 4;
  grid-row-end: span 6;
  width: 180px;
  height: 270px;
  transform: translateY(7%);
} 

.cardstacks.large .cardpile:nth-child(1){
  grid-column-start: 1;
  grid-row-start: 1;
}
.cardstacks.large .cardpile:nth-child(2){
  grid-column-start: 1;
  grid-row-start: 5;
}
.cardstacks.large .cardpile:nth-child(3){
  grid-column-start: 1;
  grid-row-start: 9;
}
.cardstacks.large .cardpile:nth-child(4){
  grid-column-start: 4;
  grid-row-start: 1;
}
.cardstacks.large .cardpile:nth-child(5){
  grid-column-start: 4;
  grid-row-start: 5;
}
.cardstacks.large .cardpile:nth-child(6){
  grid-column-start: 4;
  grid-row-start: 9;
}



.game-cardbox {
  width: 40vh;
  max-width: 350px;
  pointer-events: none;
}



/* Card Hud Deal animation */
.freshdeal{
  perspective: 500px;
  transform-style: preserve-3d;
}

.flippable-card{
  opacity: 0;
  position: relative;
  transition: opacity 1s;
}


.flippable-card .cardimg, .flippable-card .cardBack{
  position: absolute;
  left: 0;
  transition: transform 0.5s ease;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

/* show back of card */
.flippable-card .cardimg{
  transform: rotateY(180deg);
}

.flippable-card .cardBack{
  transform: rotateY(0deg);
}

.flippable-card.flipped .cardimg{
  transform: rotateY(0deg);
}

.flippable-card.flipped .cardBack{
  transform: rotateY(-180deg);
}
