:root{
  --dominion-parchment: tan;
  --dominion-dark: #554e3e;
}

body {
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
  overflow: hidden; 
  position: fixed;
  width: 100vw;
  height: 100vh;
}



.gameboard{
  /* Default fill the background with image */
  position: absolute;
  background-image: url("img/gameboard.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/*#zoom{
  border-radius: 25px;
  /*position: absolute;
  top: 8px;
  right: 20px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  text-align: center;
  color: whitesmoke;
  background-color: black;
}*/

#zoom.active{
  /*border: 1px ghostwhite solid;*/
  color: darkred; 
  /*box-shadow: 0 0 5px 5px #f5f5f5f5;
  background-color: whitesmoke;*/
}

.cardimg {
  width: 100%;
}


.cardpile img{
  width: 100%;
  position: absolute;
  border: 1px solid;
  border-radius: 2.5%;
}

.cardpile img:first-child{
  filter: drop-shadow(-8px 1px 6px #000A);
}


.passivecard{
  width: 100%;
  filter: brightness(0.8);
}
.passivecard:hover{
 filter:  brightness(1.0); 
}

.cardstacks{
  position: absolute;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(30, minmax(auto, 20px));
  max-width: min(80vw,65vh);
  right: 1rem;
  top: 60px;
  transition: opacity 1s ease;
  z-index: 505; /* Position higher than menu*/
  /*box-shadow: 0 0 10px 5px black;
  background-color: #f5f5f555;
  padding: 0.5em;*/
}

#log-wrapper{
  z-index: 510;
}

.cardstacks .cardpile{
  width: 13vw;
  max-width: 100px;
  height: 21vw;
  max-height: 160px;
  grid-column: span 5;
  position: relative;
}

.cardstacks .cardpile:nth-child(n+7){
  grid-column: span 6;
  /*margin-left: 10px;*/
  width: 16vw;
  max-width: 120px;
  height: 25vw;
  max-height: 192px;
}

.player_decks{
  position: absolute;
  bottom: 10px;
  left: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  /*width: 240px;
  height: 180px;*/
}

.player_decks .cardpile{
  position: relative;
  width: 120px;
}

.logcard{
  font-weight: bold;
}

/*.showcard .tiptext{
  display: none;
}*/

.tip .tiptext{
  width: calc(100% + 30px);
  min-width: unset;
  color: black;
  background-color: var(--dominion-parchment);
}

.hud-long{
  max-height: 310px;
}

.game-scoreboard{
  background-color: var(--dominion-parchment);
}
.game-scoreboard .score{
  font-size: 16px;
  font-family: "Papyrus";
  font-weight: bold;
  margin: 0 8px;
}

#mydecks{
  /*position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 140px;*/
  height: 180px;
  background-color: var(--dominion-parchment);
  border-radius: 5px;
  box-shadow: 0 0 5px 2px black;
  padding-left: 4px;
  font-family: "Papyrus";
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 18px;
  justify-content: space-evenly;
}

.rules-overlay{
  background-color: var(--dominion-parchment);
}

.cardlist{
  display: grid;
  grid-template-columns: repeat(auto-fit, 40px);
}

.cardlist-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardlist-container img{
  width: 80px;
}

/* Make Menu Item Flash*/
.game-decks{
  animation-name: flash;
  animation-duration: 0.7s;
  animation-iteration-count: 10;
  animation-direction: alternate;
}

@keyframes flash {
  100% {
    color: #f5f5f500;
  }
}


.attack_overlay{
  background-color: var(--dominion-dark);
  border-radius: 3px;
  border: solid var(--dominion-parchment) 1px;
  color: ghostwhite;
  padding: 1em;
  min-width: min(500px,95vw);
}

.attack_overlay h1, .attack_overlay h2{
  font-size: 1.5em;
  color: ghostwhite;
  text-align: center;
}

.attack_overlay .overlay-img{
  min-width: 150px;
  max-width: 180px;
  margin-right: 20px;
}

.attack_overlay .overlay-input{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.attack_overlay .overlay_content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.attack_details{
  display: grid;
  align-items: center;
  max-width: 250px;
  grid-gap: 10px;
  grid-template-rows: 10px auto;
  grid-template-columns: repeat(auto-fit, minmax(auto, 100px));
}

.attack_details .overlay-msg{
  grid-column: 1 / 4;
}

.aoc{
  max-width: 100px;
}

@media screen and (max-width:  600px){
  .cardstacks{
    grid-gap: 3px;
    max-width: 90vw;
    grid-template-columns: repeat(30, auto);
  }

}

@media screen and (max-height: 600px){
  
  .cardstacks{
    grid-gap: 2px;
    max-width: 90vw;
    width: 90vw;
    grid-template-columns: repeat(30, auto);
    grid-template-rows: 9vw 15vw;
    margin: 45px auto;
  }
  .cardstacks .cardpile{
    max-width: 9vw;
  }

  .cardstacks .cardpile img{
    transform: rotate(-90deg) translate(34%, 20%);
  }

  .cardstacks .cardpile:nth-child(n+7){
    grid-column: span 3;
    max-width: 100px;
  }
  .cardstacks .cardpile:nth-child(n+7) img{
    transform: rotate(0deg);
  }
}
/* 16 : 10 */
@media screen and (min-width: 1200px){
  .cardstacks{
    max-width: 1200px;
    grid-template-columns: repeat(26, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }

  .cardstacks .cardpile{
    margin: 2px;
    width: 8.65vw;
    max-width: 120px;
    height: 13.85vw;
    max-height: 190px;
    grid-row-end: span 4;
    grid-column-end: span 3;
  }

 .cardstacks .cardpile:nth-child(n+7){
    grid-column: span 4;
    grid-row-end: span 6;
    width: 11.5vw;
    max-width: 180px;
    height: 18.5vw;
    max-height: 270px;
  } 

  .cardstacks .cardpile:nth-child(1){
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .cardstacks .cardpile:nth-child(2){
    grid-column-start: 1;
    grid-row-start: 5;
  }
  .cardstacks .cardpile:nth-child(3){
    grid-column-start: 1;
    grid-row-start: 9;
  }
  .cardstacks .cardpile:nth-child(4){
    grid-column-start: 4;
    grid-row-start: 1;
  }
  .cardstacks .cardpile:nth-child(5){
    grid-column-start: 4;
    grid-row-start: 5;
  }
  .cardstacks .cardpile:nth-child(6){
    grid-column-start: 4;
    grid-row-start: 9;
  }
}


.game-cardbox {
  left: 1rem;
  top: 50%;
  width: 30vh;
  max-width: 250px;
  transform: translateY(-50%);
}