* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.slip-info .options {
    margin-top: 8px;
    display: flex
;
    gap: 0px;
    flex-direction: column;
}
.data-nft-toggle {
    align-items: flex-end;
    border-bottom: 1px dashed #030303;
    font-size: 1.75rem;
    cursor: pointer;
    height: 100%;
    display: flex
;
}
.data-nft-textarea {
    height: inherit;
    min-height: 30rem;
    border: 1px solid #222;
    font-size: 1.5rem;
}
.nft-image-preview {
    position: relative;
    height: auto;
    cursor: pointer;
    width: auto;
    float: left;
    max-height: 7.5rem;
    height: inherit;
}

.nft-inactive {
    pointer-events: none;
    opacity: 0.2;
}

html {
	overflow-y: scroll;
}

body {
    background-color: #F5F6FA; /* Light background */
    color: #333333;
    display: flex;
    justify-content: center;
    padding: 2rem;
    overflow-y: scroll;
}

.saito-container.atr {
	display: block;
    width: auto;
}

.dashboard-container {
    min-width: 1200px;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 1.2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: max-content;
}

/* Header and metrics section */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.header h2 {
    font-size: 2.2rem;
    font-weight: bold;
    color: #333333;
}

.metrics {
    display: flex;
    gap: 40px;
    margin-top: 8px;
}

.metric {
    text-align: center;
    font-size: 1rem;
}

.metric h3 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333333;
    margin-bottom: 4px;
}

.metric p {
    font-size: 1.5rem;
    color: #6c6464;
}


/* Tabs */
.tabs {
    display: flex;
    gap: 16px;
    border-bottom: 1px solid #E0E0E0;
    margin-top: 0.5rem;
}

.tab {
    font-weight: bold;
    color: #333333;
    cursor: pointer;
    padding: 8px 0;
    position: relative;
}

.tab.active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #007BFF; /* Active tab indicator color */
}

/* Search and filter buttons */
.controls {
    display: flex;
    gap: 8px;
    margin-top: 0px;
    justify-content: flex-end;
}

.control-button {
    font-size: 1.2rem;
    border-radius: 6px;
    cursor: pointer;
}

/* Table styling */
.data-table {
    width: 100%;
    border-collapse: collapse;
}

.data-table th, .data-table td {
    padding: 6px 6px;
    text-align: left;
    font-size: 1.5rem;
}

.data-table th {
    color: #555555;
    background-color: #F9FAFB;
    font-weight: bold;
}

.data-table tr {
    border-bottom: 1px solid #E0E0E0;
}

.data-table tr.total_supply_value {
    background-color: #dddddd;
}

.data-table tr.total_supply.total_supply_value {
    background-color: #aaa;
}

.data-table td {
    color: #333333;
}

/* Visibility Score Bar */
.visibility-score {
    display: flex;
    align-items: center;
}

.visibility-bar {
    width: 100px;
    height: 6px;
    background-color: #E0E0E0;
    border-radius: 3px;
    margin-left: 8px;
    position: relative;
}

.visibility-bar-fill {
    height: 6px;
    background-color: #007BFF;
    border-radius: 3px;
}   

/*
    add nft utxo overlay
*/

.container {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    background: #fff;
    border: 1px solid #ccc;
    padding: 1.5rem;
}

.utxo-slips {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.user-slips {
    width: 18rem;
    font-size: 1.5rem;
    padding: 1rem 0.5rem;
}

.slip-info {
  border: 1px solid #ddd;
  padding: 1rem;
  background: #f4f4f4;
  display: flex;
  justify-content: space-between;
}

.nft-creator {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.right-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.inputs {
  display: flex;
  gap: 1.5rem;
}

.data-table tr.total_supply_value {
  background-color: #FDEED5;
}
.data-table tr.payout_value {
  background-color: #e0ebf0b0;
}
.data-table tr.total_supply.total_supply_value {
  background-color: #d8c3a2;
}
.inputs div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.textarea-container {
  display: flex;
  flex-direction: column;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

.create-button {
  text-align: right;
}

#nft-image-upload {
    border: 3px dotted;
    height: 30rem;
    text-align: center;
    line-height: 30rem;
    font-size: 2rem;
    border-radius: 1rem;
}

.utxo-div {
    display: flex;
    flex-direction: row;
    width: 45rem;
    gap: 1rem;
    align-items: center;
}

.utxo-div.send-nft {
    gap: 0rem;
    width: auto;
    flex-direction: column;
}

#utxo-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.slip-info .metric {
    text-align: left;
}
