#foreground {
  position: absolute;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  outline: 1px solid #cccccc;
  overflow: hidden;
}

#grid-container {
  position: absolute;
}

.grid-layer {
  position: absolute;
  left: 0px;
  top: 0px;
}

#background-layer {
  z-index: 0;
}

#confirmed-layer {
  z-index: 1;
}

#pending-layer {
  z-index: 2;
  animation: fade-animation 2s infinite ease-in-out;
}

#drafted-layer {
  z-index: 3;
}

#cursor-layer {
  z-index: 4;
}

@keyframes fade-animation {
  0%   { opacity: 1.0; }
  50%  { opacity: 0.7; }
  100% { opacity: 1.0; }
}