body {
	font-family: arial, helvetica, sans-serif;
	padding: 0px;
	margin: 0px;

	position: fixed;
	background: -webkit-linear-gradient(top, #0a2942, #010204);
	background: -moz-linear-gradient(top, #0a2942, #010204);
	background: linear-gradient(to top, #0a2942, #010204);
	background-attachment: fixed;
}

img {
	width: unset;
}

.status-message,
.status-header {
	padding-left: 0;
	padding-right: 0;
}


.status-icon-menu {
	height: unset;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}


.epidemic_overlay {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 2em;
	max-width: 70vw;
	max-height: 70vh;
	background-color: black;
	color: whitesmoke;
	border: 5px dashed red;
}

.epidemic_overlay .epidemic-card {
	margin: 2em auto;
}

.epidemic-card img {
	max-height: 40vh;
}


.hud {
	background-color: #444a;
}

/* Original */
.hud-header.scientist {
	background-color: #ffffff;
}
.hud-header.generalist {
	background-color: #778281;
}
.hud-header.medic {
	background-color: #de7b38;
}
.hud-header.quarantine {
	background-color: #337c51;
}
.hud-header.operations {
	background-color: #6cb24f;
}
.scientist .hud-controls {
	color: hsl(0, 0%, 20%);
}

/* Retro */

.hud-header.pantologist {
	background-color: #8e51a0;
}
.hud-header.experimenter {
	background-color: #00bac8;
}
.hud-header.physician {
	background-color: #49575b;
}
.hud-header.field {
	background-color: #c57a28;
}
.hud-header.contamination {
	background-color: #49575b;
}
.hud-header.investigator {
	background-color: #48555a;
}

/* have to override default tip without fucking up hud sizing */
.tip.menu_icon {
	width: 100px;
}

.menu_icon {
	color: whitesmoke;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}

.fa-border {
	padding: 0.26em 0.14em;
}

i.menu_icon_icon {
	font-size: 5rem;
	height: 10rem;
	border-radius: 2rem;
	border-width: 0.75rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #111F;
}


.fake-border {
	font-size: 1.2em;
	display: inline-block;
	background-color: rgba(10, 10, 10, 0.6);
	border: solid 0.08em #eee;
	border-radius: 0.1em;
	padding: 0.26em 0.14em;
	width: 100px;
	height: 100px;
	transition: all 0.25s; /* to match the embedded icons*/
}

.fake-border:hover {
	background-color: whitesmoke;
}
.fake-border:hover i.menu_icon_icon,
.status-icon-menu i.menu_icon_icon:hover {
	transform: unset;
	background-color: whitesmoke;
	color: black;
}

.tip .tiptext {
	min-width: 100px;
	font-size: 18px;
	width: fit-content;
	padding: 0.5em 1em;
	box-sizing: content-box;
	white-space: nowrap;
	top: 120%;
	z-index: 300;
	pointer-events: none;
}

.vial {
	position: absolute;
	background-size: cover;
	width: 82px;
	height: 102px;
}
.vial_yellow {
	background-image: url('/epidemic/img/Vial%20Yellow.png');
}
.vial_blue {
	background-image: url('/epidemic/img/Vial%20Blue.png');
}
.vial_red {
	background-image: url('/epidemic/img/Vial%20Red.png');
}
.vial_black {
	background-image: url('/epidemic/img/Vial%20Black.png');
}

.hud-card .cardimg {
	height: 100%;
	width: 100%;
}

.cardbox-hud-image {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.move-to-discard {
	transition: transform 2s;
	transform: scale(50%) translateX(700px) translateY(-350px);
}

.bighand .card {
	position: absolute;
	width: 25vh;
	height: auto;
}

.display-cards {
	display: block;
	height: 20vh;
	width: 20vw;
	top: -50%;
	position: relative;
}

.cardbox {
	position: absolute;
	left: 413;
	height: 81vh;
	max-height: 520px;
	width: 100vw;
	max-width: 375px;
	background-image: url('/epidemic/img/Base.svg');
	background-size: cover;
	z-index: 2;
	display: none;
	top: 30%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.cardbox_menu {
	position: absolute;
	display: none;
	top: 50%;
	left: 50%;
	width: 10%;
	height: 10%;
	z-index: 999999;
	transform: translate(-50%, -50%);
}

.cardbox-exit {
	text-align: center;
	font-size: 2.9em;
	color: white;
	z-index: 9999999999;
}

#cardbox-exit-background {
	position: absolute;
	left: 85%;
	width: 5vh;
	height: 5vh;
	border: 3px black solid;
	border-radius: 100px;
	top: -1%;
	background: #eb2d2d;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cardbox_menu_btn {
	text-align: center;
	width: 72%;
	font-size: 2em;
	font-weight: bold;
	background-color: #eb2d2d;
	border: 2px solid #111311;
	cursor: pointer;
	padding: 10px 25px;
	text-decoration: none;
	color: white;
	border-radius: 10px;
	position: fixed;
	left: 0%;
	top: 100%;
	z-index: 900009;
}

.game-scoreboard .cube {
	position: static;
	height: 30px;
	font-size: 24px;
}

.scoreboard_virus_group {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	margin-right: 6px;
}

.scoreboard_virus_group.i {
	font-size: 20px;
	width: 30px;
}

.virus-count {
	margin-left: 2px;
	text-shadow: 0 0 2px whitesmoke;
	width: 2em;
}

.safe {
	color: darkgreen;
}
.caution {
	color: orange;
	text-shadow: 0 0 2px black;
}
.danger {
	color: darkred;
}

.card {
	cursor: pointer;
	position: relative;
}

.link {
	border-bottom: 1px dashed;
}
.dashed {
	border-bottom: 1px dashed;
}
.cube {
	height: 60px;
	position: absolute;
}
.player {
	position: absolute; /*relative;*/
	width: 32px;
	height: 60px;
	z-index: 42;
	pointer-events: none;
	/*width: 72px;
  height: 100px;
  background-size: cover;*/
	display: none;
	/*top: 40px;
  left: 50%;
  transform: translateX(-50%);*/
}
.player img {
	position: relative;
	width: 175%;
	left: -25%;
}

.player img.scotland_pawn {
	top: -50px;
	left: 0px;
	transform: translateX(-18%);
}

.player.active_player img {
	animation: wiggle 4s ease-in-out infinite;
	/*border-radius: 20px;
  background-color: #f5f5f5c0;
  box-shadow: 0 0 10px 10px #f5f5f5f5;*/
}

.move_counter {
	display: none;
}

.player.active_player .move_counter {
	display: block;
	position: absolute;
	top: -43px;
	right: -9px;
	font-size: 2em;
	color: black;
	text-shadow: 2px 4px 8px silver;
}

/* For displaying an image */
.research_station {
	position: absolute;
	background-image: url('/epidemic/img/Marker%20Research%20Station.png');
	background-size: cover;
	width: 90px;
	height: 102px;
	z-index: 29;
	display: none;
}

/* For marking up a city with background */
.research_station_city {
	border-radius: 100%;
	background-color: ghostwhite;
}

.marker_infection_rate {
	position: absolute;
	background-image: url('/epidemic/img/Marker%20Infection%20Rate.png');
	background-size: cover;
	width: 86px;
	height: 84px;
}
.marker_outbreak {
	position: absolute;
	background-image: url('/epidemic/img/Marker%20Outbreak.png');
	background-size: cover;
	width: 87px;
	height: 88px;
}
.deck img {
	position: absolute;
}
.back_player_card {
	position: absolute;
	/*background-image: url("/epidemic/img/Back%20Player%20Card.gif");
  background-size: cover;*/
	width: 243px;
	height: 341px;
	top: 1405px;
	left: 1610px;
}
.player_discard_pile {
	position: absolute;
	/*background-image: url("/epidemic/img/Back%20Player%20Card.gif");
  background-size: cover;*/
	width: 243px;
	height: 341px;
	top: 1405px;
	left: 1975px;
}
.back_infection_card {
	position: absolute;
	/*background-image: url("/epidemic/img/Back%20Infection.gif");
  background-size: cover;*/
	width: 340px;
	height: 243px;
	top: 75px;
	left: 1605px;
}

.infection_discard_pile {
	position: absolute;
	/*background-image: url("/epidemic/img/Back%20Infection.gif");
  background-size: cover;*/
	width: 340px;
	height: 243px;
	top: 75px;
	left: 2055px;
}

.gameboard {
	position: relative; /* sizer turns this to absolute */
	margin: 50px 5px;
}

.city {
	position: absolute;
	cursor: pointer;
	height: 100px;
	width: 100px;
	z-index: 40;
}

.dyanmic_city {
	background-size: 60px;
	background-repeat: no-repeat;
	background-position: center;
	/* box-shadow: 0 0 5px 5px whitesmoke;*/
}

/*** Player Cards ***/

.player_info_box {
	padding-top: 25px;
	min-height: 200px;
	display: grid;
	grid-template-columns: 1fr 4fr;
}
.player_role_card {
	height: 200px;
	width: 180px;
	margin-left: 20px;
}
.player_role_card img {
	height: 200px;
}
.player_role_description {
	margin-left: 20px;
	text-align: left;
}
.player_role_description tr td {
	padding-bottom: 10px;
	padding-right: 20px;
	font-size: 1.15em;
	vertical-align: top;
}
.player_role_description_header {
	font-weight: bold;
	text-transform: uppercase;
}
.welcome_overlay {
	display: block;
	width: 70vw;
	max-height: 70vh;
	overflow-y: auto;
	background-color: whitesmoke;
	text-align: center;
}
.close_welcome_overlay {
	margin: 40px auto;
	max-width: 300px;
}

/* Keyframes */
@keyframes wiggle {
	0%,
	7% {
		transform: rotateZ(0);
	}
	15% {
		transform: rotateZ(-15deg);
	}
	20% {
		transform: rotateZ(10deg);
	}
	25% {
		transform: rotateZ(-10deg);
	}
	30% {
		transform: rotateZ(6deg);
	}
	35% {
		transform: rotateZ(-4deg);
	}
	40%,
	100% {
		transform: rotateZ(0);
	}
}

.infection_highlight {
	position: absolute;
	border-radius: 100%;
	background-color: rgba(0, 0, 0);
	opacity: 0.9;
	width: 300px;
	height: 300px;
	transition: width 2s, height 2s, opacity 2s;
	transform: translate(-50%, -50%);
}

.infection_highlight.blocked {
	background-color: rgb(100, 100, 100);
}

.infection_highlight.animateit {
	width: 50px;
	height: 50px;
	opacity: 0.1;
}

.city .name {
	position: relative;
	top: -10px;
	left: -10px;
	color: whitesmoke;
	text-shadow: 2px 2px 3px black;
	max-width: 150%;
	white-space: nowrap;
	overflow-x: visible;
	font-size: 2rem;
}

.status ul li.card {
	color: var(--saito-skyline-grey);
}

ul#status-cardbox {
	overflow-y: scroll;
}
