body {
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
  overflow: hidden; 
  position: fixed;
  width: 100vw;
  height: 100vh;
}


.gameboard{
  /* Default fill the background with image */
  position: absolute;
  background-image: url("img/gameboard.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Split hands display on playerbox */
.poker-seat-1 .player-box-graphic.hand{
  display: block;
  position: absolute;
}

.poker-seat-1 .player-box-graphic.hand {
  left: 32vh;
}

.player-box-graphic .htmlCards{
  width: 30vh;
}

.player-box-graphic .htmlCards .card{
  width: 6vh;
  position: relative;
}


.player-notice {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bold;
  background-color: #0002;
  padding: 5px;
  max-width: 75%;
  min-width: fit-content;
}

.splithand{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.plog .htmlCards .card{
  width: 20px;
}
.dealer {
  background-color: #0004;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}

.justify{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.card {
  width: unset;
  float: none;
}

.suit {
  font-size: larger;
}

.htmlCard {
  margin: 5px 3px;
  display: inline-block;
  background: #fffD;
  padding: 4px 3px;
  border-radius: 6px;
}



/*For visibility with white text on dark background*/
.status ul li:hover {
  background: #ccc3;
}


/*Playerbox text menu prompt*/
.menu-player {
  font-size: 2vh;
  font-weight: bolder;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

.menu_option{
  text-transform: uppercase;
}

.poker-seat-4 .hand{
  top: 15vh;
  left: 33%;
}
.poker-seat-2 .hand{
  left: 9vh;
}

@media screen and (orientation: portrait) and (max-width: 600px) {
  .poker-seat-6, .poker-seat-2{ 
    top:40vh 
  }
  .poker-seat-5, .poker-seat-3{ 
    top:25vh
   }
  .poker-seat-5 .hand, .poker-seat-3 .hand{ 
    left: 15%;
    top: -20vh;
 }
 .poker-seat-2 .hand{
    left: 4vh;
 }
  
}