.status {
	background-color: whitesmoke;
	padding: 1rem;
}

.controls {
	overflow-y: none;
	min-height: 160px;
}
.controls ul {
	border-radius: 0.5rem;
}

.stats-menu-controls {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.stats-menu-controls .option{
	margin-top: 2rem;
}