
body {
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
  background-color: #024;
  background:  url("img/background_small.png");
  background-size: cover;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-face-color: #868686;
  scrollbar-base-color: #868686;
  scrollbar-3dlight-color: #868686;
  scrollbar-highlight-color: #868686;
  scrollbar-track-color: #646464;
  scrollbar-arrow-color: #646464;
  scrollbar-shadow-color: #868686;
}

/*
  Format Player Boxes for score keeping
*/

#opponentbox{
  position: absolute;
  right: 40px;
  top: 50px;
/*  position: absolute; */
/*  left: 1em; */
/*  top: 50vh; */
/*  transform: translateY(-50%); */
}
.plog {
  padding: 0.5em;
}

.opponents > .player-box{
  position: unset;
  height: fit-content;
  background-color: rgba(43,29,14,0.5);
  margin: 0.5em;
  border: 2px solid transparent;
  border-radius: 18px;
  box-shadow: -5px 3px 4px black;
}

.opponents > .player-box.active{
  border-color: silver;
}

/* Nicely displaying scores in playerboxes */
.opponents .player-box-info, .lastmove{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.playedword{
  text-transform: uppercase;
  color: #3df71f;
  text-decoration: underline dotted;
}

.wordscore{
  font-weight: bold;

}

.playerscore{
  font-weight: bolder;
  text-shadow: -2px 3px 2px black;
}

.discardedtiles{
  text-transform: uppercase;
  color: var(--saito-red);
}

.player-info-name{
  font-size: 2.5vh;
}

.stats-overlay {
  min-width: 220px;
  min-height: 200px;
  max-height: 65vh;
  max-width: 50vw;
  overflow-y: auto;
  overflow-x: auto;
  background-color: whitesmoke;
  border-radius: 10px;
}

.stats-overlay table {
  margin: auto;
  padding: 1em;
  border-spacing: 1em;
}

.score-overlay{
  min-width: 120px;
  min-height: 200px;
  background-color: whitesmoke;
  border-radius: 10px; 
}

.score-overlay table{
  width:  100%;
  border-spacing: 1em;
  padding: 1em;

}

thead,  tfoot{
  font-weight: bold;
  text-align: center;
}



.link {
  border-bottom: 1px dashed;
  cursor: pointer;
}

.tosstiles {
  border-bottom: 1px dashed;
}

.wb-main {
 /* max-width: 902px;
  margin: 0 auto;*/
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(15, 15fr);
  grid-template-rows: repeat(15, 15fr);
  grid-gap: 3px;
  background: rgb(230,204,179);
  border: 10px solid rgb(43,29,14);
  border-radius: 10px;
  padding: 12.5px;
  width: 900px;
  height: 900px;
  /*width: 99vw;
  height: 99vw;*/
}


/* Popup menu controls */
.tile-placement-controls{
  position: absolute;
  top: -55px;
  right: -34%;
  text-align: center;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.tile-placement-controls .playable{
  font-size: 1.5em;
  color: #fff;
  text-shadow: 1px 1px #555;
  background: rgb(43,29,14);
  border: 4px solid #cccccc;
  padding: 5px;
  border-radius: 10px;
  margin: 5px 0;
  width: 200px;
}

.tile-placement-controls .playable.invalid_word{
  color: #777;
}

.action {
  color: #fff;
  border: 4px solid #cccccc;
  padding: 5px;
  border-radius: 10px;
  margin: 5px 0;
  background-color: #777;
  cursor: pointer;
  width: 150px;
  font-size: 16px;
}

/*.action {
  justify-self: center;
  align-self: center;
  padding: 1.5vh 0px;
  width: 100%;
}*/

#lastmove {
  cursor: pointer;
}



.tile {
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-indent: 5px;
  font-family: arial, helvetica, sans-serif;
}


.letter::after {
  vertical-align: sub;
  font-size: 33%;
  margin-left: 1px;
}

.sc1::after {
  content: "1";
}

.sc2::after {
  content: "2";
}

.sc3::after {
  content: "3";
}

.sc4::after {
  content: "4";
}

.sc5::after {
  content: "5";
}

.sc6::after {
  content: "6";
}

.sc7::after {
  content: "7";
}

.sc8::after {
  content: "8";
}

.sc9::after {
  content: "9";
}

.sc10::after {
  content: "10";
}

.sc11::after {
  content: "11";
}


/* Player Tile Rack*/
.rack {
  align-self: center;
  display: flex;
  /* padding: 10px 0;
  height: 80px; */
}
.tiles {
  margin: auto;
  display: flex;
  height: 76px;
}

.tiles div.tile {
  width: 58px;
  height: 58px;
  margin: 9px;
  background-image: url("img/empty_tile.png");
  background-size: cover;
  color: rgb(43,29,14);
  
  font-size: 36px;
  
}

/*Game board spaces*/
.slot {
  cursor: pointer;
  display: flex;
  background-image: url("img/slot2.png");
  background-size: contain;
  border-image: initial;
  border-radius: 0.3em;
  width: 54px;
  height: 54px;
}

.slot .bonus, div.tile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}


.slot div.tile {
  color: rgb(43,29,14);
  font-size: 2rem;
  background-color: rgba(68, 68, 68, 0.85);
  background-image: url("img/empty_tile.png");
  background-size: cover;
  text-align: center;
  /*padding-top: 6px;*/
  border-radius: 0.3em;
  height: 50px;
  width: 50px;
  margin: auto;
  
}

.slot:hover {
  background-color: #036;
  opacity: 0.8;
}


/*
  Double/Triple Letter/Word Bonus Tiles and Star Tiles
*/
.slot .bonus{
  font-weight: bold;
  font-size: 11px;
  color: rgb(238, 238, 238);
  text-align: center;
  height: 100%;
  width: 100%;
  /*padding: 10px 2px;
  line-height: 15px;*/
  
}

.tw, .twbk {
  border: 1px solid rgb(133, 20, 0);
  background: rgba(159, 24, 0, 0.8);
}


.dw, .dwbk {
  border: 1px solid rgb(221, 70, 0);
  background: rgba(221, 102, 0, 0.8);
}


.tl, .tlbk {
  border: 1px solid rgb(54,0,108);
  background: rgba(0, 64, 128, 0.8);
}


.dl, .dlbk {
  border: 1px solid rgb(0,103,51);
  background: rgba(0, 128, 64,0.8);
}

.star, .starbk {
  border: 1px solid #888822;
  background: rgba(187, 187, 102,0.8);
}

.bonus.starbk {
  font-size: 36px !important;
  color: rgb(51, 51, 51);
}






.status {
  width: unset !important;
}


.rack {
  width: auto;
}

.rack-controls {
  display: flex;
  justify-content: space-around;
}

.rack-controls > div {
  display: flex;
  align-items: center;
}



.shuffle {
  cursor: pointer;
}

.hud {
  display: block;
  width: 600px;
  max-height: initial;
  height: fit-content;
  height: -moz-fit-content;
  /*background: rgb(68, 68, 68);
  border: 1px solid rgb(136, 136, 136);
  color: rgb(239, 239, 239);*/
  background: rgb(43,29,14);
  border: 2px solid rgb(230,206,180);
  border-radius: 5px;
  color: rgb(250,244,239);
  padding: 0;
}

.hud-body {
  min-height: fit-content;
  height: fit-content;
  height: -moz-fit-content;
  overflow-y: visible;
  cursor: initial;
  padding: 0 16px;
}

.hud-header {
  width: initial;
  margin: 0;
  background: linear-gradient( 45deg, black, #999);
}


.user_dragged .hud-body .status{
  align-items: center; 
}

.hud-status-update-message, .subrack {
  margin: 0.6em auto;
}


/*Rearrange HUD/Playerbox elements for portrait layout  */
@media  (orientation: portrait){
  .hud-status-update-message, .subrack {
    font-size: 0.8em;
  }
  
  .hud {
    font-size: 22px;
    width: 100vw;
    position: fixed;
    top: unset  !important;
    bottom: 0 !important;
    left: 0 !important;
    height: unset;
    height: -moz-fit-content;
    min-height: unset;
    min-width: 100vw;
    transform: none;
    display: block;
    z-index: 100;
  }
  .hud-header, .hud-menu {
    display: none;
  }
  .hud-body {
    height: unset;
    max-height: unset;
    height: fit-content;
    height: -moz-fit-content;
  }

  .tile-placement-controls{
    top: unset;
    left: 50%;
    right: unset;
    bottom: 100%;
    transform: translateX(-50%);
    flex-direction: row;
    justify-content: space-between;
    width: 550px;
    max-width: 100vw;
  }

  .tiles {
    width: auto;
    height: 72px;
  }
  .tiles div.tile {
    margin: 0 1vw;
    font-size: min(7vw,42px);
    width: 72px;
    height: 72px;
    max-width: 11vw;
    max-height: 11vw;
    padding: min(2vw,12px);
  }

  #opponentbox{
    top: 45px;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  }

  .opponents > .player-box{
    min-height: unset;
    width: 20vh;
    max-width: 23vw;
    padding: 0.25em;
    margin: 0;
    border-radius: 12px;
    box-shadow: -4px 2px 3px black;
    font-size: 15px;
  }

  .player-info-name{
    font-size: 2vh;
  }

  .player-box .plog, .player-box .player-box-info{
    padding: 0.25em;
  }
}

/*
Resize board on smaller screens
*/
/*@media only screen and (max-width: 910px) {
  .gameboard {
    grid-gap: 2px;
    border-width: 5px;
    padding: 6px;
  }

  .slot {
    width: 6vw;
    height: 6vw;
  }
  .slot div {
    font-size: 1.5vw;
    padding: 0.5vw 0;
  }
 
  .slot .bonus{
    padding: 2px 1px;
  }
  
  .bonus.starbk {
    padding: 10px 0px;
    font-size: 3.2vw !important;
  }
  .slot div.tile {
    font-size: 4vw;
    text-indent: 2px;
  }
}*/


/* End of responsive layout */

.hidden{
  display: none;
}


/* Highlight selected tile in rack*/
.tiles .tile.highlighttile{
  color: rgb(250,244,239);
  border-color: rgb(250,244,239);
}

/* Highlight temporary tiles on board*/
.slot .tile.tempplacement{
  background-color: #32CD3279;
  color: black;
}

/* Highlight selected tile on board*/
.slot .tile.highlighttile{
  background-color: limegreen;
  color: black;
}

#helper{
  position: fixed;
  transition: transform 0.13s;
  pointer-events: none;
  width: 54px;
  height: 54px;
  /*background-color: limegreen;*/
  background-image: url("img/empty_tile.png");
  background-size: cover;
  color: rgb(43,29,14);
  font-size: 2rem;
  text-align: center;
  padding-top: 6px;
  border-radius: 3px;
  z-index: 50;
  cursor: grabbing;
}

#deletectrl i{
  margin: 0px 1em;
}

.tiles .tile.todelete{
  position: relative;
  bottom: 10px;
  background-color: rgb(244,6,6);
  color: rgb(244,6,6);
}

#promptval{
  text-transform: uppercase;
}




/*  player box alternate syling */
/*  PLAYER BOX REVAMPED UI */
.card1 {
  width: 400px;
  height: 250px;
  background: linear-gradient(
    234.75deg,
    hsla(227, 100%, 59%, 0.656) 39.7%,
    #8640f7d0 59.55%,
    #eb23eec3 81.13%
  );
  margin-bottom: 40px;
  /* margin-left: 33.33%; */
  margin-top: 10px;
  border-style: solid;
  border-color: #2a3679;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12), 0px 8px 40px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
  letter-spacing: 0.01em;
  cursor: pointer;
 
  animation: appear .4s;
}

.card1:hover {
  border-color: aqua;
  border-width: 2px;
  border-style: solid;
}

.isActive {
  border-color: aqua;
  border-width: 2px;
  border-style: solid;
}


.card1 p {
  font-family: 'Poppins', Times, serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: white;
  padding: 15px;
  position: static;
  margin-top: -10px;
  word-spacing: 1px;
}
/* .p1 {
  display: inline;
} */

.card1 img {
  width: 120px;
  height: 130px;
  margin-left: 13px;
  margin-top: -10px;
  /* border-radius: 10px; */
  float: left;
  transition: .3s;
}

.card1 .player-container {

  display: inline-flex;
  width: 200.68px;
  height: 52.48px;
  margin-left: 35.8px;
  margin-top: 16px;
  background: linear-gradient(
    180deg,
    rgba(254, 254, 254, 0.5) 0%,
    rgba(235, 86, 139, 0.8) 100%
  );
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25),
    -10px -10px 20px rgba(255, 255, 255, 0.11);
  border-radius: 100px;

  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  cursor: pointer;
  background-color: purple;
}
.card1 .player {
  display: inline-flex;
  width: 87px;
  /* height: 35px; */
  /* margin-left: 30.73px; */
  margin-top: 15px;
  background: linear-gradient(
    180deg,
    rgba(254, 254, 254, 0.5) 0%,
    rgba(235, 86, 139, 0.8) 100%
  );
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25),
    -10px -10px 20px rgba(255, 255, 255, 0.11);
  border-radius: 100px;

  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  cursor: pointer;
  /* background-color: purple; */
}
.card1 .player:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  cursor: pointer;
  background-color: purple;
}
/* .player:hover {
  background-color: purple;
} */
.card1 .score:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  cursor: pointer;
  background-color: purple;

}
.card1 img:hover {
  /* animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both; */
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  cursor: pointer;
  transform: scale(1.1);
  
}




@keyframes appear {
    from {
      opacity: 0;
      transform: scale(70%);
    }

    to {
      opacity: 100%;
      transform: scale(100%);
    }
}


@keyframes shake {
  10%,
  90% {
    transform: translate3d(-4px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(4px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-8px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(8px, 0, 0);
  }
}
.card1 .valueP {
  /* margin-top: 1px;
  margin-left: 35px; */
  color: white;
}
.card1 .score {

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding:0 1rem 0 .2rem;
  width: 200.68px;
  /* height: 52.48px; */
  margin-left: 250.8px;
  margin-top: 16px;
  background: linear-gradient(
    180deg,
    rgba(254, 254, 254, 0.5) 0%,
    rgba(235, 86, 139, 0.8) 100%
  );
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25),
    -10px -10px 20px rgba(255, 255, 255, 0.11);
  border-radius: 20px;

  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  cursor: pointer;
  background-color: purple;
}
.card1 .text   {
  margin-left: 10px;

  color: #fff;
}
.card1 .value {
  margin-left: auto;
 
  color: #fff;
}

@media screen and (max-width: 3070px) {
  .card1 {
     width: 350px;
     height: 200px;
  }

  .card1 p {
    font-size: 15px;
  }
  .card1 img {
    width: 90px;
  height: 130px;
  }

  .card1 .player {
    /* width: 75px;
    height: 28px;
    margin-left: 10px;
    margin-top: 15px; */
  }

  .card1 .score {
    width: 200px;

  margin-left: 120px;
  margin-top: 16px;
  }
}
@media screen and (max-width: 453px) {
  /* .card1 {
     width: 200px;
     height: 100px;
  } */
}

@media screen and (min-width: 453px) {
  .card1 {
    margin: auto;
    margin-bottom: 20px;
  }
}


/******   PLAYER BOX REVAMPED UI ******/
