html, body {
    height: 99.999%;
}

body {
    font-family: arial, helvetica, sans-serif;
    font-size: 13px;
    padding: 0;
    margin: 0;
    background: url('img/background.png');
    overflow: hidden;
    background-size: 70% 100%;
}

h1 {
    margin: 0;
}

.main{
    width: 100vw;
    height: 100vh;
    padding: 40px;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


#board {
    max-width: min(98vh,98vw);
    width: 50%;
}

.controls-space {    
    width: 35%;
    max-width: 500px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 6px;   
    font-size: max(14px, 1.2vw);

}

.tool-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 90%;
    max-width: 450px;
    background: #f9efdf;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px #644b37;
}

.player-identicon {
    width: 48px;
    margin: 1px 4px;
    box-shadow: 0 0 1px 1px dimgray;
}

#opponent_id {
    font-family: 'Courier New', Courier, monospace;
    text-overflow: ellipsis;
    max-width: 60%;
    overflow: hidden;
}


.tool-cont i {
    color: sandybrown;
    font-size: 32px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.tool-cont i:hover {
    color: var(--saito-color-primary);
}

#status {
    max-width: 72%;
}

.turn-shape {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid;
}





.button_row {
    margin-top: 28px;
    display: none;
    transition: all 0.3s ease-in-out;
    justify-content: space-around;
}

#promotion-choices {
    display: block;
    text-align: center;
}

#promotion-choices img {
    margin: 5px;
    width: 5.5rem;
    border: 4px solid #999;
    border-radius: 10px;
    padding: 5px;
    background-color: #ccc;
    cursor: pointer;
}

#promotion-choices img:hover {
    border: 4px solid #eee;
}






span#captured {
    display: block;
    margin-top: 5px;
}

img.captured {
    width: 3vw;
}

.chess_button {
    background-color: #222;
    font-size: 3vw;
    padding: 10px;
    border-radius: 0px;
    color: #fff;
    max-height: 100px;
    border: none;
    min-width: unset;
    width: 45%;
}


/* The letters numbers go in a 30px wide border, default 16px size
*/
.alpha-d2270 {
    bottom: -24px;
    right: 50%;
    transform: translateX(50%);
}

.numeric-fc462 {
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
}



@media only screen and (max-width: 900px) and (orientation: portrait) {
    .main{
        padding: 25px;
    }

    #board {
        max-width: 60vh;
        width: 90%;
    }

    .board-b72b1{
        margin-left:  -25px;
        border-width: 25px;
    }

    .alpha-d2270 {
        bottom: -20px;
        font-size: 14px;
    }

    .numeric-fc462 {
        left: -16px;
        font-size: 14px;
    }

    .controls-space {    
        width: 100%;
        max-width: 700px;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 9px;
    }


    .tool-cont {
        width: 100%;
        padding: 5px 10px;
    }

    .player-identicon {
        width: 40px;
        margin: 5px 4px;
    }
    .turn-shape {
        width: 40px;
        height: 40px;
        margin: 5px;
    }



    .button_row {
        margin-top: 20px;
        transition: all 0.3s ease-in-out;
        margin-bottom: 15px;
        margin-left: 50%;
        width: 80%;
        transform: translateX(-50%);
        order: 1;

    }

    .chess_button {
        background-color: #222;
        font-size: 3vw;
    }

    img.captured {
        width: 3vw;
    }

}

@media only screen and (max-width: 525px) {
    .main{
        padding: 40px 10px;
    }

    #board {
        width: 95%;
        max-width: min(95vw, 55vh);
    }

    .alpha-d2270 {
        bottom: -15px;
        font-size: 12px;
    }

    .numeric-fc462 {
        left: -12px;
        font-size: 12px;
    }

    .board-b72b1 {
        border-width: 18px;
        margin-left: -14px;
    }

    img.captured {
        width: 6vw;
    }

 
    #move_accept {
        margin-left: 50px;
    }

    .chess_button {
        background-color: #222;
        font-size: 5vw;
    }

    .controls-space {
        width: 95%;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(1, 1fr);

    }

    .button_row {
        margin-top: 20px;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 50% 50%;
        transition: all 0.3s ease-in-out;
        margin-bottom: 10px;
        left: 0px;
        width: 85%;
        margin-left: 0px;
        transform: none;
    }

    .tool-cont {
        width: 98%;
        margin-top: 4px;
        min-height: unset;
    }

}

@media only screen and (max-height: 525px) and (orientation:landscape){
    .main{
        padding: 0 50px;
    }

   .board-b72b1{
        border-width: 16px;
    }

    .alpha-d2270 {
        bottom: -15px;
        font-size: 12px;
    }

    .numeric-fc462 {
        left: -12px;
        font-size: 12px;
    }


}

button:disabled, button[disabled] {
    background: #222;
    color: #fff;
    border-radius: 0px;
    transition: all 0.3s ease-in-out;
}

button:disabled:hover {
    background: #000 !important;
}

#move_accept:hover {
    background: #0f6e0f;
    color: #fff;
}