

.game-playerbox {
    background: #f9efdf;
    border-radius: 10px;
    box-shadow: 0 2px 3px 2px #644b37;
    color: black;
    min-height: 10rem;
}

.game-playerbox-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1; /* Make sure body fills up available space in player-box*/
}


.status ul li {
    border-top: 1px solid;
    cursor: pointer;
}

.status ul li:hover{
    background-color: #b58863;    
}



@media screen and (orientation: portrait) and (max-width: 900px){
 .game-playerbox-manager {
    display: grid;
    width: min(60vh, 90vw, 900px);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: max-content;
    justify-content: space-between;
    bottom: 2rem;
    top: unset;
    right: unset;
    gap: 2rem;
    position: absolute;
    height: max-content;
    justify-items: center;
    max-width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .game-playerbox {
    max-width: max(30vw, 25rem);
    min-width: unset;
  }

}