
.game-crypto-transfer-manager-container {
  min-width:30vw;
  max-width: 95vw;
  border-radius: 0.5rem;
  padding: 3rem 3rem;
  text-align:center;
  color: white;
  background-color:rgba(0,0,0,0.9);
  border-radius: 1rem;
}

.ignore {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}
input[type="checkbox"].ignore_checkbox {
  border: 1px solid white;
}

.game-crypto-transfer-manager-container .stake {
  font-size: 2rem;
  margin-top: 1rem;
}

.auth_title {
  font-size:1.7em;
  margin-top: 0;
}
.crypto_transfer_btn:hover {
    background-color: white;
    color: black;
    text-shadow: none;
}
.crypto_transfer_btn {
    background-color: var(--saito-red);
    border: 1px solid white;
    color: white;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 1rem;
    font-size: 2em;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
    cursor: pointer;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.crypto_transfer_btn.hidden{
  display: none;
}

/*.crypto_transfer_btn:hover,
.crypto_transfer_btn:active,
.crypto_transfer_btn:focus {
  border-color: rgb(255, 69, 95);
  background-color: rgb(255, 69, 95);
  text-shadow: none;
}
*/
.amount {
  font-size: 2.4em;
  margin: 1rem auto;
}
.from_address {
  margin-bottom: 20px;
}
.send_to {
  margin-bottom: 1rem;
  font-size: 1.4em;
}
.from_address,
.to_address {
  font-size: 1.6em;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 300px;
}
.game-crypto-transfer-manager-container .spinner {
  margin-bottom: 30px;
}

.transfer-details {
  display: flex;
  align-items: center;
}
.transfer-details .send_to {
  display: inline;
  font-size: 1em;
  margin-bottom: 0;
  padding-right: 4px;
}
.transfer-details .from_address,
.transfer-details .to_address {
  display: inline-block;
  font-weight: bold;
  font-size: 1em;
  max-width: 120px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 0;
}


