.redsquare-page-header-title {
  color: var(--saito-font-color-heavy);
  font-size: 2.5rem;
  padding-top: 0rem;
  text-transform: uppercase;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.redsquare-actions-buttons {
  position: relative;
  display: flex;
}

.redsquare-actions-container {
  display: flex;
  flex-flow: row-reverse;
  right: 1rem;
  margin-left: auto;
}

.redsquare-actions-container .saito-button-secondary {
  margin-top: 0;
  padding: 0.5rem 0.7rem 0.4rem 0.7rem;
}

<<<<<<< HEAD
.redsquare-tweet-overlay {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--saito-white);
  position: relative;
  width: 50rem;
  max-width: 100vw;
  max-height: 95vh;
  overflow-y: auto;
}

=======
>>>>>>> ac1e777a0a56f14be30c654ef12ae83e38389fb5
@media screen and (max-width: 768px) {
  .redsquare-page-header-title {
    font-size: 2rem;
  }
  .redsquare-actions-container {
    position: fixed;
    bottom: 7rem;
    left: 0;
    right: unset;
    width: 100vw;
    display: none;
    background: var(--redsquare-actions-background);
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 1rem;
    z-index: 2;
  }
}
