#saito-alert {
}

#saito-alert-shim {
  z-index: 2000;
  background-color: var(--saito-dark-shim);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

#saito-alert-box {
  width: 75vw;
  max-width: 70rem;
  transition: all 333ms ease-in-out;
  background: var(--saito-background-color);
  margin: auto;
  position: relative;
  top: -50rem;
  border: 1px solid var(--saito-border-color);
  border-radius: 0 0 5px 5px;
  padding: 1em 1em 3.5em 1em;
}

#saito-alert-buttons {
  float: right;
  margin: 0 0 0 1em;
}

#saito-alert-buttons button {
  margin: 0 0 0 1em;
}

#saito-alert-box p {
  font-family: "visuelt-light", "Microsoft Yahei", "Hiragino Sans GB";
  font-size: 1.4em;
  text-align: center;
  align-self: center;
  font-weight: bold;
  display: block;
  margin: 1em 0;
  overflow-wrap: break-word;
}
