.saito-scheduler {
  min-width: 50rem;
  background-color: #fff;
  border-radius: 1rem;
  padding: 3rem;
}

.saito-scheduler-title {
  font-size: 2.5rem;
  margin-top: 1.5rem;
}

.saito-scheduler-details {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 5fr;
}

.saito-scheduler-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
}
.saito-scheduler h5 {
  padding-top: 0.5rem;
}

.saito-scheduler-label {
  padding-top: 2rem;
  clear: both;
  margin-bottom: 1rem;
}
.saito-scheduler-button {
  margin-top: 2rem;
  margin-left: 0rem;
}

.saito-select-btn {
  width: 100%;
}

.saito-scheduler-time-outputs {
  display: grid;
  grid-template-columns: 4fr 2fr;
}

input#schedule-datetime-input, .saito-scheduler-natural-time {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--saito-border-color);
  border-radius: 0;
  height: 3rem;
  line-height: 3rem;
}



/*  Responsive */


@media screen and (max-width: 503px) {
  .saito-scheduler { 
    min-width: auto;
  }
}



@media screen and (max-width: 396px) {

}
