/* ----------------------------------------------------------------
Saito Identicon
-----------------------------------------------------------------*/

.saito-identicon {
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid var(--saito-background-color);
}

/* ----------------------------------------------------------------
Saito Username
-----------------------------------------------------------------*/

.saito-address, .saito-username {
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  color: var(--saito-font-color-heavy);
}

.saito-user>.saito-address-long:nth-child(2) {
  grid-column-end: 4;
}

/* ----------------------------------------------------------------
Saito User
-----------------------------------------------------------------*/

.saito-user {
  display: grid;
  column-gap: 1rem;
  cursor: pointer;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: min-content 1fr;
  justify-items: start;
  width: 100%;
  position: relative;
}

/*  saito-identicon-box  */

.saito-user>.saito-identicon-box {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row: span 2;
}

.saito-user>.saito-address {
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
}

.saito-user>.saito-user-timestamp {
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
  font-size: 1.4rem;
  color: var(--saito-font-color-light);
}

.saito-user>.saito-userline {
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
  font-size: 1.4rem;
}

.saito-user .saito-datetime {
  cursor: pointer;
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row: span 2;
  font-size: 1.4rem;
  align-items: top;
}