/* ----------------------------------------------------------------
Saito Identicon
-----------------------------------------------------------------*/

.saito-identicon {
  width: 2.5rem;
  height: 2.5rem;
}

/* ----------------------------------------------------------------
Saito Username
-----------------------------------------------------------------*/

.saito-address,
.saito-username {
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  color: var(--saito-font-color-heavy);
}

.saito-user > .saito-address-long:nth-child(2) {
  grid-column-end: 4;
}

.saito-address > *:first-child,
.saito-username > *:first-child {
  margin-right: 0.5rem;
}

/* ----------------------------------------------------------------
Saito User
-----------------------------------------------------------------*/

.saito-user {
  display: grid;
  cursor: pointer;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: min-content 1fr;
  justify-items: start;
  margin-bottom: 1px;
  width: 100%;
  position: relative;
}

/*  saito-identicon-box  */
.saito-user > .saito-identicon-box {
  margin-right: 1rem;
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row: span 2;
}

.saito-user > .saito-address {
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
}

.saito-user > .saito-user-timestamp {
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
  font-size: 1.4rem;
  color: var(--saito-font-color-light);
}

.saito-user > .saito-userline {
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
  font-size: 1.4rem;
}

.saito-user .saito-datetime {
  cursor: pointer;
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row: span 2;
  font-size: 1.4rem;
  align-items: top;
}

/*** SATIO Identicons ***/
