/* generic modal look and feel */

.saito-modal {
  font-size: 1.25rem;
  color: var(--saito-white);
  width: 70rem;
  height: min-content;
  max-width: 80vw;
  padding: 2rem;
  background: var(--dreamscape);
  display: grid;
  grid-template-rows: min-content auto;
}

/* saito-modal-menu
/* theming for a simple menu with font-awesome icon and text in a two col grid */
.saito-modal-menu-option {
  font-size: 3rem;
  height: 6rem;
  margin: 0 2rem;
  padding: 1.5rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 4rem 1fr;
}

.saito-modal-menu-option:hover {
  background-color: var(--saito-dark-transparent-highlight);
  cursor: pointer;
}

