
.saito-menu {}

.saito-menu>ul {
    padding: 0;
    list-style-type: none;
}

.saito-menu>ul>li {
    padding: 1rem;
    display: flex;
    list-style: none;
    cursor: pointer;
    transition: all .2s;
    align-items: center;
    font-size: 1.92rem;
    position: relative;
}

.saito-menu>ul>li:hover,
.saito-menu>ul>li:hover>i{
    background-color: var(--saito-primary);
    color: var(--saito-white);
}

.saito-menu>ul>li:hover p  {
    background-color: var(--saito-white);
    color: var(--saito-default-font-color);
   
}

.saito-menu>ul>li>i {
    font-size: 2.6rem;
    width: 2rem;
    padding-left: 1.2rem
}

.saito-menu>ul>li>span {
    font-size: 1.92rem;
    margin-right: 1rem;
}

/*  alert  */
.saito-notification-dot {
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    background-color: var(--saito-primary);
    color: var(--saito-white);
    position: absolute;
    bottom: 25px;
    left: 3.5rem;
    text-align: center;
    line-height: 2.2rem;
}


.saito-menu>ul>li>i+span {
    margin-left: 3.8rem;
}

.saito-menu.dense>ul>li {
    padding: 1rem 1rem;
}

.saito-menu.dense>ul>li>i {
    font-size: 1.6rem;
    width: 1rem;
}

.saito-menu.dense>ul>li>span {
    font-size: 1.6rem;
}

.saito-menu.right>ul>li {
    flex-direction: row-reverse;
}

.saito-menu.right>ul>li>span {
    margin-left: 0;
}

.saito-menu.right>ul>li>i+span {
    margin-right: 2rem;
}

.saito-menu.rounded {
    border-radius: .8rem;
}

.saito-menu.rounded>ul>li:first-child:hover {
    border-radius: .8rem .8rem 0 0;
}

.saito-menu.rounded>ul>li:last-child:hover {
    border-radius: 0 0 .8rem .8rem;
}

