.chat-manager .saito-userline {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 13rem;
    white-space: nowrap;
}

.saito-notification-counter {
  position: absolute;
  top: -0.5rem;
  right: 0;
  font-size: 1.25rem;
  line-height: 2rem;
  text-align: center;
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  color: var(--saito-white);
  background-color: var(--saito-primary);
  overflow: hidden;
  color: white;
}