.tweet-overlay {
  width: 50rem;
  background-color: var(--saito-background-color);
  padding: 2rem 2rem 0;
  border-radius: 0.5rem;
}

.tweet-overlay-content {
  display: grid;
  grid-gap: 1rem;
}

.tweet-overlay-content-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5rem;
}

.post-tweet-preview {
  margin-bottom: 1.5rem;
}

.post-tweet-img-preview {
  position: relative;
  margin: 0 2rem 0 0;
  height: auto;
  display: inline-block;
}

.post-tweet-textarea {
  border: 1px solid var(--saito-border-color-dark);
  background-color: var(--saito-background-color);
  display: block;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  outline: none;
  font-size: 1.6rem;
}


.post-tweet-img-preview img {
  top: 0px;
  height: 5rem;
  width: 104%;
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  object-fit: contain;
}

.post-tweet-img-preview i {
  position: absolute;
  z-index: 2;
  width: 0.5rem;
  height: 0.5rem;
  right: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
  top: -0.75rem;
  background: var(--saito-background-color);
}

.post-tweet-button {
  width: 20rem;
}

.post-tweet-img-icon {
  font-size: 5rem;
  color: var(--saito-border-color-dark);
}