.saito-overlay-backdrop {
  position: fixed!important;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.45;
  z-index: 100;
}

.saito-overlay {
  position: fixed;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
  z-index: 1000;
  min-height: 10%;
  height: min-content;
  width: min-content;
  min-width: 50rem;
  border-radius: .5rem;
  max-width: 90vw;
  border: var(--saito-border);
}

.saito-overlay-closebox {
  position: absolute;
  width: 30px;
  height: 30px;
  right: -13px;
  border-radius: 50%;
  top: -15px;
  background-color: var(--saito-white);
  z-index: 100;
}

.saito-overlay-closebox-btn {
  display: block;
  height: 32px;
  width: 32px;
  color: var(--saito-primary);
  font-size: 31px;
}

