#saito-header {
  position: fixed;
  display: flex;
  width: 100vw;
  background: var(--dreamscape);
  backdrop-filter: blur(5px);
  margin: 0;
  align-items: center;
  padding: 0 calc((100vw - var(--saito-width)) / 2);
  top: 0;
  left: 0;
  z-index: 10;
  height: var(--saito-header-height);
}

#saito-header nav {
  align-items: center;
  margin: 0 2rem 0 auto;
  display: none;
}

#saito-header > img {
  width: 15rem;
}

#saito-header-menu-toggle {
  margin-right: auto;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
}

#saito-header-menu-toggle:hover {
  opacity: 0.9;
  transform: scale(1.2);
}

#saito-header-menu-toggle:active {
  transform: scale(0.9);
}

#saito-header-menu-toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  background: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  margin-left: auto;
}

#saito-header-menu-toggle span:first-child {
  transform-origin: 0% 0%;
}

#saito-header-menu-toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

@media screen and (max-width: 1500px) {
  #saito-header {
    padding: 1.3rem 2rem;
  }
}
