

.saito-container {
    width: 100vw;
    height: calc(100vh - var(--saito-header-height)); /* Should factor in top margin so it fits the screen */
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    padding: 0 calc((100vw - var(--saito-width)) / 2);
    z-index: 0;
    margin: 0;
    position: absolute;
    top: var(--saito-header-height);
    overflow-y: auto;
    overflow-x: hidden;
}

.saito-container div {
  box-sizing: border-box;
}

.saito-main {
    background-color: var(--saito-background-color);
    padding: 2rem 0;
}

.saito-sidebar {
    background-color: var(--saito-background-color);
    top: calc(var(--saito-header-height) + 1rem);
}

.saito-sidebar.left {
    /* position: fixed; */
    width: inherit;
}

.saito-sidebar.right {
    padding: 1rem;
    background-color: var(--saito-background-color);
    grid-column-start: 3;
    grid-row: 1/2;
<<<<<<< HEAD
=======
    background-color: var(--saito-background-color);
>>>>>>> bb0e8a4f2f4366880e8b8059f7d9678d7200b472
}

.saito-sidebar.right.mobile {
    visibility: visible;
    z-index: 2;
}

.saito-sidebar.left.mobile {
    visibility: visible;
    z-index: 3;
}

