/* ----------------------------------------------------------------
Saito Identicon
-----------------------------------------------------------------*/

.saito-identicon {
    width: 3.5rem;
    height: 3.5rem;
}


/* ----------------------------------------------------------------
Saito Username
-----------------------------------------------------------------*/

.saito-address , .saito-username {
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
}

.saito-address>*:first-child , .saito-username>*:first-child {
    margin-right: .5rem;
}


/* ----------------------------------------------------------------
Saito User
-----------------------------------------------------------------*/

.saito-userline {
    color: #888;
}


.saito-user {
    display: grid;
    cursor: pointer;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: min-content 1fr;
    justify-items: start;
    margin-bottom: 1px;
    width: 100%;
    position: relative;
}


.saito-user.small {
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

/*  saito-identicon-box  */
.saito-user>div:nth-child(1) {
    margin-right: 1rem;
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row: span 2;
}

/* this hack is required in chrome to force */
/* the name to steal the upper row from the */
/* timebox, so the name does not cut off    */
.saito-user>.saito-address-long:nth-child(2) {
    grid-column-end: 4;
}

.saito-user>div:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
}

.saito-user>div:nth-child(3) {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
    font-size: 1.4rem;
}

.saito-user.small>div:nth-child(3) {
    line-height: 1.8rem;
    padding-top: 0.5rem;
}

.saito-user>div:nth-child(4).saito-user-alert,
.saito-user-alert {
    grid-row-start: 1;
    grid-row-end: 3;
    font-size: 3rem;
    background-color: var(--saito-primary);
    color: white;
    padding: 1rem;
    white-space: nowrap;
}

.saito-user>div:nth-child(4) {
    cursor: pointer;
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row: span 2;
    font-size: 1.4rem;
    align-items: top;
}



/* ----------------------------------------------------------------
Saito List,Saito User List and Saito User 
-----------------------------------------------------------------*/

.saito-list {
    padding: 1rem;
    z-index: 1;
}

.saito-list.horizontal {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 20rem));
    grid-gap: 1rem;
}

/*  Default Size */

.saito-list>div:not(:last-child) {
    margin-bottom: 1rem;
}

.saito-list.horizontal>div:not(:last-child) {
    margin-bottom: 0;
}


.saito-user-dropdown {
    position: absolute;
    right: 2rem;
    top: 1rem;
    width: 20rem;
    background-color: var(--saito-gray);
    z-index: 2;
    display: none;
}

.saito-user-dropdown.show {
    display: block;
}

/*** SATIO Identicons ***/

.saito-module-description-identicon-box {
    display: flex;
    flex-direction: row;   
}

.saito-module-identicon-box {
    height: 2.5rem;
    width: 2.5rem;
    background-image: url(/saito/img/no-profile.png);
    background-size: 100%;
    margin-right: 1rem;
    overflow: hidden;
}


.saito-module-identicon-box i {
    font-size: 2.2rem;
    line-height: 2.5rem;
    width: 2.5rem;
    text-align: center;
}

.saito-module-identicon-box i:hover {
    transform: scale(1.1);
}

.saito-module-identicon-box img {
    margin-right: 0.7rem;
    border: 0px;
    width: 2rem;
    min-width: 2.5rem;
    height: 2.5rem;
}

.saito-module-identicon.small {
    width: 2.5rem;
    height: 2.5rem;
}

.player-slot-ellipsis{
    position: relative;
}

.player-slot-ellipsis i{
    position: absolute;
    bottom: 0;
}

/*** SATIO Identicons ***/

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 768px) {
    .item-info {
        width: 70%;
    }

    .item-info span {
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .saito-list>div>img {
        width: 3.5rem;
        height: 3.5rem;
    }

    .saito-list.rectangle .item-info {
        width: 70%;
    }

    .saito-list.rectangle .item-info span {
        max-width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .saito-list.rectangle>div>img {
        width: 5rem;
        height: 3.5rem;
    }
}

@media screen and (max-width: 320px) {}

