.saito-grid-1 {
    display: grid;
    grid-template-columns: 1fr;
}

.saito-grid-1-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
}

.saito-grid-1-1-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
}

.saito-grid-1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.saito-grid-1-1-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.saito-grid-1-1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.saito-grid-1-2-1 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.saito-grid-2-1-1 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.saito-grid-1-3 {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.saito-grid-3-1 {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.saito-grid-1-4 {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.saito-grid-4-1 {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.saito-grid-1-5 {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.saito-grid-5-1 {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.saito-grid-1-1-1-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
}



.saito-grid-1-1-2,
.saito-grid-1-2,
.saito-grid-1,
.saito-grid-1-1,
.saito-grid-1-2-1,
.saito-grid-2-1-1,
.saito-grid-1-3,
.saito-grid-3-1,
.saito-grid-1-1-1-1 {
    /* margin-bottom: 4rem; */
}

.saito-grid-1-1-2,
.saito-grid-1-2,
.saito-grid-1,
.saito-grid-1-1,
.saito-grid-1-2-1,
.saito-grid-2-1-1,
.saito-grid-1-1-1,
.saito-grid-1-3,
.saito-grid-3-1,
.saito-grid-1-4,
.saito-grid-4-1,
.saito-grid-1-5,
.saito-grid-5-1,
.saito-grid-1-1-1-1 {
    margin: 0 0 5rem 0;
    grid-column-gap: 2%;
    grid-row-gap: 2rem;
    align-items: center;

}




@media screen and (max-width: 1200px) {

    .saito-grid-1-1-2,
    .saito-grid-1-2,
    .saito-grid-1,
    .saito-grid-1-1,
    .saito-grid-1-2-1,
    .saito-grid-2-1-1,
    .saito-grid-1-1-1,
    .saito-grid-1-3,
    .saito-grid-3-1,
    .saito-grid-1-4,
    .saito-grid-4-1,
    .saito-grid-1-5,
    .saito-grid-5-1,
    .saito-grid-1-1-1-1 {
        grid-template-columns: 100%;
        justify-content: center;
    }
}

