.saito-module {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 2rem;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    padding: 1rem;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-color: #4444;
    background-blend-mode: soft-light;
}

.saito-module-titlebar {
    font-size: 1.8rem;
    background-color: var(--saito-background-color);
    padding: 1rem;
    width: 18rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    overflow-wrap: break-word;
    opacity: 0.80;
}

.saito-module-titlebar-title {
    color: var(--saito-font-color-heavy);
}

.saito-module-details {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
}

.saito-module-identicon {
    border: none;
}