/* ----------------------------------------------------------------
Saito Table
-----------------------------------------------------------------*/
.saito-table {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    position: relative;
    border-radius: .1rem;

}

.saito-table-row {
  display: grid;
  grid-template-columns: 1fr min-content;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
  border-color: var(--saito-white);
  border-style: solid;
  border-width: 1px 0;
  background-color: var(--saito-gray);
  transition: all .2s;
}

.saito-table-row:hover {
  background: var(--saito-table-hover-background);
  color: var(--saito-white);
}

.saito-table-row:hover .saito-address {
  color: var(--saito-white);
}

.saito-address {
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: inherit;
}

.saito-table-rank {
    font-family: courier, monospace;
    font-size: 1.5rem;
}

.saito-table-header {
  display: grid;
  grid-column-gap: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.saito-table-body {
  max-height: 100%;
  height: auto;
  position: relative;
  overflow-y: auto;
  text-align: center;
}




