.saito-overlay-backdrop {
  position: fixed!important;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #444;
  opacity: 0.4;
  z-index: 100;
}

.saito-overlay {
  position: fixed;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
  z-index: 1000;
  min-height: 10%;
  height: min-content;
  width: min-content;
  min-width: 50rem;
  max-width: 90vw;
}

.saito-overlay-closebox {
  position: absolute;
  width: 30px;
  height: 30px;
  right: -13px;
  border-radius: 50%;
  top: -15px;
  background-color: white;
  z-index: 100;
}

.saito-overlay-closebox-btn {
  display: block;
  height: 32px;
  width: 32px;
  color: red;
  font-size: 31px;
}

/******
  Saito module overlay - Start
******/

.saito-module-overlay-box {
  position: relative;
  width: 71rem;
  background-color: #fff;
  min-height: 22rem;
  display: flex;
  justify-content: initial;
}

.saito-module-overlay-img {
  width: 30%;
  background-color: #f7d3d9;
  background-size: cover;
}

.saito-module-overlay-info-box {
  padding: 2.5rem;
  width: 69%;
  position: relative;
}

.saito-module-overlay-info-box .game-loader-container {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.saito-module-overlay-info-box .game-loader-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}


.saito-module-overlay-info-table {
  margin-top: 2rem;
}

.saito-module-overlay-info-table .saito-table-row {
  grid-template-columns: 50% 50%;
}

.saito-module-overlay-btn {
  margin-top: 2rem;
}

/******
  Saito module overlay - End
******/

/* Overlay within an overlay
   a weird bit of logic to facilitate 
   game creation form
*/

.saito-overlay .saito-overlay{
  min-width: 320px;
  padding: 2rem;
}

.saito-overlay .saito-overlay-backdrop {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


/*
  Cleaning up <style> within template of mixin overlays
  Placing it here until another suitable place found.

  - Deposit and withdrawl template cleaned, css for these two overlays
  placed here temporarily
*/

.mixin_crypto_overlay {
  padding: 2rem;
  background-color: var(--saito-white);
  color: black;
  line-height: 1.6em;
  font-size: 1.5em;
  width: 90rem;
}
.mixin_crypto_title {
  margin: 0.5em 0;
  font-size: 2em;
  font-weight: bold;
}
.mixin_crypto_warning {
  margin-top: 0px;
  margin-bottom: 20px;
}
.mixin_risk_acknowledge {
  max-width: 200px;
  text-align: center;
  margin-right: auto;
}


.email-appspace-deposit-overlay {
    padding: 2rem;
    background-image: linear-gradient(to bottom right, #EA4843, #f78754);
    color: #fff;
    background-image: url(/saito/img/dreamscape.png);
    background-position: 0em;
    background-size: 120% 100%;
    color: white;
    border-radius: 1rem;
    width: 40vw;
  }

  .email-appspace-deposit-overlay p {
    font-size: 17px;
  }

  .input-cont {
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 10px;
  }

  .input-cont p {
    color: #fff;
  }

  .input-heading{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
  }

  .input-elem {
    width: 99%;
    height: 35px;
    padding: 7px 10px;
    position:relative;
  }

  #copy-deposit-add {
    position: absolute;
    top: 54%;
    right: 4%;
    color: #444;
    cursor: pointer;
  }

  .copy-check::before {
    content:  "\f00c";
  }

  .info-cont {
    display: flex;
    justify-content: space-between;
  }

  .info-item {
  }

  .info-item-title {
    font-size: 13px;
    font-weight: 700;
  }

  .info-item-detail {
    font-size: 12px;
  }

  .note {
    margin-top: 30px;
    font-size: 13px;
  }

  .add-cont {
    display: flex;
    justify-content: space-between;
  }

  .add-item-cont {
  }

  #qrcode img {
    height: 17vh;
  }

  .add-input-box {
    width: 70%;
  }

  .email-appspace-deposit-overlay {
    max-width: 80vw;
  }
  .deposit_title {
    font-size: 2em;
  }
  .deposit_desc {
    font-size: 1.2em;
    line-height: 1.6em;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .deposit_qrcode {
    clear:both;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .deposit_address {
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 0.05em;
  }

   #withdrawl-confirm-cont, #withdrawl-sent-cont {
    display: none;
  }

  .decision-cont a {
    color: #fff;
    transition: all 0.1s ease-in-out;
  }

  .decision-cont a:hover {
    color: #333;
  }

  .email-appspace-withdraw-overlay {
    width: 38vw;
    padding: 2rem;
    background-image: linear-gradient(to bottom right, #EA4843, #f78754);
    color: #fff;
    background-image: url(/saito/img/dreamscape.png);
    background-position: 0em;
    background-size: 120% 100%;
    color: white;
    border-radius: 1rem;
  }

  .mixin-withdraw-token-wrapper {
    margin-bottom: 2rem;
  }

  .mixin-withdraw-token-wrapper p {
    color: #fff;
  }

  .mixin-withdraw-input {
    margin-bottom: 1rem;
    position: relative;
    padding-bottom: 20px;
  }

  .no-margin {
    margin: 0px;
  }

  .max-amount-error {
    display: none;
    color: #5d1919;
  }

  .input-heading{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
  }

  .input-elem {
    width: 100% !important;
    height: 45px;
    padding: 10px 10px !important;
    font-size: 16px !important;
  }

  .info-cont {
    display: flex;
    justify-content: space-between;
  }

  .info-item {
  }

  .info-item-title {
    font-size: 13px;
    font-weight: 700;
  }

  .info-item-detail {
    font-size: 12px;
  }

  .note {
    margin-top: 30px;
    font-size: 12px;
  }

  .note.withdrawl {
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 30px;
  }

  .add-cont {
    display: flex;
    justify-content: space-between;
  } 

  .add-input-box {
  }

  .withdraw_submit {
    cursor: pointer;
    background-color: #fff;
    color: var(--saito-primary);
    font-size: 1.5rem;
  }

  .amount-cont {
    display: flex;
    justify-content: space-between;
  }

  .max-amount-btn {
    display: inline-block;
    background-color: #fff;
    color: #222;
    position: absolute;
    right: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    top: 50%;
    transform: translateY(-10%);
  }


#mixin-warning-note {
    font-size: 1.7rem;
    color: #4a4848;
    margin-bottom: 1.5rem;
}

  .mixin-no-history {
    margin-left: 2rem;
  }

  .mixin-txn-his-container {
    margin-top: 1rem;
  }

  .mixin-txn-his-container .saito-table-body {
    height: auto;
  }

  .mixin-txn-his-container .saito-table-header {
    grid-template-columns: 15rem 15rem  15rem 15rem;
    text-align: center;
  }

  .mixin-txn-his-container .saito-table-row {
    grid-template-columns: 16rem 16rem 14rem 16rem;
    text-align: center;
  }

  .hide-btn {
    display: none;
  }

.mixin-items-container .saito-table-header,
.mixin-txn-his-container .saito-table-header {
  background: #e9e9e9;
  padding: 1rem 0rem;
  border-radius: 0.5rem;
  text-align: center;
}


.mixin-items-container .saito-table-header {
  grid-template-columns: 14rem 14rem;
}

.mixin-items-container .saito-table-body {
  height: auto;
}

.mixin-items-container .saito-table-row {
  grid-template-columns: 14rem 14rem 14rem 14rem 14rem;
  text-align: center;
  margin-bottom: 1rem;

}

.mixin-items-container .saito-table-row,
.mixin-txn-his-container .saito-table-row {
  margin-bottom: 1rem;
}

.mixin-item {
  height: 50px;
  width: calc(100% * (1/5));
  flex-grow: 1;
}

.mixin-item-header {
  background-color: #e7ebed;
  font-weight: 700;
}

.mixin-history-button {
  max-width: 200px;
  text-align: center;
}

.balances_container {
    box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 2px 1px -1px rgb(0 0 0 / 12%);
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.35417em;
    padding: 15px;
}
.balances_header {
    display: flex;
}
.balances_header_title {
    flex: 1 1 auto;
}
.balances_header_icons {
}
.balances_header_icon {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 24px;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    user-select: none;
    flex-shrink: 0;
    display: none;
}
.balances_table {
    width: 100%;
    display: table;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    border-spacing: 0;
    border-collapse: collapse;
}
.balances_tablehead {
    display: table-header-group;
}
.balances_tablerow {
    color: inherit;
    height: 48px;
    display: table-row;
    outline: none;
    vertical-align: middle;
    box-sizing: inherit;
}
.balances_tablerow:hover {
    background-color: #e7e7e7;
}
.balances_tablecell {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.2rem;
    font-weight: 400;
    display: table-cell;
    padding: 4px 56px 4px 24px;
    text-align: left;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    vertical-align: inherit;
}
.balances_link {
    font-size: 1.2rem;
    font-weight: 400;
}
.deposit {
    color: #14b214;
}
.withdrawal {
    color: #e34927;
}

#mixin-balance-container .mixin-item {
    width: calc(100% * (1/4));
}

.mixin-his-created-at {
    font-size: 1.15rem;
}

.mixin-balances_deposit, .mixin-balances_withdraw, .mixin-balance-history {
    color: var(--saito-primary);
}

.mixin-overlay-history {
  background: #fff;
  min-height: 20rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
}



/********************************************************/
/********    Checking balance overlay       *************/

.game-crypto-transfer-manager-container {
  background: #fff;
  padding: 1rem;
  width: 60rem;
  text-align: center;
  border-radius: 1rem;
}

.auth_title {
  font-size:3.5rem;
  margin-bottom: 1rem;
}

.balance {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.from_address,
.to_address {
  margin-bottom: 1rem;
  font-size: 2rem;  
}


/*
*
* IMG overlay with arrows
*/

.tweet-img-icon {
  font-size: 3rem;
  color: var(--saito-background-color);
  background: var(--saito-font-color-heavy);
  padding: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.tweet-img-arrow-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.tweet-overlay-img-cont > img {
  transition: all 0.2s ease-in-out;
}

.tweet-img-arrow-box.left {
  left: -10rem;
}

.tweet-img-arrow-box.right {
  right: -10rem;
}

.tweet-img-icon {
  font-size: 4.5rem;
}