.arcade-game-overlay {
  background: var(--saito-arcade-background);
  width: 60vw;
  max-width: 140rem;
  height: max-content;
  max-height: 90vh;
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-flow: column;
  grid-gap: 2rem;
}

.arcade-game-players {
  display: grid;
  column-gap: 2rem;
  row-gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.arcade-game-playerbox {
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-gap: 0.5rem;
  padding: 1rem 1rem 1rem;
  cursor: pointer;
  transition: all 0.2s;
  background-color: var(--saito-gray-transparent);
}
.arcade-game-playerbox.empty {
  cursor: auto;
}

.arcade-game-playerbox.requested_player {
  opacity: 0.6;
  filter: grayscale(0.7);
}

.arcade-game-overlay .saito-table-row.arcade-game-player-row {
  display: grid;
  grid-template-columns: min-content 1fr min-content 1fr;
  grid-gap: 1rem;
}

.arcade-game-overlay-header-image {
  background-size: cover;
  width: 11rem;
  height: 7rem;
  float: left;
  margin-right: 1rem;
}

.arcade-game-overlay-header-title-box-title {
  font-size: 4rem;
}

.arcade-game-overlay-header-title-box-desc {
  font-size: 2rem;
}

.arcade-game-overlay-body {
  display: grid;
  row-gap: 1rem;
  grid-template-columns: 1fr;
}

.arcade-game-overlay .saito-table-row {
  grid-template-columns: 5rem 1fr;
}

.arcade-overlay-game-options .saito-table-row {
  grid-template-columns: 5rem 1fr;
  grid-column-gap: 10rem;
}

.arcade-game-options-key {
  font-weight: bold;
}

.arcade-game-options {
  overflow-y: auto;
  box-shadow: var(--saito-box-shadow) var(--saito-border-color);
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.arcade-game-controls {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  flex-flow: row-reverse;
}

.arcade-game-controls .saito-button {
  margin: 0;
  width: max-content;
  min-width: 20rem;
  height: 7rem;
  font-size: 2rem;
  line-height: 5rem;
}

.saito-identicon-box.empty-slot {
  width: 3.5rem;
  border: 1px solid var(--saito-border-color);
  box-shadow: -1px -1px #000;
  background-color: var(--saito-light-shim);
  height: 3.5rem;
}

.saito-identicon-box .saito-username {
  line-height: 3.5rem;
}

.saito-username {
  display: block;
  align-self: center;
}

.arcade_game_overlay_loader {
  min-width: 25vw;
}

.arcade_game_overlay_loader .arcade-game-initializer-success-title,  
.arcade_game_overlay_loader .game-loader-title {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
}


.arcade_game_overlay_loader .arcade-game-initializer-success-button{
    font-size: 1.8rem;
    margin: 1rem;
    width: -webkit-fill-available;
}

@media screen and (max-width: 1000px) {
  .arcade-game-overlay {
    width: 90vw;
  }
}

@media screen and (max-width: 615px) {
  .arcade-game-overlay {
    width: 95vw;
  }
  .arcade-game-controls {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  .arcade-game-controls .saito-button {
    width: 100%;
    height: 5rem;
    font-size: 2rem;
    line-height: 3rem;
  }
  .arcade-game-players {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .arcade-game-overlay-header {
    display: block;
  }
  .arcade-game-overlay-header-image {
    display: none;
  }
 
}
