/*  Game Selector Overlay */

.arcade-game-selector {
  max-width: 90vw;
  max-height: 90vh;
  display: flex;
  overflow-y: scroll;
  transition: all 0.2s;
  flex-wrap: wrap;
  gap: 2rem;
  min-width: 80vw;
  justify-content: center;
  padding: 1rem;
}

.arcade-game-selector-game {
  width: 30rem;
  height: 20rem;
  max-width: 30rem;
  max-height: 30rem;
  border: 1px solid var(--saito-border-color);
  position: relative;
}

.arcade-game-selector-game:hover {
  opacity: 1;
}

.arcade-game-selector-game-title {
  position: absolute;
  height: 6rem;
  background-color: #000A;
  overflow-x: hide;
  color: white;
  width: 100%;
  top: 0;
  left: 0px;
  padding: 1.6rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}

.arcade-game-selector-game-image {
  width: 100%;
  height: 100%;
}

.arcade-game-selector-game-image>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 740px) {
  .arcade-game-selector-game {
    max-width: 70rem;
  }
}

@media screen and (max-width: 400px) {
  .arcade-game-selector-game {
    grid-template-columns: 30rem;
  }
}