.game-loader-title {
	text-align: center;
	font-size: 3rem;
	margin-top: 10rem;
}
.invite-manager {
	width: 100%;
	padding-top: 0px;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}

.arcade-players-needed {
	margin-bottom: -1rem;
}

.saito-module-holder {
	margin: 0 0 0 auto;
}

.saito-game-identicons {
	min-width: min-content;
	padding: 1rem;
}

.saito-sidebar .saito-game-identicons {
	padding: 0.5rem;
	column-gap: 0.75rem;
}

.saito-game-identicons div {
	height: 3.5rem;
	backdrop-filter: blur(3px);
}

.saito-game-identicons .requested_player {
	opacity: 0.6;
	filter: grayscale(0.7);
}

.identicon-needed {
	height: 3.5rem;
	width: 3.5rem;
	border: 1px solid var(--border-color-general-dividers);
	box-shadow: -1px -1px #000;
	background-color: var(--background-color-shim-light);
  	border-radius: var(--border-radius-identicon);
}

/*
.my-turn {
	border: solid 2px;
}
*/

.player-turn {
	position: relative;
}

.player-turn i {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 2rem;
	border-radius: 100%;
	color: var(--saito-primary);
	background-color: var(--saito-complement);
	box-shadow: var(--shadow-standard);
}

.my-turn .player-turn i {
	display: block;
}

.angled-notification {
	position: absolute;
	right: 0;
	height: 100%;
	width: 10rem;
	max-width: 100%;
	padding: 0 1rem 0 3.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	white-space: break-spaces;
	color: var(--font-color-header-msg);
	text-shadow: 1px 1px 2px var(--saito-black);
	background-color: var(--background-color-notification-status);
	clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
}