body {
  height: 100vh;
  background: var(--saito-arcade-background);
  justify-content: center;
}

#saito-header {
  background: var(--saito-arcade-header-background);
  border-bottom: none;
}

.arcade-tab-container {
  height: fit-content;
  width: 100%;
}

.saito-header-hamburger-contents {
  background: var(--saito-arcade-background);
}

.arcade-main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
}

button, .saito-button-primary, .saito-button-secondary:hover {
  background: var(--saito-button-background);
}

.saito-button-secondary {
  color: var(--saito-font-color);
}

.arcade-game-initializer-success-title {
  text-align: center;
}

.arcade-game-initializer-success-button {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 3rem;
}