/*  Game Selector Overlay */

.arcade-game-selector {
  width: 90vw;
  height: 90vh;
  display: flex;
  overflow-y: scroll;
  transition: all 0.2s;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding: 1rem;
}

.arcade-game-selector-game {
  width: 30rem;
  height: 20rem;
  border: 1px solid var(--saito-border-color);
  position: relative;
}

.arcade-game-selector-game:hover {
  opacity: 1;
}

.arcade-game-selector-game-title {
  position: absolute;
  height: 6rem;
  background-color: #000A;
  overflow-x: hide;
  color: white;
  width: 100%;
  top: 0;
  left: 0px;
  padding: 1.6rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.arcade-game-selector-game-image {
  width: 100%;
  height: 100%;
}

.arcade-game-selector-game-image>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 900px) {
  .arcade-game-selector{
    width: 100vw;
    height: 100vh;
  }

  .arcade-game-selector-game {
    width: 24rem;
    height: 16rem;
  }

  .arcade-game-selector-game-title {
    padding: 1.2rem;
    font-size: 2rem;
    height: 5rem;
  }
}

@media screen and (max-width: 500px) {
  .arcade-game-selector-game {
    width: 14rem;
    height: 9rem;
  }
  .arcade-game-selector-game-title {
    padding: 0.8rem;
    font-size: 1.8rem;
    height: 4rem;
  }
}