.invite-manager {
    width: 100%;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.arcade-players-needed {
    margin-bottom: -1rem;
}

.saito-game-identicons {
    min-width: min-content;
    backdrop-filter: blur(1px);
    padding: 1rem;
}

.saito-game-identicons div {
    height: 3.5rem;
}

.saito-game-identicons .requested_player {
    opacity: 0.6;
    filter: grayscale(0.7);
}

.game-type {
    font-size: 1.4rem;
    font-weight: 400;
}

.identicon-needed {
    height: 3.5rem;
    width: 3.5rem;
    border: 1px solid var(--saito-border-color);
    box-shadow: -1px -1px #000;
    background-color: var(--saito-light-shim);
}

