.arcade-game-overlay {
  background-color: var(--saito-background-color);
  width: 60vw;
  height: max-content;
  padding: 1rem;
  border-radius: 0.5rem;
  display: grid;
  grid-template-rows: 8rem max-content;
  grid-gap: 1rem;
}

.arcade-game-overlay-header-image {
  background-image: url(/twilight/img/arcade/arcade.jpg);
  background-size: cover;
  width: 11rem;
  height: 7rem;
  float: left;
  margin-right: 1rem;
}

.arcade-game-overlay-header-title-box-title {
  font-size: 4rem;
}

.arcade-game-overlay-header-title-box-desc {
  font-size: 2rem;
}

.arcade-game-desc {
    margin-top: -1rem;
    font-size: 2rem;
    font-style: italic;
    color: var(--saito-font-color);
    grid-column: 1 / 2 span;
}

.arcade-game-overlay-body {
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
  grid-template-columns: 2fr minmax(min-content, 1fr);
}

.arcade-game-overlay .saito-table-row {
  grid-template-columns: 5rem 1fr;
}

.arcade-game-players {
  overflow-y: auto;
  box-shadow: -1px 1px 0.5rem 1px var(--saito-border-color);
  padding: 1rem;
  margin-top: 1rem;
}

.arcade-game-options {
  overflow-y: auto;
  box-shadow: -1px 1px 0.5rem 1px var(--saito-border-color);
  padding: 1rem;
  margin-top: 1rem;
}

.arcade-game-controls {
    grid-column: 1 / 2 span;
}

.arcade-game-controls .saito-button {
    margin: 0;
    padding-left: 5rem;
    padding-right: 5rem;
    width: max-content;
    float: right;
    height: 7rem;
    font-size: 2rem;
    padding-top: 2.1rem;
}

