
/* Game Advanced Options Styling*/

#advanced-options-overlay-container {
	color: var(--saito-font-color-dark-modal);
	min-width: min(40rem, 90vw);
	min-height: 15rem;
	display: flex;
	padding: 2.5rem;
	flex-direction: column;
	border: 1px solid var(--color-primary);
	gap: 2rem;
	max-width: 95vw;
	max-height: 95vh;
	overflow-y: auto;
	overflow-x: hidden;
	background: var(--saito-arcade-overlay-background);
}


.overlay-title {
	width: 100%;
}

#advanced-options-overlay-container > * {
	max-width: 100%;
}

#advanced-options-overlay-container .overlay-title {
	text-align: center;
	color: var(--saito-white);
}

#advanced-options-overlay-container .overlay-input {
	margin-bottom: 0;
}

#advanced-options-overlay-container select {
	text-transform: capitalize;
	background: transparent;
	border: 1px solid var(--color-primary);
	color: var(--color-white);
	font-size: 2.5rem;
	padding: 1rem;
	height: 5rem;
}

#advanced-options-overlay-container .options_notice {
	margin-bottom: 1.2rem;
	font-style: italic;
	text-align: center;
}

.game-wizard-advanced-box {
	display: block;
	text-align: left;
}

.game-wizard-advanced-box .list-header {
	color: var(--color-primary);
}

#advanced-options-overlay-container label {
	margin: 1rem 0 0.5rem;
}

.overlay-input label {
	line-height: 3rem;
	white-space: nowrap;
	margin-right: 1rem;
	align-self: center;
}

/* Get hyperspecific so default button css can be overridden*/
#advanced-options-overlay-container .button.game-wizard-advanced-return-btn {
	font-size: 1.8rem;
	height: 4.8rem;
	padding: 1rem;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	margin: 0;
}


/* Game Advanced Options Styling*/

.game-wizard-options-toggle {
	padding-top: 1rem;
}

.game-wizard-options-toggle-text {
	border-bottom: 1px dashed;
	cursor: pointer;
}

.game-wizard-invite {
	width: 100%;
	min-height: 7rem;
	display: block !important;
	padding: 0rem !important;
}

.game-wizard-other-btns {
	display: none;
	/* display: flex; */
	flex-direction: row;
	justify-content: space-between;
}

.arcade-wizard-overlay {
	display: grid;
	max-height: 95vh;
	height: min-content;
	width: min(900px, 90vw);
	grid-template-rows: min-content auto;
	background: var(--saito-arcade-overlay-background);
	padding: 2rem;
	border-radius: inherit;
	color: var(--color-white);
	border: 1px solid var(--saito-arcade-overlay-background);
}

.arcade-wizard-overlay .arcade-wizard-game-container {
	min-height: 17rem;
	display: grid;
	grid-template-columns: 3fr 7fr;
	grid-gap: 1.5rem;
}

.arcade-wizard-overlay .arcade-wizard-game-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.arcade-wizard-overlay .arcade-wizard-game-image img {
	width: 100%;
	object-fit: cover;
	height: 100%;
}

.arcade-wizard-game-name {
	font-size: 3.5rem;
	margin-bottom: 1rem;
}

.arcade-wizard-game-description {
	font-size: 2rem;
	line-height: 3rem;
}

.arcade-wizard-game-controls {
	display: grid;
	grid-template-columns: 3fr 7fr;
	grid-gap: 1rem;
	margin-top: 2rem;
}

.arcade-wizard-overlay select {
	background: transparent;
	border: 1px solid var(--color-primary);
	color: var(--color-white);
	font-size: 2rem;
	appearance: none;
	padding: 0 1rem;
	border-radius: 0 1rem 1rem 0;
}

.arcade-wizard-overlay select:focus {
	outline: none;
}

.saito-select::after {
	border-left: 1px solid var(--color-primary);
}

.arcade-wizard-game-controls .settings > div.overlay-input {
	position: relative;
	display: flex;
	width: 20em;
	height: 3em;
	line-height: 3;
	background-color: transparent;
	overflow: hidden;
	width: 100%;
	outline: none;
	border: none;
	background-color: none;
}

.arcade-wizard-game-controls .settings {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}

.arcade-wizard-game-controls .settings > div.overlay-input::after {
	content: '\25BC';
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 1em;
	color: var(--color-white);
	background: var(--background-color-button-mod-arcade);
	cursor: pointer;
	pointer-events: none;
	-webkit-transition: 0.25s all ease;
	-o-transition: 0.25s all ease;
	transition: 0.25s all ease;
	border-radius: 0 1rem 1rem 0;
	border-left: 1px solid var(--color-primary);
	width: 5rem;
	display: flex;
	justify-content: center;
}

.saito-module-intro-title {
	font-size: 2.5rem;
	font-weight: bold;
	position: relative;
	white-space: nowrap;
	margin-bottom: 0.5rem;
	padding-top: 0.5rem;
}

.saito-module-intro-description {
	font-size: 1.9rem;
	line-height: 2.8rem;
}

.arcade-wizard-overlay .arcade-game-details {
	font-size: 1.6rem;
	margin: 0.4rem;
}

.arcade-game-details .detail_row {
	margin: 0.4rem 0;
}

.saito-multi-select_btn {
	overflow: hidden;
}

.saito-multi-select_btn.saito-select {
	border-bottom: unset;
	height: 4.8rem;
	width: 100%;
	position: relative;
	display: flex;
	line-height: 3;
	margin-top: 0px;
}

.saito-multi-select_btn_options {
	width: calc(100% - 5rem);
	padding: 0 !important;
	border: none;
	background: none;
}

.saito-multi-select_btn.showAll {
	overflow: visible;
}

.saito-multi-select_btn {
	background: none;
}

.arcade-wizard-overlay select {
	width: 100%;
}

.saito-multi-select_btn_options button {
	background: var(--saito-arcade-overlay-background);
	margin: 0rem;
	padding: 0rem;
	width: 100%;
	display: block;
	border-radius: 0;
	min-height: 4.8rem;
	font-size: 2rem;
	margin-bottom: -1px;
	border: 1px solid var(--color-primary);
}

/*.saito-multi-select_btn.showAll>.saito-multi-select_btn_options button {
  background-color: var(--saito-primary);
  color: #fff;
}*/

.saito-multi-btn {
	width: 100%;
	min-height: 4.8rem;
	margin: 0.1rem;
	color: var(--saito-white);
}

.saito-multi-btn:hover {
	background: var(--background-color-button-primary);
}

.game-wizard-form {
	display: grid;
	grid-gap: 1em;
	grid-template-columns: 1fr;
}

.arcade-game-publisher-message {
	margin-top: 1rem;
	font-size: 2rem;
	line-height: 2.5rem;
}

#arcade-advance-opt {
	margin: 1rem 0;
	text-transform: lowercase;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.arcade-advance-opt-text {
	cursor: pointer;
	border-bottom: 1px dashed;
	font-size: 2rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


.arcade-advance-opt-text:hover{
	color: var(--hover-text-color);
}

.arcade-wizard-game-invite {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.game-invite-btn {
	min-width: 25rem;
	height: 4.8rem;
}

.twilight-advanced-options-container {
	display: flex;
	gap: 2rem;
	flex-direction: column;
	min-width: 75vw;
	max-width: 100rem;
}

.twilight-advanced-options-container div {
	display: grid;
	gap: 1rem;
}

.game-wizard-advanced-box {
	display: block;
	padding-left: 20px;
}

.game-wizard-advanced-box ul li {
	width: 20rem;
}

.game-wizard-advanced-box ul {
	display: flex;
	gap: 1rem;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.game-wizard-advanced-box ul li {
	display: grid;
	grid-template-columns: 0.25fr 1fr;
}

@media screen and (max-width: 1000px) {
	.game-wizard-advanced-box ul li {
		width: 15rem;
	}
}

@media screen and (max-width: 700px) {
	.arcade-wizard-game-container {
		display: flex !important;
		flex-direction: column;
	}
	.arcade-wizard-game-controls {
		display: flex !important;
		flex-direction: column-reverse;
	}
	.arcade-wizard-overlay {
		font-size: 1.8rem;
	}

	.arcade-wizard-game-invite button {
		width: 100%;
		min-width: unset;
	}

	.arcade-wizard-game-name {
		font-size: 2.8rem;
	}

	.arcade-wizard-game-description,
	.saito-multi-select_btn_options button,
	.arcade-advance-opt-text,
	.arcade-wizard-overlay select {
		font-size: 1.6rem;
		line-height: 2rem;
	}
}
