.arcade-game-overlay {
  background: var(--saito-arcade-background);
  width: 60vw;
  height: max-content;
  max-height: 90vh;
  padding: 2rem;
  border-radius: 0.5rem;
  display: grid;
  grid-template-rows: 7rem max-content 7rem;
  grid-gap: 2rem;
}

.arcade-game-overlay .saito-table-row.arcade-game-player-row {
  display: grid;
  grid-template-columns: min-content 1fr min-content 1fr;
  grid-gap: 1rem;
}

.arcade-game-overlay-header-image {
  background-image: url(/twilight/img/arcade/arcade.jpg);
  background-size: cover;
  width: 11rem;
  height: 7rem;
  float: left;
  margin-right: 1rem;
}

.arcade-game-overlay-header-title-box-title {
  font-size: 4rem;
}

.arcade-game-overlay-header-title-box-desc {
  font-size: 2rem;
}

.arcade-game-overlay-body {
  display: grid;
  row-gap: 1rem;
  grid-template-columns: 1fr;
}

.arcade-game-overlay .saito-table-row {
  grid-template-columns: 5rem 1fr;
}

.arcade-game-players {
  overflow-y: auto;
  box-shadow: var(--saito-box-shadow) var(--saito-border-color);
  padding: 1rem;
  margin-top: 1rem;
}

.arcade-game-options {
  overflow-y: auto;
  box-shadow: var(--saito-box-shadow) var(--saito-border-color);
  padding: 2rem;
  border-radius: 0.5rem;
}

.arcade-game-controls .saito-button {
  margin: 0;
  padding-left: 5rem;
  padding-right: 5rem;
  width: max-content;
  float: right;
  height: 7rem;
  font-size: 2rem;
  padding-top: 2.1rem;
}

.saito-identicon-box.empty_slot {
  width: 3.5rem;
  border: 1px solid var(--saito-border-color);
  box-shadow: -1px -1px #000;
  background-color: var(--saito-light-shim);
  height: 3.5rem;
}

.saito-identicon-box .saito-username {
  line-height: 3.5rem;
}
