*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--unhover-border-color: rgba(0, 0, 0, 0.5);
	--unhover-text-color: rgba(255, 255, 255, 0.5);
	--unhover-background-color: rgba(0, 0, 0, 0.5);
	--hover-border-color: rgba(0, 0, 0, 0.8);
	--hover-text-color: rgba(255, 255, 255, 0.8);
	--hover-background-color: rgba(0, 0, 0, 0.8);
	--transition-delay: 0.5s;
}

.game-slider .carousel .slider-button {
	display: none;
}

.saito-sidebar .game-slider{
	border-radius: var(--border-radius-sidebar-menu);
	box-shadow: var(--box-shadow-sidebar-elements);
}

.carousel, .slides, .slide, .slide img {
	border-radius: inherit;
}

.carousel {
	position: relative;
	width: 100%;
	height: 13rem;
}

.slider-button {
	font-size: 3.5rem;
	position: absolute;
	bottom: 0.5rem;
	background-color: var(--unhover-background-color);
	color: var(--saito-white);
	z-index: 10;
	cursor: pointer;
	border-radius: 50%;
	line-height: 2rem;
	border: 1px solid var(--saito-white);
	width: 4rem;
	transform: scale(0.75);
}

.slider-button-prev {
	left: 1rem;
	padding-left: 0.75rem;
}

.slider-button-next {
	right: 1rem;
	padding-left: 1rem;
}

.slider-button:hover,
.slider-button:focus {
	background-color: var(--hover-background-color);
}

ul.slides {
	list-style-type: none;
	height: 100%;
	width: 100%;
}

li.slide {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	opacity: 0;
	transition: opacity var(--transition-delay);
	transition-delay: var(--transition-delay);
	cursor: pointer;
}

.slide > img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

li.slide[data-active-slide] {
	opacity: 1;
}

.slides-circles {
	display: flex;
	position: absolute;
	bottom: 1.5rem;
	left: 50%;
	transform: translateX(-50%);
	overflow: hidden;
	display: none;
}

.slides-circles > div {
	height: 1.5rem;
	width: 1.5rem;
	margin: 1rem;
	border: 3px solid white;
	border-radius: 50%;
	transition: background-color var(--transition-delay);
	transition-delay: var(--transition-delay);
}

.slides-circles > div[data-active-slide] {
	background-color: white;
}

.game-slider-name {
	color: var(--saito-white);
	font-size: 2.5rem;
	display: inline-block;
	position: absolute;
	top: 0;
	text-align: center;
	width: min-content;
	padding-left: 2rem;
	background: var(--hover-background-color);
	white-space: nowrap;
	padding: 1rem;
	border-radius: 0 0 0.5rem 0;
}
