body {
  height: 100vh;
  background: var(--saito-arcade-background);
  justify-content: center;
}

#saito-header {
  background: var(--saito-arcade-header-background);
  border-bottom: none;
}

.arcade-tab-container {
  height: fit-content;
  width: 100%;
}

.saito-header-hamburger-contents {
  background: var(--saito-arcade-background);
}

.arcade-main {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

button, .saito-button-primary, .saito-button-secondary:hover {
  background: var(--saito-button-background);
}

.saito-button-secondary {
  color: var(--saito-font-color);
}

.arcade-central-panel .arcade-initializer {
  height: 100vh;
}

.arcade-game-initializer-success-title {
  text-align: center;
  font-size: 3rem;
  margin-top: 10rem;
}

.arcade-game-initializer-success-button {
  margin-left: 50%;
  margin-top: 3rem;
}

.arcade-central-panel h5 {
  margin: 0 0 -1rem 0;
}

/*************************************
 * Override saito-page-layout 
 * to make arcade better on mobile
**************************************/

@media screen and (max-width: 900px) {
  .arcade-container .saito-sidebar.right {
    position: unset;
    left: unset;
    width: unset;
    top: unset;
    visibility: visible;
    margin-top: unset;
    height: unset;
    grid-row: unset;
    grid-column-start: unset;
    padding: 1rem;
  }
  .arcade-container .saito-main {
    margin: 0;
  }
  .arcade-container .saito-sidebar.right .saito-table-row {
    padding: 1rem;
  }
  .arcade-container .saito-sidebar.right .saito-table-body {
    grid-gap: 0.8rem;
    font-size: 1.6rem;
  }
}