
.game-playerbox-manager {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    width: 95vw;
    height: max-content;
    justify-content: space-around;
    top: 5rem;
    left: 2.5vw;
}

.saito-user {
  grid-template-columns: min-content 1fr;
}

.other-player-hand {
	position: absolute;
}
.other-player-hand .card {
	position: absolute;
}
.game-playerbox-manager .game-playerbox {
	overflow: visible;
}

.game-playerbox.game-playerbox-seat-1 {
	height: 250px;
	position: fixed;
}

.game-playerbox-graphics {
	display: flex;
}

.game-playerbox-icons {
	flex-direction: column;
	align-items: center;
}

.game-playerbox-icons .poker-stack-balance {
	font-size: 1.2em;
}
.game-playerbox-icons .poker-stack-units {
	font-size: 0.8em;
}


.game-playerbox {
	width: 100%;
	max-width: min(250px, 30vw);
	border: 1px solid #fff3;
	min-height: 10rem;
	color: white;
	background-color: #020E;
	position: relative;
	border-radius: 2rem;
	transition: all 0.5s;
	margin: auto; /* auto-center in grid */
}

.game-playerbox.active:not(.game-playerbox-seat-1) {
	border: 1px solid #fff;
	filter: drop-shadow(5px 5px 3px black);
  	transform: translate(-3px, -2px);
}


.game-playerbox-head .saito-user > .saito-address {
	color: white;
}

.game-playerbox-graphics {
	position: absolute;
	height: 100px;
	width: 100%;
	left: 100%;
	top: 20%;
	z-index: -10;
}


.plog-update, .status {
	width: 100%;
	text-align: center;
	margin-top: 0.5rem;
}


@media screen and (max-width: 900px) {
  .game-playerbox-manager {
    gap: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .game-playerbox-manager {
    gap: 1rem;
  }
}