
.cardfan {
  display: block;
  position: fixed;
  top: 65%;
  left: 10%;
  height: 35vh
  width: auto;
}

.cardfan > .card:nth-child(1), .hand > .card:nth-child(1) {
  transform: rotate(-15deg);
  left: 0px;
}

.cardfan > .card:nth-child(2), .hand > .card:nth-child(2) {
  transform: rotate(-5deg);
  left: 3vh;
}

.cardfan .card {
  position: absolute;
  height: auto;
}

