body {
    background-image: url(/poker/img/backgrounds/castle2.png);
}

.gameboard {
  border-radius: 2rem;
  position: absolute;
  background-image: url(/saito/img/arcade/greenfelt.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transform: perspective(700px) rotateX(33deg);
}
/*
  transform: perspective(700px) rotateX(33deg) !important;
*/
/* NOTE - transform 3d is included in code for menu option */

.deal {
  display: flex;
  gap: 1rem;
}

.mystuff {
  position: absolute;
  display: flex;
  bottom: 0px;
  width: 100vw;
  justify-content: space-around;
}

