
.status ul li,
.option {
	height: 6rem;
	border-top: 1px solid var(--saito-border-color);
	width: 100%;
	font-size: 1.8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	cursor: pointer;
	position: relative;
}

.status ul li:hover,
option:hover {
	background-color: #0005;
}


.animated_mask {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: orangered;
	left: 0;
}

