.poker-rules-overlay {
	border: solid 0.5rem #fff;
	width: 95rem;
	max-width: 90vw;
	background-image: url(/saito/img/arcade/greenfelt.jpg);
	background-size: cover;
	padding: 1rem 3rem;
	border-radius: 6%;
	margin: auto;
}

div.h2 {
	font-size: min(4rem, 6vw);
	margin: 1rem;
	color: white;
	font-weight: bolder;
	text-align: center;
}

.poker-modal-table {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 3rem;
	justify-items: center;
	padding: 0rem 0rem 2rem 0rem;
}

img.mcard {
	width: 100%;
}

.mcard.not_used {
	filter: grayscale(100%) brightness(0.7);
}

.poker-box-description {
	font-size: min(2rem, 3vw);
	font-weight: bold;
	color: #fff;
	width: 100%;
	margin-top: 1rem;
}

.poker-modal-cardbox {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: max(3px, 0.1vw);
}

@media screen and (max-width: 900px) {
	.poker-rules-overlay {
		padding: 0.5rem 1.5rem;
	}
	.poker-modal-table {
		grid-column-gap: 1.5rem;
	}
}

.poker-stats-overlay {
	min-width: min(50rem, 95vw);
	max-width: 100vw;
	background: var(--saito-black);
	color: var(--saito-white);
	padding: 2rem;
	border: 1px solid var(--saito-border-color);
	border-radius: 5px;
}

.stats-table {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: repeat(auto-fit, minmax(2rem, 1fr));
	grid-gap: 0.5rem;
	margin: 1rem;
	cursor: default;
}

.stats-table-row {
	width: 100%;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
	grid-column-gap: 1rem;
}

.stats-label.label-note {
	cursor: help;
}

.stats-table-header div {
	overflow: hidden;
	text-overflow: ellipsis;
}