.poker-rules-overlay {
    border: solid 0.5rem #fff;
    width: 95rem;
    max-width: 95vw;
    background-image: url(/saito/img/arcade/greenfelt.jpg);
    background-size: cover;
    padding: 1rem 3rem;
    border-radius: 6%;
}
div.h2 {
    font-size: min(4rem, 8vw);
    margin: 1rem;
    color: white;
    font-weight: bolder;
    text-align: center;
}
.poker-modal-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
    justify-items: center;
    padding: 0rem 0rem 2rem 0rem;
}
img.mcard {
    width: 100%
}

.poker-box-description {
    font-size: min(2rem,3vw);
    font-weight: bold;
    color: #fff;
    width: 100%;
    margin-top: 1rem;
}

.poker-modal-cardbox {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: max(3px,0.1vw);
}


@media screen and (max-width: 900px) {
    .poker-rules-overlay {
        padding: 0.5rem 1.5rem;
    }
    .poker-modal-table{
        grid-column-gap: 1.5rem;
    }
}