body {
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  overflow: hidden; 
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.saito-balance {
  text-align: center;
}

.gameboard{
  position: absolute;
  background-image: url(/saito/img/arcade/greenfelt.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.crypto_logo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20vw;
}

.hand {
  position: relative;
}

.deal {
  margin: 0 auto;
  position: absolute;
  top: 30vh;
  left: 50vw;
  transform: translateX(-50%);
  width: unset;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  padding: 2rem;
}

.pot {
    position: relative;
    background-color: #0007;
    font-size: 3rem;
    top: 22vh;
    height: 5.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
    min-width: max-content;
    max-width: 90vw;
    display: block;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.pot-counter{
  text-align: center;
  font-weight: bold;
  color: #efefef;
  width: 100%;
  margin: 0;
  padding: 0;
}

.pot .chip_stack{
  top:  unset;
  left: unset;
  width: 100px;
}

.player-info-chips {
  text-align: center;
  font-size: max(1em,2.5vh);
  overflow: hidden;
  position: relative;
  top: -1.8rem;
  font-size: 1.5rem;
  float: right;
}

.plog-update{
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 0.8rem;
  font-size: 1.8rem;
}

.plog ul {
  margin-top: 0.5rem;
}

.suit {
  font-size: larger;
}

.htmlhand{
  text-indent: 0; 
}

.htmlCard {
  margin: 5px 3px;
  display: inline-block;
  background: #fffD;
  padding: 4px 3px;
  border-radius: 6px;
}


.menu-player-upper {
    font-size: 1.4rem;
    font-weight: bolder;
    width: 100%;
    margin-top: -1.8rem;
    position: absolute;
    padding-right: 1.8rem;
}


.dealerbutton{
  color: #fff;
  width: 1em;
  margin-left: 0.5vw;
  font-size: 2.5vh;
  line-height: 2.5vh;
  -webkit-text-stroke: 1px #444;
  position: fixed;
  left: 0.25rem;
  top: 4rem;
}

.tip {
  width: unset;
}

.tip.pot {
  width: fit-content;
}

.tip .tiptext{
  font-size: 20px;
  min-width: 100px;
  text-align: center;
  width: unset;
  border: none;
  /*line-height: 1em;*/
  padding: 0.5em;
  background-color: #fefefeee;
}


@media screen and (orientation: landscape) and (max-height: 600px) {

  .game-scoreboard{
    top: unset;
    left: unset;
    transform: unset;
    bottom: 0;
    right: 0;
    flex-direction: column;
    padding: 4px;
    max-width: 30vw;
  }
  .scoreitem{
    width: calc(100% - 8px);
    padding: unset;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .menu-player{
    font-size: 0.9em;
    font-weight: normal;
    margin: 0.3vh auto;
  }

}


@media screen and (orientation: portrait) and (max-width: 600px) {

  .game-scoreboard{
    top: unset;
    left: unset;
    transform: unset;
    bottom: 0;
    right: 0;
    flex-direction: column;
    padding: 4px;
    max-width: 20vw;
  }

  .scoreitem{
    width: calc(100% - 8px);
    padding: unset;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .deal {
    grid-column-gap: 0.5rem;
    padding: 1rem;
  }



}
