.card {
	position: relative;
	width: min(18vw, 130px);
	height: min(27.54vw, 199px);
}

.card.used {
	/*border: 2px solid var(--saito-secondary);
  background-color: var(--saito-secondary);
  border-radius: 8px;*/
}

.card.not_used {
	filter: grayscale(100%) brightness(0.55);
}

.cardFront, .cardBack {
    position: absolute; /* Ensure both sides overlap properly */
    width: 100%;        /* Adjust as needed for your layout */
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: transform 0.5s ease;
}

.cardFront {
    transform: rotateY(0deg); /* Front side starts facing up */
}

.cardBack {
    transform: rotateY(180deg); /* Back side starts flipped */
}

.flipped .cardFront {
    transform: rotateY(180deg); /* Front side flips to back */
}

.flipped .cardBack {
    display: block;
    transform: rotateY(0deg); /* Back side flips to front */
}


@media screen and (orientation: portrait) and (max-width: 600px) {
	.cardfan {
		left: 38vw;
		top: 53vh;
		position: absolute;
		width: 100%;
	}
}


@media screen and (orientation: landscape) and (max-height: 600px) {

	.card {
		height: min(100px, 23vh);
		width: min(65px, 15vh);
	}

}
