
.card {
  position: relative;
  width: min(18vw, 130px);
  height: min(27.54vw, 199px);
}

.card.pocket {
  border: 4px solid var(--saito-secondary);
  background-color: var(--saito-secondary);
  border-radius: 8px;
}

.cardfan {
  max-height: 20vh;
  max-width: 20vw;
}

.cardfan>.card:nth-child(1), .hand>.card:nth-child(1) {
  transform: rotate(-15deg);
  left: 0px; 
} 
  
.cardfan>.card:nth-child(2), .hand>.card:nth-child(2) {
  transform: rotate(-5deg);
  left: 3vh;
}


.cardfan .card {
  width: min(20vw, 130px);
}

.cardFront, .cardBack{
  transition: transform 0.5s ease;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.cardFront{
  transform: rotateY(180deg);
}

.flipped .cardFront, .cardBack {
  transform: rotateY(0deg);
}

.flipped .cardBack{
  transform: rotateY(-180deg);
}


@media screen and (orientation: portrait) and (max-width: 600px) {

  .cardfan {
    left: 38vw;
    top: 53vh;
    position: absolute;
    width: 100%;
  }


}


