
.game-playerbox-manager {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    width: 95vw;
    height: max-content;
    justify-content: space-around;
    top: 5rem;
    left: 2.5vw;
}

.saito-user {
  grid-template-columns: min-content 1fr;
}

.other-player-hand {
	position: absolute;
	left: 101%;
}
.other-player-hand .card {
	position: absolute;
}
.game-playerbox-manager .game-playerbox {
	overflow: visible;
}

.game-playerbox.game-playerbox-seat-1 {
	height: 250px;
	max-width: unset;
}

.game-playerbox-icons {
	flex-direction: column;
	align-items: center;
}

.game-playerbox-icons .poker-stack-balance {
	font-size: 1.2em;
}
.game-playerbox-icons .poker-stack-units {
	font-size: 0.8em;
}

.game-playerbox-icons .crypto-hover-balance {
	position: absolute;
	display: none;
	border: 1px solid white;
	bottom: calc(100% + 1.5rem);
	border-radius: 1rem;
	padding: 0.5rem;
	font-size: 24px;
	background-color: #020;
}

.saito-user:hover > .game-playerbox-icons .crypto-hover-balance {
	display: block;
}

.game-playerbox {
	width: 100%;
	max-width: min(280px, 50vw);
	border: 1px solid #fff3;
	min-height: 12rem;
	color: white;
	background-color: #020E;
	position: relative;
	border-radius: 1.5rem;
	transition: all 0.5s;
	margin: auto; /* auto-center in grid */
	padding: 1.2rem;
	gap: 0.5rem;
	border-radius: 0.5rem;
    padding: 2rem;
    max-width: 350px;
    transform: scale(1.1);
}

.game-playerbox.folded {
	filter: grayscale(100%) brightness(0.6) opacity(75%);
}

.game-playerbox.active:not(.game-playerbox-seat-1) {
	border: 1px solid #fff;
	filter: drop-shadow(5px 5px 3px black);
  	transform: translate(-3px, -2px);
}


.game-playerbox-head .saito-user > .saito-address {
	color: white;
}

.game-playerbox-head .saito-user > .saito-userline {
	text-transform: lowercase;
	align-items: flex-end;
}

.saito-user > .saito-identicon-box {
	justify-self: center;
	align-self: center;
}

.game-playerbox-graphics {
	position: absolute;
	display: flex;
	height: 100%;
	width: 100%;
	top: 0;
	z-index: -10;
}


.poker-player-stake {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	position: absolute;
	top: calc(100% + 2px);
	left: 50%;
	transform: translateX(-50%);
	border-radius: 100%;
	color: #fff;
	background-color: #dd5500;
	text-shadow: 1px 1px 3px black;
	height: 4rem;
	width: 4rem;
	display: none;
}

.game-playerbox-seat-1 .poker-player-stake{
	left: unset;
	transform: unset;
	top: unset;
	bottom: calc(100% + 2px);
	right: 2px;
}

.plog-update, .status {
	width: 100%;
	text-align: center;
	margin-top: 0.5rem;
	cursor: default;
}


@media screen and (max-width: 900px) {
  .game-playerbox-manager {
    gap: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .game-playerbox-manager {
    gap: 1rem;
  }
}