.deal .card, .cardfan .card, .hand .card {
	position: relative;
	width: min(15vh,17vw);
	/*width: 15vw;
	height: 21vw;*/
	height: calc(1.53 * min(15vh, 17vw));
	max-width: 190px;
	max-height: 265px;
}


.cardfan .card {
  position: absolute;
}

.cardfan {
  top: max(-7rem, -8vw);
  left: 5px;
  height: calc(1.53 * min(15vh, 17vw));
  width: min(15vh,17vw);
}

.cardfan.dragging {
    position: fixed;
}

.cardfan > .card:nth-child(1), .hand > .card:nth-child(1) {
  transform: rotate(0deg);
  left: 0px;
}

.cardfan > .card:nth-child(2), .hand > .card:nth-child(2) {
  transform: rotate(10deg);
  left: 2.5rem;
  top: 0.5rem;
}

.cardFront, .cardBack {
    position: absolute; /* Ensure both sides overlap properly */
    width: 100%;        /* Adjust as needed for your layout */
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: transform 0.5s ease;
}

.cardFront {
    transform: rotateY(0deg); /* Front side starts facing up */
}

.cardBack {
    transform: rotateY(180deg); /* Back side starts flipped */
}

.flipped .cardFront {
    transform: rotateY(180deg); /* Front side flips to back */
}

.flipped .cardBack {
    display: block;
    transform: rotateY(0deg); /* Back side flips to front */
}


.card.not_used {
	filter: grayscale(100%) brightness(0.55);
}



@media screen and (orientation: portrait) and (max-width: 600px) {
}


