
.status ul {
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    font-size: 1.6rem;
}

.status ul li , .option {
    height: 8rem;
    border-top: 1px solid var(--saito-border-color);
    width: 100%;
    font-size: 1.8rem;
    display: list-item;
    line-height: 5.75rem;
    list-style: none;
    cursor: pointer;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
}

.status ul li:hover , option:hover {
    background-color: #0003;
}

