body {
    background-image: url(/poker/img/backgrounds/castle2.png);
}

.gameboard {
  position: absolute;
  background-image: url(/saito/img/arcade/greenfelt.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 4rem;
}

.gameboard.threed {
  border-radius: 12rem;
  transform: perspective(700px) rotateX(33deg) translateY(-35px);
}

.deal {
  display: flex;
  gap: 1rem;
}

.mystuff {
  position: absolute;
  display: flex;
  bottom: 0px;
  width: 100vw;
  justify-content: space-around;
}

