.card {
	position: relative;
	width: min(18vw, 130px);
	height: min(27.54vw, 199px);
}

.card.used {
	/*border: 2px solid var(--saito-secondary);
  background-color: var(--saito-secondary);
  border-radius: 8px;*/
}

.card.not_used {
	filter: grayscale(100%) brightness(0.55);
}

.cardBack {
	transition: transform 0.5s ease;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.cardFront {
	transform: rotateY(180deg);
	transition: transform 0.5s ease;
	backface-visibility: visible;
	-webkit-backface-visibility: visible;
}

.flipped .cardFront,
.cardBack {
	transform: rotateY(0deg);
}

.flipped .cardBack {
	transform: rotateY(-180deg);
}

@media screen and (orientation: portrait) and (max-width: 600px) {
	.cardfan {
		left: 38vw;
		top: 53vh;
		position: absolute;
		width: 100%;
	}
}


@media screen and (orientation: landscape) and (max-height: 600px) {

	.card {
		height: min(100px, 23vh);
		width: min(65px, 15vh);
	}

}
