
.playerboxes {
    display: flex;
    flex-direction: row;
    width: 95vw;
    height: max-content;
    justify-content: space-around;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 5rem;
    left: 50%;
    transform: translate(-50%, 0%);
}

.saito-user {
  grid-template-columns: min-content 1fr;
}
.playerbox {
    display: block;
    height: 10rem;
    width: 40rem;
    background-color: red;
}

.other-player-hand {
	position: absolute;
}
.other-player-hand .card {
	position: absolute;
}
.game-playerbox-manager .game-playerbox {
	overflow: visible;
}

.game-playerbox.game-playerbox-seat-1 {
	height: 250px;
}

.game-playerbox-2.game-playerbox-seat-4 {
	height: 100px;
}

.game-playerbox-graphics {
	display: flex;
}

.game-playerbox-head .saito-user .game-playerbox-icons {
	grid-row: 1;
	position: absolute;
}

.game-playerbox-head .saito-user .saito-userline {
	grid-column: 2 / span 1;
}

.game-playerbox-manager.game-playerbox-seat-manager {
	display: none;
}

.game-playerbox {
	min-width: 250px;
	max-width: min(250px, 30vw);
	border: 1px solid #fff3;
	min-height: 11rem;
	color: white;
	background-color: #4448;
}

.game-playerbox.active {
	border: 1px solid #fff;
}

.game-playerbox-body .status {
	width: 100%;
	padding: 0rem;
	margin-top: 0.5rem;
	line-height: 2.3rem;
	font-size: 1.8rem;
	text-align: center;
}

.game-playerbox-body .status .status-header .status-message {
	box-shadow: none;
}

.game-playerbox .status-header .status-message {
	background: unset;
}

.game-playerbox .status-text-menu,
.game-playerbox .status-text-menu ul {
	background: unset;
}

.game-playerbox-head .saito-user > .saito-address {
	color: white;
<<<<<<< HEAD
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;

}
.game-playerbox-head .saito-user > .saito-address {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: inherit;
    display: revert;
=======
>>>>>>> staging
}

.game-playerbox-graphics {
	position: absolute;
	height: 100px;
	width: 100%;
	left: 100%;
	top: 20%;
	z-index: -10;
}

.game-playerbox-seat-5 .game-playerbox-graphics, .game-playerbox-seat-3 .game-playerbox-graphics{
	left: 20%;
	top: 100%;
}

.game-playerbox-seat-5, .game-playerbox-seat-6{
	left: 1.5rem;
}

.plog-update {
	width: 100%;
	text-align: center;
	margin-top: 1rem;
}


@media screen and (max-width: 600px) {
	.game-playerbox {
		max-width: 45vw;
		min-width: unset;
		padding: 0.5rem;
		min-height: 8rem;
	}

	.game-playerbox.game-playerbox-seat-1 {
		min-width: 250px;
		max-width: 250px;
		margin-bottom: 0.5rem;
	}

	.game-playerbox-seat-5, .game-playerbox-seat-6{
		left: 1.5rem;
	}

	.plog-update{
		padding-top: 0.8rem;
		padding-bottom: 0.6rem;
	}

}

@media screen and (max-height: 600px) {
	.game-playerbox {
		min-width: unset;
		padding: 0.5rem;
		min-height: 8rem;
	}
	.game-playerbox.game-playerbox-seat-1 {
		min-width: 250px;
		max-width: 75vw;
	}
}
