


  

  
  .saito-menu i::before {
    -webkit-text-stroke: var(--saito-default-font-color) 1px;
    color: transparent;
    font-size: smaller;
  }
  
  .saito-menu li:hover i::before {
    -webkit-text-stroke: #fff 1px;
  }
  
  .saito-menu li i {
    margin-bottom: 4px;
  }


  .saito-sidebar-left {
    width: 250px;
  }

  .saito-main.appspace {
    margin: 0 2rem 15rem;
    position: relative;
  }
  
  
  .saito-sidebar-right {
    width: 50rem;
    overflow-y: auto;
    height: inherit;
    padding: 1rem;
  }
  
 


