
body {
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
  overflow: hidden; 
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.poker-seat-4{
  top: 40px;
}

.gameboard{
  /* Default fill the background with image */
  position: absolute;
  background-image: url("img/gameboard.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.jaipur_board{
  /*display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  */
  display: grid;
  grid-template-columns: minmax(120px, 1fr) minmax(80px, 1fr) 4fr;
  align-items: center;
  grid-gap: 15px;

  max-height: 60vh;
  max-width: 100vw;
  min-width: 80vw;
  position: absolute;
  top: 35vh;

  left: 50%;
  transform: translateX(-50%);
}

/*.jaipur_board > div{
  margin: 15px;
}*/

.pb_sub_info{
  font-size: 0.8em;
}

.tbd{
  font-size: 1.2em;
  font-style: italic;
}
.bonus_tokens{
  display: grid;
  grid-template-columns: repeat(3, minmax(40px, 1fr));
  grid-template-rows: repeat(3, minmax(40px, 1fr));
  width: fit-content;
  height: fit-content;
}

.token{
  max-width: 70px;
  width: 100%;
}

.card_count{
  width: 100%;
  height: auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-size: min(6vw,80px);
  line-height: 8vw;
  text-align: center;
  text-shadow: 1px 1px 2px black;  
  position: relative;
}


.card_count.disabled{
  filter: brightness(0.35);  
}

.draw_decks{
  max-width: 100px;
}

#draw{
  color: maroon;
  /*width: 8vw;*/
  margin: auto;
}


#discard .card{
  width: 100%;
}

.market{
  display: grid;
  grid-template-columns: repeat(5, fit-content(100px));
  max-width: 750px;
  min-width: max(300px, 50vw);

}

.market .card{
  width: 100%;
}

.player-box-graphic{
  position: absolute;
  right: 100%;
}

#player-box-graphic-4{
  left: 100%;
}

.score{
  margin: 0.25em 0.5em;
}

.camel_train{
  width: 100px;
  color: cadetblue;
}

.camel_bonus{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
}

.tip .tiptext{
  min-width: 100px;
  z-index: 100;
}

.player-box-info, .plog{
  font-size: 24px;
  text-align: center;
  padding: unset;
}


.trade_overlay{
  width: fit-content;
  min-width: 600px;
  width: 80vw;
  max-height: 90vh;
  background-color: 372512;
  color: ghostwhite;
  border: 2px #c9945c solid;
  border-radius: 5px;
  cursor: default;
}

.grid_display{
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.trade_overlay_buttons{
  width: 100%;
  background-color: #c9945c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.saito-button-primary{
  background-color: #24180c;
  color: white;
  border-color: black;
}

.saito-button-primary.disabled{
  opacity: 30%;
  cursor: default;
}
.saito-button-primary.disabled:hover{
  background-color: #24180c;
  color: white;
  border-color: black;
}

.take_overlay .card_group, .give_overlay .card_group{
  justify-content: flex-end;
}

.card, .card_count{
  cursor: pointer;
  /*border-radius: 10%;*/
}

.card_group{
  display: flex;
  flex-direction: row;
}

.card_group img.card{
  width: 146px;
  margin: unset;
}



/*********** WORDBLOCKS STYLE HUD *********/



/* Undo HUD styling for Acknowledge */
 .status-header,  .status-text-menu,  .status-text-menu ul,  .status-text-menu ul li,  .textchoice, .status-message{
  background: unset;
  font-size: unset;
}
 .textchoice:hover{
  color: black;
}

.hud {
  display: block;
  width: 750px;
  max-height: initial;
  height: 300px;
  height: -moz-fit-content;
  background: rgba(43,29,14, 0.8);
  border: 2px solid rgb(230,206,180);
  border-radius: 5px;
  color: rgb(250,244,239);
  padding: 0;
  font-size: 1.6em;
}

.hud-body {
  min-height: fit-content;
  height: fit-content;
  height: -moz-fit-content;
  overflow-y: visible;
  cursor: initial;
  padding: 0 16px;
}

.hud-header {
  width: initial;
  margin: 0;
  background: linear-gradient( 45deg, rgb(43,29,14), #999);
}



.link {
  border-bottom: 1px dashed;
  cursor: pointer;
}

.user_dragged .hud-body .status{
  align-items: center; 
}

.rack {
  align-self: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100px;
  height: unset;
  margin: unset;
}

.rack div.card_count {
  width: 100px;
  height: 150px;
  /*line-height: 150px;*/
}

/**** AND PLAYER BOXES *****/

#opponentbox{
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.opponents > .player-box{
  position: unset;
  height: fit-content;
  background-color: rgba(43,29,14,0.7);
  margin: 0.5em;
  border: 2px solid transparent;
  border-radius: 18px;
  box-shadow: -5px 3px 4px black;
}

.opponents > .player-box.active{
  border-color: silver;
}