.local-archive-table {
	padding: 1rem 2rem;
	width: 100vw;
	max-height: calc(100vh - 2rem);
	overflow: auto;
}

.archive-header {
	font-size: 1.6rem;
	font-weight: bold;
}

.archive-header div:last-child {
	grid-column: span 2;
}

.archive-summary {
	display: grid;
	margin: 1rem auto;
	grid-template-columns: repeat(2, minmax(100px, 1fr));
	max-width: 300px;
}

.archive-row {
	display: grid;
	grid-template-columns: 40px repeat(5, 150px) repeat(2, 120px) 80px 24px 30px 40px;
	grid-gap: 0.5rem;
	margin-bottom: 0.25rem;
}

.archive-row div {
	overflow: hidden;
	text-overflow: ellipsis;
}

.archive-button {
	color: var(--saito-primary);
	text-decoration: underline;
	cursor: pointer;
}

.tx_overlay {
	background-color: var(--saito-white);
	padding: 3rem;
	font-size: 1.6rem;
	min-width: 600px;
	min-height: 400px;
	max-height: 100vh;
	max-width: 100vw;
	overflow: auto;
}

.jsontree_node {
	list-style: none;
}

.number {
	text-align: right;
	padding-right: 1.5rem;
}
