/*  video chat */

.videocall-chatbox {
    max-width: 60vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    background-color: #ffffff;
    position: fixed;
    z-index: 100000;
}


.videocall-chatbox .heading {
    padding: 1rem;
}

.videocall-chatbox .disconnect_btn {
    transform: matrix(1, 0, 0, -1, 0, 0);
    background-color: var(--saito-white);
}


.videocall-chatbox .disconnect_btn:hover {
    color: black
}

.videocall-chatbox .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, 30vh);
    grid-gap: 1rem;
    padding: 1rem;
    background: var(--saito-skyline-grey);
}

.videocall-chatbox .box {
    border-radius: 0.1rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    border: 1px solid var(--saito-cyber-black-wash);
    background-color: #fff;
}

#localStream {
    display: block;
}

.videocall-chatbox .b-btngrid {
    border: none;
    margin-left: 1rem;
    margin-top: 250px;
    width: 160px;
    height: 38px;
    border-radius: 4px;
    left: 51px;
    cursor: pointer;
}

.videocall-chatbox .heading {
    background: linear-gradient(96.79deg, #f30c4f 0%, #f8c062 91.87%);
}

.videocall-chatbox .footer {
    display: grid;
    grid-gap: 1rem;
    padding: 20px;
    background: radial-gradient(100.52% 47851.24% at 0% 0%, #f66659 0%, #f21d3b 51.56%, #f66659 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
    transform: matrix(1, 0, 0, -1, 0, 0);
    color: white;
    align-items: center;
    grid-template-columns: 2em 2em 1fr;
}


.videocall-chatbox p {
    margin: 0;
}


.videocall-chatbox .disconnect_btn {
    margin-left: auto;
}

.videocall-chatbox .footer .fa {
    color: white;
    font-size: 2rem;
    cursor: pointer;
    transform: matrix(1, 0, 0, -1, 0, 0);
    margin-right: 3rem;
}

/* video chat */






/* Appspace css */


.videocall-appspace-card h2 {
    margin-bottom: 1rem;
}

.videocall-appspace-card>p {
    margin-bottom: 1rem;
}

.videocall-appspace-actions {
    margin-bottom: 1rem;
    border-top: 1px solid #ddd;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.videocall-appspace-card .saito-badge {
    color: var(--saito-white);
    background: var(--saito-primary);
    width: 1em;
    height: 1em;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 1em;
    vertical-align: super;
}

.videocall-appspace-card .saito-info-text {
    color: #666;
    line-height: 1.2rem;
}


.videocall-appspace-actions .saito-button-secondary {
    width: 18rem;
}


.videocall-appspace-join {
    display: flex;
}

.videocall-appspace-join input {
    margin-right: 1rem;
    padding-left: 1rem;
    height: 2rem;
    width: 18rem;
}

.videocall-appspace-join p {
    font-weight: bold;

}




.videocall-appspace-create {
    margin-bottom: 1rem;
}

.videocall-appspace-create p {
    font-weight: bold;
}


.videocall-appspace-join {}

.videocall-appspace-join>div {
    display: grid;
    grid-template-columns: 13rem 13rem;
    align-items: center;
}

.videocall-appspace-join input {
    margin-right: 1rem;
    padding-left: 1rem;
    height: 50.798px;

}

.videocall-appspace-join input:focus {
    outline: none;

}

.saito-overlay {
    min-width: 25rem;
}