/* Base styles */

label {
    display: block;
}

input[type="datetime-local"] {
    color-scheme: dark;
}

.scheduled-calls {
    max-height: 60vh;
    overflow: auto;
}

.call-schedule-wizard-container input, .call-schedule-wizard-container textarea, .call-schedule-wizard-container select {
    width: 100%;
    padding: 1.2rem 2.0rem;
    margin: .8rem 0;
    border-radius: .5rem;
    box-sizing: border-box;
}

.call-schedule-wizard-container select {
    color: var(--saito-font-color);
}

.call-schedule-wizard-container {
    width: min(550px, 98vw);
    padding: 2rem 3rem;
    border-radius: 0.5rem;
    border: 1px solid var(--saito-border-color);
    background-color: var(--color-base);
    color: var(--color-contrast);
    box-sizing: border-box;
}

/* Call schedule launcher */

.call-schedule-launch {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
}

.call-schedule-launch-main-container {
    padding: 1.5rem;
}

.call-schedule-launch-container {
    padding: 3rem;
    border-radius: 8px;
    border: 1px solid var(--saito-border-color);
    width: min(550px, 98vw);
    box-sizing: border-box;
}

.call-schedule-launch-container h4 {
    margin-bottom: 2rem;
}

.call-details {
    border-radius: .5rem;
    margin-bottom: 2rem;
}

.call-details p {
    margin: 10px 0;
}


/* Call schedule join */

.call-schedule-join-container {
    width: min(550px, 98vw);
    padding: 2rem 3rem;
    border-radius: 0.5rem;
    background-color: var(--color-base);
    color: var(--color-contrast);
    box-sizing: border-box;
}

/* Call schedule card */

.call-schedule-card-container {
    border-radius: .8rem;
    padding: 1.5rem;
    margin: 2rem 0;
    border: 1px solid var(--saito-border-color);
    box-sizing: border-box;
}

.call-schedule-card-description {
    font-size: 0.9em;
    margin-bottom: 1.5rem;
}

.call-schedule-card-item {
    font-size: 0.9em;
    margin-bottom: .5rem;
}

.card-value {
    font-weight: bold;
    color: var(--saito-font-color);
}

.call-schedule-card .time-left {
    margin-bottom: 1.5rem;
}


.call-schedule-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.call-schedule-buttons .saito-button-secondary {
    flex: 1;
    height: 100%;
}

.call-schedule-buttons .saito-button-primary {
    flex: 3;
}

/* Media Queries for Responsiveness */

@media screen and (max-width: 600px) {
    .call-schedule-wizard-container, .call-schedule-launch-container, .call-schedule-join-container, .call-schedule-card-container {
        width: 100%;
        padding: 1.5rem;
    }
    .call-schedule-wizard-container input, .call-schedule-wizard-container textarea, .call-schedule-wizard-container select {
        padding: 1rem 1.5rem;
    }
    .call-schedule-launch {
        padding: 0.5rem;
    }
    .call-schedule-launch-container {
        padding: 2rem;
    }
}

/*@media screen and (max-width: 400px) {
    .call-schedule-wizard-container, .call-schedule-launch-container, .call-schedule-join-container, .call-schedule-card-container {
        padding: 1rem;
    }
    .call-schedule-wizard-container input, .call-schedule-wizard-container textarea, .call-schedule-wizard-container select {
        padding: 0.8rem 1.2rem;
    }
}*/