/* Base styles */
label {
    display: block;
}

input[type="datetime-local"] {
    color-scheme: dark;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    opacity: 0.6;
    filter: invert(0.8);
  }
  
  input[type="datetime-local"]::-webkit-calendar-picker-indicator:hover {
    opacity: 1
  }

  input {
    /* color-scheme: dark; */
  }

  input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
  }

.call-schedule-wizard-container input,
.call-schedule-wizard-container textarea,
.call-schedule-wizard-container select {
    width: 100%;
    padding: 1.2rem 2.0rem;
    margin: .8rem 0;
    border-radius: .5rem;
    box-sizing: border-box;
}

.call-schedule-wizard-container select {
    color: var(--saito-font-color);
}

.call-schedule-wizard-container {
    width: min(550px, 98vw);
    padding: 2rem 3rem;
    border-radius: 0.5rem;
    border: 1px solid;
    background-color: var(--color-base);
    color: var(--color-contrast);
    box-sizing: border-box;
}

/* Call schedule launcher */
.call-schedule-launch {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
}

.call-schedule-launch-main-container {
    padding: 1.5rem;
}
.call-schedule-launch-container {
    padding: 3rem;
    border-radius: 8px;
    border: 1px solid var(--saito-border-color);
    width: min(550px, 98vw);
    box-sizing: border-box;
}

.call-schedule-launch-container h4 {
    margin-bottom: 2rem;
}

.call-details {
    border-radius: .5rem;
    margin-bottom: 2rem;
}

.call-details p {
    margin: 10px 0;
}

.enter-call-button {
    width: 100%;
}


.enter-call-button.disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    opacity: 0.7;
}

/* Call schedule join */
.call-schedule-join-container {
    width: min(550px, 98vw);
    padding: 2rem 3rem;
    border-radius: 0.5rem;
    background-color: var(--color-base);
    color: var(--color-contrast);
    box-sizing: border-box;
}

/* Call schedule card */
.call-schedule-card-container {
    border-radius: .8rem;
    padding: 1.5rem;
    margin: 2rem 0;
    border: 1px solid;
    box-sizing: border-box;
}

.call-schedule-card-description {
    font-size: 0.9em;
    margin-bottom: 1.5rem;
}

.call-schedule-card-item {
    font-size: 0.9em;
    margin-bottom: .5rem;
}

.card-value {
    font-weight: bold;
    color: var(--saito-font-color);
}

.call-schedule-card .time-left {
    margin-bottom: 1.5rem;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 600px) {
    .call-schedule-wizard-container,
    .call-schedule-launch-container,
    .call-schedule-join-container,
    .call-schedule-card-container {
        width: 100%;
        padding: 1.5rem;
    }

    .call-schedule-wizard-container input,
    .call-schedule-wizard-container textarea,
    .call-schedule-wizard-container select {
        padding: 1rem 1.5rem;
    }

    .call-schedule-launch {
        padding: 0.5rem;
    }

    .call-schedule-launch-container {
        padding: 2rem;
    }
}

@media screen and (max-width: 400px) {
    .call-schedule-wizard-container,
    .call-schedule-launch-container,
    .call-schedule-join-container,
    .call-schedule-card-container {
        padding: 1rem;
    }

    .call-schedule-wizard-container input,
    .call-schedule-wizard-container textarea,
    .call-schedule-wizard-container select {
        padding: 0.8rem 1.2rem;
    }
}