
.chat-sidebar {
	width: 35rem;
	background: var(--saito-background-color);
	height: calc(100vh - var(--saito-header-height));
	border-left: 1px solid var(--saito-border-color);
}



.chat-sidebar .saito-profile-icons {
	margin-right: 1rem;
}