
.chat-sidebar {
	width: 35rem;
	background: var(--saito-background-color);
	height: calc(100vh - var(--saito-header-height));
	border-left: 1px solid var(--saito-border-color);
	display: grid;
	grid-template-rows: min-content auto;
}



.chat-sidebar .saito-profile-icons {
	margin-right: 1rem;
}

.chat-sidebar .saito-modal-menu-option {
    font-size: 2rem;
    height: unset;
    width: 100%;
    padding: 1rem;
    margin: 0;
}

.chat-sidebar .saito-modal-menu-option > div {
	font-size: 1.8rem;
}

.chat-sidebar .saito-profile-menu > div {
	float: unset;
}


.chat-sidebar .saito-user {
	font-size: 1.8rem;
	height: unset;
}

.chat-sidebar .saito-contact {
	padding: 1rem;
}

.chat-sidebar .saito-modal-content {
	display: flex;
	flex-direction: column;
	font-size: 1.3rem;
	height: 100%;
	overflow: auto;
}

.chat-sidebar .saito-modal-content .saito-user .saito-identicon-box {
    width: 3.5rem;
    height: 3.5rem;
}